[2018-10-03 11:32] pipiche38 opened #201 "Improve quality and package management"
Would be nice to use some of the Github possibility for proper code and continuous-integration management like automatic testing and quality control

- https://github.com/marketplace/category/continuous-integration
- https://github.com/marketplace/codefactor

[2018-10-03 13:35] pipiche38 commented on #102
Fix by serialisation in the sendZigateCmd() function
798edefd0eaccbf15923703c3bfff5a6e2834168

[2018-10-03 13:39] pipiche38 commented on #128
I feel that this problem has been address by @Smanar by adding this piece of code in onHeartbeat process. So even if we didn't fix the root cause, we are limiting the impact.

In parallel, we have address in many area the way entries are created.
The file is now optional (on 'dev' branch), but we still have to remind that even if we don't have the file, we are allocating objects in memory !

if le

[2018-10-03 13:39] #128 closed

[2018-10-03 13:40] pipiche38 commented on #135
for now implemented as far as Battery powered devices are concerned on 'dev'

[2018-10-03 13:40] #135 closed

[2018-10-03 13:42] pipiche38 commented on #140
Implemented in the recent 'dev' branch / 445bb321d77078214722ea9f77435e6b01b2fce2

[2018-10-03 13:42] #140 closed

[2018-10-03 16:28] pipiche38 commented on #197
So far, I have seen the Leave 0x8048 message coming, when an existing device is pairing again.
So it might be good to disable the device from ListOfDevice, like status='Leave', and we could implement in onHeartbeat() a GarbageCleaning every hour, whom will simple remove any devices with such status from ListOfDevices, but also from Domoticz.

When changing the status to 'Leave', we must make sure

[2018-10-03 16:29] pipiche38 commented on #196
Done in 'dev' branch cae5fb33c6ab83cc7d41a4bc3849d1ca789ea819

[2018-10-03 16:31] pipiche38 commented on #195
004d : {'004d': '004d00158d00027bffed80', '8043': 'ae00004d1c0101045f010104000000030019001206000000040003000500190012', '8045': 'ad00004d03010203', 'Ep': {'01': {'0000': {}, '0003': {}, '0019': {}, '0012': {}, '0600': {}}}, 'MacCapa': '80', 'IEEE': '00158d00027bffed', 'ProfileID': '0104', 'ZDeviceID': '5f01'}

[2018-10-03 16:32] pipiche38 commented on #192
@Smanar merci pour l'information.

Je propose de fermer l'issue, car cela n'en est pas vraiment une ;-)

[2018-10-03 16:32] #192 closed

[2018-10-03 16:34] pipiche38 commented on #184
CreateDomoDevice() in z_domoticz.py

[2018-10-03 16:37] pipiche38 commented on #187
Implementation started in z_input as part of Cluster 0x01010 ..

However we need to get the corresponding Model name, what are the available clusters and how do we want to map it into domoticz

[2018-10-04 08:56] pipiche38 opened #202 "EP management"
During the discovery process as well as in DeviceConf.txt we simply managed EndPoints. However from a device perspective EP are considered IN or OUT.

It might be much better to manage EPin and EPout accordingly in the plugin.

Impacts are : ListOfDevices and DeviceConf.txt

[2018-10-04 14:40] pipiche38 commented on #194
In case we don't get the PR accepted by Domoticz, we might envision an upgrade based on SQL scriping, where we will replace in domoticz.db all DeviceID short address , but the IEEE address found in Zigate field.

[2018-10-06 08:46] pipiche38 opened #203 "Receiving a message from unknown device"
In Decode8102, it might happen that we receive a message from a Device where the Saddr is unknown.
This is even more important when the plugin works light without DeviceList.txt

In that case, we cannot to anything else than reporting the issue, as we don't have any IEEE address.

It would be important than in this situation we :
(1) initDeviceInList
(2) request the IEEE address of this Device wit

[2018-10-06 09:33] pipiche38 opened #204 "ClusterType and Zigate are encoded in the Options column of domoticz DB"
We need to have a short python program to decide the ClusterType and Zigate field of the Options column.

In order to debug  what has been store in the DB

[2018-10-06 09:48] pipiche38 opened #205 "When in lightMode (no DeviceList.txt)"
When you run Domoticz in light mode ( without saving in DeviceList.txt the ListOfDevice), in case a Device has shift to an other sAddr, if you restart your Domoticz, the reconnection is not done !

Decode8015 should play a role here, but it looks like in the case I found ( with an Xcube) the IEEE is not reported in the List of Zigate known device ( 0x0015/0x8015 ) !

So at the end you receive a me

[2018-10-07 10:57] nx345 opened #207 "Xiaomi Aqara cube recognized by zigate but cannot trigger http request"
When allowing new device, the aqara cube is recognized by zigate. All movements (shaking, 90 degrees, 180 degrees, and so on) are working well and appeared in the log.

But when adding a http request for a movement (for instance flip 90 degres) and saving this under domoticz. Even before triggering this movement, I got this error just by saving the http request wanted :

2018-10-07 12:56:32.631 Er

[2018-10-07 11:02] pipiche38 commented on #200
Implemented with this merge #206  ( 42562c0c972648d3cf86b67cf7972fbf8e105044 )

[2018-10-07 11:02] #200 closed

[2018-10-07 11:09] pipiche38 commented on #207
@nx345 which plugin branch are you ? Master or Beta ?
Identify what are
IDX of your Zigate Hardware in the Hardware list
IDX of your Cube device in the Device list

and do a sqllite3 query like that one :
select DeviceID, Name, Options  from DeviceStatus where HardwareID=3 and ID=541;

[2018-10-07 12:11] pipiche38 commented on #205
Implemented in #206 ( 42562c0c972648d3cf86b67cf7972fbf8e105044 )

[2018-10-07 12:11] #205 closed

[2018-10-07 13:37] nx345 commented on #207
@pipiche38 Found out how to do the query here is the output :
d3a9|Cube|LevelActions:fHx8fHx8fHx8;LevelNames:T2ZmfFNoYWtlfFdha2V1cHxEcm9wfDkwwrB8MTgwwrB8UHVzaHxUYXB8Um90YXRpb24=;LevelOffHidden:dHJ1ZQ==;SelectorStyle:MA==;TypeName:QXFhcmE=;Zigate:eydSU1NJJzogMjQzLCAnWkRldmljZUlEJzoge30sICdUeXBlJzogJ0FxYXJhJywgJ1N0YXR1cyc6ICdpbkRCJywgJ1JJQSc6ICczJywgJ01hY0NhcGEnOiAnODAnLCAnQmF0dGVyeSc6IHt9LCAnSGVhcn

[2018-10-07 13:45] pipiche38 commented on #197
Thanks to @zaraki673
Implemented with #208

[2018-10-07 13:45] #197 closed

[2018-10-07 13:58] pipiche38 commented on #207
Ok. I need to see how to decode those datas and to check if we have TypeName in the Zigate dict.
I suspect not ...

[2018-10-07 14:47] pipiche38 commented on #207
@zaraki673 it is simply base64 ... why I didn't think about :-(

Zigate: {'RSSI': 243, 'ZDeviceID': {}, 'Type': 'Aqara', 'Status': 'inDB', 'RIA': '3', 'MacCapa': '80', 'Battery': {}, 'Heartbeat': '0', 'Model': 'lumi.sensor_cube.aqgl01', 'IEEE': '00158d00027984ae', 'ProfileID': {}, 'Ep': {'01': {'0000': {}, '000c': {}, '0012': {}}}}

So line 427 in z_domoticz.py (of latest version ) is the followin

[2018-10-07 14:49] pipiche38 commented on #207
@nx345 I beleive you have one Device where the TypeName is not correct.

Could you do :
select DeviceID, Name, Options from DeviceStatus where HardwareID=12;

and copy paste the result. I suspect that you have One device, where the Options is not correct

[2018-10-07 16:41] pipiche38 commented on #207
Thanks. Nothing bad in this output. All TypeName are good and the Zigate field also !

'''
{'ZDeviceID': '0100', 'ProfileID': 'c05e', 'RIA': '0', 'MacCapa': '8e', 'Model': 'Ampoule.LED1622G12.Tradfri', 'Status': 'inDB', 'Ep': {'01': {'0003': {}, '0004': {}, '0006': {}, '0005': {}, '0000': {}, '1000': {}, '0b05': {}, '0008': {}}}, 'Battery': {}, 'Heartbeat': '1', 'IEEE': '000b57fffee3ec43', 'RSSI':

[2018-10-07 16:43] nx345 commented on #207
When adding the cube device it is okay. But when you add something in the action field of the cube and especially when you save it, the error appears.

[2018-10-07 16:46] pipiche38 commented on #207
I duplicate the problem !

[2018-10-07 16:50] pipiche38 commented on #207
Duplicated on Dev and Beta branch.

[2018-10-07 16:55] pipiche38 commented on #207
I feel it is a bug in Domoticz, which is overwritting the Zigate and ClusterType fields !

[2018-10-07 17:19] pipiche38 commented on #207
@nx345 well done !

https://github.com/domoticz/domoticz/issues/2763

They need to fix the issue on Domoticz. We cannot do more on our side !

[2018-10-07 17:51] pipiche38 commented on #207
In between I suggest to use LUA script script_device_xxxx to manage device notifications

[2018-10-07 17:52] #204 closed

[2018-10-07 17:52] pipiche38 commented on #204
No need, this is coded with base64

[2018-10-07 19:10] nx345 commented on #207
I was thinking of the same solution. Nevertheless, typing the path script in the cube menu will return the same error. The only way to bypass this bug is to launch a script that is referring to the state of the cube.

[2018-10-07 19:42] pipiche38 commented on #207
Not sure I understood. I'm suggesting a script under script/lua/script_device_xxxx.
I'm sure that inside the script which is going to be executed everytime there is an update to the Cube/Device, you can inside the script retreive value

otherdevices_lastupdate['Aqara'] give you the time when the switch name 'Aqara' has been touch
otherdevices_svalues['Aqara'] give you the Value ( 10, 20,30, 40, 50

[2018-10-07 19:56] pipiche38 commented on #207
/var/lib/domoticz/scripts/lua/script_device_aqara.lua

[code]

[2018-10-07 19:58] nx345 commented on #207
Thank you my friend I will try it asap

[2018-10-08 06:48] pipiche38 commented on #207
Good news @nx345 , but still we have a potential issue which is that Domoticz override the Zigate information, so we will park this issue until Domoticz solve their problem : domoticz/domoticz#2763

But the workaround to use lua script seems to be a good alternative !

[2018-10-08 06:50] nx345 commented on #207
Of course, but I don't think that it will be solved until the next stable version of domoticz (meaning next year in july).

[2018-10-08 06:52] #150 closed

[2018-10-08 06:54] #170 closed

[2018-10-08 06:54] #196 closed

[2018-10-08 06:58] pipiche38 commented on #190
Under implement in dev

[2018-10-08 06:59] pipiche38 commented on #182
In principle this is not an issue

[2018-10-08 06:59] pipiche38 commented on #138
In the latest 'dev' and 'beta' branch DeviceList.txt is not required anymore

[2018-10-08 06:59] #138 closed

[2018-10-08 07:00] #159 closed

[2018-10-08 07:02] pipiche38 commented on #177
any chance to duplicate this ?

[2018-10-08 07:04] pipiche38 commented on #139
Continue to follow with #194

[2018-10-08 07:04] #139 closed

[2018-10-08 12:37] pipiche38 opened #216 "DeviceList.txt override if you have 2 zigate Hardware connected"
In case where you have 2 Zigate key , you'll have 2 instances of the Zigate plugin running.

In such DeviceList.txt will be use by the 2 instances and must not !

[2018-10-08 13:31] pipiche38 opened #217 "Options must not be use to store Plugin informations"
Following issue #207, Devices.Options must not be used to store Plugin specific information as this is for the only purpose of Domoticz.

[2018-10-08 13:32] pipiche38 commented on #207
Domoticz considers that we **must not** use Options to store plugin information.
Bug on our side

Will be track against #217

[2018-10-08 13:32] #207 closed

[2018-10-08 13:34] nx345 commented on #207
Good news then ! Even letting a blank option in the cube and saving it leads to an error.

[2018-10-08 13:36] pipiche38 commented on #207
Yes, because it has override the Plugin information ! So you must re-create the Device :-(

[2018-10-08 16:20] thiklop commented on #188
I bought one some days ago, how can I help ?

[2018-10-08 16:42] Smanar commented on #188
The big problem for me is to find how to implement this in domoticz ...
In other application why not, but the Domoticz  UI is too poor to make a system for group.

Or the user need to make all the procedure itself, outside Domoticz, but after ... We can read group from device, but I don't see how to attribute an action to a group in Domoticz.

[2018-10-08 17:40] pipiche38 commented on #188
Open-Zwave does outside of Domoticz as part of there plugin.

Envoyé de mon iPhone

[2018-10-08 19:59] Smanar commented on #188
Yep, but it's not a python plugin (coded in domoticz core) ?
For exemple, they have button on configuration hardware panel, IDK if it's possible with python plugin.

We can use the WWW folder for special page, but for you it will be hard to implement that in plugin update process.

[2018-10-09 05:53] pipiche38 commented on #188
I think that is much better to do it from the plugin.

This might be a 2 steps approach.(1) configuring the grouping, (2) UI to handle the group.

For (1) we might use An approach with a conf file as we have DeviceConf , we might have DeviceGroup where we could describe the groups .

Then the group could be created in the context of the Ikea command. So we can identify the list of devices in one g

[2018-10-09 07:15] pipiche38 commented on #188
@Smanar

I think for Open-Zwave it is even a bit more complex.  Open-Zwave have there own application, but they can also be integrated into Domoticz and indeed comes with a lot of UI like the Network Topology, The group/Scene.

For having OZW devices @Home, what I see on my domoticz folder, is several XML files related to OWZ:
- zwscene.xml and ozwcp.scenes.XXXXX which I beleive are for Scene conf

[2018-10-09 14:54] Smanar commented on #188
The configuration aspect is the bigger problem for me.
I have searching an user friendly approch without suceed, the better way I have found is custom page and use the web server from domoticz, but IDK if I can interact directly with the zigate if there is already connected to another application.
Conf file is a good idea but it s more for power user for me. And I don't have idea for rest, create

[2018-10-11 07:16] pipiche38 commented on #187
Model = lumi.sensor_cube
At least 2 EPs

[2018-10-11 18:21] lboue opened #229 "3.0.0 or beta-3.1.0 / Error: (Zigate) 'onHeartbeat' failed 'AttributeError':''str' object has no attribute 'Connected''."
**Describe the bug**
I tried to upgrade Domoticz-Zigate plugin versions Version 3.0.0 and beta-3.1.0.
I have Domoticz V4.10059.

I am getting many time the following error:
`2018-10-11 20:12:22.413  Error: (Zigate) 'onHeartbeat' failed 'AttributeError':''str' object has no attribute 'Connected''.`

**To Reproduce**
Steps to reproduce the behavior:
1. Install Domoticz V4.100
2. Install  Domoticz-Zi

[2018-10-11 20:01] pipiche38 commented on #229
Please do consider the Beta as unstable and make sure that you have a proper backup of the Domoticz.db and DeviceList.txt.

could you kindly cleanup the python cache after having stop domoticz service

rm Domoticz-Zigate/__pycache__/*

and then restart it.

[2018-10-12 06:17] pipiche38 commented on #229
Excellent, was it the removal of __pycache__ doing the trick ? or did you do something else ?

[2018-10-12 06:24] pipiche38 opened #230 "creating an autonomous version of the plugin (not connected with Domoticz)"
As the plugin is providing the all Zigate communication Framework it might be interesting to create a special Python main program to be used instead of the Domoticz Python Framework.

This would allow to interact with Zigate in an autonomous way for new device discovery, debuging and/or testing ....

[2018-10-12 07:23] pipiche38 opened #231 "inconsistency between Type and CluserType"
In the case of the Connected Plug,
Type = Plug
ClusterType = Meter

This most-like come from the fact that Type is initialized when Model is found in DeviceConf.txt, otherwise it is Empty or something else .

[2018-10-12 12:31] pipiche38 commented on #188
Interesting idea
https://github.com/doudz/zigate/issues/29

[2018-10-12 23:51] deennoo opened #233 "Double Order"
When pressing button order are recorded twice :

2018-10-13 01:43:15 | 1 Click
-- | --
2018-10-13 01:43:15 |  
2018-10-13 01:43:12 | 1 Click
2018-10-13 01:43:12 |  
2018-10-13 01:43:07 | 3 Click
2018-10-13 01:43:04 | 1 Click
2018-10-13 01:43:04 |  
2018-10-13 01:18:32 | 4 Click
2018-10-13 01:16:56 | 1 Click
2018-10-13 01:16:56 |  
2018-10-13 01:15:49 | 1 Click
2018-10-13 01:15:49 |  
2018-10-13 01

[2018-10-13 07:36] pipiche38 commented on #233
On which branch ? Master ?

Envoyé de mon iPhone

[2018-10-13 08:27] deennoo commented on #233
Using master

[2018-10-13 13:00] deennoo opened #234 "Lumi.dwallswitch.fire"
There some information about Aqara 230 double switch working with Phase and Neutre also know as double fire switch.

2 Switch with power consumtion for each one, simple On/Off

Usefull endpoint are 01 for Left switch and 02 for right one

inter double 230v fire xiaomi

Type: 0x8000 (Status)
  Length: 5
  Status: 0x00 (Success)
  SQN: 0xBB
  Message:
Type: 0x8045 (Active Endpoints Response)
  SQN:

[2018-10-13 13:08] pipiche38 commented on #233
@deennoo do you have the possibility to enable Debug (just Python Only) in the hardware, to see exactly what is happening ?

[2018-10-13 13:11] pipiche38 commented on #234
Do you own one ?
It would be interesting in that case that you pull the 'beta' branch.
(be aware that we will do a DB upgrade and in such you must do a copy of your Domoticz Database before) if you want to come back to Master branch at a time.

There is a parameter in the Beta branch which can allow to track all of the discovery frame in order to integrate much easily the device later on.

[2018-10-13 15:11] deennoo commented on #234
I'have one before zigate was born, i have some neutral 230v double switch too, and some other brand zigbee devices (Salus full hvac setup, Jiawen bulb and led strip)

I 'll setup a dev station to help you, i start to help at the begining, easy code, easy to follow, but now i have to update my mind to understand how the plugin works and were to act to add some devices for PR

[2018-10-13 16:49] pipiche38 commented on #234
Sound great .... If you want you can setup a Keybase.io in order to chat ... My keybase.io account is available on my github page ;-)

[2018-10-14 14:14] pipiche38 commented on #233
@deennoo could you let me know what should be exepcted ?

Here from the log I see

Off (00) and then 1:10 ... Where is the double Order ?

[2018-10-14 15:31] pipiche38 commented on #217
Addressed in IEEE branch ed456cd3f29e9161c1aa566b4b490d85bc9b5796

[2018-10-14 15:31] #217 closed

[2018-10-14 15:31] pipiche38 commented on #216
Addressed in IEEE branch ed456cd3f29e9161c1aa566b4b490d85bc9b5796

[2018-10-14 15:31] #216 closed

[2018-10-14 15:31] pipiche38 commented on #194
Addressed in IEEE branch : ed456cd3f29e9161c1aa566b4b490d85bc9b5796

[2018-10-14 15:31] #194 closed

[2018-10-14 15:32] pipiche38 commented on #182
Not a problem

[2018-10-14 15:32] #182 closed

[2018-10-14 15:33] #102 closed

[2018-10-15 06:07] pipiche38 opened #235 "Align Xiaomi devices with Xiaomi Domoticz Gateway"
if (Name == "Xiaomi Wireless Switch") {
                                        m_sql.SetDeviceOptions(atoi(Idx.c_str()), m_sql.BuildDeviceOptions("SelectorStyle:0;LevelNames:Off|Click|Double Click|Long Click|Long Click Release", false));
                                else if (Name == "Xiaomi Square Wireless Switch") {
                                        // click/double click

[2018-10-15 06:10] pipiche38 commented on #235
if (model == "motion") {
                                                type = STYPE_Motion;
                                                name = "Xiaomi Motion Sensor";
                                        else if ((model == "switch") || (model == "remote.b1acn01")) {
                                                type = STYPE_Selector;
                                                name

[2018-10-15 06:19] pipiche38 commented on #233
@deennoo : so the right Selector must be :
"SelectorStyle:0;LevelNames:Off|Switch 1|Switch 2|Both_Click"

Now, what I'm not sure is when looking at the log, this is the Device itself sending the Off and then the On, so I don't think we can do mcuh on that !

[2018-10-15 11:26] #231 closed, assigned to pipiche38

[2018-10-15 21:38] deennoo commented on #234
As there is 2 diff EP, can't you create 2 simples on off switch ?

[2018-10-16 06:51] pipiche38 commented on #234
Need to think about it ...

[2018-10-16 10:01] pipiche38 opened #236 "Power metering for Salus Plug"
It requires the implementation of cluster 0x0702 /

need to understand how to decode the MsgClusterData

It might also required to send a ReadAttributeRequest for this Cluster on 0x0000 and 0x0400 attribute

[2018-10-16 10:01] pipiche38 commented on #236
@deennoo for follow-up

[2018-10-16 18:14] pipiche38 opened #237 "Decode8043 stop the on-boarding process when receiving the 1st EP"
If  several EPs have requested, it looks like Decode8043 stop the all on-boarding provcess after the reception of the 1st EP !

[2018-10-16 21:40] deennoo commented on #236
ok thx

[2018-10-17 13:37] pipiche38 commented on #236
First tentative implemented on dev : b350dd3c1a876821d34ef28000606973e095b0df

[2018-10-17 13:39] pipiche38 commented on #190
implemented during IEEE . Now fully implemented : b46f32f4033d394ad4bd7a6b5d4b041b5257c957

[2018-10-17 13:39] #190 closed

[2018-10-17 13:41] pipiche38 commented on #186
Main issue is that 0x8044 (the response of 0x0044) doesn't include neither Network Address nor IEEE.

[2018-10-17 13:41] #186 closed

[2018-10-17 13:42] pipiche38 commented on #169
DOne via Node Descriptor request 0x0042/0x8042

Implemented during IEEE dev and b46f32f4033d394ad4bd7a6b5d4b041b5257c957

[2018-10-17 13:42] #169 closed

[2018-10-17 14:46] pipiche38 opened #239 "DeviceList-HWID.txt must be backup at startup"
As the primary database of the plugin, it might be good to backup the file at startup time .

[2018-10-19 13:29] pipiche38 commented on #236
Main issue is to understand which Attribute the salus plug is storing information
 Instantaneous demand
Current Summation Delivered

[2018-10-20 09:36] BornTKill opened #240 "How to switch from master branch to dev-x.x.x"
Hello.

I have read on zigate github that dev branch may solved the Lost Xiaomi devices in domoticz. I would like to test that. Can you explain me how to switch branch without loosing configuration ? (DeviceList.txt I suppose)

Thanks in advance.

[2018-10-20 12:13] pipiche38 commented on #240
Hi,

Not sure that will solved the lost of Xiaomi devices, as my understanding is more related to the Zigate firmware.
However in Dev, we have better way to handle the NetworkID versus IEEE.

But dev is dev, so you might get some disturbance and un-stability, however would be happy to have you also using it.

https://github.com/sasu-drooz/Domoticz-Zigate/blob/dev-x.x.x/Upgrade-IEEE.md  is a good s

[2018-10-20 15:33] pipiche38 commented on #240
I you wait few days, we will most-likely move this branch to Beta !

[2018-10-20 15:52] BornTKill commented on #240
Thank you for your quick answers!
I will wait until it’s in bêta ;)

[2018-10-22 11:55] zaraki673 commented on #239
And check if file exist on first run of the plugin :
`2018-10-21 14:04:12.252  (zigate) LoadDeviceList - DeviceList filename : /opt/domoticz/plugins/Domoticz-Zigate/DeviceList-9.txt
2018-10-21 14:04:12.252  Error: (zigate) 'onStart' failed 'FileNotFoundError'.
2018-10-21 14:04:12.252  Error: (zigate) ----> Line 286 in '/opt/domoticz/plugins/Domoticz-Zigate/plugin.py', function onStart
2018-10-21 1

[2018-10-22 12:40] pipiche38 commented on #239
Fix in 6c41ce7c7acde4ae13e77160ba971112f788943b

[2018-10-22 12:40] #239 closed

[2018-10-22 12:46] pipiche38 commented on #239
DeviceList-3.txt  is now backup as DeviceList-3.txt_2018-10-22-14:38:33

[2018-10-22 13:17] #240 closed

[2018-10-22 13:32] #237 closed

[2018-10-22 13:36] pipiche38 commented on #236
ConfigureReporting implemnted let see what is the outcome 38a42a49a5f046e0aeda7539f80adad926032236

[2018-10-22 13:38] pipiche38 commented on #233
Could you configure that one is the Type = MSwitch

Are they those one ?
'lumi.sensor_switch.aq2':{'Ep':{'01':{'0006'}},'Type':'MSwitch'},
'lumi.sensor_switch':{'Ep':{'01':{'0006'}},'Type':'MSwitch'},

[2018-10-24 12:47] pipiche38 commented on #234
@deennoo , could  you kindly confirm that it works on Dev branch and so we can close that one ?
0bc63353a348d8341dc6ad4eddaec4732ab6c307

[2018-10-25 06:32] pipiche38 commented on #202
don't see any benefits for now

[2018-10-25 06:32] #202 closed

[2018-10-25 08:22] pipiche38 opened #244 "Gui to display device configuration"
It would be fantastic if the DeviceList dictionary could be displayed in a nice GUI .

We can even think about an integration with the Domoticz web server

[2018-10-25 08:30] #234 closed

[2018-10-25 08:30] #233 closed

[2018-10-25 11:14] deennoo commented on #188
I'm using Ikea plugin for Ikea gateway on domoticz.

When groupe are create on Ikea App this plugin juste create a dimmer Switch.

As nos de Can read cluster, it Can be done thé same way.

Parse groupe id for each device (bulb, remote, plug)

And create it.

For adding device to a group : using commande Line on plugin conf like it's done for rflink. This need to create a simple dictionnaire for él

[2018-10-26 18:48] pipiche38 commented on #199
https://user-images.githubusercontent.com/6507714/33459297-b12dcb26-d629-11e7-8638-0a3b2d99200c.PNG

[2018-10-31 17:40] Cortexlegeni opened #246 "Problem after changing switch value"
Hello,
I'm along time user of the plugin but I had to leave it for a long period due to family issues.
Today I tried to change a xiaomi switch value and after this I got an error.

in the log :

2018-10-31 17:36:36.199 Error: (Zigate) ----> Line 280 in '/home/pi/domoticz/plugins/Zigate/plugin.py', function onHeartbeat
2018-10-31 17:36:36.199 Error: (Zigate) ----> Line 242 in '/home/pi/domoticz/plu

[2018-10-31 18:08] pipiche38 commented on #246
@Cortexlegeni , welcome back ;-)

I believe you are on the latest version of master ?

if yes, Did you set any Selector Action to this particular switch ? as the error your are reporting refer to a missing element in the Domoticz Database

[2018-10-31 22:00] Cortexlegeni commented on #246
I tried ton remove the blocky script but I still have errors and even when I try direct commands 👍

2018-10-31 21:58:59.211 Error: (Zigate) 'onCommand' failed 'KeyError'.
2018-10-31 21:58:59.211 Error: (Zigate) ----> Line 272 in '/home/pi/domoticz/plugins/Zigate/plugin.py', function onCommand
2018-10-31 21:58:59.211 Error: (Zigate) ----> Line 220 in '/home/pi/domoticz/plugins/Zigate/plugin.py', fu

[2018-10-31 22:02] pipiche38 commented on #246
Not sure if we are talking about the same thing. What I'm referring is the possibility to add a On or Off action to trigger a script. What I think you mentioned is more that you have a blocky event which is trigger when there is an event to this switch ?

If you know sqlite, it would be great if you could have a look to the domoticz.db database and check the switch .

`select Name, Options from De

[2018-10-31 22:19] pipiche38 commented on #246
@Cortexlegeni if you have done what I think you have done, the domoticz database has been overwritten, and the error will persist. In order to come back to a good state is to remove the device and create (pair) it again. In such it will create the Device with the right record in the database.

To remove the Device in the Master branch is a bit tricky, as the end-2-end removal was not yet implement

[2018-11-01 08:07] pipiche38 commented on #246
This is the same problem, the database record for this device has been overwritten by Domoticz and some Zigate plugin information or not available anymore. The only chance to come back to normal is to remove the device and create it again (as mentioned in my previous response).

[2018-11-01 08:35] pipiche38 commented on #246
@Cortexlegeni ,
At least it confirmed my initial thought, so if you want to switch to the beta-3.1.x branch this will allow you to do whatever you want. (but in all cases, you will have to remove this device from Domoticz and create it again)

[2018-11-01 08:49] Cortexlegeni commented on #246
I did the remove but the device seems to still be store somewhere:

2018-11-01 08:46:42.753 Status: (Zigate) onStart called - Zigate plugin V 3.0.3
2018-11-01 08:46:42.813 Status: (Zigate) onConnect called
2018-11-01 08:46:42.815 Status: (Zigate) Zigate enter in discover mode for 254 Secs
2018-11-01 08:46:42.967 Status: (Zigate) Major Version Num: 0001
2018-11-01 08:46:42.967 Status: (Zigate) Inst

[2018-11-01 08:51] Cortexlegeni commented on #246
Do you want me to switch to beta or dev because if this problem is solved already I don't mind changing, it my testing Domoticz for Zigate tests so I don't mind. The objective is to investigate and solve new problems and not dig old ones that won't be in future versions.

[2018-11-01 09:47] pipiche38 commented on #246
Yes, in the Beta or Dev, it is up to you. Beta will be a bit more stable than Dev.
in both cases beta or dev, you need either to start from a clean DB .

If you are registered to keybase.io you can reach me directly on @pipiche

[2018-11-08 14:59] pipiche38 commented on #246
Fix on the Beta version

[2018-11-08 14:59] #246 closed

[2018-11-10 17:07] karstenbakker opened #247 "How can I stop this log spamming after trying to add Tradfri remote"
I got problems with adding the remote control from Tradfri.
I press the button 4 times quick and after that my console starts spamming and it keeps going on while adding nothing.

I am using the latest beta version

2018-11-10 17:06:11.502 (Zigate stick) CreateDomoDevice - Device ID : d0cf5efffe049a76 Device EP : 01 Type :
2018-11-10 17:06:11.502 (Zigate stick) processNotinDBDevices - final step f

[2018-11-10 17:11] pipiche38 commented on #247
It looks like you are trying to pair the IKEA Remote control, which doesn't work! After a while the device will be put in an UNKNOWN state in the plugin database and the log will stop.

So I would suggest:
Don't leave the Zigate in Permit Join for ever. When you have finished to add your objects, simply return the Permit Join time to 0

[2018-11-10 17:18] karstenbakker commented on #247
All right, I did put the Zigate on 0. The log is still getting larger tho.

[2018-11-10 19:41] pipiche38 commented on #247
So I suggest you to stop the plugin and edit the DeviceList.txt ( I suspect that you are on the Master branch)
Then remove that line

[2018-11-11 19:15] pipiche38 commented on #236
Implementation . Working , but required a firmware update of Zigate in order to handle 24bits

[2018-11-11 19:15] #236 closed

[2018-11-11 19:17] pipiche38 commented on #191
Please re-open the issue if the problem is still pending

[2018-11-11 19:17] #191 closed

[2018-11-11 19:18] pipiche38 commented on #168
Not a problem
Wont' fix

[2018-11-11 19:18] #168 closed

[2018-11-11 19:18] pipiche38 commented on #179
Fix

[2018-11-11 19:18] #179 closed

[2018-11-11 19:19] #130 closed

[2018-11-11 20:14] Gemies opened #249 "Zigate not joining after update to fw 3.0e"
Hi Guys,

Ik hope you can help me out. This evening I updated my Zigate firmware to the latest version 3.0e. Now when I permitted joining in domoticz for 254 seconds. The zigate is not recieving any devices. And it is not blinking as before. In my case tradfri bulbs who were working before.
I downloaded the software (NXP JN51XX FLash program) and update ( ZiGate_Coordinator_v3.0e.bin). I followed

[2018-11-12 07:42] Gemies commented on #249
I am on the master, but I did not put pdm on true. I will try tonight.

[2018-11-12 10:13] pipiche38 commented on #198
included in beta-3.2 3f30295fca6950e9c8d88171c7d06aa5bf5b8f02

[2018-11-12 10:13] #198 closed

[2018-11-12 10:14] pipiche38 commented on #195
3f30295fca6950e9c8d88171c7d06aa5bf5b8f02

[2018-11-12 10:14] #195 closed

[2018-11-12 10:15] pipiche38 commented on #187
in progress in 3f30295fca6950e9c8d88171c7d06aa5bf5b8f02

[2018-11-12 10:15] pipiche38 commented on #184
fix in beta-3.2 ( 3f30295fca6950e9c8d88171c7d06aa5bf5b8f02 )

[2018-11-12 10:15] #184 closed

[2018-11-12 20:45] Gemies commented on #249
@pipiche38 I tried starting the zigate with erase PM on and permit join time on 255. activated the plugin when zigate was connected. But the Zigate did not flash (red and blue) as in join mode. So i reflashed it with coordinator 3.0e and sniffer. cleared the Eeprom and restarted the plugin again. Still not joining.

The thing that bothers me is that i cannot see the FW version in de Domo log only

[2018-11-12 21:37] karstenbakker opened #250 "DeviceList being cleared after editing PluginConf delay"
Today I tried to adjust the send delay, because everytime I switch on a group or scene it is going one by one and very slow. So I wanted to change this.

So I stopped domoticz, opened the PluginConf.txt and edited senddelay to 0.5 only the script doesnt take floats. After that I started domoticz and it seems my DeviceList was cleared out because of this. If I set it to 0 unfortunately some lamps d

[2018-11-12 22:05] karstenbakker opened #251 "Error out of range after switching to beta 3.2"
After switching to beta 3.2 I am receiving the following errors in my logs and the Zigate isn't working.
Also I discovered that there were 8 devices in my DeviceConf but somehow the Zigate says it got only 6.

The underneath starts first with sending a message to all device with speed 000 sec then after a while the following comes back.

2018-11-12 23:00:10.209 (Zigate stick) Decode8000_v2 - statu

[2018-11-13 06:45] pipiche38 commented on #251
@karstenbakker , I wouldn't worry too much of this issue. Basically it is telling you that some command ( a bind request ) were not successful, during the start-up phase.

Eventually to dig down , I would appreciate if you could post the Startup Log with setting "Verbose and Debuging" level to "Verbose"

[2018-11-13 06:47] pipiche38 commented on #249
If you have a windows system, I would like you to use this tool https://github.com/fairecasoimeme/ZiGate/blob/master/Tools/TestGUI_ZiGate_NXP-4.zip and see if you can control the Zigate and put it to join mode. In order to see if the issue is on Zigate or on the plugin

You will need those drivers for Windows10: https://github.com/fairecasoimeme/ZiGate/blob/master/Drivers/Windows10/pilotes_PL2303.

[2018-11-13 06:51] pipiche38 commented on #250
I'm very sorry for this bad experience,

For now the plugin doesn't manage group nor scene!

Today we cannot have float and .5 for instance due to Domoticz restriction in the Python framework.

I'm going to fix the issue of the float to avoid corrupting the DeviceList. As you might see in Beta-3.2 we make a backup of the DeviceList prior each start.

Are you on USB-TTL or Wifi ?

[2018-11-13 07:38] karstenbakker commented on #250
No problem.
Is the support for groups or scenes coming tho? Because this has been the mean reason for buying the Zigate so I can get rid of all the gateways.

I am on USB-TTL.

[2018-11-13 16:25] Gemies commented on #249
@pipiche38

This is what I tried to today:
I installed the nxp test-tool and went to setting put the baud rate from 9600 to 100.000 as the usb to tll HX version can handle 12mbps. Also in device management i put the serial port tot 11520. After that I opened the port and went to the tab discover devices, in Raw data came this code:
17:08:42.564 -> 01 02 10 4E 02 10 02 13 4D 02 10 02 10 02 10 03
I

[2018-11-13 16:56] pipiche38 commented on #249
The right speed in 115200 (sorry for not mentioned earlier).
What you should do is, from the "Management" tab, there is Permit Join

Put FFFC in he Address and FF in the Interval

This must put the Zigate to Joint mode

If not, then the issue is on Zigate side

If yes, then we have problem ;-)

[2018-11-13 16:58] pipiche38 commented on #250
For now the support of Group/scene is in the pipeline, but not much developer and we have still a number of issue to fix.
What is on my TO DO is basically to address this delay stuff, and get a much more reactive way of processing commands

[2018-11-13 18:10] Gemies commented on #249
If think this is what you mean, (see screenshot below) but nothing happens. Should the red en blue light blink when it is in join state? They are steady red an blue and the second led on the usb -ttl is also doing nothing (blank). I tried joining some tradfri products, but nothing happens!

![afbeelding](https://user-images.githubusercontent.com/44712805/48433169-bf832400-e776-11e8-9920-409f126d2d

[2018-11-13 18:10] #249 closed

[2018-11-13 18:20] karstenbakker commented on #251
Well, Somehow it seems to works right now.

Don't know what changed, I also noticed that alot of devicelist-2.txt-2018... ...  files were made somehow.

Also the Devices known in zigate in the logs says it sees 6 but the list is 8.
2018-11-13 19:14:38.751 Status: (Zigate stick) onStart called - Zigate plugin V beta-3.2
2018-11-13 19:14:38.754 Status: (Zigate stick) load PluginConf
2018-11-13 19:14

[2018-11-13 18:40] pipiche38 commented on #251
Yes, we have an auto-backup at each start of the plugin.

This is normal as this is not really the number of device if it is the number of most recent active device on the Zigate

Did you migrate from Master to Beta branch ? Or did you start from an empty plugin Database ?
Could you kindly post the DeviceList-2.txt ? Something looks wrong here.

Yes, we are still in Beta and the plugin is still a

[2018-11-13 18:56] pipiche38 commented on #249
What looks strange is you have nothing on the Receive Message view. And that is not normal at all.

[2018-11-13 19:25] Gemies commented on #249
I have sent a mail to Frederic Doubois from Zigate with a link to this issue thread.  Hopefully we can work things out. Thanks so much for your time and effort. If you have new thoughts on the issue please let me know.

[2018-11-13 21:12] pipiche38 commented on #249
I had a similar problem when I tried with the GUI just after flashing the firmware. I removed the ZIgate and plugin again and it works.

It is somehow when you put the ZIgate in Write mode (for firmware update), it might be protected and you cannot access it without the upgrad tool.

[2018-11-13 21:31] pipiche38 commented on #250
`So I stopped domoticz, opened the PluginConf.txt and edited senddelay to 0.5 only the script doesnt take floats. ` is now fixed in the latest Beta-3.2

[2018-11-13 21:33] pipiche38 commented on #251
What do you mean 'migrate'. If you were on Beta-3.1, you don't have to do more that restarting the plugin (domoticz)

[2018-11-14 07:40] pipiche38 commented on #249
The GUI has nothing to do with python it is a pure binary code

[2018-11-14 13:37] Gemies commented on #249
Right now i am running raspbian Jessie with python 3.4.2.

[2018-11-14 15:12] pipiche38 commented on #249
@Gemies seems that you are progressing. From the messages I saw , it means that the Zigate is receiving message. is now the led flashing as expected to allow Pairing ?

As python, I suggest you to have a look to https://www.domoticz.com/wiki/Using_Python_plugins
 and indeed python 3.4 seems to be under condition

[2018-11-15 07:11] pipiche38 commented on #251
so could you clarify what is the issue ?

from the log above you are on beta-3.2
2```
018-11-13 19:14:38.751 Status: (Zigate stick) onStart called - Zigate plugin V beta-3.2
2018-11-13 19:14:38.754 Status: (Zigate stick) load PluginConf
2018-11-13 19:14:38.758 Status: (Zigate stick) load ListOfDevice
[code]

[2018-11-15 07:50] karstenbakker commented on #251
The whole issue started when I switched to beta 3.2, It keeps sendings this weird things and the Zigate doesnt send out any switches towards the bulbs
2018-11-13 19:21:31.367 (Zigate stick) identifySend - send an Identify Message to: be58 for 0000 seconds
2018-11-13 19:21:31.373 (Zigate stick) identifySend - send an Identify Message to: 8171 for 0000 seconds
2018-11-13 19:21:31.373 (Zigate stick)

[2018-11-15 10:37] pipiche38 commented on #251
These are normal messages, that is not an issue . What do you mean keep sending it ? I don't see any repeat here.
This message should by the way not appear in the recent beta-3.2 .

Lats, when you say, Zigate doesn't send out any switches towards bulbs, do you mean allways ! or only during the startup phase ( 2 first minutes). As indeed during the few minutes after start, the plugin is busy to set

[2018-11-15 14:15] pipiche38 commented on #251
Here is what I wrote about your DeviceList-2.txt:
What do you mean 'migrate'. If you were on Beta-3.1, you don't have to do more that restarting the plugin (domoticz) and the devicelist seems to miss a lot of information.

They are also very strange caracters like : 'V$ ' don't know if they came form the copy-paste or if they are in the file itself.
Last what do you have on the log, this will help

[2018-11-16 21:01] Gemies commented on #249
@pipiche
Sorry, was upgrading my OS, but this went wrong, and had flash a new image. Now I am on python 3.5.3.
My question now is,  do I need to flash Jennifer sniffer or should it work without it.
Because join with domoticz isn't working yet.

[2018-11-16 21:15] pipiche38 commented on #249
If the Zigate is on the 3.0e firmware nothing to do.
You need to add new hardware in Domoticz to add Zigate plugin , select the channel you want or put 0 . Put software reset (for the first time)  , and set permit to join to 254.

Then you need to pair your devices

[2018-11-17 15:08] karstenbakker commented on #251
Seems everything is working after the latest commits you made, I am going to run the beta-3.2 for a while to see if I encounter any errors.

[2018-11-17 15:09] #251 closed

[2018-11-18 12:19] Gemies commented on #249
Somehow the Zigate is not switching to joinmode. Also when I Flashed FW 3.0d it does not join anymore. Getting a bit frustrated. In GUI everything works. Also with this FW version. But with a Flashed jennic sniffer it does not work.

 But when I do not flash the Jennic sniffer domoticz gives this issue.
Framesize is bad and Frame CRC is bad. This stop's after flashing sniffer. As posted before.
Wo

[2018-11-18 14:41] pipiche38 commented on #249
You should use the 3.0e firmware and then after upgrading the Zigate you should start the plugin with Erase PDM option.

Are you on WiFi Zigate ? Or is that a USB-TTL one ?

The Crc /frame length are linked to WiFi

I don’t understand what you do with flashing the Jennic sniffer.

There is no development branch at that time, only beta-3.2

Envoyé de mon iPhone

[2018-11-18 15:49] Gemies commented on #249
This is what the installation guide on the zigate website says about JennicSniffer. I have the USB TTL version.

Mode Sniffer
Pour utiliser votre ZiGate en mode sniffer ZigBee, vous pouvez suivre les instructions précédente. Seul le fichier binaire (le Firmware) est à changer. Vous pourrez le trouver ici:

JennicSniffer_JN5168_1000000.bin

Une fois installé, vous pourrez utiliser Ubiqua protocol a

[2018-11-18 21:29] BornTKill opened #252 "domoticz not able to restart"
**Describe the bug**
I've just successfully upgraded zigate fw to 3.0e (to avoid xiaomi lost devices) and everything was OK.
So I decided to upgrade the plugin to beta 3.2. IEEE upgrade process was OK.
Because I had a lot of lost devices (xiaomi temperature sensor), I completely deleted my zigate devices list in domoticz. I check and de DeviceList-13.txt files was also empty after that.

Then I jo

[2018-11-18 21:57] pipiche38 commented on #252
This looks pretty strange ... I copy-paste your devicelist-13.txt and use it on my system without any trouble.

From the log you attached, it looks like it failed with the 1st line of the file. Did you try to remove the first line ( which correspond to the entry 'feec' )

What is your python version ? as well as your Domoticz version ?

[2018-11-18 22:37] BornTKill commented on #252
Hello,

I try to restart domoticz and délétions one line by one line between each restart. But same issue :/

Python is 3.4.2
Domoticz is Version: 4.9700

I delete all devices again. I erased zigate. I delete plugin. I git clone bêta 3.2 again (no need to Upgrade IEEE). I join devices that are listed in domo but no DeviceList-13.txt is created now. Restart ok but devices unknow in plugin DB.

[2018-11-19 07:14] pipiche38 commented on #252
Not sure I fully understand what you mean by start from scratch.
Did you also delete the Domoticz DB ?

I believe not. If that is the case, what happens if you put the file DeviceList-13.txt back ? As if you sill have the devices on Domoticz you need also the Plugin DB in order to make the connection between the 2 worlds.

If that works with the file back, then you need to re-pair each of the devi

[2018-11-19 07:32] pipiche38 commented on #252
@BornTKill  I have sent you a Keybase.io message

[2018-11-19 07:54] BornTKill commented on #252
Maybe we can speak in french ?

From scratch is only for plugin of course : delete devices in domo, persistent delete the zigate : in order to have the same state (no devices) in both world.
I leave the hardware in domoticz.
Then i delete plugin dir, then git clone beta 3.2 again.
I skip upgrade IEEE because it’s not a migration (and my domoticz.db was already migrate before).
I pair devices succe

[2018-11-19 08:34] pipiche38 commented on #252
@could you reach me on keybase ? @pipiche

[2018-11-19 17:34] Gemies commented on #249
Could it be plugin thing? Is it possible to get the log from the python plugin? Because joining is still not working. I followed your instructions step by step.

[2018-11-20 07:17] pipiche38 commented on #249
Can you join me on keybase.io @pipiche

[2018-11-20 09:56] Gemies commented on #249
Joined keybase!

[2018-11-20 15:37] pipiche38 opened #253 "Receiving empty frame"
At each start of the plugin (Wifi) I'm receiving an empty frame
`0180000001810003`

That frame is coming approximatively just after sending command 0x0016

[2018-11-20 22:14] pipiche38 commented on #249
Update to 3.0.4

[2018-11-21 21:38] pipiche38 opened #254 "Handle : lumi.remote.b186acn01"
**Describe the bug**
it would be great to handle the new Aqara Wireless Remote Switch Single devices

[2018-11-21 21:39] pipiche38 commented on #254
2018-11-21 21:38:01.978 (Zigate) Decode8043 - Reception Simple descriptor response : EP : 01, Profile : 0104, Device Id : 5f01, Bit Field : 01
2018-11-21 21:38:01.979 (Zigate) Decode8043 - Reception Simple descriptor response : In Cluster Count : 05
2018-11-21 21:38:01.979 (Zigate) Decode8043 - Reception Simple descriptor response : Cluster in: 0000
2018-11-21 21:38:01.980 (Zigate) Decode8043 - Re

[2018-11-21 21:41] pipiche38 commented on #254
8f1 => {
'Heartbeat': '1',
'ZDeviceID': '5f03',
'IEEE': '00158d00028cad60',
'NbEp': '3',
'LogicalType': 'End Device',
'DeviceType': 'RFD',
 'Manufacturer': '1037',
'RSSI': 144,
'Status': '8043',
'MacCapa': '80',
'Type': {},
'ProfileID': '0104',
'Ep': {
          '01': {'ClusterType': {}, '0019': {}, '0700': {}, '0003': {}, '0000': {}, 'ffff': {}, '0012': {}},
          '02': {'ClusterType': {}},

[2018-11-21 21:54] pipiche38 commented on #254
Seems that it is the same as lumi.sensor_86sw1

[2018-11-22 14:18] pipiche38 opened #255 "Update Wiki for installation how-to"
Thanks for the information about the installation folder! This is NOT mentioned in the "how to do" section in the Wiki for Zigate and NOT in the Github instructions!

https://www.domoticz.com/forum/viewtopic.php?f=68&t=23669&view=unread&sid=24046dff017162d11b7fd2eb5b636933#unread

[2018-11-22 19:53] pipiche38 commented on #193
Command 0x0015 and so the answer 0x8015 provide only the list of recent active devices, and not the full list of devices .
SO until further command able to provide a full exhaustive list, we cannot implement such behaviour

[2018-11-22 19:53] #193 closed

[2018-11-22 19:54] pipiche38 commented on #189
Implemented in beta-3.2

[2018-11-22 19:54] #189 closed

[2018-11-22 19:57] pipiche38 commented on #152
implemented in beta-3.2

[2018-11-22 19:57] #152 closed

[2018-11-22 19:58] pipiche38 commented on #116
Since Beta-3.1 the Zigate database is stored in the plugin dictionary (ListOfDevices) which is then dump/serialized on DeviceList.txt
This dictinary also own the relation with the DOmoticz ID.

[2018-11-22 19:58] #116 closed

[2018-11-22 21:37] BornTKill commented on #252
Hello,

Python 3.5 solved the issue. Yes 1/3 price but chinese cloud powered.

[2018-11-22 22:02] pipiche38 commented on #252
@phfu

Do you have other Python based plugin running ?

Could you also have a look to : HTTP://www.domoticz.com/forum/viewtopic.php?p=198354#p198354

Please cross-check the Python environment as 3.4 seems to have some specials requirements !

[2018-11-23 06:47] pipiche38 commented on #252
Similar problem on a different plugin https://github.com/domoticz/domoticz/issues/2879

Envoyé de mon iPhone

[2018-11-23 21:01] hkhk12 commented on #254
Created a verbose log while pushing the lumi.remote.b186acn01 switch
[lumi.remote.txt](https://github.com/sasu-drooz/Domoticz-Zigate/files/2611716/lumi.remote.txt)

When pressing the button, the state does not change in Domoticz. Scripts (dzvents) aren't triggered.

[2018-11-23 23:14] phfu commented on #252
Hello.
I installed python v3.6 on my raspberry (compiled and all)
python3 -V gives me Python 3.6.5

I tried everything, looked on many forums, but I cannot change the Python version shown in the status of Domoticz...  3 hours lost this evening...

Any hint ?
is the python version directly linked at Domoticz compilation ?  I used standard packaged installation

Thanks in advance
Philippe

[2018-11-24 09:37] BornTKill commented on #252
Same here. It seems that you have to compile with python 3.6

https://www.domoticz.com/forum/viewtopic.php?t=23829

[2018-11-24 09:42] zaraki673 commented on #252
You don't have to compile, standard package is enough,

What is our OS ? (rasbian, debian ... windows :( )
For many linux system you could follow this how to, who explain how choose
default python on our system :
https://linuxconfig.org/how-to-change-default-python-version-on-debian-9-stretch-linux

Le sam. 24 nov. 2018 à 10:37, BornTKill <notifications@github.com> a écrit :

[2018-11-24 09:46] BornTKill commented on #252
Already tried but not working.

[2018-11-25 14:04] gte477k opened #256 "Support for Ikea Tradfri LED1623G12"
Ikea Tradfir LED1623G12 is one of the nicest G27 light bulps available. It would be great if Domoticzs-Zigate would support this.

[2018-11-26 07:18] pipiche38 commented on #250
@karstenbakker just push Beta-3.3, if you want to give a try, performance on your switch On/Off would be much better.

[2018-11-26 07:23] pipiche38 opened #257 "Hardcoded test in z_domoticz in regards to Bulbes behaviour"
In CreateDomoDevice there is some hardcoded value in regards to Model names.
We shoudl avoid that in order to have the code more open and HW independent.

[code]

[2018-11-26 19:49] karstenbakker commented on #250
@pipiche38 I have switched to beta-3.3, indeed the switching of single lights is really fast. Unfortunately If I switch a group right now, it goes really really slow and it sometimes misses the lights .

[2018-11-26 20:10] karstenbakker commented on #250
2018-11-26 21:10:09.547 (Zigate stick) Decode8120 - Configure Reporting response - ClusterID: 0300, MsgSrcAddr: 367b, MsgSrcEp:01 , Status: 86 - The End Device bind request was unsuccessful due to a failure to match any suitable clusters.
2018-11-26 21:10:11.590 (Zigate stick) Decode8120 - Configure Reporting response - ClusterID: 0300, MsgSrcAddr: 367b, MsgSrcEp:01 , Status: 86 - The End Device b

[2018-11-26 20:15] karstenbakker commented on #250
2018-11-26 21:15:01.724 Status: (Zigate stick) Decode804A - Management Network Update. SQN: 00, Total Transmit: 25 , Transmit Failures: 7 , Status: Success)
2018-11-26 21:15:01.724 Status: (Zigate stick) Decode804A - Management Network Update
2018-11-26 21:15:01.724 Status: (Zigate stick) Decode804A - Channel: 11 Interference: : 192
2018-11-26 21:15:01.724 Status: (Zigate stick) Decode804A - Chann

[2018-11-26 20:39] karstenbakker commented on #250
Well I deleted everything by accident. So I will start to add everything fresh again.

[2018-11-26 21:48] pipiche38 commented on #250
Not a big issue. We are still on Beta and those messages are in the Log. Looks like you have a ColorControl Bulbe with Network Address 367b, and that one doesn't accept Configure Reporting on Cluster 0x0300.
On the switch of a group, I would be interested on the Log , as I would like to understand if the slowness  if coming from Domoticz, the Plugin or the Zigate itself.

[2018-11-26 21:54] karstenbakker commented on #250
I don't have any color bulb, only the white with different white colors. I just tried adding the devices, but I now get all RGB colors which isn't my bulb.

[2018-11-26 22:20] karstenbakker commented on #250
This is what I collected, the shutdown is perfect everything goes out same time but on not:
`0
2018-11-26 23:16:19.774 (Zigate stick) ListOfDevices : {'3de3': {'SQN': {}, 'IEEE': 'd0cf5efffe13bec9', 'LogicalType': 'Router', 'Stack Version': '87', 'MacCapa': '8e', 'Version': '3', 'Heartbeat': '15', 'Battery': {}, 'RSSI': 48, 'Type': 'ColorControl/Switch/LvlControl/', 'NbEp': '1', 'Ep': {'01': {'000

[2018-11-27 07:32] pipiche38 commented on #250
Could you please attach as a file, as there is not a single end of line and it is quiet an heavy work to decode it.
Could you kindly do the same, but without enabling Debug, so remains at Debug = None

[2018-11-27 07:34] pipiche38 commented on #250
Could you reach me on keybase.io @pipiche , it will be easier to communicate over chat

[2018-11-27 15:56] pipiche38 commented on #256
Check : https://github.com/sasu-drooz/Domoticz-Zigate/blob/beta-3.3/Compatible-Hardware.md

[2018-11-27 15:56] #256 closed

[2018-11-27 16:09] pipiche38 commented on #254
@hkhk12 I have analysed your log and here are the current status.

(1) The lumi.remote.b186acn01 is correctly created.
'be54': {'SQN': '08', 'Ep': {'03': {}, '02': {}, '01': {'0012': '0002', '0000': {}, 'ClusterType': {'701': 'Button'}, '0006': {}}}, 'App Version': '8', 'PowerSource': 'Battery', 'Version': '3', 'Type': 'Button', 'MacCapa': '80', 'DeviceType': 'RFD', 'NbEp': '3', 'ProfileID': {}, '

[2018-11-27 19:06] pipiche38 opened #258 "LQI report python error looks like expecting a bitmap and we receive something else !"
Nov 27 20:03:33 pi3 domoticz[1019]: 2018-11-27 20:03:33.707  Error: (Zigate) 'onHeartbeat' failed 'ValueError':'invalid literal for int() with base 16: '''.
Nov 27 20:03:33 pi3 domoticz[1019]: 2018-11-27 20:03:33.707  Error: (Zigate) ----> Line 290 in '/var/lib/domoticz/plugins/Domoticz-Zigate/plugin.py', function onHeartbeat
Nov 27 20:03:33 pi3 domoticz[1019]: 2018-11-27 20:03:33.707  Error: (Zig

[2018-11-27 19:29] gte477k commented on #256
Merci, I was on the Master branch, where the bulp was not yet in included. Now I see that it is included in the current beta. I think the Zigbee part of the bulp is not working, as I see no action/no messages at all when I reset the bulp (6x off/on).

[2018-11-27 20:31] hkhk12 commented on #254
@pipiche38

installed beta3.3 and added button and Ikea led.
1. Ikea led now identifies as 2 devices (Light/Switch, Switch, On/Off and Light/Switch, Switch, Dimmer)
2. Aquara button is identified but doesn't trigger the button in Domoticz not dzvents scripts.
There is a log:
_ReadCluster - 0012 NwkId: 6352 Ep: 01 AttrId: 0055 AttyType: 21 Attsize: 0002 Status: 00 AttrValue: 0001_

Attached the log

[2018-11-27 21:04] pipiche38 commented on #254
Ikea led issue is now fixed on the latest version.

I have added some more debug in order to capture what is happening. Indeed We are receiving a Signal

[2018-11-27 21:24] hkhk12 commented on #254
Ikea led indeed fixed.

No change on the button though

[zigate-aquara-switch.txt](https://github.com/sasu-drooz/Domoticz-Zigate/files/2621897/zigate-aquara-switch.txt)

[2018-11-27 22:16] davidllerena opened #259 "'onHeartbeat' failed 'KeyError' when adding a device"
- OS: Linux raspi 4.9.35-v7+
 - Domoticz: Version 4.9700 (June 23th 2018)

I have update Zigate plugin to the last version today (27/11/2018)

**ISSUE:**
When trying to add a new Philips Hue White Bulb I receive the next log:
[code]
**Complete log before 2 heartbeats:**
[code]

DeviceList.txt has not changed, it seems that the plugin can't write the new device to the file, so enters in a loop tryi

[2018-11-27 22:30] pipiche38 commented on #259
You mentioned that you are trying to add a new Philips Hue White Bulb, but I see the plugin reporting the creation of IKEA Tradfri LED ?

Did you touch the DeviceConf.txt file ? If so , could you kindly provide it ?

[2018-11-27 22:31] pipiche38 opened #260 "ReadAttribute produce Status 86 !"
Nov 27 23:30:56 pi3 domoticz[1019]: 2018-11-27 23:30:56.207  (Zigate) ReadCluster - Status 86 for addr: 9ae9/01 on cluster/attribute 0702/0000
Nov 27 23:30:56 pi3 domoticz[1019]: 2018-11-27 23:30:56.209  (Zigate) ReadCluster - Status 86 for addr: 9ae9/01 on cluster/attribute 0702/0200
Nov 27 23:30:56 pi3 domoticz[1019]: 2018-11-27 23:30:56.210  (Zigate) ReadCluster - Status 86 for addr: 9ae9/01 on

[2018-11-27 22:33] pipiche38 commented on #260
Most-likely we need to remember that this device doesn't handle the ReadAttribute on this particular attribute, so next time they can be filtered out ?

In addition, we can provice a flag, which allow a Reset of those filters

[2018-11-27 22:34] davidllerena commented on #259
There are 2 new devices, both are Philips Hue White.
'IEEE': '0017880104676979' and 'IEEE': '00178801040357cd'

I haven't modify the DeviceConf.txt.
Plugin detected them as Ampoule.LED1622G12.Tradfri

[2018-11-27 22:35] davidllerena commented on #259
`1929 sep 23 00:18 DeviceConf.txt`

[2018-11-27 22:36] davidllerena commented on #259
**DeviceConf.txt**
[code]

[2018-11-27 22:43] pipiche38 commented on #259
Can you try to put Debug level to Verbose (**Python Only**) ?
And as the logs might be long, could you simply drop the file .

From what I suspect, is that this Bulbe provides 2 EndPoints while the Tradfri has only one configured.

[2018-11-27 23:11] davidllerena commented on #259
Which file do you need? domoticz.log?

[2018-11-28 07:05] pipiche38 commented on #259
Yes, maybe not the full file, an extract would be enought from the last start.

[2018-11-28 11:03] pipiche38 commented on #259
@davidllerena , could you kindly unzip that file and put it under Domoticz-Zigate folder then restart Domoticz.

[z_domoticz.py.zip](https://github.com/sasu-drooz/Domoticz-Zigate/files/2624098/z_domoticz.py.zip)

[2018-11-28 16:23] pipiche38 commented on #260
done , implemented in beta-3.3

[2018-11-28 16:23] #260 closed

[2018-11-28 16:23] pipiche38 commented on #257
Done, implemented in beta-3.3. Using ColorMode from Cluster 0x0300

[2018-11-28 16:23] #257 closed

[2018-11-28 19:24] yvin commented on #259
Hi,

I have the same kind of problem

Domoticz Version: 4.10234 (it was the same with previews version)

I add the zigate hardware
I clear the device on the zigate

I push the button of a xiaomi temperature sensor

I have a loop with this message

2018-11-28 20:04:14.737 (Zigate) processNotinDBDevices - ready for creation: {'Battery': {}, 'ReadAttributes': {'Ep': {'01': {'0001': {'0007': '86', '00

[2018-11-28 19:57] pipiche38 commented on #259
@yvin which version of the Zigate plugin are you ?
Do you have any Zigate related devices already in Domoticz ?

Could you put the plugin in 'debug = verbose" mode and attached the corresponding logs ?

[2018-11-28 20:01] hkhk12 commented on #254
Button now fixed too!
Thanks.

[2018-11-28 20:09] pipiche38 commented on #254
Thanks for providing the logs.

[2018-11-28 20:09] #254 closed

[2018-11-28 20:17] davidllerena commented on #259
Hi,

The patch worked fine. Good job!!!!!

Only one thing about the description of the bulbs. Remember that my bulbs where detected as Tradfri. This is because in DeviceConf.txt Tradfri is before Philips in the list of devices. As workaround I have move Ampoule.LED1622G12.Tradfri under Ampoule.phillips.hue.

**diff --git a/DeviceConf.txt b/DeviceConf.txt**
[code]

**Before**
[code]

**After**
[cod

[2018-11-28 20:47] pipiche38 commented on #259
Thanks for the report. Not sure about DeviceConf order, as it is hard coded in the code to treat the hue as a tradfri ;-)

I’ll push the patch to the official branch.

Envoyé de mon iPhone

[2018-11-28 20:54] pipiche38 commented on #259
6b4fe1651959793572e9a764e590339407d4e0bb
@yvin please open a different issue so we can track that one independently.

[2018-11-28 20:54] #259 closed

[2018-11-28 21:17] yvin opened #263 "Error message when a new device is added"
Domoticz Version: 4.10234 (it was the same with previews version)
Zigate Beta-3.3

I add the zigate hardware
I clear the device on the zigate
I don't have device in Domoticz

I push the button of a xiaomi temperature sensor

I have a loop with error message

only after Domoticz restart the device is added in DeviceList-16.txt
Domoticz stays offline I need to use a backup database

[code]

[2018-11-28 21:27] pipiche38 commented on #263
@yvin thanks for the logs. I have updated the beta-3.3 with a bit more debug . Could you kindly redo the test after the update ( could you also cleanup the __pycache__ folder ) ?

[2018-11-28 21:42] yvin commented on #263
New log

[code]

[2018-11-29 08:12] pipiche38 commented on #263
Hello,

Could you kindly do the same but with Debug = Verbose
<img width="336" alt="screenshot 2018-11-29 at 09 17 20" src="https://user-images.githubusercontent.com/8291674/49208268-9c33b800-f3b7-11e8-937c-aeaa72851464.png">

In addition, the line where the error happen is related to Domoticz. In the log you are providing, do you do a filtering on Zigate, or do you provide the all Domoticz all ?

[2018-11-29 14:03] deennoo opened #264 "Ikea on/off switch/remote E1743"
there cluster for this device :

​
Type: 0x8043 (Simple Descriptor Response)
  SQN: 0x83
  Status: 0x00
  Short Address: 0x80A5
  Length: 36
  EndPoint: 0x01
  Profile ID: 0xC05E (ZigBee LL)
  Device ID: 0x0820 (Unknown)
  Input Cluster Count: 7
    Cluster 0:  Cluster ID: 0x0000 (General: Basic)
    Cluster 1:  Cluster ID: 0x0001 (General: Power Config)
    Cluster 2:  Cluster ID: 0x0003 (General

[2018-11-29 22:54] pipiche38 commented on #263
bonsoir @yvin

I just push an update on beta-3.3 which should help in your case when the Creation of Widget on domoticz failed.

[2018-11-30 10:18] hkhk12 opened #265 "No transport, write directive to 'Zigate' ignored."
After some time (think between 6 and 12 hours) looks like the module cannot reach the zigate device anymore.

The errors in domoticz log are:

_No transport, write directive to 'Zigate' ignored._
and
_waitForStatus - Timeout 5 on 0092_

At that stage connected devices can no longer be controlled.

Disabling the plugin and enabling it again solved the issue.

Running version beta-3.3 on a Synology

[2018-11-30 13:18] pipiche38 opened #266 "When Cluster Identify available do an Identify after successful DomoticzCreation"
When the Cluster IUdentify is available, do a Identify after successful widget ceration

[2018-11-30 14:24] deennoo commented on #266
+ 1 for this many off zigbee device have this feature

best practice will be to identify only when device is created and confirmed in domoticz db

[2018-11-30 17:31] pipiche38 opened #267 "When there is a buggy PluginConf.txt or DeviceConf.txt it zero's DeviceList"
A buggy DeviceConf.txt or PluginConf.txt are simply reseting to 0 the DeviceList.txt

Today there is backup of the DeviceList done at each startup, but it would be more convenient to have a much better resilience on DeviceList

[2018-11-30 17:32] #266 closed, assigned to nobody

[2018-12-01 09:09] pipiche38 commented on #265
Will continue on #267

[2018-12-01 09:09] #265 closed, assigned to nobody

[2018-12-01 09:11] pipiche38 commented on #263
@yvin any news ?

[2018-12-01 09:28] yvin commented on #263
Hi sorry I don t have time to test it
I will test it today and come back to you
Thanks

Le sam. 1 déc. 2018 à 10:11, Pipiche <notifications@github.com> a écrit :

[2018-12-01 23:14] dpocock opened #269 "factory resetting the Philips Hue bulb without the Hue Bridge"
**Is your feature request related to a problem? Please describe.**
Other sources of documentation suggest that Philips Hue bulbs can only be factory reset with a Hue bridge.

**Describe the solution you'd like**
Use the Zigate to send a factory reset command to any Philips Hue bulb, even if it has already been used with another Hue bridge that is no longer available.

**Describe alternatives you'v

[2018-12-02 09:34] Smanar commented on #269
But the zigate can send command only on device who are on the same network.
You can use the remote too.

[2018-12-02 09:48] dpocock commented on #269
Thanks for that feedback.  I don't have a Philips Hue remote and I wasn't aware of that.

Is this the method you are suggesting?  If so, buying a Philips Hue remote is a viable solution for me.
https://www.youtube.com/watch?v=qvlEAELiJKs

Whatever the remote is doing in this case, could the Zigate be programmed to emulate it?  Or could an SDR such as LimeSDR take the place of the remote?

[2018-12-02 10:00] pipiche38 commented on #269
@dpocock don't know your french, but here are some tips for reseting http://faire-ca-soi-meme.fr/zigate/2017/11/27/maitrisez-vos-ampoules-zigbee/#Factory_Reset

[2018-12-02 12:16] Smanar commented on #269
Some devices have a "touchlink" feature,  to communicate with near by located devices but I m looking at the ZGWUI application and I don't see something about that on zigate.
So yep, in your case I think the remote is the better solution. And I don't know LimeSDR at all ?

[2018-12-02 17:49] yvin commented on #263
Hi

No problem to add a device.
But after I have added a device if I reboot Domoticz (Stop & Start)
Domoticz stay Offline
I need to remove the DeviceList-16.txt to restart normally Domoticz

My DeviceList-16.txt

`1bf2 : {'RIA': '0', 'App Version': '3', 'Heartbeat': '8', 'Status': 'inDB', 'SQN': '0a', 'ProfileID': '0104', 'DeviceType': 'RFD', 'Stamp': {'MsgType': '8102', 'Time': '2018-12-01 19:38:

[2018-12-02 18:17] pipiche38 commented on #263
If you remove the file DeviceList-16.txt you are removing the Zigate plugin database, and the plugin is not going to work.
Do you have several USB stick on your system ?

[2018-12-02 18:33] pipiche38 commented on #252
@BornTKill please let us know if we can close that issue

[2018-12-02 18:37] pipiche38 commented on #263
It would also be interesting to have a look to the Domoticz log file, why it is not starting ?

[2018-12-02 19:06] BornTKill commented on #252
Hello.

As post mortem, here what has been done to be able to use bêta 3.x

Migrate to a newer distribution with python 3.5.1 available in main repository.
Dedicate USB port (no USB hub) to avoid lost communication between Zigate and plugin.

Now everything work like a charm.
Thank to @pipiche and the community.

[2018-12-02 19:53] pipiche38 commented on #252
Thanks we will advise Python 3.5 and above (as I would tend to agree that Python 3.4 seems to be more challenging and most-likely due to recent Domoticz version)

Closing the issue

[2018-12-02 19:53] #252 closed

[2018-12-03 11:07] hkhk12 commented on #267
Installed this one but the problem doesn't seem fixed.
Now it crashes Domoticz instead (but after longer time though)

[2018-12-03 11:16] pipiche38 commented on #267
@hkhk12 I'm not sure I understand your comment. What is related to this issue ? What did you installed ? If this is not related, could you kindly use the Forum to report the problem first ?

[2018-12-03 12:52] pipiche38 commented on #269
On the other side, broadcasting is a possibility, but
(1) what is the message to send for a Reset
(2) You can broadcast only to Router and End Devices with Receive on Iddle on
(3) You might Reset non Philipps Hue devices !

[2018-12-03 17:26] dpocock commented on #269
@pipiche38 thanks for the link, I understand enough French to recognize [a great party](https://danielpocock.com/rhl19-st-cergue-switzerland) when I see one.  I'm in Suisse Romande and if anybody from the Domoticz community can come to [RHL'19](https://hivernal.es/) or [FOSDEM](https://fosdem.org) it would be wonderful to meet you, both events are still looking for speakers right now.

In my searc

[2018-12-03 19:31] Smanar commented on #269
I have search LimeSDR on google but I only found realy expensive cards. You have a link to see what is it ?

[2018-12-03 19:42] dpocock commented on #269
[Here it is](https://www.crowdsupply.com/lime-micro/limesdr) - $299 is expensive for Zigbee, but it is very cheap if you want to implement multiple protocols.  Now there is [LimeSDR Mini for $159](https://www.crowdsupply.com/lime-micro/limesdr-mini) too.

We had a brief [discussion](https://lists.gnu.org/archive/html/discuss-gnuradio/2018-11/msg00020.html) in the GNU Radio mailing list.

[2018-12-05 07:54] pipiche38 opened #270 "Make the Motion Resetdevice customizable"
Today Reset of Motion device is done after 30s. Depending on the user, some might want to have the reset at 60s .
It would be great to have ResetDevice delay as a PluginConf.txt parameter

[2018-12-05 13:18] phfu commented on #252
Hello
Just to let you know that I took some time to re-install all my Raspberry Domoticz system.
Python 3.5+ and latest Zigate Plugin version are running fine since a few days now.
This issue is definitively closed,   problem was linked with Python 3 version.

Merci beaucoup, Best regards

[2018-12-05 13:48] pipiche38 commented on #252
@phfu  thanks for the update

[2018-12-05 14:50] BornTKill commented on #252
Glad for you @phfu

[2018-12-05 16:46] pipiche38 opened #271 "Having a PluginConf.txt per HardwareID"
If you have 2 plugin instances working on the same server, it might be interesting to have different plugin configuration.

[2018-12-05 17:21] pipiche38 commented on #271
Done in dev. b18355d4054f8d65b568b91f619c33abf67a24b8

[2018-12-05 17:21] #271 closed, assigned to pipiche38

[2018-12-05 17:22] deennoo commented on #270
Why dont allow use to use native domoticz off After xx seconde.

This option already exist on the widget configuration

[2018-12-05 17:22] pipiche38 commented on #270
Done in Dev 76912fe6ae43bc1f8a98f59c068b760b7595430f

[2018-12-05 17:22] #270 closed, assigned to pipiche38

[2018-12-05 17:23] pipiche38 commented on #270
But unfortunatly Domoticz is not providing that information to the Python Plugin Framework

[2018-12-06 19:47] deennoo opened #272 "Update Device Only if needed"
When recieving a reporting from a bulb, even if the device is already on the same state, the plugin update the status.

If you set a Lua Even Script base on devices status, the script run.

Steps to reproduce the behavior:
Add an ikea Bulb to the plugin
Turn it Off
and after 1 hour looks at the Logs on Domoticz Device

**Expected behavior**
Update device status only when it's needed

**Screenshots

[2018-12-07 10:53] pipiche38 commented on #272
In fact this is a bit more tricky and apply for all objects which have configure reporting enabled on clusters 0x0006 and 0x0008 and which are defined in Domoticz in 1 single widget .

The main issue in linked to the fact that Domoticz store On/Off and Level in one single datafield sValue.

So I suspect that you get Off but also Level update and that is where the mix is happening.

[2018-12-07 10:54] pipiche38 commented on #269
@dpocock are you ok to close this issue ? As I don't think much we can provide

[2018-12-07 21:59] santricity opened #273 "Hue bulbs discovered, but inactive."
Hi,
I bought Zigate USB stick, successfully installed Zigate Plugin on my Raspberry-Domoticz, added Osram Smart Plug, Ikea Tradfri bulbs and Philips Hue bulbs.

I can control Osram and Ikea devices, but I can't do anything with Hue bulbs.

![image](https://user-images.githubusercontent.com/45700421/49674705-33ada080-fa73-11e8-8116-8034d3b69e54.png)

As you can see the RF Signal Level is also missi

[2018-12-07 22:06] sbhc68 opened #274 "Update in the master version"
Hello,

I made the update of the beta-3.2 version in master, and I have the following error in the domoticz log:

2018-12-07 22:59:15.122  Error: (Zigate) 'onHeartbeat' failed 'KeyError'.
2018-12-07 22:59:15.122  Error: (Zigate) ----> Line 280 in /opt/domoticz_prod/plugins/Domoticz-Zigate/plugin.py, function onHeartbeat
2018-12-07 22:59:15.122  Error: (Zigate) ----> Line 242 in /opt/domoticz_prod/

[2018-12-07 22:31] santricity commented on #273
OK, I updated plugin to ver. 4.0.0, removed devices and added them again. Hue bulbs detected, I can turn them on and off and also dim them, but I cant change the color.

![image](https://user-images.githubusercontent.com/45700421/49675863-a6207f80-fa77-11e8-843d-cd9d3d542c41.png)

![image](https://user-images.githubusercontent.com/45700421/49675888-bdf80380-fa77-11e8-9a75-f2d01dfea20b.png)

I can

[2018-12-08 07:43] deennoo opened #275 "Allow Domoticz Discover new devices fonction"
When strating the plugin the zigate enter in join mode but domoticz doesn't

When adding a new object, it goes to the plugin & zigate database but not on domoticz one.

I have to stop plugin, erease device on DeviceList84.txt, allow new device on domoticz and restart the all procedure who is a bit tricky for device who aren't easy to reset.

[2018-12-08 09:00] pipiche38 commented on #275
I don't understand what you mean by Domoticz does'nt. There is no such mode for Domoticz.
The Join mode in the plugin is related to the Zigate HW component.

If now your issue, is that Domoticz doesn't allow to Create new devices, because you have disabled it, I'm afraid that we are not going to fix this issue as Domoticz doesn't give such information to the user.

I would be interested to have yo

[2018-12-08 09:01] pipiche38 commented on #274
The master branch is not maintain any more and is not compatible with 3.1 and above.

[2018-12-08 09:09] pipiche38 commented on #273
From the screenshot you are sharing it looks like the plugin detect the Bulb as a WW bul and not a Full RGB one. Is that correct ?

Could you kindly attached the file DeviceList-xx.txt ?

[2018-12-08 11:05] pipiche38 opened #276 "Allow the possibility to store report on different/customized folder"
It would be convenient if the user could configure where the LQI report can be stored

[2018-12-08 13:23] pipiche38 opened #277 "In case of Command error, we will get sync error (new Transport)"
In the context of the new Transport mechanism, if there is a Command return a status != '00' in message 0x8000, then there is a risk that we still look for the Data part and then we will get some sync error messages.

[2018-12-08 13:29] pipiche38 commented on #272
Problem occured only for Color bulb. Fix to be done in UpdateDevice

[2018-12-08 16:20] deennoo commented on #275
No specifique message on the log.

Allowing Discovering new device is quiete easy :

http://ip:port/json.htm?type=command&param=allownewhardware&timeout=5

[2018-12-08 16:43] pipiche38 commented on #275
I'm not in favour to have the plugin overwriting (changing) a Domoticz settings. From a security standpoint this doesn't looks good to me.

Now, the reverse might be the right way to do , so for instance having Domoticz 'allow new hardware' to set the Permit to Join

[2018-12-08 20:37] santricity commented on #273
Yes, that is correct, it was discovered as WW only.

I fixed it by removing all Zigate devices, the Zigate Plugin hardware, the plugin itself from domoticz/plugin directory and installing it again. One Bulb was discovered immediately and properly as RGBWW.

I'm still trying to discover the second Bulb, but without success. Is there something I can do? Before plugin reinstallation it was discovered

[2018-12-08 20:57] pipiche38 commented on #273
When you say , without success, you mean wrong detection ? WW instead of RGBWW ?
If that is the case, I'll provide you a patch

[2018-12-08 21:12] gte477k opened #278 "(Zigate) 'onStart' failed 'OSError'."
Hi, I am using plugin 4.0.1, Domoticz V4.10232, Python 3.5 on Windows 10. When I am starting Domoticz, I get the following error:
(Zigate) 'onStart' failed 'OSError'. Please see the log below.
[zigate1.txt](https://github.com/sasu-drooz/Domoticz-Zigate/files/2660043/zigate1.txt)

[2018-12-08 21:16] zaraki673 commented on #278
Hi,

yes plugin doesn't work under windows,
only linux for the moment

sorry

Le sam. 8 déc. 2018 à 22:12, gte477k <notifications@github.com> a écrit :

[2018-12-08 21:25] santricity commented on #273
The second one cannot be detected at all - it doesn't show up in the device list. And I think I have the same issue with Ikea bulbs, there are not showing up in the list (I have reset them several times).

[2018-12-08 21:32] pipiche38 commented on #273
OkI, so that is an other issue. What do you have in the Log when you try to Pair them ?
If you want to chat I'm reachable on keybase.io

[2018-12-08 21:36] pipiche38 commented on #278
@gte477k , can you try to install this file on the plugin directory Domoticz-Zigate.

You'll have to unzip it.

[z_database.py.zip](https://github.com/sasu-drooz/Domoticz-Zigate/files/2660063/z_database.py.zip)

[2018-12-08 21:39] #269 closed, assigned to nobody

[2018-12-08 21:43] pipiche38 commented on #263
Could you give us some update and answer the following questions:
(1) What is the python version you are using
(2) Could you cross-check that Domoticz is using the right python version in case you have python2 and python3 installed
(3) In case of problem, please provide the Logs

[2018-12-08 22:26] santricity commented on #273
All fixed with great help of pipiche38! All devices paired with proper Domoticz widgets.

Below my DeviceList file, where device 11ca (one of my Hues in this case) was previously not properly paired and had 'UNKNOW' status:
[DeviceList-7_1.txt](https://github.com/sasu-drooz/Domoticz-Zigate/files/2660081/DeviceList-7_1.txt)

After deleting this line I was able to pair my missing Hue bulb. Ikea bulb

[2018-12-09 07:40] gte477k commented on #278
Good morning zaraki673, it seems to work, I could add a device and the switch states are correctly entered into the database. There are still some error messages, if you like to have a look:

[zigate2.txt](https://github.com/sasu-drooz/Domoticz-Zigate/files/2660327/zigate2.txt)

[2018-12-09 08:33] pipiche38 commented on #278
@gte477k , glad that the patch makes it working 👍

As the error message in the log, could you confirm that the Device and the Widget in Domoticz were created correctly ? If I well understood from the log it is Motion Xiaomi device

I also do confirm the error logs point to issue #279

[2018-12-09 08:35] pipiche38 opened #279 "Error message when adding a Xiaomi devce"
2018-12-09 08:35:03.076 Error: (Zigate) 'onHeartbeat' failed 'TypeError':'int() can't convert non-string with explicit base'.
2018-12-09 08:35:03.076 Error: (Zigate) ----> Line 294 in 'C:\Program Files (x86)\Domoticz\plugins\Domoticz-Zigate-stable\plugin.py', function onHeartbeat
2018-12-09 08:35:03.076 Error: (Zigate) ----> Line 243 in 'C:\Program Files (x86)\Domoticz\plugins\Domoticz-Zigate-stab

[2018-12-09 08:36] pipiche38 commented on #279
When adding a Xiaomi device it could happen that the ZDeviceID and ProfileID is not yet initialized as they don't come from cluster 0x0000.

[2018-12-09 08:47] #274 closed, assigned to nobody

[2018-12-09 08:56] pipiche38 commented on #273
@santricity could you kindly let me known what are the following devices:
62a2 (000b57fffe20ba82) which has a Domoticz Color Widget DeviceID: 65 ?
9a52 (000b57fffe117dcf) which has a Domoticz Witch, Color widget DeviceID: 66 ?

Why am I asking that is because there is a strange Model for those 2.

[2018-12-09 09:06] gte477k commented on #278
@pipiche38, many thanks for your help.

Yes, I would say so. I added a Motion Xiaomi device and an Ikea bulp. Both work as expected and the Widgets are correctly created incl. dimming for the bulp. Please see attached screenshot.

[zigate3.zip](https://github.com/sasu-drooz/Domoticz-Zigate/files/2660385/zigate3.zip)

[2018-12-09 09:13] pipiche38 opened #280 "Strange Model name in DeviceList"
Here are some Model collected in DeviceList

'Model': '545241444652492062756c6220453237205753a06f70616c203938306c6d',

For instance, if we take this example it looks like there is a 'parasite' char inside the string

b'TRADFRI bulb E27 WS\xa0opal 980lm'

[2018-12-09 09:52] pipiche38 commented on #280
In fact, the issue is when receiving Attribute 0x0000/0x0005 with the model we decode the corresponding attribute.
Today if the decoding failed we simply put the bytes in the model.

They are 2 ways to handle this issue:
1) we use the 'ignore' or 'replace' error handling option of codecs.decode(). This will make the things working and we will have a more-less understandable Model, but it will not

[2018-12-09 10:15] deennoo opened #281 "Update not done on lumi.sensor_cube"
Using Xiaomi Cube 1st Gene with 4.0.1 plugin

Rotation isn't always update when last cube status is already Rotation

There is my event :

si cube = rotation et lumière Off alors lumière On
si cube = rotation et lumière On alors lumière Off

But if cube is already on rotation state, i have to made something else (90° eg) and after rotation.

this can be solve using set to off after 1 sec on device

[2018-12-09 10:33] santricity commented on #273
These are my two Ikea Tradfri bulbs.

[2018-12-09 11:22] pipiche38 opened #282 "Implement clock and anti-clock wise event for Cube"
The plugin is able to decode how much rotation has been done and if it is clock or anti-clock wise.
So it would be great to implement such in the Plugin
[code]

[2018-12-09 11:25] pipiche38 commented on #282
Today's implementation is to trigger a Rotation when receiving 0x000c/0xff05, and when receiving 0x000c/0x0055 (containing the rotation measure) nothing is done.

I suggest to not report the Rotation when receiving attribute 0xff05 and then when receiving the 2nd message with the rotation measure triggering the Clock or Anti-Clock wise update in domoticz widget

[2018-12-09 11:28] pipiche38 commented on #281
`2018-12-09 11:14:29.027 (Zigate) mgtCommand - Look you are trying to action a non commandable device Device Cube Xiaomi has available Type ['Aqara']`
This make sense, as this is not an actionable device.

As the rotation event, I'm not able to duplicate the issue, except if I inject a lot of event to the cube, and in that case it is not sending any more event.

[2018-12-09 11:54] pipiche38 opened #283 "Zipato HS1A-M"
The Smoke detector is recognized.
However is there any communication between object <-> zigate <-> plugin !

[2018-12-09 12:03] pipiche38 commented on #283
Looks like when doing a test, there is nothing sent to the Zigate/Plugin

[2018-12-09 16:44] LouiS22 commented on #187
Have one of these sensor, so if you need tests, pls let me know

[2018-12-09 17:38] pipiche38 commented on #187
@LouiS22 Good news.
So what I would suggest:
- you should be on 'stable' branche
- set Log to Verbose
- and then do a pairing
- then sending me the log with what came

They are some code already in ...

Attached the log here

[2018-12-09 20:30] LouiS22 commented on #187
2018-12-09 21:27:13.379 Error: (Zigate) ReadCluster 0101 not fully implemented, please contact us on https://github.com/sasu-drooz/Domoticz-Zigate
2018-12-09 21:27:13.379 Error: (Zigate) 'onMessage' failed 'TypeError':'bad operand type for unary +: 'str''.
2018-12-09 21:27:13.379 Error: (Zigate) ----> Line 282 in '/home/pi/domoticz/plugins/Domoticz-Zigate/plugin.py', function onMessage
2018-12-09

[2018-12-09 20:56] pipiche38 commented on #278
Patch integrated.

[2018-12-09 20:56] #278 closed, assigned to nobody

[2018-12-09 20:56] #279 closed, assigned to pipiche38

[2018-12-09 20:57] pipiche38 commented on #273
I'm closing the issue.

[2018-12-09 20:57] #273 closed, assigned to nobody

[2018-12-09 21:01] pipiche38 commented on #187
@LouiS22 thanks and very sorry , this was a stupid mistake in the code (unable to test it).
Find here attached a fix. Please drop this file (after unziping)
[z_readClusters.py.zip](https://github.com/sasu-drooz/Domoticz-Zigate/files/2660991/z_readClusters.py.zip)

[2018-12-09 21:04] pipiche38 commented on #188
We will be able to re-use the group created via the remote controller, but the remote control so far cannot be use by Zigate

[2018-12-10 08:30] gte477k commented on #278
Hi, I checked out the latest version, removed all devices and tried to pair them again. However, this fails with this version (althouh it has worked in version 4.0.1). Please see the log:

[zigate4.txt](https://github.com/sasu-drooz/Domoticz-Zigate/files/2662200/zigate4.txt)

[2018-12-10 08:52] pipiche38 commented on #278
Most-likely it failed, because you didn't authorized new hardware in Domoticz !
Basically Domoticz didn't allow the creation of the widget

So you need now, to
- stop domoticz
- remove the entry corresponding to 1309 in DeviceList-xx
- restart domoticz
- make sure that Authorized new hardware is enabled

[2018-12-10 09:12] gte477k commented on #278
Sorry, my fault. I forgot. Everything is fine and working.

[2018-12-10 09:12] gte477k commented on #278
Many thanks for your support!

[2018-12-10 13:23] pipiche38 opened #284 "Manage SQN directly inside the Transport class"
Instead of having a spread management of SQN (sequenec number), simply do the management when receiving message in the Transport class.

It will required to add to members to the Transport class
- self.powerSQN - One counter for the all communication managing main powered objects
- self.batterySQN - One counter per objects

[2018-12-10 17:42] pipiche38 commented on #282
Implemented in dev-grpmgt branch

[2018-12-10 17:42] #282 closed, assigned to pipiche38

[2018-12-10 17:42] pipiche38 commented on #281
clock and anti-clock has been implemented in dev-grpmgt branch.
I suggest to close and to re-open if problem is poping up again

[2018-12-10 17:42] #281 closed, assigned to nobody

[2018-12-10 17:43] LouiS22 commented on #187
2018-12-10 18:41:45.802 (Zigate) ReadCluster - ClusterId=0006 - reception General: On/Off: 00
2018-12-10 18:41:45.802 (Zigate) checkTOwaitFor - Cmd: 0000 waitQ: 0 dataQ: 0 normalQ: 0
2018-12-10 18:41:46.854 (Zigate) checkTOwaitFor - Cmd: 0000 waitQ: 0 dataQ: 0 normalQ: 0
2018-12-10 18:41:46.856 (Zigate) HB count = 1
2018-12-10 18:41:49.813 (Zigate) receiveData - new Data coming
2018-12-10 18:41:49

[2018-12-10 17:43] pipiche38 commented on #280
Implemented in dev-grpmgt branche

[2018-12-10 17:43] #280 closed, assigned to nobody

[2018-12-10 17:44] pipiche38 commented on #272
Implemented in dev-grpmgt branch

[2018-12-10 17:44] #272 closed, assigned to pipiche38

[2018-12-10 17:47] pipiche38 commented on #187
@LouiS22 , I'm reachable on Keybase.io (you can see my username on Github). Might be easier to chart ;-)

The error message you have, says that the device is sending messages, but is not known by the plugin.

So basically device 'ee9f' doesn't have any entry in DeviceList-xx.txt .

[2018-12-10 17:50] pipiche38 commented on #263
I'm closing that issue. I suggest that you report the issue on the Forum if the problem is still there.
Please cross-check Python version

[2018-12-10 17:50] #263 closed, assigned to nobody

[2018-12-10 17:53] LouiS22 commented on #187
Installed and sent you a PM via keybase :)

[2018-12-10 17:54] pipiche38 commented on #188
As of known, we can use the Ikea Remote Command to create a group of ZLL.
During the discovery phase, the plugin will detect the group created by the remote control and will create a widget in Domoticz. So it will be possible to manipulate the Group from Domoticz or from the Remote Control.

https://github.com/fairecasoimeme/ZiGate/issues/64
https://github.com/fairecasoimeme/ZiGate/issues/6

Imple

[2018-12-10 17:54] #188 closed

[2018-12-10 17:57] pipiche38 commented on #283
Most likely required IAS management

[2018-12-10 20:09] yvin commented on #263
Ok to close it but I still have the problem

[code]

How to have the information of the log of Domoticz
If I have a device on the device list, Domoticz doesn't start

[2018-12-11 07:00] pipiche38 commented on #263
@yvin We strongly recommend Python 3.5 for the plugin.
You can check here: https://github.com/sasu-drooz/Domoticz-Zigate/wiki/Plugin-Installation

And I would also recommend to check on the Domoticz Forum, where there is a Python section
https://www.domoticz.com/forum/viewforum.php?f=65

[2018-12-11 08:30] pipiche38 opened #285 "Create a Status and Text widget to report Zigate status"
It would be nice to have 2 widgets on the Domoticz Dashboard to report the status of the Zigate and also to display notifications/alerts

[2018-12-11 08:41] pipiche38 commented on #187
Firs implementation in dev- 6a9f8b73943a1c0eab49919c14eeed7c8289b3f6

[2018-12-11 14:30] pipiche38 opened #286 "Extract Domoticz preferencs from domoticz.db"
From the domoticz.db Preferences Table we can retreive all preferences and especially:

AcceptNewHardware -> To enable or Disable Hardware inclusion

The idea, would be to populate a dictionary out of

select Key, nValue, sValue, nValue from Preferences;

If sValue exist use it, otherwise nValue

domoticzDico[Key] = nValue or sValue

[2018-12-11 14:50] pipiche38 commented on #286
cc7c065

[2018-12-11 17:33] pipiche38 opened #287 "NEXBANG Wireless Door Windows sensor Alarm Home WIFI Security Door"
Support of this Door contact

[2018-12-11 17:33] pipiche38 commented on #287
implemented in 4076428

[2018-12-11 17:35] pipiche38 commented on #287
The device is not providing any Model Name
2ec1 : {'Version': '3', 'Status': 'inDB', 'SQN': 'c7', 'Ep': {'01': {'0000': {}, '0003': {}, '0500': {}, 'ffff': {}, '0001': {}, 'ClusterType': {'659': 'Door', '660': 'Voltage'}}}, 'Heartbeat': '1', 'RIA': '0', 'RSSI': 159, 'Battery': {}, 'Model': {}, 'MacCapa': '80', 'IEEE': '00158d000193c029', 'Type': 'Door/Voltage', 'ProfileID': '0104', 'ZDeviceID': '0

[2018-12-11 17:40] pipiche38 commented on #287
Didn' find a way to stop the alarm when the contact is Open.
The only way so far is to use the physical switch on the sensor

[2018-12-12 07:04] #287 closed, assigned to nobody

[2018-12-12 18:57] Hydci opened #288 "Aqara bouton reconnu en cube magik"
**Describe the bug**
Bouton aqara reconnu comme un cube magik

Log:

2018-12-12 19:32:34.009 Status: (Zigate) Permit Join is On
2018-12-12 19:33:27.121 Status: (Zigate) [0] NEW OBJECT: f1a5 Device Annouce
2018-12-12 19:33:27.323 Status: (Zigate) [0] NEW OBJECT: f1a5 Device Annouce
2018-12-12 19:33:31.151 Status: (Zigate) [0] NEW OBJECT: f1a5 (re)Starting process
2018-12-12 19:33:36.325 (Zigate) De

[2018-12-12 19:22] pipiche38 commented on #288
Seems to be a non certified yet device.
Model: lumi.remote.b1acn01'

Please provide the reference of this Device and expected behaviour

[2018-12-12 19:37] Hydci commented on #288
Voici le bouton concerné https://zigate.fr/xiaomi-bouton-switch-aqara-clusters/
Comportement attendu click double click

[2018-12-12 19:47] pipiche38 commented on #288
Probably a new version as the Model name is not the same.
Could you please Edit the file DeviceConf.txt and line 10 add the following line

`'lumi.remote.b1acn01':{'Ep':{'01':{'0006'}},'Type':'SwitchAQ2'},`

Then restart the plugin, remove the device (from Domoticz ) which is currently created.
Then redo a commissioning.

Let me know

[2018-12-12 19:58] Hydci commented on #288
Yes en rajoutant la ligne cela fonctionne il et reconnu en temps que sélecteur par contre impossible d’interagir avec voici mon log de domoticz
2018-12-12 20:54:38.454 (Zigate) Cluster0012 - unknown Model: lumi.remote.b1acn01 for this Attribute: 0055

Ps: je vous et envoyer un message aussi sur le forum domoticz français sous le même pseudo

[2018-12-12 22:30] pipiche38 commented on #288
Could you please put the plugin in Debug mode "Verbose" and then do few actions with the Switch.
Please then attach the log into this issue
This will allow us to see if we could implement this new switch (as from a firmware standpoint it doesn't use the mechanism of the previous one)

[2018-12-13 05:50] Hydci commented on #288
Quand je clique avec le bouton voici ce que cela me fait avec l'option Verbose demander

1Click:
2018-12-13 06:48:27.173 (Zigate) checkTOwaitFor - Cmd: 0000 waitQ: 0 dataQ: 0 normalQ: 0
2018-12-13 06:48:27.175 (Zigate) HB count = 36
2018-12-13 06:48:31.435 (Zigate) receiveData - new Data coming
2018-12-13 06:48:31.435 (Zigate) receiveData - MsgType: 8102
2018-12-13 06:48:31.435 (Zigate) ZigateRead

[2018-12-13 07:29] pipiche38 commented on #288
Find here attached a patch which should make the trick.
Could you unzip it, install on Domoticz-Zigate folder and test. You don't need to redo the pairing/commissioning.
[z_readClusters.py.zip](https://github.com/sasu-drooz/Domoticz-Zigate/files/2674896/z_readClusters.py.zip)

Let me know the result and if that is positive, I'll release it in the next version

[2018-12-13 07:42] pipiche38 opened #289 "When received a Device Annoucement , put on hold non-critical activities"
When receiving a Device annoucement, Let's set a flag to suspend all none-critical activity and get the plugin focus on Commissioning work.

Suspend all recurring activities
- Read Attribute
- LQI report
- NetworkScan
..

[2018-12-13 08:12] Hydci commented on #288
J'ai supprimer le bouton pour tout recommencer et quand je mais votre patch et redémarre tout je synchronise mon bouton a la zigate et voila ensuite ça bloque et ne fait plus rien

2018-12-13 09:08:09.875 Status: (zigate) Permit Join is On
2018-12-13 09:08:34.752 (zigate) ZigateRead - MsgType 8048 - Reception Leave indication : 018048000a1800158d0001ef862a000003
2018-12-13 09:08:34.752 (zigate) Ca

[2018-12-13 09:28] pipiche38 commented on #288
It looks like the device was not fully remove, and especially not from the Plugin database. End result is a kind of inconsistency.

In order to come back to a clean situation
(1) Make sure that there is no device associated to '00158d0001ef862a'. You can cross-check that in Domoticz Device List and seach for this IEEE (Device MAc@). In case there is still some, just remove it.
(2) Stop Domoticz
(3

[2018-12-13 10:00] pipiche38 opened #290 "When Widget creation failed, the device remains in DeviceList"
When the device creation fail, the Device remains in the DeviceList and requires manualy edition to allow a new pairing

[2018-12-13 19:24] pipiche38 commented on #288
Modifications implemented and available on Release 4.0.3

[2018-12-13 21:35] Hydci commented on #288
Bonsoir,

D'accord merci pour l'ajout du correctif j'ai répondu sur le forum Français pour d'autre truc ;)

[2018-12-14 08:05] santricity opened #291 "Ikea Tradfri Motion Sensor detected as Voltage utility device."
The Ikea Tradfri Motion Sensor was detected as Voltage utility device. Attached Domoticz log (verbose logging enabled while generating some movement in front of the sensor) and DeviceList.txt file.

Domoticz version 4.9700
Plugin version 4.0.0, stable.

![image](https://user-images.githubusercontent.com/45700421/49990859-7560ae80-ff7f-11e8-9178-55ee772feb94.png)

[DeviceList-7.txt](https://github.

[2018-12-14 11:06] pipiche38 commented on #288
[z_domoticz.zip](https://github.com/sasu-drooz/Domoticz-Zigate/files/2679835/z_domoticz.zip)
[z_output.zip](https://github.com/sasu-drooz/Domoticz-Zigate/files/2679836/z_output.zip)

[2018-12-14 21:54] zaraki673 commented on #31
yes ;) (on two different sensor model)

[2018-12-15 00:35] zaraki673 commented on #31
ReadCluster - 0000/ff01 Saddr: 52ad Temperature : 651.3 :p

[TEMP-LOG.txt](https://github.com/sasu-drooz/Domoticz-Zigate/files/2682071/TEMP-LOG.txt)

[2018-12-15 00:42] zaraki673 commented on #276
reports should now be created in [Startup folder]/www/zigate/reports
folder is created by z_WebGui.py when GUI files are copied/updated

[2018-12-15 09:36] pipiche38 commented on #31
Thanks !

Frame: `018102002ccb6952ad010000ff010042001f0121630b0421a813052187030624010000000064296efe6521fc1f0a2100005403`

Decoding:
[code]

Then we identify the tag 0x64 with DataType 0x29: `6429 6efe`
Temperature value is : `6efe`

6efe is  as 0x29 ( # 16Bitint )

[2018-12-15 11:12] hkhk12 opened #292 "Domoticz crashes after invalid transport type error"
A few times per week domoticz crashes/stops.
I've been able to catch the log once and the last message in domoticz.log was:

_[1;31mError: (zigate) Invalid transport type for connecting specified: '61', valid types are TCP/IP and Serial.[0;0m_

other zigate errors in the log (about one day) are:

_(zigate) Out of sequence for Device: bf15 SQN move from 47 to 4e gap of : 7
(zigate) Out of sequenc

[2018-12-15 11:20] #288 closed, assigned to nobody

[2018-12-15 11:42] #291 closed, assigned to nobody

[2018-12-15 12:19] dpocock opened #293 ""Erase Persistent Data" setting is persistent"
**Describe the bug**
Should the "Erase Persistent Data" setting be a one-shot operation?  At the moment, if you set the option to True, shutdown, start up again the next day, it is still True.

**To Reproduce**
Steps to reproduce the behavior:
1. Set "Erase Persistent Data" to True
2. Click "Add"
3. Add some devices
4. stop domoticz, maybe shut down the host, come back later, etc
5. start the host

[2018-12-15 12:20] dpocock commented on #230
Here is a related idea:
https://github.com/Koenkk/zigbee2mqtt

[2018-12-15 12:20] pipiche38 commented on #293
You need to set manually back to False

[2018-12-15 12:25] dpocock commented on #293
I suspect a lot of users would not realize that

[2018-12-15 12:32] dpocock opened #294 "support for the 3A "Neu" smart plug/socket"
**Is your feature request related to a problem? Please describe.**
Tried to join the 3A smart socket, it doesn't appear in the list of devices.  Is some code change required to support this device?

**Describe the solution you'd like**
The socket should appear in the list of devices.

**Describe alternatives you've considered**
Other brands of smart socket

**Additional context**
https://www.amazo

[2018-12-15 12:39] dpocock opened #295 "wants to write to /usr (was: sensors joined but data never changes)"
**Describe the bug**
I joined 2 temperature sensors (Xiaomi) and 1 motion sensor (Osram Lightify).  In the devices tab, they appear in the list with the initial readings and the "Last Seen" column shows the time they joined.  The values and "Last Seen" times are not changing.

**To Reproduce**
Steps to reproduce the behavior:
1. Hardware tab: put the Zigate in permit join mode
2. put the device in

[2018-12-15 12:46] dpocock opened #296 "plugin doesn't display error in UI when permissions problem occurs accessing ttyUSB0"
**Describe the bug**
Domoticz running as Linux user 'domoticz'
The USB device /dev/ttyUSB0 can only be accessed by users in group 'dialout'
The domoticz user is not in the dialout group.
The permission denied error only appears in the log file and only if it is in debug mode.
It would be desirable to make errors like this more visible in the UI to help first time users start more quickly.

[2018-12-15 13:03] pipiche38 commented on #293
The main issue is that the setting is doing outside of the plugin : In Domoticz
and we don't have API to change it

[2018-12-15 13:05] pipiche38 commented on #296
Please report it to Domoticz, this is not a plugin issue

[2018-12-15 13:07] pipiche38 commented on #295
Please provide the Log file as we cannot really see what is going on. Reporting via the forum would a good start

[2018-12-15 13:09] pipiche38 commented on #294
Please:
Edit the file PluginConf.txt and set  'enablegroupmanagement':'1' (from 0 to 1)

Then try to pair this device,

Please provide the Logfile and check if there is any file produce on the Zdatas folder

[2018-12-15 13:33] pipiche38 commented on #292
As regards to the 1st topic, can you provide the domoticz log around this error message ?

On the 2nd topic SQN this just tell that  there is some in the Sequence number. No issue at that time. SQN needs to be reworked

[2018-12-15 13:38] pipiche38 commented on #187
@LouiS22 could you kindly confirm if this is work ?

[2018-12-15 13:39] hkhk12 commented on #292
Here it is.
Last 90 minutes before the crash.
[domoticz.txt](https://github.com/sasu-drooz/Domoticz-Zigate/files/2682655/domoticz.txt)

[2018-12-15 13:46] pipiche38 commented on #292
@hkhk12
could you kindly update the plugin to the latest Stable version 4.0.4
and then install the attached file in Domoticz-Zigate (it is not fixing anything, but it will print additional information when getting the invalid transport issue).

[z_Transport.py.zip](https://github.com/sasu-drooz/Domoticz-Zigate/files/2682657/z_Transport.py.zip)

[2018-12-15 13:55] zaraki673 commented on #293
Should be possible with a device for the ZIGATE, where a button is for
enter in join mode, another erase persistent data, and other if need

Le sam. 15 déc. 2018 à 14:03, Pipiche <notifications@github.com> a écrit :

[2018-12-15 13:58] hkhk12 commented on #292
Did that but shows version 4.0.3 instead of 4.0.4 when the plugin is started.

[2018-12-15 13:59] hkhk12 commented on #292
Please ignore.

_Initialized version 4.0.3, author 'zaraki673 pipiche38'
Status: (zigate) onStart called - Zigate plugin V 4.0.4_

[2018-12-15 14:00] pipiche38 commented on #292
No issue, in order to for domoticz to take in consideration update a restart of domoticz is required. If you simply disable/enable the plugin you don't reload the full plugin and you get such discrapency

[2018-12-15 14:01] LouiS22 commented on #187
Looks fine!

[2018-12-15 14:02] pipiche38 commented on #187
Thanks we close the issue

[2018-12-15 14:02] #187 closed

[2018-12-15 14:05] pipiche38 opened #297 "How to handle IAS Zone and report status changes"
When you have an IAS device register to a ZoneID, when there is a change you get 0x8401 message with the changes in the MsgZoneStatus

How do we report and manage IAS Zone ?

For instance if you have Door Sensor which is also providing IAS Zone support, you will most-likely get a 0x0006 cluster which is going to tell you if the door is open or not, but you can get additional information through th

[2018-12-15 14:36] zaraki673 commented on #295
and can you explain how you put your device in discovery mode ? (for the xiaomi temp sensor for example)

[2018-12-15 17:56] pipiche38 commented on #293
Indee, might be a better solution to remove this option from the Plugin Option and get a special widget created at Plugin start in Domoticz, where you could have :
- Erase PDM
- Reset
- Network Scan
- LQI report

[2018-12-16 09:55] dpocock commented on #269
I ordered a Hue remote, it arrived and it resets the bulbs, thanks for that feedback.

[2018-12-16 10:00] dpocock commented on #296
could you be more specific?  For example, do the Domoticz developers provide an API method for plugins to display errors or is that a missing feature in their API?

[2018-12-16 10:01] dpocock commented on #294
Yesterday, I tried adding the setting enablegroupmanagement and then tried pairing again and it still didn't work.  I tried it a few times.

Today, I deleted the Zigate from the hardware page and told it to clear persistent data and then I started again with the logging enabled.  However, this time it paired successfully on the first attempt and I was able to turn the socket and off using the web

[2018-12-16 10:01] dpocock commented on #295
for the Xiaomi temp sensor, I hold down the button until the blue light flashes three times and then I press the button again a few times until it flashes again.

[2018-12-16 10:08] dpocock commented on #295
I erased persistent data and deleted the Zigate from the hardware tab so that I would start again fresh and capture the logs from the beginning.

After joining the Xiaomi temp sensor, it was working for about 15 minutes.  Then I restarted the domoticz process and the values didn't update any more.

Is there anything in particular to search for in the logs or do I need to post the whole log file?

[2018-12-16 10:19] pipiche38 commented on #295
Please provide logs, we cannot analyse anything without it.
Then when you do such Erase, did you also remove the DeviceList-xx which is the Plugin database ?

Again, this is not the best place , please use the forum where the community will benefits from that and where you can also get support.

[2018-12-16 10:21] pipiche38 commented on #294
Sorry I gave you the wrong parameter, the correct one is 👍

'allowStoreDiscoveryFrames':'1',

Then without Logs we cannot help you

[2018-12-16 10:22] pipiche38 commented on #296
Domoticz API ( especially the Python Plugin Framework provides the API to get access to USB, Serial Line, TCP/IP connections).

Use the domoticz forum Python group for that

[2018-12-16 10:41] dpocock commented on #295
I posted it in the forum:
https://www.domoticz.com/forum/viewtopic.php?f=68&t=26121

I attached the logs but can't see them in the post

[2018-12-16 11:21] pipiche38 opened #298 "Missing 0x0004 cluster definition in DeviceConf"
For some of the certified devices in DeviceConf, there is a missing cluster 0x0004
This will have a big impact for Group Management

Case for lumi.plug

[2018-12-16 14:42] dpocock commented on #294
Given that it was able to join today, is it still useful to try that setting?

Now that it has joined with Zigate, the problem is that it doesn't allow me to control the socket after restarting the domoticz process.

[2018-12-16 14:44] dpocock commented on #295
It appears difficult putting attachments in the forum, so here are the logs:

[domoticz.log](https://github.com/sasu-drooz/Domoticz-Zigate/files/2683633/domoticz.log)
[domoticz-stdout-stderr.log](https://github.com/sasu-drooz/Domoticz-Zigate/files/2683634/domoticz-stdout-stderr.log)

[2018-12-16 16:55] dpocock commented on #295
It turns out this was quite a useful clue, it occurred to me some time after seeing this question that maybe the plugin is trying to write a file somewhere that it can't.

I'm currently testing the [Debian packages of Domoticz](https://bugs.debian.org/899058) and preparing to make an official package of the Zigate plugin to go with that.  So my environment is like this:

- all files under ```/usr/

[2018-12-16 16:58] dpocock commented on #294
looks like this was the same as issue #295 so closing as a duplicate

[2018-12-16 16:58] #294 closed, assigned to nobody

[2018-12-16 17:39] pipiche38 commented on #295
@dpocock Daniel, I don't know if you had a look to the Wiki, but there are some information available there.

I understand a bit better what you try to do , and I appreciate your effort to make a package of it.

The plugin has to manage its own database as Domoticz doesn't allow to do so via the Python Plugin Framework.
- DeviceList-xx.txt is the plugin DB , where xx stands for the HardwareID of t

[2018-12-16 17:41] pipiche38 opened #299 "Make the plugin packageable and get the proper Directory Tree"
In order to get the plugin in a Debian, Fedora or whaterver distribution packaged, it is important to review the directory structure.

#295

[2018-12-16 17:47] dpocock commented on #295
This is actually not as hard as it may appear, I've worked on many packages with similar issues.  Package maintainers can do small workarounds with symlinks.

If the whole directory needs to be writeable then it is difficult but if all the writeable files are in a subdirectory then it is very easy.  Can you just change the code to look for ```Zdatas/DeviceList-xx.txt``` instead of ```DeviceList-xx

[2018-12-16 17:57] pipiche38 commented on #295
`if the whole directory needs to be writeable then it is difficult but if all the writeable files are in a subdirectory then it is very easy. Can you just change the code to look for Zdatas/DeviceList-xx.txt instead of DeviceList-xx.txt ?`
I need to think , as current installation must continue to work.

`For files that the user needs to modify, my package will install them in /etc/domoticz/plugin

[2018-12-16 19:13] dpocock opened #300 "errors in logs"
**Describe the bug**
I noticed these errors in the logs, I'm running the beta-3.3 branch, should I try another branch or is there a configuration issue?

(zigate) Pushing 'onHeartbeatCallback' on to queue
(zigate) Processing 'onHeartbeatCallback' message
(zigate) Calling message handler 'onHeartbeat'.
Error: (zigate) 'onHeartb#033[1;31meat' failed 'AttributeError':''NoneType' object has no attribu

[2018-12-16 19:30] pipiche38 commented on #300
Yes, please beta-3.3 is obsolete, please use ’stable'

[2018-12-16 19:47] pipiche38 commented on #299
Here after is what could the Directory tree looks like

Domoticz-Zigate
     - config/PluginConf.txt
     - config/DeviceConf.txt
     - data/DeviceList-xx.txt
     - data/DiscoveryDevice-xxxx.txt
     - reports/LQI-reports-xx.txt
     - reports/Network_scan-xx.txt

Using of configparser module. To validate if this comply with Domoticz python Framework and Windows environment.

[DEFAULT]
pluginHom

[2018-12-16 19:48] pipiche38 commented on #298
5af70baaed6003c8804906c31b63b3125679199a

[2018-12-16 19:48] #298 closed, assigned to nobody

[2018-12-16 21:36] dpocock commented on #300
thanks, I checked out stable and did a git pull to make sure I have the latest code, restarted domoticz.  I see the same errors in the log, same line numbers.

[2018-12-17 07:40] pipiche38 commented on #300
Could you please do the following:

(1) Stop Domoticz
(2) go to Domoticz-Zigate
(3) rm __pycache__/*         // Removing Python cache
(4) Start Domoticz

[2018-12-17 07:56] dpocock commented on #300
on my system it is ```__pycache__/*```

I followed those steps, checked the logs again and I still see the same errors.

[code]

[2018-12-17 08:28] pipiche38 commented on #300
check the logs from the time you have started the plugin. This error is a consequence of some faulty initialisatoin ( may be no connection )

[2018-12-17 11:30] dpocock commented on #300
Here it is

[code]

Commenting out z_database.py line 39 eliminates the error and now the plugin works again.

I put a ```try``` statement there and logged this extra detail:

[code]

I notice that several of these files were created yesterday but now it won't create them any more.  The filesystem is not mounted read-only.  If I use ```su -s /bin/bash domoticz``` then I can ```touch``` the file, s

[2018-12-17 11:37] dpocock commented on #300
The issue is caused by the service file:

https://gitlab.com/dpocock/domoticz-debian-raspbian/blob/debian/backports/stretch/debian/domoticz.service

It worked yesterday because I was running the process from the command line.  When I start it with systemctl then it isn't allowed to write there.  As a workaround, I can comment those lines until it is possible to put these files in ```/var```.  I'm

[2018-12-17 16:03] pipiche38 commented on #290
89053d18d71b5a84ab3585d534e0c5eb83a6b1fb implement a failure management.
If the Device creation failed, the current device will be flag as failed and will be remove during the next Hearbeat

[2018-12-17 16:03] #290 closed, assigned to pipiche38

[2018-12-18 14:17] pipiche38 commented on #300
Will be address in #299 for the next release

[2018-12-18 14:19] pipiche38 commented on #296
@dpocock I'm going to close this case as it is a pure Domoticz one.

The Zigate Plugin use the Python Plugin Framework to open outside connection as Serial or TCP/IP.

[2018-12-18 14:19] #296 closed, assigned to nobody

[2018-12-18 14:21] #258 closed

[2018-12-18 14:22] pipiche38 commented on #180
Closing that one.

[2018-12-18 14:22] #180 closed

[2018-12-18 14:22] #277 closed, assigned to pipiche38

[2018-12-18 14:24] pipiche38 commented on #276
#299

[2018-12-19 15:23] pipiche38 commented on #285
Started: d1a9c50c38abfccac4357068aedc7e7ccfb76436

[2018-12-20 12:48] pipiche38 commented on #299
https://github.com/sasu-drooz/Domoticz-Zigate/wiki/PluginConf

[2018-12-20 12:49] pipiche38 commented on #300
As part of #299 implementation
https://github.com/sasu-drooz/Domoticz-Zigate/wiki/PluginConf

[2018-12-20 12:50] pipiche38 commented on #295
Implementation part of #299
https://github.com/sasu-drooz/Domoticz-Zigate/wiki/PluginConf

[2018-12-20 12:55] pipiche38 commented on #276
https://github.com/sasu-drooz/Domoticz-Zigate/wiki/PluginConf

[2018-12-20 13:00] pipiche38 commented on #276
Here after are the default directories based on pluginHome which is given by the Plugin Framework

[code]

[2018-12-20 13:39] pipiche38 opened #301 "When Model Name is not found , plugin created some no-sense widgets"
In case the Model name is not find during the discovery process, the system might created some widget which doeesn't sound realist.

That is for instance the case for the Xiaomi specifc cluster like
0x000c and 0x0012.

So it might be better that the widget creation doesn't react on those clusters

[2018-12-20 21:02] hkhk12 commented on #292
Had domoticz crash again today after it had been running fine for 5 days.
Did set join to 255 earlier this week (was set top 0 before) . Could this be related?

attached the log.

[domoticz.txt](https://github.com/sasu-drooz/Domoticz-Zigate/files/2700500/domoticz.txt)

[2018-12-21 07:34] pipiche38 commented on #292
It looks like indeed the Connection was totally crap, something like some parameters have been overwritten !!!!

I For me there are 2 issues:
	- Root cause is a loss of the communication. This  needs to be investigated . If that is a USB Zigate. Is the Zigate connected directly to the UBS port, or do you go via USB hub or something like that ? If that is Wifi, It would be interesting to know why s

[2018-12-21 08:48] Dams-38 opened #302 "Domoticz crash with Zigate plugin restarting with DeviceList non empty"
Hello,

As soon as my Zigate plugin restart it crashes with this log

2018-12-21 09:40:12.484  Status: (Zig) load PluginConf
2018-12-21 09:40:12.487  (Zig) PluginConf.txt = {'channel':'0','allowRemoveZigateDevice':'0','allowStoreDiscoveryFrames':'0','logFORMAT':       '0'}
2018-12-21 09:40:12.490  Status: (Zig) ZigateMode: ZigBee sendDelay: 0 reTransmit: 1 zTimeOut: 2
2018-12-21 09:40:12.491  Stat

[2018-12-21 09:13] pipiche38 commented on #302
Please could you post this issue on the Domoticz Forum ?
If you are using USB Zigate, make sure that the Zigate is not behind a HUb.

[2018-12-21 09:13] Dams-38 commented on #302
Ok sorry for bad place posting

[2018-12-21 09:31] pipiche38 commented on #299
@dpocock if you want to try this is on the dev-grpmgt branche

[2018-12-21 09:31] pipiche38 commented on #300
@dpocock if you want to try this is on the dev-grpmgt branche

[2018-12-21 09:34] #302 closed, assigned to nobody

[2018-12-21 20:10] hkhk12 commented on #292
Hi Patrick,

The zigate is WiFi connected.
It's not the join setting since it happened again this afternoon while join was set to 0.
Did notice yesterday that 1 Ikea would not let itself being controlled. I reset the led by switching on/off 6 times but since it was on the same switch as another one, both where reset. After that they had switched place in Domoticz and the other one wold not let its

[2018-12-22 09:35] pipiche38 opened #303 "Implement a hearbeat to insure the communication with Zigate"
Implement a Ping to Zigate in order to check the communication is still on.

[2018-12-22 16:16] pipiche38 commented on #292
Indeed it looks like I have missed the attachment (in fact I suspect the mail gateway had filtered out)

[z_Transport.py.zip](https://github.com/sasu-drooz/Domoticz-Zigate/files/2705357/z_Transport.py.zip)

[2018-12-22 18:22] pipiche38 commented on #301
16d45f121d21666c8ac91244c75279140631e3bc

[2018-12-22 18:25] pipiche38 commented on #297
Implemented in dev

Decoding of IAS ZoneStatusChange and keeping the information in ListOfDevices

[2018-12-22 18:25] #297 closed, assigned to nobody

[2018-12-22 18:25] #289 closed, assigned to pipiche38

[2018-12-22 18:25] #285 closed, assigned to pipiche38

[2018-12-22 18:25] #283 closed, assigned to pipiche38

[2018-12-22 21:33] pipiche38 commented on #303
498ceac

[2018-12-22 21:33] #303 closed, assigned to pipiche38

[2018-12-22 21:33] pipiche38 commented on #292
498ceac

[2018-12-23 00:00] vsaugey opened #304 "domoticz crash after around 20H"
Hello,

 The zigate plugin crash domoticz after around 20H.
Information on the version :
2018-12-20 22:41:03.866  Status: Domoticz V4.9700 (c)2012-2018 GizMoCuz
2018-12-20 22:41:03.866  Status: Build Hash: a3a4590-modified, Date: 2018-06-23 16:24:51
...
2018-12-20 22:41:04.221  Status: PluginSystem: Started, Python version '3.5.1'.
...
2018-12-20 22:41:12.027  Status: (Zigate) Initialized version

[2018-12-23 09:16] pipiche38 commented on #304
Would be interesting to have more log from the stop time. Was Domoticz stoping as well ?

Envoyé de mon iPhone

[2018-12-23 14:39] vsaugey commented on #304
Hello,

Thank you for your reply.
Yesterday, I restart my domoticz without backup my log file, sorry.
By experience, it should crash soon (probably during on the evening).

When the error happens, everything crash, domoticz instance is stopped.
Before, I have activated the zigate product, I seem not had this kind of behavior.

With the default value in "verbose and debuging" set to "none", I see n

[2018-12-23 15:04] pipiche38 commented on #304
Vincent,

Debug mode set to None, should give you the minimum which is in most cases sufficient.
Is the Zigate connected directly to a USB port of the system, or are you going via an USB HUB ?

In your case, it seems that there is a Domoticz crash and we should also get some stack traces.

Keep me posted. I'm also reachable on Keybase.io see my username on guthub. It will be more convenient to cha

[2018-12-25 17:28] #301 closed, assigned to pipiche38

[2018-12-29 18:47] pipiche38 opened #305 "ResetDevice feeding logs with "Error: (Zigate-DEV) ResetDevice 243f not found in {'d2ee': {'Version': '3'"
Error: (Zigate-DEV) ResetDevice 243f not found in {'d2ee': {'Version': '3' ....

Looks like an inconsistency was created with a IEEE pointing to a non existing NWKID !

[2018-12-29 18:48] pipiche38 commented on #300
Let's track that with #299

[2018-12-29 18:48] #300 closed, assigned to nobody

[2018-12-29 18:48] pipiche38 commented on #299
Feel free to check with the latest dev-grpmgt branch

[2018-12-29 18:50] pipiche38 commented on #295
Link to #299. If not please feel free to re-open

[2018-12-29 18:50] #295 closed, assigned to nobody

[2018-12-29 18:52] pipiche38 commented on #264
@deenno would you mind posting a picture of this swicth ?
Do I understand that the state of this remote is visible in Domoticz as a switch ?

[2018-12-29 18:55] pipiche38 commented on #305
Most-likely at the time of a NetworkID change something went wrong.

[2018-12-30 14:13] sonics007 opened #306 "problem with adding new device"
linux xubuntu 18.04, zigate  no wifi
i istalled domoticz and zigate plugin.try to add xiaomi door senzor.pressed button for few secs. and then this

2018-12-30 15:12:34.093 Sunrise: 07:30:00 SunSet: 15:53:00
2018-12-30 15:12:34.093 Day length: 08:23:00 Sun at south: 11:05:00
2018-12-30 15:12:34.093 Civil twilight start: 06:54:00 Civil twilight end: 16:30:00
2018-12-30 15:12:34.093 Nautical twiligh

[2018-12-30 16:48] pipiche38 commented on #306
Very hard to understand what the problem is.

What is the plugin version?
What exactly are the steps you are doing ?
Did you set the Permit to join ?

Last , thanks to use the forum instead of reporting an issue

Envoyé de mon iPhone

[2018-12-30 17:44] sonics007 commented on #306
ok write it at forum pls check it there
https://www.domoticz.com/forum/viewtopic.php?f=68&t=26304
thx

[2018-12-30 17:44] #306 closed, assigned to nobody

[2018-12-31 05:41] KingKrush67 opened #307 "Xiaomi vibration device - Doesn't switch to Off after a Vibration event"
**Describe the bug**
The aqara 'vibration' device type can't be modified to 'Off' manually.

2018-12-31 06:31:55.673 (Zigate) mgtCommand : found Device : 42 in Ep 01 Vibration
2018-12-31 06:31:55.673 (Zigate) mgtCommand - List of TypeName : ['Vibration']
2018-12-31 06:31:55.673 (Zigate) mgtCommand - Look you are trying to action a non commandable device Device Lave linge has available Type ['Vibra

[2018-12-31 05:46] KingKrush67 commented on #307
The vibration device seems to work in a strange way.

After a 'Tilt', the state changes to 'Tilt' then 'Off'.
After a 'Free Fall', the state changes to 'Free Fall' then 'Off'.

But after a 'Vibrate', the state changes to  'Vibrate', but then never changes back to 'Off' !

I don't know if it helps, maybe it's just not possible to modify this behaviour...

[2018-12-31 08:08] pipiche38 commented on #307
What branch version ?
Could you provide the associated log ?

The switch can only be updated by the connected object.

Envoyé de mon iPhone

[2018-12-31 09:47] KingKrush67 commented on #307
Branch : dev-grpmgt

Log :
2018-12-31 10:46:08.649 (Zigate) DeviceExist - Found in ListOfDevices with status = inDB
2018-12-31 10:46:08.649 (Zigate) Decode8102 : Attribute Report from 3466 SQN = 8e ClusterID = 0101 AttrID = 0055 Attribute Data = 0001
2018-12-31 10:46:08.649 (Zigate) Device : 3466 MacCapa : 80 updating SQN to 8e
2018-12-31 10:46:08.649 (Zigate) updSQN - Device : 3466 updating SQN t

[2019-01-01 10:37] pipiche38 commented on #307
So the issue is related to the fact that we are not receiving the 'Liberation Mode' , which seems to happen after Tilt and Free-Fall!

https://faire-ca-soi-meme.fr/domotique/2018/09/03/test-xiaomi-aqara-vibration-sensor/#Les_clusters

If someone has a Xiaomi Gateway it would be great to get the behaviour on that, to understand if this is an automatic event , or if the system would expect a kind of

[2019-01-01 13:09] LouiS22 commented on #307
Unfortunately I don't have a Gateway :(

[2019-01-01 13:36] KingKrush67 commented on #307
Same here, no gateway...

[2019-01-04 06:48] 0rsa opened #308 "Reliability?"
I'm disappointed by reliability of the plugin for now.
I started using it for 2 months and I lost devices communication updating from 3.x to 4.x
I did a new configuration and after a few weeks, my domoticz crashed.
I restarted it and I lost again devices communication (Xiaomi Smart Door And Window Sensor).
I deleted my existing devices to do again a new configuration and I'm just not able now to l

[2019-01-04 08:30] pipiche38 commented on #308
What firmware version are you using ? They are issues with 3.0e

Please get in touch with Zigate supplier as your problem is on that area.

Envoyé de mon iPhone

[2019-01-04 08:35] pipiche38 commented on #308
Please check the following issues : (which I think are matching your issue)
https://github.com/fairecasoimeme/ZiGate/issues/91
https://github.com/fairecasoimeme/ZiGate/issues/89

[2019-01-04 12:20] 0rsa commented on #308
I have the original firmware, I'll check this evening to update and I will let you know if it works better.
Thank you very much.

[2019-01-04 12:23] pipiche38 commented on #308
In the logs you should see the firmware version when starting the plugin

Envoyé de mon iPhone

[2019-01-04 12:27] 0rsa commented on #308
This: 2019-01-04 13:26:44.118 Status: (Zigate) Installer Version Number: 030d ?

[2019-01-04 12:48] pipiche38 commented on #308
As regards to your last problem could you please provide the Log.
Make sure that you are on the latest stable branche N

[2019-01-04 13:03] 0rsa commented on #308
Je vois qu'on est entre français alors je vais me permettre de switch sur la langue de Molière, ça sera sans doute plus simple pour se comprendre.
Du coup, j'ai parcouru les threads en rapport, ça n'est pas pour me rassurer sur la fiabilité de l'ensemble mais je comprends, étant moi-même dev dans un autre domaine d'activité, et je suis prêt à essayer d'apporter le max d'infos afin d'aider à la rés

[2019-01-04 14:14] pipiche38 commented on #308
Peux-tu me contacter sur Keybase.io ou le forum Francais (https://easydomoticz.com/forum/viewforum.php?f=28) . Ceci afin d'eviter autre chose que de l'anglais sur Github.

Merci

[2019-01-05 20:16] pipiche38 commented on #308
You mentioned in your last message you cannot pair any device anymore.
- If I understood you have remove or clean the database.
- if you don't have any device in Domoticz, could you check that you have also clean the Zigate plugin Database . Is the file DeviceList-xx.txt is empty ?
- Then  if you can provide the domoticz.log file , we could then investigate what is going on and wrong.

Last, pleas

[2019-01-06 14:49] pipiche38 commented on #304
Any update ?

[2019-01-06 14:49] pipiche38 commented on #299
Available now on the beta-branch.
Closing this issue

[2019-01-06 14:50] pipiche38 commented on #292
Any update ?

[2019-01-06 14:50] pipiche38 commented on #276
available on the beta branch.
Closing

[2019-01-06 14:50] #276 closed, assigned to pipiche38

[2019-01-06 14:51] pipiche38 commented on #230
I do not see that rational here ! This is an other plugin based on an other ZigBee Hardware.

[2019-01-06 14:52] pipiche38 commented on #199
Available now on beta branch.
Closing

[2019-01-06 14:52] #199 closed

[2019-01-06 14:53] pipiche38 commented on #158
Linked to Zigate implementation.
I'm closing for now.

[2019-01-06 14:53] #158 closed

[2019-01-06 14:53] pipiche38 commented on #31
Fixed on 4.0.5 version

[2019-01-06 14:53] #31 closed

[2019-01-08 18:29] blooesky opened #313 "IKEA Tradfri remote (E1524) not pairing"
Hi,

I tried to pair IKEA Tradfri remote (E1524) with Zigate and show me:

 2019-01-08 20:11:37.245 Status: (Zigate) [0] NEW OBJECT: 4975 Device Annouce
2019-01-08 20:11:41.509 Status: (Zigate) [0] NEW OBJECT: 4975 Device Annouce
2019-01-08 20:11:48.357 Status: (Zigate) [0] NEW OBJECT: 4975 Device Annouce
2019-01-08 20:11:52.534 Status: (Zigate) [0] NEW OBJECT: 4975 Device Annouce
2019-01-08 20:11

[2019-01-08 18:50] pipiche38 commented on #313
Please could you use the forum and provides plugin version.

Envoyé de mon iPhone

[2019-01-08 19:34] pipiche38 commented on #313
Thanks using one of those forum to describe your problem and get support from the community and/or the developers.

    English channel : https://www.domoticz.com/forum/viewforum.php?f=68
    French Channel : https://easydomoticz.com/forum/viewforum.php?f=28&sid=a8633a9d8cb2acccb32872543b50fd47

[2019-01-11 18:23] blooesky opened #315 "Aqara vibration sensor error"
Hi,

I tried to pairing Aqara vibration sensor and i have this message in domoticz log:

2019-01-11 20:01:13.149 Status: (Zigate) [-] NEW OBJECT: 8e35 Simple Descriptor EP 01
2019-01-11 20:01:13.150 Status: (Zigate) [-] NEW OBJECT: 8e35 ProfileID 0104
2019-01-11 20:01:13.150 Status: (Zigate) [-] NEW OBJECT: 8e35 ZDeviceID 000a
2019-01-11 20:01:13.151 Status: (Zigate) [-] NEW OBJECT: 8e35 Cluster I

[2019-01-11 18:57] pipiche38 commented on #315
Hello,

Could you please use the forum for those matters.
English channel : https://www.domoticz.com/forum/viewforum.php?f=68 <https://www.domoticz.com/forum/viewforum.php?f=68>
French Channel : https://easydomoticz.com/forum/viewforum.php?f=28&sid=a8633a9d8cb2acccb32872543b50fd47 <https://easydomoticz.com/forum/viewforum.php?f=28&sid=a8633a9d8cb2acccb32872543b50fd47>

Please mention also the Plug

[2019-01-11 20:53] pipiche38 opened #316 "When there is a syntax error in PluginConf it crash and empty the DeviceList"
I suggest to use a more standard way for configuring

configparser would be a good alternative.
This is base on ini config file

[2019-01-12 13:51] deennoo opened #318 "Showing Device Zigbee Name instead of IEEE"
Actually when adding a new device to Zigate Plugin, on device Name Domoticz is Showing IEEE.

Looking at the log, Plugin is now able to get Device Zigbee name :  TRADFRI bulb E27 WS opal 980lm

This can be more user friendly

[2019-01-13 20:53] pipiche38 commented on #318
This could be indeed a good thing. However if you are in situation where you start adding several Bulb you won't see any differences.

In case we won't have the Name, IEEE/EP remain the best

Last I feel that EP is still important in the context where you have widgets on differents EP

[2019-01-14 13:44] pipiche38 commented on #315
Close. Use of Forum channels for such question

[2019-01-14 13:44] #315 closed, assigned to nobody

[2019-01-14 13:44] pipiche38 commented on #313
Close. Use of Forum channel for those matters

[2019-01-14 13:44] #313 closed, assigned to nobody

[2019-01-14 13:45] pipiche38 commented on #308
Close. Use the forum channels for those matters.

[2019-01-14 13:45] #308 closed, assigned to nobody

[2019-01-14 13:46] pipiche38 commented on #304
Close. Please use the Forum channels next time

    English channel : https://www.domoticz.com/forum/viewforum.php?f=68
    French Channel : https://easydomoticz.com/forum/viewforum.php?f=28&sid=a8633a9d8cb2acccb32872543b50fd47

[2019-01-14 13:46] #304 closed, assigned to nobody

[2019-01-14 13:49] pipiche38 commented on #292
As per the various log file, it looks as a Connection Stop comming from Domoticz

[2019-01-14 13:50] pipiche38 commented on #316
Duplicate #267

[2019-01-14 13:50] #316 closed, assigned to pipiche38

[2019-01-14 13:51] pipiche38 commented on #177
I suggest that we close that issue. If it pop-up again, please re-open

[2019-01-14 13:51] #177 closed

[2019-01-14 13:51] #148 closed

[2019-01-14 13:52] pipiche38 commented on #141
On-going activities... Will be more pragmatic and implement as we need

[2019-01-14 13:52] #141 closed

[2019-01-14 13:53] #175 closed

[2019-01-14 13:53] pipiche38 commented on #305
Re-open if we reproduce it

[2019-01-14 13:53] #305 closed, assigned to pipiche38

[2019-01-14 13:54] pipiche38 commented on #292
Suggest to close this issue, until we find the root cause why Domoticz is shutting down the connection

[2019-01-14 13:54] #292 closed, assigned to nobody

[2019-01-14 16:59] pipiche38 opened #321 "Manage Eurotronics Radiator Valve"

[2019-01-14 18:50] pipiche38 opened #322 "Xiaomi Smart plug do not report cummulative Power"
The Xiaomi Smart Plug get only Instant Power and not the Cummulative!

[2019-01-14 19:05] #322 closed, assigned to nobody

[2019-01-14 20:39] Cortexlegeni opened #323 "Osram Led strip reset failed"
Hello,
I recently baught 3 Lightify Osram strip from Amazon, and they are very well recognised in Domoticz, thanks. I had to update the firmware and plugins from older version to version 4 so I did a full reset of the device list.
I managed to reset my light strip pluging and unpluging five time and then having it recognised again.
But since then, sometime, It turns itself on without me doing anyt

[2019-01-14 21:14] pipiche38 commented on #323
Looks like you are using the Beta branch.

I don't really see the Plugin switching on the device without any action .

From the log given the Led corresponding device has been updated to On and 100% at 21:27 on Domoticz widget.

What could happen is that the Led is reacting to queries ( Read Attributes / Configure Reporting )coming from the Plugin -> Zigate

[2019-01-14 22:32] Cortexlegeni commented on #323
Hello again, Yes, I'm on the beta branch, I can switch to the master branch if needed.
the thing is that I'm doing nothing in from domoticz, but I have a block script with this device in, I'm gonna try to remove it and see for the night.

[2019-01-14 22:37] Cortexlegeni commented on #323
And I'm asking myself what are these lines for :

2019-01-14 23:28:33.508 Status: (Zigate) [0] NEW OBJECT: 1502 Device Annouce IEEE: 7cb03eaa00a99fd7
2019-01-14 23:28:35.115 Status: (Zigate) [0] NEW OBJECT: 1502 Device Annouce IEEE: 7cb03eaa00a99fd7
2019-01-14 23:28:36.686 Status: (Zigate) [0] NEW OBJECT: 1502 Device Annouce IEEE: 7cb03eaa00a99fd7

[2019-01-15 05:03] Cortexlegeni commented on #323
I left it without scene for the night and it's on this morning, here is the log:

2019-01-14 21:54:56.989 Status: (Zigate) [0] NEW OBJECT: ccd5 Device Annouce IEEE: 00158d0002272f3d
2019-01-14 21:55:30.467 Status: (Zigate) Temp_Leandre - Last Update from Battery device was: 2019-01-13 21:56:33 --> 00:58:57 ago (More than 2 hours) 86337
2019-01-14 22:25:30.901 Status: (Zigate) Decode8009 : Zigate a

[2019-01-15 07:19] pipiche38 commented on #323
As regards to that, it looks like you have a device 7cb03eaa00a99fd7 which is making device announcement to ( LIGHTIFY Outdoor Flex RGBW ) . Usually  it is what happen when doing a Reset or a Main power off/on.

Here attached is a patch which do not proceed with ConfigureReporting.
You need to unzip and the replace the existing one by that one.

this file is located under Domoticz-Zigate/Modules (

[2019-01-15 08:37] Cortexlegeni commented on #323
I'm at work and will do it this evening, expect new at about 9PM (France time)

[2019-01-15 09:24] pipiche38 commented on #323
If you want you can reach me on keybase.io (@pipiche)

[2019-01-16 07:55] Cortexlegeni commented on #323
File modified at 22h00 and no problem for the moment.

[2019-01-16 09:26] pipiche38 commented on #323
Sound good. At least seems that we have narrowed the problem.

Will provide you a new patch to duplicate the problem then. How comfortable are you with python and editing files ?

[2019-01-16 09:32] Cortexlegeni commented on #323
No problem for editing files or anything, I'm a computer science teacher so I think I will manage.
I just don't have much time with 3 kids else I would very gladly help you on the project.
But if you need anything, ask, I'll do as much as I can.

[2019-01-16 14:07] pipiche38 commented on #323
@Cortexlegeni , While looking after this area, I found some potential issues.
Don't know if they could be the root cause of your problem (as it looks like no-body complains), but the code I pushed on beta is including some update+enhancement.

So if you can 'git pull' and of course overwrite the z_heartbeat.py patched version it would be great

[2019-01-16 18:59] Cortexlegeni commented on #323
problem seems to still be there :

2019-01-16 19:50:11.107 Status: (Zigate) Entries loaded from /home/pi/domoticz/plugins/Domoticz-Zigate/./DeviceList-4.txt : 6
2019-01-16 19:50:11.125 Status: (Zigate) Check for Web update finished!
2019-01-16 19:50:11.125 Status: (Zigate) Connection Name: Zigate, Transport: Serial, Address: /dev/serial/by-id/usb-Prolific_Technology_Inc._USB-Serial_Controller-if00

[2019-01-16 19:15] pipiche38 commented on #323
Here after is the interesting part and which confirm the suspicion.

So it is either the Bind or the ConfigureReporting which is creating the issue. And it looks like it is making the Led to 'reboot/reset' as it create a Device Annouce

[code]

[2019-01-16 19:15] blooesky opened #325 "Wrong Energy counter on Xiaomi smart sockets in Domoticz Utility"
I tested today Energy counter from my Xiaomi smart sockets...and i saw the counter is not correct in Utility page...but in Utility device **log** is correct energy counter. Please check!
![domoticz2](https://user-images.githubusercontent.com/7414312/51272631-45b82280-19d3-11e9-8a56-8a5db67bd6ad.jpg)

**Plugin (please complete the following information):**
 - Raspberry Pi with Raspbian
 - Domoticz-

[2019-01-16 20:08] pipiche38 commented on #325
As you wrote the data are correct in the DEVICE Log which means that the information send from the plugin to Domoticz are correct.

I'm having similar behaviour with a Salus Plug

Will see how to report that issue to Domoticz

[2019-01-16 20:46] pipiche38 commented on #307
4b11d299e2e35a72cb90dadcf74264c8455d4643
Fix on Beta version for now

[2019-01-17 04:47] deennoo commented on #307
Ok,

This fix works for me

[2019-01-17 07:53] dpocock commented on #230
Being more specific: imagine a zigate2mqtt plugin, so that any application can access the Zigate through MQTT, without Domoticz

[code]

This would be useful for people making bespoke applications.  It would also be a useful way to test the Zigate Python code without running Domoticz.

[2019-01-17 07:57] dpocock commented on #299
I can probably test this in the next few days, should I just checkout from beta?  Is there anything else I need to be aware of when testing?

I also made a note in the forum about another problem, not receiving values from an Osram Lightify/Smart+ Motion sensor, could you please give me feedback there?  I would like to test that at the same time.
https://www.domoticz.com/forum/viewtopic.php?f=68&t

[2019-01-17 11:06] pipiche38 commented on #299
Daniel,

Beta is the best place .

Here after is the default setup:
        self.homedirectory is the Plugin Home directory

        pluginData = self.pluginHome + './'                                         RW
        pluginZData = self.pluginHome + './Zdatas/'                            RW
        pluginConfig = self.pluginHome + './'                                      RO
        pluginWWW =

[2019-01-17 13:21] pipiche38 commented on #323
There are 2 possibilties:
(1) the cluster binding is creating an issue
(2) the configureReporting is creating an issue (and could be related to the fact that we might query some non-existing attributes)

as this should be an iterative work, if you can help this would be really covenient.

If you have the possibility to debug it would be really helpful. Here are some indications

Assuming you are o

[2019-01-17 13:56] pipiche38 opened #326 "re-factor the Creation of Light widget"
In order to provide a best Light widget on Domoticz, the widget creation must be based on :

- Today it is only based one cluster
- ProfileID/ZDeviceID
- Cluster 0300 Attribute

[2019-01-17 14:45] pipiche38 commented on #321
Implementation of cluster 0x0101

[2019-01-17 18:59] pipiche38 commented on #325
@blooesky , could you kindly do a git pull from Beta branch and check ?

[2019-01-18 22:32] pipiche38 commented on #321
1454fc073b086c08af423902643e6503a288bf47

[2019-01-18 22:32] #321 closed, assigned to nobody

[2019-01-19 08:51] pipiche38 commented on #321
https://github.com/sasu-drooz/Domoticz-Zigate/wiki/Thermostats-corner

[2019-01-20 20:28] KingKrush67 commented on #307
It works for me too.

Thank you

[2019-01-20 20:32] #307 closed, assigned to pipiche38

[2019-01-21 07:48] pipiche38 commented on #325
Works for me on beta with Xiaomi and Salus Plug

[2019-01-24 19:31] blooesky opened #327 "Error: (Zigate) processNotinDBDevices after update to beta (domoticz and plugin)"
Hi,
Yesterday i have updated domoticz to beta version and plugin to beta version and now i have a problem with xiaomi wireless switch because is not working...i have this error in log file...and is displayed every second:

2019-01-24 21:28:51.162 Status: (Zigate) [0] NEW OBJECT: 2e64 Model Name: lumi.sensor_switch
2019-01-24 21:28:51.163 Status: (Zigate) [0] NEW OBJECT: 2e64 Model Name: lumi.senso

[2019-01-24 19:55] zaraki673 commented on #327
Can you try to remove your switch from Domoticz and add it again?

[2019-01-24 20:38] blooesky commented on #327
Awesome!!! Now it's working and NOW i haven't events delay so far i had delay 2-3seconds at events But now it is working without delay and it's perfect!

Thank you very much Zaraki!

[2019-01-25 08:04] zaraki673 commented on #327
Thanks pipiche's work 😁😉

Le jeu. 24 janv. 2019 à 21:38, blooesky <notifications@github.com> a écrit :

[2019-01-26 15:54] ghost opened #328 "Error when pushing Aqara wireless switch WXKG03LM"
Hi,

When I push on Aqara Wireless Switch (WXKG03LM) I receive these messages in log:

[code]

On every heartbeat these messages appear in log:
[code]
The switch has been recognised as
ZiGate - XCube-910d-01 | Light/Switch | Selector Switch

I'm connecting these switches directly to ZiGate, not using Aqara Hub.

I also have WXKG02LM, but not tested yet in depth. Some errors found also, but only wh

[2019-01-26 15:56] zaraki673 commented on #328
Are you on master or beta of plug-in version?

Le sam. 26 janv. 2019 à 16:54, davidllerena <notifications@github.com> a
écrit :

[2019-01-26 16:25] pipiche38 commented on #328
@davidllerena I suspect that you are on the 'master' branch which is not maintain anymore.

Then I also believe that you are using the latest Aqara switch model (2018), A quick implementation have been done in 'stable' branch in order to provide a quick access, but we highly recommend the use of 'beta' branch in order to get the full functionality.

Here is what I would recommend:
(1) Remove the D

[2019-01-26 17:10] pipiche38 commented on #325
[plugin.py.zip](https://github.com/sasu-drooz/Domoticz-Zigate/files/2840148/plugin.py.zip)

Here is a plugin to reproduce what is done by the plugin and i see a similar behaviour as the one reported.

Suggest that you post it to the Domoticz forum ...

[2019-01-26 18:27] ghost commented on #328
Effectively I was in main branch.
After moving to beta it works!!

Any idea when these changes would release on stable branch?

[2019-01-26 20:16] pipiche38 commented on #328
Main under ‘master’ is discontinued, we will maintain stable (as a replacement of master) beta and time to time we will have devel for ongoing development.

Envoyé de mon iPhone

[2019-01-27 11:03] nicog2 opened #329 "Recover Domoticz angle of rotation of the Cube from Xiaomi."
Hello,

Would it be possible to remake under domoticz the value of the angle made. With for example a positive angle if the rotation is clockwise, and negative if anti-clockwise. This value can go up in a second device (ID). In order to control, for example, the volume, a variable lamp ...

thanks in advance

[2019-01-27 14:28] dpocock commented on #299
For a package, those should probably become:
/var/lib/domoticz/plugins/Domoticz-Zigate/
/var/lib/domoticz/plugins/Domoticz-Zigate/Zdatas/

Should I just patch Classes/z_PluginConf.py to override them or do you anticipate having them in a config file?  A config file would be ideal.

Which files does it look for in each location?  Could you possibly include a table in readme.md listing each variable

[2019-01-27 15:25] pipiche38 commented on #299
You should patch the file PluginConf.txt where all those information can be configured

See the Wiki for more information
https://github.com/sasu-drooz/Domoticz-Zigate/wiki/PluginConf

[2019-01-27 15:42] pipiche38 commented on #329
Today's widget provides Clock wise and Anti-Clock wise information as well as Flip 90 or 180 and some other possible actions from the Cube.

Creating a Second widget when pairing a Cube is of course possible.
This second widget would be a Text widget ( not a switch  ) and will be available on the Utility section (not in the switch section ).

In order to make it more useful, we could eventually pu

[2019-01-27 16:56] nicog2 commented on #329
when i connect the cube to the xiaomi gateway, i have to widget on domoticz, one in switch with the action (rotation, shake,...) and another Text widdget in Utility section with the angle of rotation.
With this case, when an event from cube in switch, you can read the angle if necessary.
![cubeutility](https://user-images.githubusercontent.com/12951743/51804110-d1943f00-225c-11e9-90f5-afc12bbccab5

[2019-01-29 07:46] ghost opened #330 "Domoticz crashes after Zigate plugin updated to beta"
Hi all,

After updating Zigate plugin to beta, Domoticz has been come very inestable. Every some hours Domoticz crashes and I have to restart the service manually.

[code]

Domoticz Version 4.9700
SO: Raspbian Jessie
Zigate plugin: ## 07 January 2019 - Version Beta 4.1.x - Updated from stable at 26/01/2019

[2019-01-29 16:54] ghost commented on #330
more logs:

[code]

[2019-01-29 17:53] pipiche38 commented on #330
please use the forum to report such issues.

In here Log, your issue seems to be related to a lost of connectivity with the Zigate.

[2019-01-29 17:58] pipiche38 commented on #329
If you switch to beta ( 959df90 ), you should be able to see in the Logs the XCube rotation angle. Could you kindly check ?

[2019-01-29 18:03] #328 closed, assigned to nobody

[2019-01-29 18:33] ben33880 commented on #329
yes i see rotation :

2019-01-29 19:30:58.171 (Zigate) ReadCluster - ClusterId=000c - Magic Cube angle: -51.40000534057617
2019-01-29 19:30:58.171 (Zigate) Update v2 Values 90:'90:' (Xiaomi Cube Lumiere)
2019-01-29 19:30:58.975 (Zigate) ReadCluster - ClusterId=000c - Magic Cube angle: -9.149998664855957
2019-01-29 19:31:02.633 (Zigate) Update v2 Values 40:'40:' (Xiaomi Cube Lumiere)

[2019-01-30 18:02] petitPoulpe opened #331 "OSRAM Smart+ Plug"
Hello,
I got this device that works with Zigate Plugin : https://zigate.fr/osram-lightify-prise-pilotee/
Plugin create one device in Domoticz : ON/OFF Switch.

[2019-01-30 18:19] petitPoulpe opened #332 "Innr BY 265-2"
Hello,
I have this product and it is compatible with Zigate plugin :
https://www.amazon.fr/gp/product/B07H5S7JV5/ref=ppx_yo_dt_b_asin_title_o09__o00_s00?ie=UTF8&psc=1

In Domoticz, it creates two devices but just one seems to respond.

[2019-01-30 18:25] pipiche38 commented on #329
Sound good. Does it match the Cube rotation ?

I’ll work on creating a Text Widget for each Cube . You’ll have to remove the existing device and re-pair it in order to get the new widgets.

I’ll let you know when available for test on beta.

Kind regards
Patrick

[2019-01-30 18:30] pipiche38 commented on #332
Could you kindly let me know what are the 2 widgets created ?
Would appreciate if you could attached the DeviceList-xx.txt file so I can get more information on the device, and maybe avoid the 2nd widget

Patrick

[2019-01-30 19:08] petitPoulpe commented on #332
6ce4 : {'ProfileID': '0104', 'App Version': '3', 'Type': '', 'Status': 'inDB', 'Version': '3', 'ZDeviceID': '5f01', 'IEEE': '00158d0001b97dee', 'RIA': '1', 'RSSI': 105, 'ReadAttributes': {'TimeStamps': {'01-0000': 1548871429, '01-0006': 1548871293}, 'Ep': {'01': {'0000': {'0005': '00', '0000': '00', '0001': '00', 'ff01': '86'}, '0001': {}, '0006': {'0000': '00'}}}}, 'Stamp': {'Time': '2019-01-30 1

[2019-01-30 19:08] petitPoulpe commented on #332
The two widgets are Dimmer

[2019-01-30 20:18] pipiche38 commented on #332
@petitPoulpe would it be possible to know what is :

- device 8e8b ( IEEE 0017880104ef3a9e ) There are 2 Devices in domoticz Idx 103 and 104. Most-likely only 103 works.
- device b008 and ad2c are I believe the BY bulb.

For all what version of the plugin did you use when pairing those devices ?

[2019-01-30 21:03] petitPoulpe commented on #332
device 8e8b is Philips Hue remote control, this devices not seem to work.
yes  device b008 and ad2c are 'Model': 'BY 265'
All this devices have been paired with beta plugin.

[2019-01-30 21:21] ben33880 opened #333 "hue bulb"
hi,
hue bulb and lightstrip are recognized as WW Color switch, not as RGBWWZ.
can u do something ??

thanks.

[2019-01-30 21:24] ben33880 commented on #333
[DeviceList-35.txt](https://github.com/sasu-drooz/Domoticz-Zigate/files/2814507/DeviceList-35.txt)

[2019-01-30 21:26] ben33880 commented on #329
cant say if it match correctly but positive and negative is ok !!!
it seems correct for angle.

[2019-01-30 21:32] pipiche38 commented on #333
Before opening an issue, it would be great to qualify if that is an issue via the forum.

You are droping a bunch of data in the DeviceList-35.txt. Thanks to provide some insights

Logs when creating the device
Version of the plugin

[2019-01-30 22:39] ben33880 commented on #333
ok sorry, what forum ?
last beta version 4.1 beta
firm 3.0e

les logs dans le fichier joint.
[1.txt](https://github.com/sasu-drooz/Domoticz-Zigate/files/2818838/1.txt)

thanks

[2019-01-31 16:38] pipiche38 commented on #332
Are you using the standard DeviceConf.txt , or did you create/update it ?

[2019-01-31 17:24] petitPoulpe commented on #332
i  use the Standard DeviceConf.txt

[2019-01-31 17:53] pipiche38 commented on #332
Bug found. Fix in progress

[2019-01-31 17:55] petitPoulpe commented on #332
Great !! Thank you

[2019-01-31 18:04] pipiche38 commented on #332
Fix in beta branch f9864c1

[2019-01-31 18:17] petitPoulpe commented on #332
How can i test it ?

[2019-01-31 19:25] mcmikev opened #334 "Ikea TRADFRI wall socket plug switch"
Hi,

I have 3 ikea tradfri wall plugs and they get recognized as LVcontrol devices (AKA dimmers).
When removing them and re-add them (many many times) then sometimes they get recognized as the right type PLUG on/off.
I don't know how to reproduce the right adding of the type, but normal include does not work right.
It is no dimmer just and on/off plug socket.

Is this a know thing or what can I do

[2019-01-31 19:36] pipiche38 commented on #332
You should update to the latest version of beta, remove the 2 devices and then re-do the pairing

[2019-01-31 19:41] pipiche38 commented on #334
It would be great if you use the domoticz forum (english or french channel) next time.

Could you clarify which version of the plugin you are ( github branch as well)

Could you attached the DeviceList-xx.txt when those plugs are paired and the devices are created (whatever the domoticz widget )

[2019-01-31 19:57] mcmikev commented on #334
I use the latest beta plugin, with stable same behavior.
github branch beta

[DeviceList-48.txt](https://github.com/sasu-drooz/Domoticz-Zigate/files/2818840/DeviceList-48.txt)

I have changed the device type in domoticz from dimmer to on/off device.

I have tried a complete new setup without any devices, same result. Sometimes the right plug type otherwise dimmer

[2019-01-31 20:30] pipiche38 commented on #334
It is indeed something not trivial
'ZDeviceID': '010a', 'ProfileID': '0104'

And are available Cluster 0x0006 for On/off and 0x0008 for LvlControl

And not Model Name provided

[2019-01-31 20:32] mcmikev commented on #334
So it is not me doing something wrong ?

[2019-01-31 20:41] ben33880 commented on #329
I do not know if it's related to the changes made for the rotation but the flip_90 only works once. you have to make another move for the flip_90 to work again

[2019-01-31 20:59] pipiche38 commented on #334
No, you are not doing nothing wrong. SO I think in the mean-time just replace using the Domoticz edit function

[2019-01-31 22:40] ben33880 commented on #333
ok, by editing the following line in the file DeviceConf.txt, the LCT007 hue works in RGBWW.

on the other hand, how should I do for the other models in the Hue range?
must we create a new line for each generation of the Hue range?

'Ampoule.phillips.hue':{'Ep':{'0b':{'0000':'','0003':'','0004':'','0005':'','0006':'','0008':'','0300':'','fc01':'','1000':'','Type':'ColorControl','ColorMode':'2'}},'

[2019-02-01 08:16] pipiche38 commented on #329
That is correct. The Cube is not sending a new message after a flip, and I beleive this is true for all. If you do clock rotation, and then you do it once more ... the 2nd one is not seen.

From the LOg I do not see any message from the device itself. It seems the behaviour of the Xcube.

[2019-02-01 08:39] pipiche38 commented on #333
You can create in DeviceConf.txt a line by Model as you did. So if you are able to identify the model of the others LCT007, LST002

We know that we have to rebuild the management of widget creation for Lights/bulb #326

[2019-02-01 08:40] pipiche38 commented on #334
Related to #326

[2019-02-02 14:50] ben33880 commented on #329
with xiaomi gateway, you can flip many times.

[2019-02-02 18:11] ben33880 commented on #333
finally the modification in the file DeviceConf does not work !!!! I had to modify the code to include the Hue correctly.
I do not know the python or the protocol, it's only a phony patch !!

https://github.com/ben33880/Domoticz-Zigate/blame/f68f4156faa32833ac7ba641ee8d18dd026499f9/Modules/z_domoticz.py#L482

les hue ont 2 EP, les zdeviceid et profileid prennent les valeurs du EP 2 : 'f2'  -> a1e0

[2019-02-02 21:05] pipiche38 commented on #333
Thanks for the path.

I have pushed an update on beta branch . If you want to try

[2019-02-02 21:05] pipiche38 commented on #333
@ben33880 if you want to chat , you can reach me on keybase.io (we could continue in french)

[2019-02-02 21:06] pipiche38 commented on #329
could you reach me on  keybase.io ?

[2019-02-02 21:29] Smanar commented on #329
Nope, it's not true for all, on my installation it's same.
For exemple, if I use the cube to set a speaker volume, I make a clockwise rotation, if the sound is not hight enought, I make a second clockwise rotation more faster. No need to make a "blank" move to enable the rotation again.
So I can confirm too, it's possible.

[2019-02-02 22:06] pipiche38 commented on #329
@smanar long time ;-)

Indeed you are right. But then the 2nd , 3rd time you just get the rotation level

If I do 1 flip 90 i see it. If I continue and do one more I don’t see it !
However if after a flip 90 , I do a flip 180 I see it.

[2019-02-03 08:06] pipiche38 commented on #329
@ben33880 please use latest beta version from that morning .

[2019-02-03 09:49] ben33880 commented on #333
yes it's cool, thank you very much hue bulb LCT007 and strip LST002 works now.

firm 3.0f
beta plugin 4.1.x

ps: i have another hue bulb but cant test now. i close this issue when tested.

[2019-02-03 09:55] ben33880 commented on #329
we can now flip many times !!!!

[2019-02-03 10:34] pipiche38 commented on #329
Will work on the text widget to get the rotation angle .

[2019-02-03 10:50] Smanar commented on #329
Lol, Hello.
I m still here, I m still following this project.
I think there is a mistake on my side with rotation and flip. But on all case flip or rotation, you need to trigger notification, and perhaps use the same ResetDevice() fonction than the motion sensor (with smaller temporisation).

[2019-02-03 10:57] pipiche38 commented on #329
The issue was on the fact that we try to avoid Updating domoticz when the value doesn’t change …. ;-)

[2019-02-03 11:01] Smanar commented on #329
Yep, I have just see the corrective > ForceUpdate_ = True

[2019-02-03 13:52] pipiche38 commented on #329
@ben33880 If you can do an update of beta branch. Delete the existing Domoticz widget related to Xcube and repair it you should then see 2 widgets created for the device. The classic one and a text widget (can be found in Utility/Mesures)

For now, Rotation angle are reported to the Text widget .

[2019-02-03 16:54] ben33880 commented on #329
text widget is ok.
nice

[2019-02-03 17:05] pipiche38 commented on #329
What do you have in the log

[2019-02-03 20:05] pipiche38 commented on #334
If you update to the latest version of beta branch. You should get only one device created.

[2019-02-03 20:14] pipiche38 commented on #332
Could you let me know if you have been able to validate the fact that only one device is created now ?

[2019-02-03 20:15] pipiche38 commented on #329
@nicog2 could you confirm that it works as expected ? Please use latest beta branch

[2019-02-03 20:15] #327 closed, assigned to nobody

[2019-02-03 20:17] #235 closed

[2019-02-04 08:45] pipiche38 commented on #329
Is this still happening?

Envoyé de mon iPhone

[2019-02-04 18:44] ben33880 commented on #333
for LCT001, i must insert new line DeviceConf.txt with this  :
'LCT001':{'Ep':{'0b':{'0000':'','0003':'','0004':'','0005':'','0006':'','0008':'','0300':'','fc01':'','1000':'','Type':'ColorControl','ColorMode':'2'}},'Type':'','ProfileID':'c05e','ZDeviceID':'0210'},

[2019-02-04 18:46] ben33880 commented on #329
2019-02-04 19:44:02.510 (zig) Update v2 Values 20:'20:' (Cube Lumières)
2019-02-04 19:45:24.319 (zig) Update v2 Values 0:'-65:' (Cube Lumières Angle)
2019-02-04 19:45:24.321 (zig) Update v2 Values 90:'90:' (Cube Lumières)

'Cube Lumières Angle' is the text widget

[2019-02-04 19:33] pipiche38 commented on #329
Can we close the issue ?

[2019-02-04 21:08] pipiche38 commented on #333
Integrated into DeviceCOnf.txt beta : b1373b490c17a2916b5edacc3f0e0e3a9cf6ecad

[2019-02-05 17:58] ben33880 commented on #333
thanks.
now Hue LCT007, LCT001, LST002 works nice.
i only have this one, u can close if u want.

[2019-02-05 17:58] ben33880 commented on #329
it works for me !!!

[2019-02-05 18:15] nicog2 commented on #329
I have not the time for testing. But if it works for ben33880, i think it work for me.

[2019-02-05 18:15] #329 closed, assigned to nobody

[2019-02-05 19:30] pipiche38 commented on #333
thanks

[2019-02-05 19:30] #333 closed, assigned to nobody

[2019-02-05 19:33] #332 closed, assigned to pipiche38

[2019-02-05 19:35] pipiche38 commented on #331
Thanks

[2019-02-05 19:35] #331 closed, assigned to nobody

[2019-02-05 19:52] petitPoulpe commented on #332
It works ! Thank You

[2019-02-06 11:09] pipiche38 commented on #330
Don't know if you still have the issue ?

If that is the case, could you update the beta version ( git pull ), and I suggest that you disable the ping functionality, by editing the file PluginConf.txt where there is a parameter Ping set to 1.

Set ping to 0

'Ping':'0',

[2019-02-07 06:06] ghost commented on #330
Yes, I still have the issue.
Will try and update

[2019-02-07 09:40] #325 closed, assigned to nobody

[2019-02-07 09:42] pipiche38 commented on #323
@Cortexlegeni have you been able to investigate ?

[2019-02-07 09:43] pipiche38 commented on #284
Won't do

[2019-02-07 09:43] #284 closed, assigned to nobody

[2019-02-07 10:15] pipiche38 commented on #323
If you take the latest beta version, I have remove the bind in case of LIGHTIFY Outdoor Flex RGBW.
Let me know what is the end result

[2019-02-07 12:58] pipiche38 commented on #299
For information:
https://github.com/sasu-drooz/Domoticz-Zigate/wiki/Plugin-directory-structure

[2019-02-07 17:55] ghost commented on #330
Hi,

no crashes for today at this moment, but since I have updated and modified PluginConf.txt and restarted domoticz, exactly 58 minutes from restart, I receive this messages on log every 5 seconds:
`Error: (ZiGate) Transport is not connected, write directive to 'ZiGate' ignored.
`

Will maintain in observation some days.

[2019-02-07 18:25] pipiche38 commented on #330
What do you mean, you have such message now, or it was before ?

[2019-02-07 18:36] pipiche38 commented on #264
@deennoo , can you give me a picture of this remote ?
What are the possible commands ?
How should we map to a domoticz Widget ? Simple switch (working as a single button) ?

[2019-02-07 18:47] pipiche38 commented on #264
9b04def..e3c590b

[2019-02-07 18:48] pipiche38 commented on #330
1d2be21

[2019-02-07 18:49] pipiche38 commented on #323
824e197a744120491f890fbc3bcabdaa367c9b14

[2019-02-07 19:31] deennoo commented on #264
Pic of the product : https://www.numerama.com/content/uploads/2018/09/capture-decran-2018-09-10-a-11-38-39.png

Running Last Beta 4.1 + pre release 3.0f fw

That just an ON/Off switch nothing else is allow, so a simple on/off switch is the good widget
Plugin create a level switch, who doesn't react to the switch

[2019-02-07 20:09] Cortexlegeni commented on #323
Hello, I am a little busy in this moment because of my children being ill sa I don't have muche time.
I will find some time next week or the week later.
Sorry

[2019-02-07 21:46] ghost commented on #330
I have checked the log and I can see this message days before, but not as continuous as today, after update at 11:47

[code]

At 19:00 I have enabled ping in PluginConf.txt and restarted Domoticz and the number of error messages have decreased a lot.

[code]

[2019-02-08 09:09] pipiche38 commented on #330
Those error message are still weird and I wonder if you don’t have an issue somewhere else ….

I have not a single one !

[2019-02-08 15:36] ghost commented on #330
Thanks for your help and your patientty.

When messages appear continuously I can't use any Aqara selector switch and control hue bulbs. I can't say that about temp sensors, I can't test if they are communicating with Zigate/Domoticz in that moment.

There is a relation between messages and Zigate/Domoticz communication with devices.

So:
- If ping enabled, domoticz crash (last night Domoticz has

[2019-02-08 15:37] ghost commented on #330
if you need log, any file, etc....

[2019-02-08 21:03] pipiche38 commented on #330
@davidllerena I'm afraid that I cannot help much on the communication issue. I would suggest you to troubleshoot around USB port . The communication lost is definitively an issue to be resolved

[2019-02-10 13:17] pipiche38 opened #335 "How to handle Philipps Hue remote control"
As firmware 3.0f and plugin pre-4.1 provide group management and cluster 0xFC000, how can we get support of the Philips Hue remote
https://github.com/fairecasoimeme/ZiGate/issues/142

[2019-02-10 13:18] ben33880 commented on #335
[telco philips.txt](https://github.com/sasu-drooz/Domoticz-Zigate/files/2848896/telco.philips.txt)
les logs lors de l'appairage

[2019-02-10 13:20] ben33880 commented on #335
[DiscoveryDevice-0017880103e4583d.txt](https://github.com/sasu-drooz/Domoticz-Zigate/files/2848897/DiscoveryDevice-0017880103e4583d.txt)

le fichier dans Zdatas

[2019-02-10 21:41] deennoo commented on #335
J'en ai une également, qui n 'a jamais été appairer a un hub Philips, elle est donc "brut"

Elle crée deux widget dans Domoticz en fonction des EP 1 et 2

Il n'y a que le EP01 qui semble etre mis a jour

Voici quelque elements
ON :
[code]

OFF :
[code]

Luminosité + (le bouton en dessous de ON) :
[code]

Luminosité - (le boutton au dessus de OFF) :

[code]

[2019-02-10 22:19] lboue commented on #335
Bonjour,

Pour ma part:
- firmware 3.0f et plugin pre-4.1 également
- l’appairage du Hue remote control avec la zigate fonctionne
- lorsque j'appuie sur un des boutons, aucun état n'est remonté dans Domoticz

![image](https://user-images.githubusercontent.com/938089/52540396-4b621780-2d89-11e9-88e8-354c8b4e90a2.png)

[code]
Voici le logs à appairage:

[code]

Faut-il appairer avec une ampoule au p

[2019-02-11 10:22] pipiche38 commented on #335
Question:
Dans le cas de la Commande Philipps RWL021, combien il y a t il de boutons ? Est-ce qu'il faut un widget de type Switch selector (comme pour l'Ikea), ou est-ce que un Switch/LvlControl est suffisant ?

[2019-02-11 10:28] pipiche38 commented on #335
@lboue oui il faut que tu associes ta remote à une ampoule. @deennoo tu confirmes ?

[2019-02-11 10:40] mcmikev commented on #334
When I have the time to upgrade to firmware 3.0f I will test (going to re-add everything new).

Let you know!!

[2019-02-11 13:31] pipiche38 commented on #326
@deennoo

3 Subtype for ColorControl Widget:

    ColorControlRGB = 0x02 # RGB color palette / Dimable
    ColorControlWC = 0x08  # White color palette / Dimable
    ColorControlFull= 0x07   # 3 Color palettes widget (default)

**Question is which Bulb needs which Widget**
lumi.light.aqcn02 -> ColorControlWC
TRADFRI bulb E27 CWS opal 600lm -->
'TRADFRI bulb E27 WS opal 950lm  -->
'TRADFRI bulb E27

[2019-02-11 15:31] mcmikev commented on #334
Upgraded to 3.0f firmware and did git checkout pre-4.1 plugin and re-added all my devices.
So far so good. Were detected as plug and not lvcontrol anymore. And that in just one try :-)

[2019-02-11 17:05] ben33880 commented on #326
pour les LCT001 et LST002, actuellement elles sont reconnues comme des RGBWW dimmable.
Ce qui correspond il me semble à ce que j'avais avec le pont HUE.

[2019-02-11 17:21] ben33880 commented on #335
il y a 4 boutons : on, off, plus, moins

[2019-02-11 18:00] pipiche38 commented on #326
'ColorControlRGB':
                    Subtype_ = 0x02 # RGB color palette / Dimable
'ColorControlRGBWW':
                    Subtype_ = 0x04  # RGB + WW / Dimable
 'ColorControlFull':
                    Subtype_ = 0x07  # 3 Color palettes widget
 'ColorControlWW':
                    Subtype_ = 0x08  # White color palette / Dimable

Can be use directly in DeviceConf.txt

[2019-02-11 18:00] #326 closed, assigned to pipiche38

[2019-02-11 18:03] pipiche38 commented on #326
https://github.com/sasu-drooz/Domoticz-Zigate/wiki/DeviceConf

[2019-02-11 20:06] ben33880 commented on #335
OFF :
2019-02-11 20:59:16.398 (zig) Decode8095 - MsgData: 0001000602827140 len: 16
2019-02-11 20:59:16.398 (zig) Decode8095 - SQN: 00, Addr: 8271, Ep: 01, Cluster: 0006, Cmd: 40, Unknown: 02

ON :
2019-02-11 20:59:48.969 (zig) Decode8095 - MsgData: 6201000602827101 len: 16
2019-02-11 20:59:48.969 (zig) Decode8095 - SQN: 62, Addr: 8271, Ep: 01, Cluster: 0006, Cmd: 01, Unknown: 02

(+) :
2019-02-11

[2019-02-11 21:08] pipiche38 opened #336 "Handle Tx Power command with 3.0f"
PHY_PIB_ATTR_TX_POWERPHY_PIB_TX_POWER_DEF (default - 0x80)
PHY_PIB_TX_POWER_MIN (minimum - 0)
PHY_PIB_TX_POWER_MAX (maximum - 0xbf)

2b5fee7..102ec4a

[2019-02-12 09:44] pipiche38 commented on #335
Bizare, pas de distinction entre + et - Meme commandes , meme Unknown ...

[2019-02-12 10:12] pipiche38 commented on #335
@deennoo or @ben33880 do you have the possibility to check the Hue Remote behaviour with ZGUI ?

Connect the Zigate to ZGUI.
- then press HUE Remote + and capture the trace output in ZGUI
- then press HUE Remote - and capture the trace output in ZGUI

[2019-02-12 12:10] deennoo opened #337 "Livolo 2 Gang Switch Zigbee"
Hey guys !

I just get a livolo 2 Gang Zigbee switch : https://fr.aliexpress.com/item/Livolo-APP-Touch-Control-Interrupteur-Zigbee-WiFi-Domotique-Intelligent-T-l-commande-Travail-avec-Echo-seulement/32918552579.html?spm=a2g0s.9042311.0.0.40696c3745S41u

Working on channel 26 only

Some dev are done on Zigbee2mqtt : https://github.com/Koenkk/zigbee2mqtt/issues/592

Device discovering frame can be f

[2019-02-12 12:35] pipiche38 commented on #337
I suggest that you start with ZGUI in order to see if the Zigate is able to retreive all necessary information.
From what I see iun the Discovery Frame:
EndPoint: 06

Last the Log of the all Discovery process from Device Announce to TimeOut would be helpfull.

[2019-02-12 13:02] pipiche38 commented on #337
In summary:
- Comunication with the Device is Ok. This mean Zigate talk to Livolo on channel 26 back and forth

From the Disocvery Frame:
"8043": {"06": "1b00ef750e0601040000000200000003010006"},
        SQN: 1b
        Status: 00
        NwkID: ef75
        Len: 0e
        EP: 06
        Profile: 0104
        DeviceId: 0000
        BitField: 00
        ClusterIn:      02
              0000

[2019-02-12 14:00] pipiche38 commented on #337
Bug found, in the Decode8043 - fix to follow

[2019-02-12 14:31] pipiche38 commented on #336
Required confirmation from Zigate side:https://github.com/fairecasoimeme/ZiGate/issues/145

[2019-02-12 14:31] pipiche38 commented on #335
https://github.com/fairecasoimeme/ZiGate/issues/147

[2019-02-12 16:36] pipiche38 commented on #337
Fix: 0dc9067..239add0
New json format for the discovery ...

[2019-02-12 18:02] deennoo commented on #337
here is some input from ZWGUI :

premiere connection :

[code]

EP Request :
[code]

Cluster Request :
[code]
Clearly End Point and Cluster request aren't good as this is a 2 gang device.

After Pairing, nothing comefrom the device to the zigate when switching on/off each relay.

Device doesn't react from ZGWUI solicitations :
- ON/Off
- Identify

[2019-02-12 18:55] pipiche38 opened #338 "Decode804A - Error with pre-4.1"
2019-02-12 19:51:29.998 Status: (Zigate) Decode804A - Channel: 26 Interference: : 164
2019-02-12 19:51:29.998 Error: (Zigate) 'onMessage' failed 'NameError':'name '_filename' is not defined'.
2019-02-12 19:51:29.998 Error: (Zigate) ----> Line 492 in '/home/nico/domoticz/plugins/Domoticz-Zigate/plugin.py', function onMessage
2019-02-12 19:51:29.998 Error: (Zigate) ----> Line 292 in '/home/nico/domo

[2019-02-12 18:57] pipiche38 commented on #338
747c362..a44c565

[2019-02-12 18:58] pipiche38 opened #339 "Error when creating a new device"
2019-02-12 19:56:21.701 Status: (Zigate) [2] NEW OBJECT: 283d Trying to create Domoticz device(s)
2019-02-12 19:56:21.702 Error: (Zigate) 'onHeartbeat' failed 'TypeError':'updateNotificationWidget() takes 3 positional arguments but 4 were given'.
2019-02-12 19:56:21.702 Error: (Zigate) ----> Line 504 in '/home/nico/domoticz/plugins/Domoticz-Zigate/plugin.py', function onHeartbeat
2019-02-12 19:56:

[2019-02-12 19:02] pipiche38 commented on #339
a44c565..91c93c2

[2019-02-12 19:24] #339 closed, assigned to nobody

[2019-02-12 19:24] #338 closed, assigned to nobody

[2019-02-12 20:15] deennoo commented on #337
Thx to @KiwiHC16 and https://github.com/KiwiHC16/Abeille/issues/570

Who give a full detailled information about how to drive Livolo Switch.

[2019-02-12 20:17] deennoo commented on #335
Un selector avec ON/Off/Dim+ et Dim - fait le boulot

[2019-02-12 20:18] deennoo commented on #335
Oui chez moi elle est appairer a une ampoule IKEA, ensuite la demarche est la meme que pour la telecommande Ikea Round

[2019-02-12 20:23] deennoo commented on #335
For + (or Dimmer up) :
Type: 0x8085 (Unrecognized)
21:22:19.462 <- 01 80 85 00 09 9E BF 01 00 08 02 C4 6D 02 8D 03

For - (or Dimmer Down) :
21:23:01.070 <- 01 80 85 00 09 E1 C0 01 00 08 02 C4 6D 02 8D 03

i have to admit that group created with this remote and a bulb is fully fonctionnal

[2019-02-13 00:01] #334 closed, assigned to pipiche38

[2019-02-13 07:49] pipiche38 opened #340 "Error handling for PluginConf"
A proper error handling when opening PluginConf should be made

[2019-02-13 08:12] pipiche38 opened #341 "Group Managemet Widget - Make the widget aligned with piloted devices"
It would be great to have the Group Widget aligned with the most advanced Device widget.
So if we have only LvlControl devices, then the Group would get a LvlControl widget

[2019-02-13 08:42] pipiche38 commented on #340
9a0878f..971874a

[2019-02-13 08:42] #340 closed, assigned to nobody

[2019-02-13 08:42] pipiche38 commented on #267
9a0878f..971874a

[2019-02-13 08:42] #267 closed, assigned to pipiche38

[2019-02-13 11:08] pipiche38 commented on #341
7eea1c2..836504d

[2019-02-13 11:08] #341 closed, assigned to nobody

[2019-02-13 11:22] pipiche38 commented on #337
With ZGUI can you get the Attribute of the Device ?
- Read Attribute on Device, Ep: 06, Cluster 0x0006 and Attribute 0x0000

With ZGUI did you try to send Level Control (as mentioned in the Abeille subject)
Level: 108, Level: 1,

Can you also post the latest discovery file (which is now Json format).

[2019-02-13 12:03] ghost commented on #330
Don’t know why, but if I activate debug framework in Zigate hardware plugin in Domoticz all work fine. No crashes and no connecting fails in log or devices for days.

[2019-02-13 12:14] pipiche38 commented on #330
Interesting:
- Could you remind me what version of Python are you using ? (that is printed at the start of the plugin)

[2019-02-13 12:42] pipiche38 commented on #264
@deennoo could you update us on the status on that one, based on the latest pre-4.1

[2019-02-13 13:03] pipiche38 opened #342 "'onMessage' failed 'ValueError':'invalid literal for int() with base 16: 'Cl''"
Feb 13 14:02:23 rasp domoticz[11421]: Error: (Zigate-DEV) 'onMessage' failed 'ValueError':'invalid literal for int() with base 16: 'Ty''.
Feb 13 14:02:24 rasp domoticz[11421]: Error: (Zigate-DEV) ----> Line 492 in '/var/lib/domoticz/plugins/Domoticz-Zigate/plugin.py', function onMessage
Feb 13 14:02:24 rasp domoticz[11421]: Error: (Zigate-DEV) ----> Line 292 in '/var/lib/domoticz/plugins/Domoticz-

[2019-02-13 13:51] pipiche38 commented on #342
2ef84d4..296893b

[2019-02-13 13:51] #342 closed, assigned to nobody

[2019-02-13 14:50] ghost commented on #330
Python Version - 3.4.2 (default, Sep 26 2018, 07:50:08)

[2019-02-13 17:29] deennoo commented on #337
Yes i manage to Drive it sending 108/1 or 108/2 or 1/1 or 1/2.

This Works fine.

I have to manage how to set Infinite permit join, because when this end, Switch is out.

I have to get some help to trying to configure reporting

[2019-02-13 17:36] pipiche38 commented on #337
108 On
1 Off
Gauche : Timing 1
Droit: Timing 2

[2019-02-13 21:49] pipiche38 opened #343 "TRADFRI bulb E27 WS opal 980lm"
TRADFRI bulb E27 WS opal 980lm not recognized an no Widget created

[2019-02-13 21:50] pipiche38 commented on #343
0c8a : {'RIA': '2', 'Manufacturer': '117c', 'ReceiveOnIdle': 'On', 'ConfigureReporting': {'TimeStamps': {'01-0019': 0, '01-0300': 1550085687, '01-0006': 1550085627, '01-0000': 0, '01-1000': 0, '01-0004': 0, '01-0b05': 0, '01-0003': 0, '01-0005': 0, '01-0020': 0, '01-0008': 1550085627}, 'Ep': {'01': {'0020': {}, '0b05': {}, '0005': {}, '0300': '85', '0003': '', '0019': {}, '0004': {}, '0006': '00',

[2019-02-13 21:58] pipiche38 commented on #343
9449a09..b8564f3

[2019-02-14 09:44] pipiche38 commented on #337
Here is what I suggest for the widget side:
- Switch Selector ( like we do for the Xiaomi ). With
Left On
Left Off
Right On
Right Off

Just need to get the Disocvery file to see how we can identify this . Especially is there a Model name

[2019-02-14 10:34] pipiche38 commented on #335
@ben33880 @deennoo can you do once more a test ?

(1) Update the pre-4.1 branch
(2) remove the existing widget/device from Domoticz and Plugin
(3) redo a full pairing of the HUE remote
(4) Check the Logs when doing the Pairing - I'm interested on the 'Binding messages'

And then let see how the Remote <-> Plugin react when actioning the remote

[2019-02-14 14:12] lukytux opened #344 "TRADFRI bulb E27 CWS opal 600lm false widget"
The widget created it's the wrong one. It's différent as in the past and it doesn't work.
Changing intensity doesn't work
Changing Color doesn't work
On/off OK
Her print screen from the group but the widget is the same
![groupe_zigate_rgb](https://user-images.githubusercontent.com/933978/52791722-e731a300-3069-11e9-80d8-1558a485b0de.png)

Logs:
2019-02-14 08:47:05.145  Status: (Zigate) Permit Join

[2019-02-14 14:17] pipiche38 commented on #344
Can you find domoticz.db (should be one level up of the plugins)

sqlite3 domoticz.db

If you can copy-paste the result of that , this would be really great

[2019-02-14 14:22] lukytux commented on #344
[code]

[2019-02-14 14:39] pipiche38 commented on #344
Super.
They are all as expected (241,2,7) and must be RGB

[2019-02-14 14:42] lukytux commented on #344
Super... Mmh... but the result is not as expected

[2019-02-14 14:50] pipiche38 commented on #344
In Device List could you do a screenshot of the list of devices ?

[2019-02-14 14:53] lukytux commented on #344
![device_list](https://user-images.githubusercontent.com/933978/52794684-940f1e80-3070-11e9-84c9-3d63d0aa074f.jpg)

[2019-02-14 15:05] pipiche38 commented on #344
That is indeed the same conclusion. I did test on my end and all the widgets seems to be correctly created.
in your list they are indeed RGB controlwidget.

Now why you have such widget instead, I have no clue. Maybe some custom mode on Domoticz itself ....

[2019-02-14 15:10] lukytux commented on #344
Mmh... Nothing custom in my domoticz.
It's doing a lot of thing from long time... So i really don't want to restart...
I have to look how to solve this problem with the domoticz team i presume.
Thx

[2019-02-14 15:20] lukytux commented on #344
I have found... The problem are from chrome web browser! No problem with firefox.
So this have nothing todo with zigate

[2019-02-14 15:20] #344 closed, assigned to nobody

[2019-02-14 15:26] pipiche38 commented on #344
Ouf !

[2019-02-14 18:53] deve87 opened #345 "No feedback from devices."
I running Zigate USB stabel 4.0 plugin

Got 4 Philip Hue bulbs and devices don't update status in Domoticz. When I turn on wall switch, light will go to 100%, but Domoticz stays in last info.

I also have a Elko GLED316 Zigbee dimmer. It works changed dim, On/Off from Domoticz. But when I do any changes on the dimmer. Domoticz don't get status, and stays on last value.

[2019-02-14 20:48] Gemies commented on #343
This is the log i got after two unsuccesfull pairing attempts! Or do you need Debug information

[Log from not paireble bulb E27 WS opal 980lm.txt](https://github.com/sasu-drooz/Domoticz-Zigate/files/2866746/Log.from.not.paireble.bulb.E27.WS.opal.980lm.txt)

[2019-02-14 21:11] Gemies commented on #343
After a git pull tonight it paired with the bulb, this issue will be closed

[2019-02-14 21:13] pipiche38 opened #346 "Implement Temperature adjustement from Domoticz"
If you see a temperature adjustement on the Domoticz Temperature widget, the plugin take this adjustement and compute it

[2019-02-14 21:13] pipiche38 commented on #346
002a8ea169ebbf7b7396a9108c2a8d7ea20ac504

[2019-02-14 21:13] #346 closed, assigned to nobody

[2019-02-14 21:13] pipiche38 commented on #343
Thanks @Gemies for reporting and tetsing it

[2019-02-14 21:13] #343 closed, assigned to nobody

[2019-02-14 21:23] Gemies opened #347 "Left and right button support tradfri remote for colour temp"
Your first place to get support is via the Forums.

    English channel : https://www.domoticz.com/forum/viewforum.php?f=68
    French Channel : https://easydomoticz.com/forum/viewforum.php?f=28&sid=a8633a9d8cb2acccb32872543b50fd47

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll

[2019-02-14 21:27] Gemies commented on #347
The Zigate can now read all the button actions off the tradfri remote. It would be nice if the paired bulbs would also change colour temp when pressing left and right button of the tradfri remote.
[remote colour temp log.txt](https://github.com/sasu-drooz/Domoticz-Zigate/files/2866851/remote.colour.temp.log.txt)

[2019-02-14 21:40] pipiche38 commented on #293
002a8ea..c22f3c3

Fixed on pre-4.1 branche and required Domoticz > 4.10335

[2019-02-14 21:40] #293 closed, assigned to pipiche38

[2019-02-14 21:42] pipiche38 commented on #347
@Gemies it would indeed be great. For that you need to program it by retrieving the event, and then triggering changes to the Bulb.
Basically this is how the Tradfri Hub is reacting by using scene which are programmed there

So every one can do what every he wants

[2019-02-14 21:44] pipiche38 commented on #345
COuld you kindly use either the French or English forum for that question ?

Your first place to get support is via the Forums.

    English channel : https://www.domoticz.com/forum/viewforum.php?f=68
    French Channel : https://easydomoticz.com/forum/viewforum.php?f=28&sid=a8633a9d8cb2acccb32872543b50fd47

I'm going to close this issue. We might re-open if there is a real issue/bug

[2019-02-14 21:46] pipiche38 commented on #286
002a8ea..c22f3c3

[2019-02-14 21:46] #286 closed, assigned to pipiche38

[2019-02-15 11:27] pipiche38 opened #348 "Powering OFF/ON an Ikea Bulb doesn't bring an update state on Domoticz widget"
In case your bulb is fully operationnal , but at a point of time you powered off that one, and then later on you switch it on, the widget status is not updated and not reflecting the new bulb status.

[2019-02-15 11:28] pipiche38 commented on #348
1ad7f2d..2b627e2

[2019-02-15 11:28] #348 closed, assigned to nobody

[2019-02-15 12:40] pipiche38 commented on #345
This should be fixed on pre-4.1 ( 1ad7f2d..2b627e2 )

[2019-02-15 12:40] #345 closed, assigned to nobody

[2019-02-16 04:19] deennoo commented on #337
Ok for selector,

Even better if this can be a separate on/off switch as we all ready do for xiaomi double switch : This switch is plug to a real bulb, put it on a Plan will show a selector instead of a switch, of course we can make a dummy on/off switch for each side but that a trick.

You can get device discovery here : https://drive.google.com/open?id=1hAMvEm4w8-7c7Icb_58OT98eUnPh9eoX

After se

[2019-02-16 05:03] deennoo commented on #335
Just redo a pairing with your last change :

On Button :

2019-02-16 05:58:44.530 (Zigate) ReadCluster - fc00 - f7f9/02 MsgAttrID: 0001, MsgAttType: 42, MsgAttSize: 0005, : 3000210000
2019-02-16 05:58:44.530 (Zigate) Decode8095 - SQN: 2b, Addr: f7f9, Ep: 01, Cluster: 0006, Cmd: 01, Unknown: 02
2019-02-16 05:58:44.681 (Zigate) ReadCluster - fc00 - f7f9/02 MsgAttrID: 0001, MsgAttType: 42, MsgAttSize

[2019-02-16 05:16] deennoo commented on #264
Nothing better with pre 4.1

Still a level switch is created (instead of a simple On/Off)

Device discovery can be found here :

https://drive.google.com/open?id=1hAMvEm4w8-7c7Icb_58OT98eUnPh9eoX

And the switch once on the Zigbee network still drive a left relay on a xiaomi dual neutral fire switch

[2019-02-16 08:44] pipiche38 commented on #264
{
    "004d": "38fe000d6ffffe9a746980",
    "8043": {
        "01": "5d0038fe2401010408200007000000010003000900201000fc7c070003000400060008001901021000"
    },
    "8045": "5c0038fe0101",
    "Attribute Discovery": {
        "Ep": {
            "01": {
                "0001": {
                    "fffd": "21"
                }
            }
        }
    },
    "Ep": {
        "01": {

[2019-02-16 08:45] pipiche38 commented on #264
I need the log when you are making action on the switch, in order to see what is triggered on the plugin side.

[2019-02-16 08:47] pipiche38 commented on #264
Alternative if you can capture what are the message sent by the switch, via ZGUI ... This would be also usefull

[2019-02-16 10:28] pipiche38 opened #349 "Elko Super TR RF thermostat"
Please support the Elko Super TR RF Thermostat
http://proff.elko.no/elko-smart-home-super-termostat/category1779.html

[2019-02-16 10:41] pipiche38 commented on #349
Potential attributes on clustert 0x0201:
0401, 0402, 0404, 0405, 0406, 0407, 0411, 0412, 0413, 0414, 0415, 0416, 0417, 0418, 0419

403, 408, and 409

[2019-02-16 11:10] pipiche38 commented on #349
e1a3 :
{'Hearbeat': 0,
'IEEE': '000d6f001246b282', '
ConfigureReporting': {'Ep': {'01': {'0003': '', '0201': {}, '0402': {}, '0000': {}}},
'TimeStamps': {'01-0003': 0, '01-0201': 1550311274, '01-0000': 0, '01-0402': 1550311274}},
'MacCapa': '8e',
'Type': 'Temp/ThermoSetpoint',
'LogicalType': 'Router',
 'ZDeviceID': '0301',
'SQN': {},
'Status': 'inDB',
'Manufacturer': '1002',
 'NbEp': '1',
'Bind':

[2019-02-16 11:47] pipiche38 commented on #349
Adding in Conf/DeviceConf.txt

'Super TR':{'Ep':{'01':{'0003':{},'0201':'','0402':'24.7','0000','Type':'Temp/ThermoSetpoint'}},'Type':''},

[2019-02-16 13:16] pipiche38 commented on #349
2019-02-16 13:20:57.939 (Zigbee) ReadCluster 0201 - Local Temp: 26.8
2019-02-16 13:20:57.941 (Zigbee) ReadCluster 0201 - Addr: 6ff6 Ep: 01 AttrId: 0012 AttrType: 29 AttSize: 0002 Data: 05dc
2019-02-16 13:20:57.941 (Zigbee) ReadCluster 0201 - Heating Setpoint: 15.0
2019-02-16 13:20:57.943 (Zigbee) ReadCluster 0201 - Addr: 6ff6 Ep: 01 AttrId: 001b AttrType: 30 AttSize: 0001 Data: 02
2019-02-16 13:20

[2019-02-17 09:24] pipiche38 commented on #349
As of now, we have a working version on pre-4.1 ( Setpoint and local temp works).
Next step is to work on SetMode

[2019-02-17 09:27] pipiche38 commented on #330
@davidllerena , I don't think we can do much more on the plugin side, as this is more related to the Framework.

I believe you have already check that one :
https://www.domoticz.com/wiki/Using_Python_plugins

As for the plugin is python intensive we are highly recommending python3.5 and above

I'm closing this issue

[2019-02-17 09:27] #330 closed, assigned to pipiche38

[2019-02-18 04:57] deennoo commented on #335
Testing with the last Pre-4.1 version :

Level Controle Widget is Created :

On/Off : Ok
Dim+/Dim- : OK

Perfect integration and well done

[2019-02-18 05:01] deennoo commented on #337
After Testing this morning version :

This switch doesn't work any more :

Widget is created as a simple ON/OFF (Not a selector One), trying to activate it doesn't give any output as the previous version on the log and it doesn't work.

[2019-02-18 07:34] pipiche38 commented on #337
Please provide Logs in order to understand what happen ... Without it is really hard to see

[2019-02-18 08:47] pipiche38 commented on #335
The DIM+/- long press needs some adjustement ...

[2019-02-18 14:56] pipiche38 commented on #335
The duration provided when DIM+/- is not in seconds but in tenth of seconds

[2019-02-18 15:18] pipiche38 commented on #275
I'll start the implementation on the following principle:

At statup of the plugin and then every 5' , we will be checking Domoticz 'Accept New Hardware' flag

If Flag is set to '1':
    - Switch ON the Zigate in Permit to Join, for 255 seconds
    - When Zigate in Permit to Join , issue a Notification to the Notification Widget

If Flag is set to '0':
    - Switch Off the Zigate in Permit to Join

[2019-02-18 15:48] pipiche38 commented on #244
I suggest to close that one.

[2019-02-18 15:48] #244 closed

[2019-02-18 15:48] #201 closed

[2019-02-18 15:48] pipiche38 commented on #201
Wait for volonteers

[2019-02-18 21:00] pipiche38 commented on #275
b0e4adc..f89c8cf

[2019-02-18 21:00] #275 closed, assigned to nobody

[2019-02-19 07:36] pipiche38 opened #353 "DeviceCOnf doesn't comply with JSON syntax"
The DeviceConf do not fully comply with JSON syntax.

[2019-02-19 09:26] pipiche38 commented on #353
7b367a6..fa75c54

[2019-02-19 09:26] #353 closed, assigned to nobody

[2019-02-19 09:29] pipiche38 commented on #299
Done in pre-4.1

[2019-02-19 09:29] #299 closed, assigned to pipiche38

[2019-02-19 09:29] pipiche38 commented on #230
Will have to be managed though Project and not issue

[2019-02-19 09:29] #230 closed

[2019-02-20 12:07] deennoo commented on #337
Tested with last pre 4.1 version.

Plugin create 2 Widgets :
Zigate - LivoloSWL-00124b0018015b39-06
Zigate - LivoloSWR-00124b0018015b39-06

Those widget are working.

Now i'm facing to a loosing connection issue :

After Pairing and Adding Livolo stop working a few minutes after, this is very similar to what is provied on this issue on Abeille :

"There is a difference in the switch behaviour that

[2019-02-20 12:30] pipiche38 opened #354 "Python error"
2019-02-20 12:54:41.391 Error: (zigate) 'onHeartbeat' failed 'TypeError':'not all arguments converted during string formatting'.
2019-02-20 12:54:41.391 Error: (zigate) ----> Line 294 in '/home/pi/domoticz/plugins/Domoticz-Zigate/plugin.py', function onHeartbeat
2019-02-20 12:54:41.391 Error: (zigate) ----> Line 243 in '/home/pi/domoticz/plugins/Domoticz-Zigate/plugin.py', function onHeartbeat
201

[2019-02-20 12:33] #354 closed, assigned to nobody

[2019-02-20 14:10] pipiche38 opened #355 "Support HUE Motion Sensor"
Please do consider supporint Hue Motion Sensor

[2019-02-20 14:10] pipiche38 commented on #355
As of pre-4.1, the plugin is supporting Hue Motion Sensor
- Temperature , Lux and Motion detection

[2019-02-20 14:10] #355 closed, assigned to nobody

[2019-02-20 21:15] pipiche38 opened #356 "Unvalid Model name"
Some time we receive unvalid Model Name:

Like :
Attribute 0x0005: 0121bd0b03281e0421a8010521ae0006240100000000082108140a21000000
Decoded is : lumi.remote.b286acn01\x00\x00\x00

The \x00\x00\x00 are creating issues !

[2019-02-21 08:03] pipiche38 commented on #337
Dedicated branch ( git checkout livolo )

[2019-02-21 09:08] pipiche38 opened #358 "pre-4.1 doesn't allow Permit to Join if you are not with a latest Beta Domoticz version"
Since the Permit To Join is now based on the Domoticz Accept New Hardware and the fact that we need a certain level of Domoticz, this break the compatibility of Domoticz Stable running with pre-4.1

[2019-02-21 09:09] pipiche38 commented on #358
The main issue is the lack of Parameters["Database"] in order to open the Domoticz.db

[2019-02-21 09:42] pipiche38 commented on #358
as the plugin is always installed under

plugins/<plugin directory> and we now that as  Parameters["HomeFolder"], we can evaluate if

the database exist at  Parameters["HomeFolder"]/../../domoticz.db by testing if this file exist

[2019-02-21 09:43] pipiche38 commented on #358
dcd126c..b978bc0

[2019-02-21 09:43] #358 closed, assigned to nobody

[2019-02-21 13:56] pipiche38 commented on #356
zeems it is not utf-8 coded, but Latin-1 ...

[2019-02-21 13:57] pipiche38 commented on #160
To be handle via a project.
Closing the issue

[2019-02-21 13:57] #160 closed

[2019-02-21 13:57] pipiche38 commented on #181
to be addressed via project.
Closing issue

[2019-02-21 13:57] #181 closed

[2019-02-21 13:58] pipiche38 commented on #335
Closed / Implemented in pre-4.1

[2019-02-21 13:58] #335 closed, assigned to nobody

[2019-02-21 14:03] pipiche38 commented on #136
Close for now. Should be managed in a more wider maner against a project

[2019-02-21 14:03] #136 closed

[2019-02-21 18:22] pipiche38 opened #359 "Make Legrand Window covering working"
With firmware 30f where it support cluster 0x0101 and Windowscovering command, please make it work

[2019-02-22 18:03] pipiche38 opened #362 "pre-4.1 and beta not working!"
The plugin hangs

Here are the message I’m gettin:
2019-02-22 15:27:49.549  Status: PluginSystem: Entering work loop.
2019-02-22 15:27:49.732  Status: (RPI-Zigte) Entering work loop.
2019-02-22 15:27:49.732  Status: (RPI-Zigte) Initialized version 4.0.8, author ‘zaraki673  pipiche38’

This has been duplicated with a small plugin available here:
https://github.com/pipiche38/SQLITE3-test

The proble

[2019-02-22 18:46] pipiche38 commented on #356
fixed !

[2019-02-22 18:46] #356 closed, assigned to nobody

[2019-02-24 03:04] deennoo commented on #264
This switch looks to be a group driver only.

After a reset of a xiaomi 230 fire+line switch, and including IKEA ON/OFF switch to the network, a group call : 0000 appear

On this group 0000 where enrolling :
 - IKEA on/off Switch
 - Xiaomi 230v Plug
 - Xiaomi Fire + line double switch

result : action on IKEA Switch where reported on Xiaomi device.

I had to earse Group 0000 on Domoticz, this acti

[2019-02-24 09:23] pipiche38 commented on #362
Problem related to Python Framework in Domotciz Stable 4.9700

6d7efde..393fd97

[2019-02-24 09:23] #362 closed, assigned to pipiche38

[2019-02-24 09:25] pipiche38 commented on #264
@deennoo , most -likely the plugin receive the update from the Zigate/Switch but are not managed.
Just push 715f6b4c49d9292f7c901c8a99b3643555a557c3 with some debuging .

Please try again and watch the Log

[2019-02-25 15:47] pipiche38 opened #369 "Systematic Frame size error and Crc error when doing Reset"
Since 3.0f firmware , getting a systematic Frame and CRC errors when doing a Software RESET of the Zigate.

[code]

[2019-02-25 16:13] pipiche38 commented on #369
Feb 25 17:24:48 rasp domoticz[6195]: Error: (Zigate-DEV) onMessage : Frame size is bad, computed = 12 received = 32
Feb 25 17:24:48 rasp domoticz[6195]: Error: (Zigate-DEV) onMessage : Frame CRC is bad, computed = 106 received = 148

  uncoded msg: bytearray(b'\x01\x80\x02\x10\x02\x10\x02\x15\x94\x02\x10\x02\x10\x02\x10\x11\x02\x10\xff\x01\x80$\x02\x10\x02\x1d\xe0\x02\x11\x02\x10\x02\x10\x02\x10\x

[2019-02-25 16:28] pipiche38 commented on #369
ler's see what is happening with ZGUI

[2019-02-25 17:29] pipiche38 commented on #369
ZGUI

13:44:35.896 -> 01 02 10 11 02 10 02 10 11 03
13:44:36.065 <- 01 80 24 00 0D E0 01 00 00 00 15 8D 00 01 ED ED DE 0F 00 03
13:44:36.147 <- 01 80 06 00 02 85 01 00 03

Looks like ZGUI didn't display 0x8000 !! Does it get also a CRC/FRAME error ?

[2019-02-25 18:53] pipiche38 commented on #323
@Cortexlegeni , if you want to try. I have updated pre-4.1 and I believe your issue is now fix.
Please remove the Led strip from Domoticz and then redo the full pairing process

Seems that the issue was related to a Bind which make ALL osram devices reset

[2019-02-25 20:14] pipiche38 opened #370 "OSRAM Plug get reset"
Running pre-4.1 , OSRAM plug got reset automatically

[2019-02-25 21:14] pipiche38 commented on #370
#323

[2019-02-25 21:14] pipiche38 commented on #370
Seems related to Configure Reporting.

Waiting for delivey of a OSRAM Plug to do further tests.

[2019-02-27 09:24] pipiche38 commented on #337
I suggest to park this issue, until Zigate is able to handle it.
Close for now and we will re-open when compatible/managed by Zigate

[2019-02-27 16:23] pipiche38 commented on #370
Interesting Logs: Suddently the device got removed !
Feb 27 17:22:03 rasp domoticz[8218]: (Zigate-DEV) ReadCluster - ClusterId=0000 - MsgAttrID=0005 - reception Model de Device: Plug 01
Feb 27 17:22:03 rasp domoticz[8218]: (Zigate-DEV) Removing existing received Ep
Feb 27 17:22:03 rasp domoticz[8218]: (Zigate-DEV) Result based on DeviceConf is: {'Version': '3', 'Status': 'inDB', 'SQN': {}, 'Heartb

[2019-02-27 16:48] pipiche38 commented on #359
Pairing OK
On/Off Ok

Level Control and Reporting to be tested

[2019-02-27 20:16] pipiche38 commented on #370
Trying to duplicate the issue:
- redoing bind doesn't matter
- redoing configure-reporting doesn't matter

[2019-03-01 14:00] pipiche38 commented on #369
Reported to Akila on https://github.com/fairecasoimeme/ZiGate/issues/164

[2019-03-02 09:10] hkhk12 opened #376 "Look you are trying to action a non commandable device"
pre-4.1: domoticz.log shows following:
(zigate) mgtCommand - Look you are trying to action a non commandable device Device OfficeMotion has available Type ['Motion']

[2019-03-02 10:56] pipiche38 commented on #376
Should be fixed in 87a5da9..671391d
pre-4.1 branche

[2019-03-02 15:07] #376 closed, assigned to nobody

[2019-03-02 15:37] levertacoaliastoto26 commented on #359
Some logs :
 2019-03-02 16:36:42.449 (Zigate) UpdateDevice - ( Volet roulant) 1:On
2019-03-02 16:36:42.412 Status: User: Admin initiated a switch command (5/Volet roulant/On)
2019-03-02 16:36:44.855 Status: User: Admin initiated a switch command (5/Volet roulant/Set Level)
2019-03-02 16:36:44.877 Error: (Zigate) 'onCommand' failed 'TypeError':'not all arguments converted during string formatting'.

[2019-03-02 17:46] pipiche38 commented on #359
A priori cela devrait etre corrigé dans la version : 4c3349d..812715d (pre-4.1)

- Correction du Level Control
- L'etat est bien remonté. A priroi ton volet est à 50%

[2019-03-04 07:48] pipiche38 commented on #359
As https://github.com/fairecasoimeme/ZiGate/issues/125 lift (level control) not supported by the Shutter.

[2019-03-04 09:25] #359 closed, assigned to pipiche38

[2019-03-04 09:26] pipiche38 commented on #323
@Cortexlegeni , I suggest to close this issue for now. When you have time please test it with latest pre-4.1 and if the problem still exist, re-open the issue

[2019-03-04 21:44] pipiche38 commented on #347
Let's reopen this issue.

When capturing the remote event, we can consider sending a color change  to a device or a group.

[2019-03-06 14:10] pipiche38 commented on #347
First version is delivered on beta branch : 701bf9a

As White Color schema, it works pretty well.
For Color one, this is not fancy and not usfull, I'm thinking to go with a series of preset defined color that left/right could scroll

[2019-03-06 21:33] pipiche38 commented on #347
Final Version : ee03c0e..c02f09b

You need to add the Remote (which have been paired before with a Bulb) to the Group where you have already added also the Zigate.

[2019-03-06 21:33] #347 closed, assigned to nobody

[2019-03-09 17:48] pipiche38 commented on #370
Closing. Please re-open in case it is back again

[2019-03-09 17:48] #370 closed, assigned to pipiche38

[2019-03-13 14:19] SylvainPer opened #383 "PluginConf naming is not the same as DeviceList for HardwareId with only one digit"
For example, with 'HardwareID':'2', the files are:
 DeviceList-2.txt
 PluginConf-02.txt

due to
[code]
in PluginConf.py l84

[2019-03-13 15:02] pipiche38 commented on #383
Thanks for reporting the issue and agree with you that there is a lack of consistency here.
And this is bringing also an other issue which might happen in case the HardwareID of the plugin is above 99 in Domoticz, we would face an other issue. The probability to reach that number is somehow limited, but still exist.

[2019-03-13 15:03] pipiche38 commented on #318
Link to Friendly name

[2019-03-14 12:30] pipiche38 opened #384 "I'm not geting Battery level for some of my Xiaomi devices"
For some of the Xiaomi Devices, I'm not getting any battery level indication. However, I have the following in the log

[code]

[2019-03-14 13:52] SylvainPer commented on #383
Not sure that there is a problem for 3 digits, %02d only add 0 to have 2 digits but do nothing if the number is >= 10. It's not a limitation to 2 digits.

[2019-03-14 15:17] pipiche38 commented on #384
1a38084..4096686

[2019-03-14 15:17] #384 closed, assigned to nobody

[2019-03-14 15:18] pipiche38 commented on #383
1a38084..4096686

[2019-03-14 15:18] #383 closed, assigned to pipiche38

[2019-03-15 13:14] pipiche38 commented on #336
PHY_PIB_TX_POWER_DEF (default - 0x80)
PHY_PIB_TX_POWER_MIN (minimum - 0)
PHY_PIB_TX_POWER_MAX (maximum - 0xbf)

[2019-03-16 08:56] dondipietro opened #387 "Osram Plug enter in loop on/off"
Hello,
Is seems that when I turn on the plug in domoticz, it turn on then off 1 to 3 times :
I try with a timer but it doesn t help.

2019-03-16 09:52:57.472 (zigate1) onHeartbeat - busy = False
2019-03-16 09:52:57.964 Delaying switch [zigate1 - Plug 4 -84182600000c7707-03] action (On) for 2 seconds
2019-03-16 09:52:57.963 Status: User: Admin initiated a switch command (161/zigate1 - Plug 4 -84182

[2019-03-16 09:01] dondipietro commented on #387
It is like the status comming from the plug sent to domoticz make domoticz sending a switch command to the same plug.

[2019-03-16 09:14] pipiche38 commented on #387
As expressed in the GitHub readme section,
Your first place to get support is via the Forums.

    English channel : https://www.domoticz.com/forum/viewforum.php?f=68
    French Channel : https://easydomoticz.com/forum/viewforum.php?f=28&sid=a8633a9d8cb2acccb32872543b50fd47

[2019-03-16 09:14] #387 closed, assigned to nobody

[2019-03-18 07:05] pipiche38 commented on #336
https://github.com/fairecasoimeme/ZiGate/pull/175

[2019-03-19 15:29] pipiche38 commented on #369
Seems to be confirmed as a Zigate Bug

[2019-03-27 11:12] deennoo opened #388 "lumi.sensor_smoke doesn't work as expected"
I have a lumi.sensor_smoke

integration open a IAS Zone

When device get some smoke it start to ring, and IAS message is :

`2019-03-27 12:01:56.615 (Zigate) Decode8401 - Reception Zone status change notification : 07010500028949000100ff0000
2019-03-27 12:01:56.615 (Zigate) Decode8401 - MsgSQN: 07 MsgSrcAddr: 8949 MsgEp:01 MsgClusterId: 0500 MsgZoneStatus: 0001 MsgExtStatus: 00 MsgZoneID: ff MsgDe

[2019-03-27 13:24] pipiche38 commented on #388
@deennoo , this looks strange and the messages that you put doesn't reflect what is in the code. Are you sure that you had copy-paste all ? Especially when the device get smoke ?

If I look to the raw data, the data are the same, so there is no reason that it doesn't work in one case, and it works in the other

Last , if the smoke stop (or if you release the test/reset button) the plugin today exp

[2019-03-30 07:49] pipiche38 commented on #388
When you want to ack a Smoke alert (true or test), you can use the Reset to remove the alert

<img width="413" alt="Screenshot 2019-03-30 at 08 47 01" src="https://user-images.githubusercontent.com/8291674/55273208-9fd53e00-52c8-11e9-914f-61dfb4334ecd.png">

[2019-04-04 09:00] pipiche38 opened #393 "When Zigate comes with ffff as short address this is generating some python error"
This can be duplicated when short address is equal to ffff and which is not expected.

[2019-04-04 09:01] pipiche38 commented on #393
This can be duplicated when short address is equal to ffff and which is not expected.

[2019-04-04 09:04] pipiche38 commented on #393
Fixed in Beta branche : d614280

[2019-04-04 17:18] pipiche38 opened #394 "When APS failed to a Device - TRigger TimedOut"
When receiving a APS failure for a specifc object, Trigger Domoticz Device TimeOut

[2019-04-04 17:40] pipiche38 commented on #394
3b3c725

[2019-04-05 17:24] pipiche38 opened #395 "When setting Type to PI it always come back to USB"
When from the plugin admin menu I set Model to PI, when I come back it is always set to UBS