[2019-04-05 17:26] #395 closed, assigned to pipiche38

[2019-04-05 17:47] pipiche38 commented on #394
Implemented on beta branche

[2019-04-05 17:47] #394 closed, assigned to nobody

[2019-04-05 17:47] pipiche38 commented on #393
Implemented on beta branche

[2019-04-05 17:47] #393 closed, assigned to nobody

[2019-04-06 06:57] pipiche38 commented on #388
Any update ?

[2019-04-06 09:48] pipiche38 opened #396 "in case of no device, the plugin seems to hang domoticz"
2019-04-06 09:02:34.657 (Zigate) Lost connection, reConn Transport.reConn: Name: 'ZiGate', Transport: 'Serial', Protocol: 'None', Address: 'null', Port: '', Baud: 115200, Bytes: 0, Connected: False, Last Seen: 1970-01-01 00:00:00
2019-04-06 09:02:34.657 Status: (Zigate) Connection Name: Zigate, Transport: Serial, Address: null
2019-04-06 09:02:34.657 (Zigate) Connect directive received, action ini

[2019-04-11 12:58] pipiche38 opened #397 "Implement an Over-The-Air upgrade mecanishm"
While the Ikea Tradfri firmware are publicly available, it would be nice to have an automatic upgrade of Tradfri device if applicable

[2019-04-11 12:59] pipiche38 commented on #397
Implemented on Beta

[2019-04-11 12:59] #397 closed, assigned to pipiche38

[2019-04-11 13:00] pipiche38 commented on #396
implemented in beta

[2019-04-11 13:00] #396 closed, assigned to nobody

[2019-04-12 12:31] pipiche38 commented on #336
Implemented in beta e8969c9

[2019-04-12 12:31] #336 closed, assigned to nobody

[2019-04-12 13:15] Gemies opened #398 "error after git pull txpower issue"
2019-04-12 15:12:19.362 Error: (Zigate) failed to load 'plugin.py', Python Path used was '/home/pi/domoticz/plugins/Domoticz-Zigate/:/usr/lib/python35.zip:/usr/lib/python3.5:/usr/lib/python3.5/plat-arm-linux-gnueabihf:/usr/lib/python3.5/lib-dynload:/usr/local/lib/python3.5/dist-packages:/usr/lib/python3/dist-packages:/usr/lib/python3.5/dist-packages'.

2019-04-12 15:12:19.362 Error: (Zigate) Modul

[2019-04-12 13:19] pipiche38 commented on #398
Fix with a5745f7

[2019-04-12 13:21] #398 closed, assigned to nobody

[2019-04-13 08:30] pipiche38 opened #399 "Allow to specify the Extended PANID"
Allow end user to specify the Extended PANID

[2019-04-13 10:02] pipiche38 commented on #399
845c806

[2019-04-13 10:41] pipiche38 opened #401 "Using Zigate as a ZigBee Router"
As specified in the title. Use the Zigate as a Router and not as a Controler

[2019-04-13 13:02] pipiche38 opened #402 "'onMessage' failed 'ValueError':'invalid literal for int() with base 16: 'HE''."
Apr 13 15:01:47 rasp domoticz[29718]: (Zigate-DEV) ReadCluster - 0000 / 0005 - Recepion Model: >SmokeSensor-N<
Apr 13 15:01:47 rasp domoticz[29718]: Error: (Zigate-DEV) 'onMessage' failed 'ValueError':'invalid literal for int() with base 16: 'HE''.
Apr 13 15:01:47 rasp domoticz[29718]: Error: (Zigate-DEV) ----> Line 623 in '/var/lib/domoticz/plugins/Domoticz-Zigate/plugin.py', function onMessage
A

[2019-04-13 13:15] pipiche38 commented on #402
_sendData is to resilient to non-hex char. This should not happen, but in this above case, it looks like the manufacturer code was in fact an ASCI string.

Approach would be to validate the CMD and DATA in sendData (before calling low level _sendData) that all bytes are Hex ( 0x0 to 0xf )

[2019-04-13 13:26] pipiche38 commented on #402
Merged into beta

[2019-04-13 13:26] #402 closed, assigned to nobody

[2019-04-13 13:26] pipiche38 commented on #399
Merged into beta

[2019-04-13 13:26] #399 closed, assigned to pipiche38

[2019-04-13 17:41] pipiche38 commented on #401
From Akila, the Router mode seems do be disabled from the Firmware .
Put that one on hold for now

[2019-04-13 17:41] #401 closed, assigned to nobody

[2019-04-13 17:58] pipiche38 opened #405 "When Device member of group changing Network address, the group is not notified"
If a device member of a group is switching to a new short address, the ListOfDevices is immediatly updated. However the group where the device belongs too is not.

Then we reach some issue like:

[code]
8459 is a device but the new short id is 989d

[2019-04-14 08:43] pipiche38 commented on #405
4feb441

[2019-04-14 09:11] pipiche38 opened #406 "Interrupteur Xiaomi lumi.ctrl_ln2.aq1"
2019-04-14 09:49:19.232 (ZigateWIFI) UpdateDevice - (btn_cine_spot_avt) 0:Off
2019-04-14 09:49:21.267 (ZigateWIFI) Cluster0012 - unknown Model: lumi.ctrl_ln2.aq1 for this Attribute: 0055 value: 0001
2019-04-14 09:49:21.420 (ZigateWIFI) UpdateDevice - (btn_cine_spot_arr) 1:On
2019-04-14 09:49:21.430 (ZigateWIFI) Cluster0012 - unknown Model: lumi.ctrl_ln2.aq1 for this Attribute: 0055 value: 0001

ht

[2019-04-14 12:47] pipiche38 opened #408 "Device Health - Nwkid: 76e0,Ieee: 00158d00019ccb33 , Model: lumi.plug seems to be out of the network"
Getting this message despite that the device works well.

For instance the last Time stamp seems to be 2PM03 today, LastSeen is not updated !

[code]

[2019-04-14 12:49] pipiche38 commented on #408
Could be linked to Lumi devices, which send Battery and all informations via 0x0000/0xff01-0xff02

[2019-04-14 13:40] pipiche38 commented on #408
3a71f48 - in case where the user doesn't have the Domoticz version providing Touch() API, the LastSeen is not updated.

[2019-04-14 15:06] pipiche38 opened #410 "Error in Transport object"
2019-04-14 16:54:57.082  Error: (ZigateWIFI) 'onMessage' failed 'error':'unpack requires a bytes object of length 6'.
2019-04-14 16:54:57.083  Error: (ZigateWIFI) ----> Line 623 in '/home/pi/domoticz/plugins/Domoticz-Zigate/plugin.py', function onMessage
2019-04-14 16:54:57.083  Error: (ZigateWIFI) ----> Line 394 in '/home/pi/domoticz/plugins/Domoticz-Zigate/plugin.py', function onMessage
2019-04-

[2019-04-14 15:33] pipiche38 commented on #406
When created:
c9ea : {'RSSI': 219, 'MacCapa': '8e', 'Health': 'Live', 'ReadAttributes': {'TimeStamps': {'01-0000': 1555237146}, 'Ep': {'01': {'0000': {'ff01': '86', '0000': '00'}}}}, 'Version': '3', 'HW Version': '18', 'Battery': {}, 'ZDeviceID': '0000', 'LogicalType': 'Router', 'Stack Version': '2', 'Type': 'Switch', 'ZCL Version': '1', 'ReceiveOnIdle': 'On', 'Attributes List': {'Ep': {'02': {'00

[2019-04-14 15:33] pipiche38 commented on #406
Tested with @frtoto
Merged in Beta

[2019-04-14 15:33] #406 closed, assigned to pipiche38

[2019-04-14 19:37] pipiche38 commented on #408
Merge in beta
Confirmation from the user that it fixed the issue

[2019-04-14 19:37] #408 closed, assigned to pipiche38

[2019-04-14 19:38] pipiche38 commented on #405
Merged with Beta

[2019-04-14 19:40] pipiche38 commented on #410
Fixed and merged in beta 9a59cfb2bce96fedd203f3390ca6248f5fb38a71

[2019-04-14 19:40] #410 closed, assigned to nobody

[2019-04-15 09:10] pipiche38 commented on #349
https://github.com/domoticz/domoticz/issues/3148

[2019-04-16 15:02] pipiche38 opened #412 "Device Physically deconnected from network doesn't trigger TimedOUT on Domoticz"
If I physicaly remove a device (Bulb) from the Zigbee network like Powered Off the bulb, then If I send a On or Off or Level Control command I don't have a TimedOut flag on Domoticz.

There is an error provided on the plugin logs:
Apr 16 16:58:18 pi3 domoticz[1378]: 2019-04-16 16:58:18.306  (Zigate) Recoverable error when transmiting a previous command to 9d58 ieee 90fd9ffffe31f150
Apr 16 16:58:18

[2019-04-16 15:02] pipiche38 commented on #412
https://github.com/fairecasoimeme/ZiGate/issues/190

[2019-04-16 15:10] pipiche38 commented on #412
```d4 - Unicast frame does not have a route available but it is buffered for automatic resend```
Means that this can be recovered, so it makes sense not to trigger a TimedOut.
However it looks like if if it is failing, we never get a fatal error

```Status: e9 - No acknowledgement received when expected```
With the same experience, with an Other Plug and Bulb on an other Zigate, I got a different

[2019-04-17 06:26] pipiche38 opened #413 "OTA upgrade to battery device can TimedOut before the end of the transfer"
The Transfer Timeout is currently based on an amount of time since the start of the transfer process.
In case of battery powered devices, it seems that the TimedOut is not long enough.

[2019-04-17 10:10] pipiche38 commented on #349
https://github.com/nilskaa/Smartthings/blob/master/devicetypes/Elko%20Super%20Thermostat%20-%20vendor%20specific%20attributes.txt

[2019-04-17 10:19] pipiche38 commented on #349
Development started on branch bugfix-349
To be tested

[2019-04-17 21:17] deennoo commented on #264
Just test it on 4.2 beta :

OTA Upgrade is ok

But Switch still works on group 0000

I can bind it on the zigate (5 back button press in less than 5 second)
Create  groupe with Zigate and a bulb
Group react to :
 - On
 - Off
 - On long press : dimmer Up
 - Off long press : dimmer Down

[2019-04-18 11:51] pipiche38 commented on #413
Merged into beta: 42788e4b903078c14a94e1d7b24a95c57ae0e45f

[2019-04-18 11:51] #413 closed, assigned to pipiche38

[2019-04-18 11:51] pipiche38 commented on #405
1840a425eb4b2d0fd540da37bd95430079486b2d

[2019-04-18 11:51] #405 closed, assigned to pipiche38

[2019-04-19 12:59] pipiche38 opened #414 "Manage GPIO and switch PiZiGate in 'run' mode"
When selecting PI Zigate, implement the GPIO feature in order to switch the PiZigate in run mode

[2019-04-19 14:16] pipiche38 commented on #414
44f4bfc

[2019-04-20 17:24] pipiche38 commented on #264
Looks like the swicth can be either:
- paired to a device
- parired to Zigate

But not to the both at the same time.

In case it is paired with Zigate, we have the creation of a Switch and the On and Off event are reported via message type 0x8095.

Merge in beta: a9eac89

[2019-04-20 17:28] pipiche38 commented on #264
For On long press we have :
Cluster : 0008 Cmd 05
when Release after long press we have
Cluster: 0008 Cmd 07

For Off long press :
Cluster 0008 Cmd 01
when Release after long press we have 07

[2019-04-22 09:28] pipiche38 commented on #318
Merge on beta 37af966

[2019-04-22 09:28] #318 closed, assigned to pipiche38

[2019-04-22 09:29] pipiche38 commented on #264
On/Off implemented for 4.2

[2019-04-22 09:29] #264 closed, assigned to pipiche38

[2019-04-24 08:27] pipiche38 commented on #414
Thanks to @Martial83 for testing

[2019-04-24 08:27] #414 closed, assigned to pipiche38

[2019-04-24 20:04] pipiche38 opened #418 "Group Management - Group command doesn't update the end state of devices"
When you switch off a group, the state of each element of the group rely on a further update given by Configure Reporting

[2019-04-25 06:15] pipiche38 opened #419 "Reduce the number of DeviceList-xx.txt backup"
After each plugin start, there is an automatic backup of DeviceList-xx.txt.

It might be good to have an option to disable that automatic backup
It might be bood to have a limitation over 20 versions

[2019-04-25 06:20] pipiche38 opened #420 "Cannot change group membership for lumi.ctrl_ln2"
I have a lumi.ctrl_ln2 switch and I would like to get it out of group 0x0000. However this seems not possible

[2019-04-25 06:20] pipiche38 commented on #420
Fix and merge in e79a856

There is a need to repair this switch in order to get the new config.

[2019-04-25 06:20] #420 closed, assigned to nobody

[2019-04-25 07:31] pipiche38 opened #421 "New switch Xiaomi Aqara with gyroscope doesn't work with plugin"

[2019-04-25 08:05] cray19003 commented on #421
Voici les résultats des commandes

Click : 2019-04-25 10:03:25.680 (Zigate) Cluster0012 - unknown Model: lumi.sensor_switch.aq3 for this Attribute: 0055 value: 0001
Double Click : 2019-04-25 10:03:28.136 (Zigate) Cluster0012 - unknown Model: lumi.sensor_switch.aq3 for this Attribute: 0055 value: 0002
Long click : 2019-04-25 10:03:32.300 (Zigate) Cluster0012 - unknown Model: lumi.sensor_switch.aq3

[2019-04-25 08:07] cray19003 commented on #421
b5dd : {'NbEp': '1', 'RIA': '5', 'Type': {}, 'Status': 'UNKNOW', 'Model': 'lumi.sensor_switch.aq3', 'Ep': {'01': {'0000': {}}}, 'ProfileID': {}, 'App Version': '5', 'MacCapa': '80', 'IEEE': '00158d0002af8204', 'Heartbeat': '14', 'Battery': {}, 'SQN': '00', 'RSSI': 144, 'Stamp': {'MsgType': '8102', 'Time': '2019-04-25 09:54:45', 'LastSeen': 1556178820}, 'ZDeviceID': {}, 'Version': '3'}
9850 : {'NbE

[2019-04-25 08:09] cray19003 commented on #421
https://fr.aliexpress.com/item/Original-Xiaomi-Aqara-Smart-Wireless-Switch-Key-Built-In-Gyro-Multi-Functional-Intelligent-Remote-Control-ZigBee/32990494901.html?spm=a2g0w.10010108.1000016.1.4af8757bUpHzVO&isOrigTitle=true

C'est celui que j'ai acheté (plus cher car il était pas en promo).

[2019-04-25 08:15] pipiche38 commented on #421
@cray19003 merci pour tout ca.
Il y a-t-il des events tel que Drop (tu laisses tomber le switch ) , Rotation , Slide (tu le deplaces sur un plan horizontal) ?

[2019-04-25 08:21] cray19003 commented on #421
Non c'est les seules valeurs que j'ai pu obtenir.

[2019-04-25 08:29] pipiche38 commented on #421
Voila, c'est poussé sur la branche beta

`git checkout beta
`

Tu relances le plugin et tu refais l'association.
Un Switch Selector devrait etre créé ...

J'ai pas pu tester donc surveilles les logs, si il y a un soucis. tu peux mettre les infos ici.

Je suis également joiniable en chat sur Keybase.io @pipiche

[2019-04-25 08:33] cray19003 commented on #421
Super j'essaye ça tout de suite. Merci.

[2019-04-25 08:38] pipiche38 commented on #421
https://zigate.fr/forum/topic/xiaomi-aqara-switch-with-gyro-lumi-sensor_switch-aq3/

[2019-04-25 09:24] cray19003 commented on #421
Re,
J'ai des petites erreurs au démarrage (qui empêche de fonctionner).

 2019-04-25 11:21:54.810 (Zigate) GetType - Model lumi.sensor_switch.aq3 Profile ID : {} ZDeviceID : {}
2019-04-25 11:21:54.811 (Zigate) GetType - Model lumi.sensor_switch.aq3 Profile ID : {} ZDeviceID : {}
2019-04-25 11:21:54.810 Status: (Zigate) [0] NEW OBJECT: 700c Model Name: lumi.sensor_switch.aq3
2019-04-25 11:21:54.810

[2019-04-25 09:38] pipiche38 commented on #421
Peux-tu:
1- arreter le plugin
2- regarder dans le fichier DeviceList-xx.txt qu'il n'y a pas de trace de ce device (tu peux chercher 00158d0002af8204 ). Supprime la ou les lignes en question

[2019-04-25 09:38] pipiche38 commented on #421
PS/ A priori le device a été créé dans Domoticz, il faudrait que tu le supprimes également

[2019-04-25 09:40] cray19003 commented on #421
J'avais tout effacé le dossier Domoticz-Zigate. J'ai également tout effacé dans Domoticz.

[2019-04-25 09:40] pipiche38 commented on #421
ok

[2019-04-25 09:46] cray19003 commented on #421
2019-04-25 11:44:09.177 (Zigate) Debug: 0
2019-04-25 11:44:09.193 (Zigate) Configure Permit To Join
2019-04-25 11:44:09.193 (Zigate) Request discovery mode for 254 seconds
2019-04-25 11:44:09.002 Status: (Zigate) Started.
2019-04-25 11:44:09.175 Status: (Zigate) Entering work loop.
2019-04-25 11:44:09.176 Status: (Zigate) Initialized version beta-4.2.0, author 'zaraki673 pipiche38'
2019-04-25 11:4

[2019-04-25 09:47] cray19003 commented on #421
J'obtiens ça après avoir réinstaller un nouveau plugin Ziagte dans Domoticz et effacé tous les fichier Data/DevicesList.txt et que j'essaye de remettre l'interrupteur.

[2019-04-25 09:55] pipiche38 commented on #421
désole. une erreur dans le fichier de Configuration.
Peux-tu :

git pull pour recuperer la derniere version
si tu peux faire un RAZ c'est top

[2019-04-25 10:34] cray19003 commented on #421
J'ai fait un reset et réinstaller tous mes objets. Ca marche, je n'ai plus d'erreur. Par contre le switch est toujours indiqué comme 'ON'.
Par contre bien que je vois des messages (ci-dessous) dans le log, je n'ai aucun effet sur l'icone dans Domoticz (mais c'est peut-être normal).

Si j'abuse pas trop, comment est-ce que je récuppère la valeur dans un script LUA ?
Merci.

[2019-04-25 10:35] cray19003 commented on #421
2019-04-25 12:33:30.192 (Zigate) ReadCluster - ClusterId=0012 - Switch Aqara: EP: 01 Value: 1
2019-04-25 12:33:30.192 (Zigate) UpdateDevice - ( Switch) 1:00
2019-04-25 12:33:38.665 (Zigate) ReadCluster - ClusterId=0012 - Switch Aqara: EP: 01 Value: 16
2019-04-25 12:33:38.866 (Zigate) ReadCluster - ClusterId=0012 - Switch Aqara: EP: 01 Value: 17
2019-04-25 12:33:39.318 (Zigate) ReadCluster - Cluste

[2019-04-25 11:04] cray19003 commented on #421
J'ai essayé ça, mais sans succès. Il détecte bien le changemnt d'état (premier print) mais pas le deuxième en fonction de la valeur.
J'ai fait une erreur ?
_____________________________

commandArray = {}
if (devicechanged['Switch']) then
	print('click detected')
		if devicechanged['Switch_Value']=='2' then
			print (klik)
		end
end
return commandArray

[2019-04-25 11:04] pipiche38 commented on #421
Que veux-tu dire, il n'a pas créé un Switch Selector avec 5 elements ?
"Click|Double Click|Long Click|Release Click|Shake"

Peux-tu me donner les valeurs pour les actions en fonction de ce qui s'affiche dans les logs

[2019-04-25 11:09] cray19003 commented on #421
![image](https://user-images.githubusercontent.com/22468046/56731516-f2d0d280-675a-11e9-83bf-05104bcf184d.png)
Je pense que si.
J'obtiens ça dans le log (avec mon script).
D'ailleurs je ne détecte pas le 'shake' comme un changement d'état.
1: Click|2: Double Click|16: Long Click|17: Release Click|18: Shake

 2019-04-25 13:07:19.024 (Zigate) UpdateDevice - ( Switch) 1:00
2019-04-25 13:07:19.028 Sta

[2019-04-25 11:14] pipiche38 commented on #421
git pull
tu as juste à relancer le plugin , les mapping doivent etre correcte maintenant, y compris le shake

[2019-04-25 11:20] pipiche38 commented on #419
Merged in beta : 7a79c48

[2019-04-25 11:21] pipiche38 commented on #419
By default limit is 12 version.
This can be over ruled by numDeviceListVersion in PluginConf-xx.txt

[2019-04-25 11:48] cray19003 commented on #421
Le shake déclenche bien le script. Tout devrait marcher à présent.
Merci beaucoup.

[2019-04-25 11:52] pipiche38 commented on #421
Je te laisse mettre un message sur le forum, pour dire que c'est tout bon ;-)

[2019-04-25 12:14] pipiche38 commented on #421
merge in beta branch

[2019-04-25 12:14] #421 closed, assigned to pipiche38

[2019-04-26 09:04] #419 closed, assigned to pipiche38

[2019-04-30 11:59] pipiche38 opened #423 "Zigate is sending infinite 018000000585000005050003 messages (every seconds)"
[code]

[2019-04-30 12:05] pipiche38 commented on #423
018000000585000005050003
Start: 01
Command: 8000
Lenghth: 0005
CheckSumm: 85
Payload: 00000505

    Status: 00
    Seq: 00
    Packet Type: 0505

RSSI: 00
Stop: 03

[2019-04-30 12:05] #423 closed, assigned to nobody

[2019-05-03 13:30] pipiche38 opened #424 "NetworkScan started despite it is not enabled !"
Network Scan has started while it is not enabled !

[2019-05-03 14:06] pipiche38 commented on #424
Not an issue, but the Zigate can report it on an adhoc basic

[2019-05-03 14:06] #424 closed, assigned to nobody

[2019-05-03 14:33] pipiche38 opened #425 "Supporting INNR RC110"
Thanks to the all decoding work done here - https://github.com/dresden-elektronik/deconz-rest-plugin/issues/635#issuecomment-425658792

[2019-05-03 14:34] pipiche38 commented on #425
There is however a strange behaviour described here as an Issue, as 0x8085 do not see the difference between left and right

https://github.com/fairecasoimeme/ZiGate/issues/194

[2019-05-07 08:32] pipiche38 opened #429 "Compatibilité Pluzzy"
When Pluzzy firmware will be available , make sure that the Pluzzy devices are correctly managed

[2019-05-11 07:54] pipiche38 commented on #429
https://github.com/fairecasoimeme/ZiGate/issues/30

[2019-05-11 07:54] pipiche38 commented on #425
Waiting for 3.1a firmware

[2019-05-11 07:55] pipiche38 commented on #412
Merged in beta branch , with APSManagement Class

[2019-05-11 07:55] #412 closed, assigned to nobody

[2019-05-11 08:43] deennoo opened #430 "Plugin Web server idea"
As v4.4 plugin  is base on plugin webserver interface, goal of this Issue is to list what is needed

[2019-05-11 08:52] BornTKill commented on #430
Admin/Configuration
Backup/Restore
Update FW Zigate/Devices
List/Manage Devices
Include/Exclude Devices
Network Map
Logging

[2019-05-12 17:57] pipiche38 commented on #430
Would be good  to have your view on look and field

[2019-05-12 19:39] deennoo commented on #430
About fonctions :
- groups management
- scènes management

About look :
Keep it clear, easy to read.

[2019-05-12 20:05] pipiche38 commented on #430
That is find, but please provide design in order to see from a User point of view what you expect

[2019-05-21 20:11] pipiche38 opened #435 "Model': 'lumi.ctrl_neutral1' are sending seveal On/Off and makes the widget logs buggy"
A ON was done on the switch and we got on the Log ON - OFF - OFF - ON
[code]

[2019-05-21 20:12] pipiche38 commented on #435
Looks like the swicth is communicating once on EP: 02 and once on EP: 04.
As we have only one EP active, then all Status are directed to EP:02 for which a Domoticz Widget is assigned

[2019-05-23 15:25] pipiche38 opened #437 "Enable changes in plugin Settings"
Enable changes of plugin settings.
This is a requirement for the Web Interface where all parameters can be updated from the Web.

[2019-05-23 15:34] pipiche38 commented on #437
2187788

[2019-05-23 15:41] pipiche38 commented on #430
Just to update the community on where we are going:

- From an architecture standpoint, we have open a REST api inside the plugin. In such the REST API can then expose a number of command to give access Read/Write of internal plugin values

For example: http://host:port/rest-zigate/1/zdevice will give you the list of Devices managed by the plugin

On the Frontend side, we are looking to provide a

[2019-05-24 19:27] pipiche38 commented on #437
Merged in beta

[2019-05-24 19:27] #437 closed, assigned to pipiche38

[2019-05-24 19:28] pipiche38 commented on #253
Doesn't exist any more with Firmware V2.

[2019-05-24 19:28] #253 closed

[2019-05-25 11:07] pipiche38 commented on #435
1b1019250050c46d2dd6edd65fe66a5221543d44

[2019-05-25 13:58] pipiche38 opened #439 "device e8d1 does not exist anymore and you expect to be part of group 8000"
May 25 15:58:15 pi3 domoticz[6175]: 2019-05-25 15:58:15.693  Error: (Zigate) processCommand - Looks like device e8d1 does not exist anymore and you expect to be part of group 8000
May 25 15:58:15 pi3 domoticz[6175]: 2019-05-25 15:58:15.706  Error: (Zigate) _updateDeviceListAttribute - Device: e8d1 of Group: 8000 not in the list anymore

[2019-05-25 18:06] pipiche38 commented on #388
Just did a Test and it works has expected.

-> When smoke - the Widget goes ON
-> When no more smoke the Widget goes OFF

- When detecting smoke, there is an IAS message sent

[code]

when no more smoke, there is a new IAS message sent:
[code]

[2019-05-25 20:48] pipiche38 commented on #439
Most-likely the device got a new NetworkId

[2019-05-28 20:51] waltervl commented on #430
Function wish: Have plugin settings that are used to reset or erase something be single use settings. So that the next time you start the plugin for a normal reason the reset or erase action will not be performed again.

[2019-05-30 19:22] pipiche38 opened #443 "Cannot add a Ikea Control Outlet to a Group"
Looks like the device is created on Ep 02 instead of EP 0&

[2019-05-30 19:24] pipiche38 commented on #443
Merge into beta 06d2967 will required to delete the device and re-pair it

[2019-05-30 19:24] #443 closed, assigned to nobody

[2019-06-01 17:52] pipiche38 opened #448 "LQI report is uncomplete"
LQI report is uncomplete.
When receiving ZPS_tsAplZdpMgmtLqiRsp we not always get the all entries of the Neightbour table.
The plugin must request the next entries until the table is fully parsed

[2019-06-04 18:41] pipiche38 commented on #448
Merge into beta branche

[2019-06-04 18:41] #448 closed, assigned to nobody

[2019-06-04 18:44] pipiche38 opened #449 "Creating a group with a WW Bulb creat a Group with RGBWW Widget"
When you create a Group with a White Color Bulb, the group created got a widget for RGB+WWW+Full , while it should be only a WW

[2019-06-04 18:51] #449 closed, assigned to nobody

[2019-06-04 18:51] pipiche38 commented on #435
Merged in beta.

[2019-06-04 18:51] #435 closed, assigned to pipiche38

[2019-06-04 19:00] pipiche38 commented on #430
<img width="1449" alt="Screenshot 2019-06-04 at 21 00 33" src="https://user-images.githubusercontent.com/8291674/58906262-d3d74000-870b-11e9-96a7-e9a818984d4f.png">

[2019-06-04 21:22] waltervl commented on #430
Looking good! What about resetConfigureReporting and resetReadAttributes?

[2019-06-04 21:32] waltervl commented on #430
And another function wish, but far less important: Firmware update of ZiGate device itself, eg update to 3.1a.
And a check if there is a new Firmware update available.

[2019-06-05 07:45] pipiche38 commented on #430
Yep, that is the plan too. As well as Permit to Join and other Zigate function
<img width="1449" alt="Screenshot 2019-06-04 at 21 00 33" src="https://user-images.githubusercontent.com/8291674/58939075-9cea4400-8776-11e9-9378-559ca818a7c3.png">

[2019-06-05 08:04] pipiche38 commented on #430
Good point, and agree with you that it is not necessarily the top priority.
I think we could easily give an indication if there is a new Firmware (validated with the plugin)

Now as the Firmware update is concerned, I'm a bit reluctant to do it for now, as I think it is more the responsibility of the Zigate (and I'm not sure I want to take that load into the plugin).

In conclusion, lets make a fi

[2019-06-05 10:06] waltervl commented on #430
Perhaps you can use the python flasher of Doudz: https://github.com/doudz/zigate
It would be nice as I (and I think almost all Domoticz Zigate users) use the Zigate only in Domoticz so to have one User Interface for controlling the ZiGate would be ideal. But indeed, perhaps the python flasher should be created and maintained by ZiGate instead of you or Doudz.

[2019-06-06 07:32] pipiche38 commented on #430
I understand and share somehow that needs. Need further investigations as compatibility with Domoticz Python Framework (which is not the case of Doudz library), compatibility with Windows, is sudo access right needed ....

As soon as the Python Framework will be fixed for the WebServer part, we will take the list of needed and probably priorities them.

Thanks anyway for your valuable input

[2019-06-06 07:32] #439 closed, assigned to nobody

[2019-06-10 14:06] rom289 opened #450 "Dimmer Iluminize 511.201"
Bonjour,

La prise en charge du micro-module dimmer Iluminize 511.201 est-elle prévue ? Merci

https://zigate.fr/le-materiel-compatible-zigate/compatible/dimmer511201encastrable/

[2019-06-10 14:35] pipiche38 commented on #450
There is no reason why it shouldn't work.
Please use the forum next time (Thanks)
https://easydomoticz.com/forum/viewforum.php?f=28&sid=6347c44d2fad193f9313b1e754a444c9

[2019-06-10 14:35] #450 closed, assigned to nobody

[2019-06-10 16:50] pipiche38 opened #451 "Philips Hue GU10 WW create a Full RGB+WW widget"
2019-06-10 18:42:57.182 Status: (Pizigate) Device Annoucement ShortAddr: 9136, IEEE: 001788010496175d
2019-06-10 18:42:57.387 Status: (Pizigate) [-] NEW OBJECT: 9136 Request Simple Descriptor for Ep: 0b
2019-06-10 18:42:57.387 Status: (Pizigate) [-] NEW OBJECT: 9136 Request Simple Descriptor for Ep: f2
2019-06-10 18:42:57.490 Status: (Pizigate) [-] NEW OBJECT: 9136 Simple Descriptor EP 0b
2019-06-

[2019-06-10 16:50] pipiche38 commented on #451
Shoudl create a ColorControlWW widget

[2019-06-10 17:44] pipiche38 commented on #451
Push in beta: 1fafc11

[2019-06-13 19:14] Cortexlegeni commented on #323
Hello, I'm back with the same problem. I tried the new plugin with a fresh firmware update and full reset of the zigate and when I tried to reset the LED strip  I have this :

2019-06-12 22:15:37.406 Error: (Zigate) onMessage : Frame CRC is bad, computed = 105 received = 151
2019-06-12 22:15:55.460 Error: (Zigate) onMessage : Frame size is bad, computed = 12 received = 32
2019-06-12 22:15:55.460 E

[2019-06-13 19:51] pipiche38 commented on #323
You need to disable allowReBindingClusters.

if you are on 'stable' branch you need to update Conf/PluginConf.txt and add/update the line
'allowReBindingClusters':'1' ----> 'allowReBindingClusters':'0',

https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/en-eng/PluginConf.txt.md

[2019-06-13 20:10] pipiche38 commented on #451
Fix in 4.3.2

[2019-06-13 20:10] #451 closed, assigned to nobody

[2019-06-20 12:35] #418 closed, assigned to pipiche38

[2019-06-20 12:37] pipiche38 commented on #323
Did you disable allowReBindingClusters ? is that solving your issue ?

[2019-06-22 08:51] pipiche38 commented on #369
Fixed with firmware 3.1a and Plugin 4.4

[2019-06-22 08:51] #369 closed, assigned to pipiche38

[2019-06-24 15:23] Cortexlegeni commented on #323
Hello, I tried and it solved the problem for some time, but I still have every 3/4 days a problem, the strim switch on and don't answer after that.
Here is the log:

2019-06-20 21:00:43.930 Status: Build Hash: 9f2dcd957, Date: 2019-06-12 09:15:45
2019-06-20 21:00:43.931 Status: Startup Path: /home/pi/domoticz/
2019-06-20 21:00:44.603 Sunrise: 05:55:00 SunSet: 21:56:00
2019-06-20 21:00:44.604 Day l

[2019-06-24 15:28] Cortexlegeni commented on #323
Here is the log for the reset of the device:

2019-06-24 17:23:29.105 Status: User: Admin initiated a switch command (5/Prise-Osram-01/Off)
2019-06-24 17:23:30.899 (Zigate) UpdateDevice - ( Prise-Osram-01) 1:On
2019-06-24 17:23:30.862 Status: User: Admin initiated a switch command (5/Prise-Osram-01/On)
2019-06-24 17:23:33.076 (Zigate) UpdateDevice - ( Prise-Osram-01) 0:Off
2019-06-24 17:23:33.041

[2019-06-24 18:19] pipiche38 opened #452 "Error when adding a device"
2019-06-24 19:51:35.476 (Zigate Zigbee) GetType - ClusterSearch return : ColorControl/LvlControl/Switch/
2019-06-24 19:51:35.476 (Zigate Zigbee) subtypeRGB_FromProfile_Device_IDs - Model: ZBT-ExtendedColor, ProfileID: 0104, ZDeviceID: 010d ColorInfos: {'Hue': 170, 'Y': '26876', 'X': '30002', 'ColorMode': 2, 'Saturation': 254}
2019-06-24 19:51:35.475 Status: (Zigate Zigbee) [2] NEW OBJECT: 528a Mod

[2019-06-24 18:21] #452 closed, assigned to nobody

[2019-06-24 18:38] pipiche38 commented on #323
What do you mean the Strip switch ON ? Does it switch on alone, or do you Switch On and then you cannot do anything more ?

If you have the possibility to switch to the beta branch, it would be great if you could experiment this configuration. There is a risk that we fall back to the initial issue.

Edit the file Conf/PluginConf-xx.json
[code]

PS/ Est-ce celui-ci ?
https://www.amazon.fr/Osram-Lig

[2019-06-24 19:08] Cortexlegeni commented on #323
No, the strip switched on by himself.
I can switch on to the beta branch with no problem, I'm on a test domoticz, so no problem.
C'est cette version : https://www.amazon.fr/Osram-Connecté-Extérieur-Couleurs-Zigbee/dp/B07481Z6RC/ref=sr_1_3?__mk_fr_FR=ÅMÅŽÕÑ&keywords=osram+flex&qid=1561403191&s=lighting&sr=1-3

[2019-06-25 07:49] pipiche38 commented on #323
So please try to pass to the Beta version and update the parameters accordingly.
Even, you can try the User Interface ( https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/en-eng/WebUserInterface.md )

The fact that the strip switch on on its own looks very weird. Need to understand what is happening and see what is happening around that time

[2019-06-25 08:44] pipiche38 commented on #323
Would be great if you could attached the file Data/DeviceList-xx.txt

[2019-06-25 09:15] Cortexlegeni commented on #323
I did the update and parameters change yesterday evening and for the moment still no problem. I'm not at home right now so I will send you the file later today.

[2019-06-25 09:35] pipiche38 commented on #323
Excellent, let see how it behave, but I have done additional changes, which might also have a positive impact. So in case it switch on again on its own, please simple do a git pull (still on beta) and lets monitor.
I suspect that the plugin is requesting an information to the strip which is not existing and then the strip simply reset.

[2019-06-28 21:19] Cortexlegeni commented on #323
Here I did have the same problem this evening, turning on and loosing connection:

2019-06-24 21:12:37.855 Status: Build Hash: 9f2dcd957, Date: 2019-06-12 09:15:45
2019-06-24 21:12:37.856 Status: Startup Path: /home/pi/domoticz/
2019-06-24 21:12:38.394 Status: PluginSystem: Started, Python version '3.5.3'.
2019-06-24 21:12:45.361 Status: WebServer(HTTP) started on address: :: with port 8080
2019-0

[2019-06-28 21:22] Cortexlegeni commented on #323
here is the devicelist:

0000 : {'Ep': {'01': {'0008': {}, '0004': {}, '0006': {}}}, 'PowerSource': 'Main', 'version': '3', 'IEEE': '00158d0001b696bd'}
efcb : {'ConfigureReporting': {'TimeStamps': {'01-0006': 1560370577, '01-0000': 1560370577}, 'Ep': {'01': {'0000': {}, '0006': {}}}}, 'IEEE$
3a03 : {'ConfigureReporting': {'TimeStamps': {'03-0000': 1560452461, '03-0006': 1561737907}, 'Ep': {'03': {

[2019-06-28 21:40] pipiche38 commented on #323
From what I see in the log , the device is not on the Network anymore or is not reachable !
So I suggest to redo the pairing.
Instead of copy-paste the logs and other infos, please attached , as then it is much easier to process the file. ( the DeviceList is unfortunatly truncated )

[2019-06-29 14:55] Cortexlegeni commented on #323
[DeviceList-2.txt](https://github.com/sasu-drooz/Domoticz-Zigate/files/3341993/DeviceList-2.txt)

[2019-06-29 15:00] Cortexlegeni commented on #323
New log for reinclusion :
[log.txt](https://github.com/sasu-drooz/Domoticz-Zigate/files/3342003/log.txt)

[2019-06-29 16:31] pipiche38 commented on #323
Merci. Here is the Device Configuration: (pretty complet list of Attributes for Cluster 0x0300

[code]

[2019-06-29 16:31] pipiche38 commented on #323
From the Log, it looks like the device is sending un-expected Attributes for Custer 0x0000

[code]

[2019-06-30 17:59] pipiche38 opened #453 "Collect pairing information to be sent to Zigate-Plugin dev"
In case of Pairing failure, or wrong widget in Domoticz, collect all necessary informations and save it in a json format file , so it can be sent or attached to the Forum

[2019-07-01 06:36] pipiche38 commented on #453
https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/en-eng/Dealing-with-none-certified-device.md

[2019-07-01 15:50] pipiche38 commented on #429
https://github.com/fairecasoimeme/ZiGate_HA1.2

[2019-07-01 15:53] pipiche38 commented on #429
For those whom want to test Pluzzy please use the referenced Firmware, but make sure to switch to beta version of the plugin for now.
If the integration work (which I don't think) becomes important I might create a dedicated branch for the work

[2019-07-01 17:28] cleminfo commented on #429
Il y a un tuto pour passer sur ce firmware ?

[2019-07-01 17:54] pipiche38 commented on #429
I beleive that is the same as the standard Zigate firmware

[2019-07-04 09:09] Cortexlegeni commented on #323
Hello, What should I do with the thing you said ?
Should I change the Device configuration manualy ?
I have other strip of the same model but not in use yet, should I try them too ?

[2019-07-04 09:51] pipiche38 commented on #323
Right now the configuration you have is as follow  (which are the default on beta-4.4)
"doUnbindBind": 0,
"allowReBindingClusters": 1,

(1) Do you still have the issue of spontaneous switch-on ? (which was the initial problem )
(2) Is the 2nd problem occurred again ( turning on and loosing connection ) ? Which is a different problem and more related to a lost of communication between Zigate and th

[2019-07-04 11:51] Cortexlegeni commented on #323
The configuration is as in point (1)
and yes, yesterday I had the lost connection again.
[log error 2.txt](https://github.com/sasu-drooz/Domoticz-Zigate/files/3359127/log.error.2.txt)

[2019-07-04 13:58] pipiche38 commented on #323
The link between Strip and Zigate seems to have a bad quality estimated LQI is 46 is one way and 54 in the other way. While the LQI may vary up to 255 !

So for me the issue here is much more on the mesh level and the link quality.
As regards to the question to add other Strip, if they benefit to the mesh , this could be a good think

Last, I would tend to say that the initial problem related to t

[2019-07-05 05:19] Cortexlegeni commented on #323
For the link quality, I d'ont understand the problem, the distance between he zigate and the led strip is 3m of air. There is an osram plug wher the strip is plugged. (due to impossibility to plug it or unplugg without using a ladder)

[2019-07-08 09:43] pipiche38 commented on #453
Implemented in 4.4

[2019-07-08 09:43] #453 closed, assigned to nobody

[2019-07-08 09:44] pipiche38 commented on #388
I suggest to close that one. If you still have problem pleaqse re-open

[2019-07-08 09:44] #388 closed, assigned to nobody

[2019-07-08 09:45] pipiche38 opened #455 "Update plugin.py and simplify the Debuging option"
None
Debug = Debug (check PluginConf for list of Modules)

[2019-07-08 09:45] pipiche38 opened #456 "Add a new parameter in PluginConf in order to be able to list the module we want to active debug"

[2019-07-08 09:45] pipiche38 opened #457 "Update every Module and change all calls to Domoticz.Debug("
by
pluginDebug( 'modulename',

[2019-07-08 09:46] pipiche38 commented on #455
Merged in beta

[2019-07-08 09:46] #455 closed, assigned to nobody

[2019-07-08 09:46] pipiche38 commented on #457
Merged in beta

[2019-07-08 09:46] #457 closed, assigned to nobody

[2019-07-08 09:46] pipiche38 commented on #456
Merged in beta

[2019-07-08 09:46] #456 closed, assigned to nobody

[2019-07-08 09:56] cleminfo commented on #429
C'est pas très clair, quel est le fichier bin a utilisé pour la mise à jour du firmware ?

[2019-07-08 10:23] pipiche38 commented on #429
Le firmware est disponible ici: https://github.com/fairecasoimeme/ZiGate_HA1.2/releases
En fait Akila a fait un repo dédié à ce firmware (je pense pour éviter toutes confusions)

[2019-07-08 19:55] pipiche38 commented on #425
When the RC 110 is set SCENES, then all commands are issues on Ep 01

When the RC 110 is set to LIGHTS, then to get - ON/OFF and + working, you need to first press 1,2,3,4,5,6; then the command is issued on EP 2,3,4,5,6,7,8

[2019-07-08 19:56] pipiche38 commented on #425
Most likely the Remote is binding all devices on cluster 0006 and 0008.

[2019-07-09 05:37] pipiche38 commented on #425
https://www.innrlighting.com/clients/innr/themes/uploads/1484932356_Manual%20for%20Remote%20Control%20-%20RC%20110.pdf

[2019-07-11 17:35] twoenter opened #458 "Error when joining router"
**Describe the bug**
When I try to join a CC2531 zigbee router I have error. With stable plugin no problems

Domoticz log:
2019-07-11 19:17:13.035 Status: (Zigate) Started.
2019-07-11 19:17:13.402 Status: (Zigate) Entering work loop.
2019-07-11 19:17:13.403 Status: (Zigate) Initialized version beta-4.4, author 'zaraki673 pipiche38'
2019-07-11 19:17:13.410 Status: (Zigate) Zigate plugin beta-4.4.6

[2019-07-11 18:35] pipiche38 commented on #458
Could you please attached the file Data/DeviceList-27.txt

Envoyé de mon iPhone

[2019-07-11 19:14] Smanar commented on #458
Ha nice ^^, you are using a CC2531 as router with success (at least with stable) ?
There is someone on forum that ask if it's something possible on zigate.

[2019-07-11 21:14] pipiche38 commented on #458
The issue is not related to the beta, it is more related to the fact that you have a device which is doing a lot of device announced.
For instance the device with Mac Address 00124b001936a406

[2019-07-12 11:05] twoenter commented on #458
Yes, I read the post. Want to reply but I want to be sure it is working in future releases.

I will attach the file this weekend.

[2019-07-12 11:13] pipiche38 commented on #458
Again, the issue is not linked to a compatibility topic.

[2019-07-13 09:12] twoenter commented on #458
Can you help me to get it working again and give it official support?
see also: http://www.domoticz.com/forum/viewtopic.php?f=68&t=28316&p=219276

00124b001936a406 is the cc2531 router

This is my DeviceList-27.txt

[code]

Deleted from domoticz also, now I'm not able to join again:

` 2019-07-13 11:48:06.890 (Zigate) processNotinDB - not able to find response from f6f1 stop process at 0045
2019-0

[2019-07-13 20:11] pipiche38 commented on #458
This is not related to the router topic. it is more related to the fact that the device is not responding to EndPoint descriptions.
Most likely it did work once when you were on stable branch and now it doesn't.

[2019-07-13 20:11] #458 closed, assigned to nobody

[2019-07-13 20:45] pipiche38 commented on #429
Open branch 'pluzzy' to work on it

[2019-07-14 21:34] dpocock commented on #299
@pipiche38 thanks for your efforts on this.

I made a package and pushed it here on the debian/sid branch:
https://gitlab.com/dpocock/domoticz-zigate/tree/debian/sid

You can test it:
[code]

I also made an updated version of the domoticz.deb package, it includes patches from the Debian ITP and uses a more recent version of the Domoticz code:
https://gitlab.com/dpocock/domoticz-debian-raspbian/tre

[2019-07-15 12:47] pipiche38 opened #459 "Prepare Release 4.5"
- Web Admin Interface
- new certified devices
- compatible with Firmware 3.1a
- Online debuging mode
- Still backward compatibility with non-web Admin ( we keep key features in the plugin admin menu)

Based on beta 4.4

[2019-07-15 12:56] pipiche38 commented on #459
#460

[2019-07-17 06:49] pipiche38 commented on #429
https://github.com/fairecasoimeme/ZiGate_HA1.2/issues/2

[2019-07-17 06:49] pipiche38 commented on #429
https://github.com/fairecasoimeme/ZiGate_HA1.2/issues/1

[2019-07-18 12:51] pipiche38 commented on #429
Une première version sur la branche pluzzy ( 77ec89865600bfa7c8d29f6ce0cf89dbe5ec2da0 ) fonctionne avec le capteur de Temp+Humi
Par contre le firmware n'est pas aligné avec le firmware classique de la Zigate et donc je patch le Payload

A first version is working on pluzzy branch ( 77ec89865600bfa7c8d29f6ce0cf89dbe5ec2da0 ). it works with Temp+Humi sensor
However the current zigate-pluzzy-firmware

[2019-07-18 13:16] pipiche38 commented on #429
Documentation on Temp+Humi sensor: https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=2ahUKEwjuiY3ixb7jAhUaA2MBHc-hAy0QFjAAegQIARAC&url=http%3A%2F%2Fwww.netvox.com.tw%2Fusermanual%2FZ716A_UserManual_ENG_WEB.pdf&usg=AOvVaw2qaOK1dstzVKoVpEbFXU5c

[2019-07-18 15:43] pipiche38 commented on #429
<img width="821" alt="Screenshot 2019-07-18 at 17 42 46" src="https://user-images.githubusercontent.com/8291674/61471710-82190b00-a983-11e9-880b-df5d926060ce.png">

[2019-07-20 17:50] cdorbell2 commented on #459
Hi
for testing your new candidate release we use your branch rc-4.5 ?
because i seen this error in my log :

2019-07-20 19:48:08.031  Status: (zigate) DomoticzVersion: 4.11020
[...]
2019-07-20 19:48:18.059  Error: (zigate) Firmware 031a is not yet supported
2019-07-20 19:48:18.059  Status: (zigate) Plugin with Zigate firmware 031a correctly initialized

[2019-07-22 08:49] pipiche38 commented on #459
Commit: 5a56696847ffce3a04690ce4a7b80f888e2cabb5

[2019-07-22 10:18] pipiche38 opened #462 "Beta-4.6"
Handle APS Failure and allow possible retransmission.
   -> Refactor the low level Transport objetc

[2019-07-23 08:12] pipiche38 commented on #462
-> Scenes implementation from Web User Interface and Plugin. waiting for spec/use case infos @deennoo

[2019-07-23 08:14] pipiche38 commented on #430
Could you clarify what you have in mind in Include/Exclude Devices ?
Based on the latest development ( 4.5 Release candidate ). How do you feel ?

As of today, I do not consider integrating Update FW Zigate as this is quiet link to the Hardware it self and is very platform dependent ( Windows, Linux distribution)

[2019-07-23 08:32] pipiche38 commented on #323
I suggest to close this issue as my understanding is the initial problem related to the reset is now fixed.

As regards to the Link Quality , this is somehow independent of the plugin itself.

There are some discussion on various forums that Osram plug have a buggy firmware which make the routing buggy.

[2019-07-23 08:32] #323 closed, assigned to pipiche38

[2019-07-24 16:42] pipiche38 commented on #429
Merged on beta eab8091
Temp+Humi sensor works.

[2019-07-25 10:12] cbakira opened #463 "Comment récupérer l'état d'une ampoule zigbee (Osram, Hue, ...)"
Bonjour,

Je voudrais savoir s'il y a moyen de récupérer l'état d'un périphérique déconnecté.

Par exemple, 1 ampoule compatible Zigbee (Osram, Hue, INNR, ...) alimenté par un interrupteur mural classique (non connecté). Une fois alimenté électriquement, sont état est ON dans domoticz, il est possible de la passer ON/OFF via domoticz. Par contre si par malheur, l'ampoule est éteinte dans l'état ON

[2019-07-25 11:18] pipiche38 commented on #463
Bonjour,

Merci d'utiliser les forums Francophone ou Anglophone pour ce type de question.
    English channel : https://www.domoticz.com/forum/viewforum.php?f=68
    French Channel : https://easydomoticz.com/forum/viewforum.php?f=28&sid=a8633a9d8cb2acccb32872543b50fd47

je vous recommande notamment la lecture de ce poste: https://easydomoticz.com/forum/viewtopic.php?f=28&t=8251&start=80 qui je pen

[2019-07-25 11:18] #463 closed, assigned to nobody

[2019-07-25 11:23] pipiche38 commented on #462
-> New Hardware ( Pluzzy) based on the ZHA1.2 firmware ( https://github.com/fairecasoimeme/ZiGate_HA1.2 )

[2019-07-25 16:04] pipiche38 commented on #337
To be work on.

[2019-07-25 16:28] pipiche38 commented on #337
Akila referring that Livolo will be supported on 3.1b ( https://zigate.fr/forum/topic/livolo-compatible-zigbee/#postid-596 )

[2019-07-31 14:24] pipiche38 commented on #459
cb8b61f9b3155bf2206055754d9c658894a9f0ac

[2019-07-31 14:24] #459 closed, assigned to pipiche38

[2019-07-31 15:02] pipiche38 commented on #462
-> Code cleanup and refactor
-> Bindings

[2019-07-31 15:11] pipiche38 commented on #430
I suggest to close this as 4.5 is out. They are some remaining features like Scene, Bindings which we need to put in the Roadmap

[2019-07-31 15:11] #430 closed, assigned to nobody

[2019-08-01 13:48] pipiche38 commented on #299
@dpocock Daniel, for your information release 4.5 has been out .

[2019-08-02 10:05] pipiche38 commented on #337
In order to force the Extebded PanID
Conf/PluginConf-xx.txt
  "extendedPANID": 5149013381575969,

 Status: (Zigate) Network state UP, PANID: 1fb8 extPANID: 0x00124b00198d7521 Channel: 26

Permit to Join must be always on, as after an electric PowerOff, Livolo restart the Pairing process

[2019-08-02 10:24] KiwiHC16 commented on #337
Salut
There is no need to force the PanId with mine.

[2019-08-02 11:45] pipiche38 commented on #337
@KiwiHC16

Fine for you, anyway I saw quiet a lot of changes done by Akila on the Firmware for 3.1b,

[2019-08-02 14:06] KiwiHC16 commented on #337
Salut,

Oui suite à ma demande.

Mais ces changement ne changent rien sur le fonctionnement de base de la
zigate et le fait qu'il n'est pas nécessaire de forcer le PanId. Cette
info (Forcer le PanId) vient de m2q et pour moi c'est une fausse info.

Le 02/08/2019 à 13:45, Pipiche a écrit :

[2019-08-15 12:10] pipiche38 opened #466 "Integration of Bitronhome devices"
http://www.domoticz.com/forum/viewtopic.php?f=68&t=29029

[2019-08-15 12:26] pipiche38 commented on #466
Centralite Micro Door/Windows contact with temperature metering.
[code]

[2019-08-15 12:29] pipiche38 commented on #466
a96adbe

[2019-08-18 17:24] pipiche38 commented on #466
af62917

[2019-08-21 16:10] ganaux commented on #264
Hi,
I'd like to add a request for this switch.
on and off work well for this switch (domoticz 4.11.215 and zigate plugin 4.5.3).

The switch can send command for long press too but no command are send to domoticz.

in domoticz log with plugin debug i can see :

for up button long press and release :
2019-08-21 18:05:35.584 (zigate) Decode8085 - SQN: 15, Addr: 6fcc, Ep: 01, Cluster: 0008, Cmd: 05,

[2019-08-21 21:01] ganaux opened #467 "ikea e1743 on off switch and long press"
Hi,
I'd like to add a request for this switch (ikea tradfri e1743).
on and off command work well for this switch (domoticz 4.11.215 and zigate plugin 4.5.3).

The switch can send command for long press too but no command are send to domoticz.

in domoticz log with plugin debug i can see :

for up button long press and release :
2019-08-21 18:05:35.584 (zigate) Decode8085 - SQN: 15, Addr: 6fcc, Ep:

[2019-08-22 06:08] pipiche38 commented on #467
This could be possible.
It will required to use a Switch Selector and not a simple switch in Domoticz.

What do you suggest as the different Selectors ?

[2019-08-22 11:23] ganaux commented on #467
I suggest this :
On
Off
Up_push
Down_push
UpOrDown_release (one selector exists for that ?)

I think we have to use "On" and "Off" for compatibility with simple light.
For long press "Up_push" and "Down_push" seems Ok but as there is one only command for release Up ou Down, i don't know what is the appropriate selector ( Off, ToggleOnOff).

[2019-08-22 12:12] pipiche38 commented on #467
Ok. SwitchIKEA

00: Off
10: On
20:: Push Up
30: Push Down
40: Release

I'll make the change on beta branch. You'll have to remove the widget from Domoticz and repair the switch again to get the new behaviour.

Will let you know when the changes will be pushed on beta

[2019-08-22 16:01] pipiche38 commented on #467
Integrated into beta branche 3c3b9ee

[2019-08-22 16:08] pipiche38 commented on #467
The changes have been implemented and should work as expected.
It is backward compatible

Of course, you are aware the Long Press Up/Down are for Level Control.

[2019-08-23 09:34] ganaux commented on #467
I have tested. The plugin do exactly what i need now. I can use it for example to control blinds that are not zigbee (long press and release for partial opening, click for full opening).

I need to have domoticz object with the 5 actions. The name of each action could be changed for final version if needed for other application.

this remote is very low cost (5 euros more when bought with tradfri

[2019-08-23 12:43] pipiche38 commented on #467
With pleasure and I'm sure this will contribute to others, so feel free to advertise on the various Forum.

[2019-08-23 12:43] #467 closed, assigned to pipiche38

[2019-08-23 13:01] pipiche38 commented on #466
Door Contact - OK
Smart Plug - Ok
Motion Sensor - works as a Door contact --- > Let's check if we can detect Motion

[2019-08-30 12:11] pipiche38 opened #468 "refactor DeviceExist() usage and impelmentation"
DeviceExist() is used in several place to check if a Device is known by the plugin and eventually manage a change of Network Short Address.

There is a for loop in the implementation which should be avoid.

Maybe in some places instead of DeviceExist() a simple check to ListOfDevices/IEEE2NWK would be enought

[2019-08-30 12:33] pipiche38 opened #469 "Permit to Join seems not to be alway accurate and reflecting reality"
as in the subject, sometime Zigate is not in permit to join while the plugin beleive it is.

[2019-08-31 15:43] deennoo opened #470 "Xiaomi Zigbee bulb reconize as batterie device"
lumi.light.aqcn02 is a 230v bulb.

on zigate dashbord this device is reconnize as a batterie device

[2019-08-31 16:27] pipiche38 commented on #470
Could you please provide the log ?

Envoyé de mon iPhone

[2019-08-31 16:28] pipiche38 commented on #470
Please provide the device list-xx.txt as well

Envoyé de mon iPhone

[2019-08-31 16:56] pipiche38 commented on #470
Is that a new paired device ?
If yes, could you kindly provide the logs during pairing and the DeviceList-xx.txt,
If not, please provide the DeviceList-xx.txt

[2019-09-01 08:53] pipiche38 opened #471 "MajDomoDevice needs to be refactor"
MajDomoDevice needs to be simplified and avoid some idented test

[2019-09-01 08:55] pipiche38 commented on #470
Problem duplicated. Looks like Aqara is providing an information of battery level

[2019-09-01 12:33] pipiche38 opened #472 "Configure Reporting & ReadAttributes need refactoring"
In order to get Device specifc it would be good to refactor ReadAttribute and ConfigureReporting

[2019-09-01 21:00] pipiche38 commented on #470
Problem is fixed.

[2019-09-01 21:00] #470 closed, assigned to nobody

[2019-09-03 08:59] pipiche38 opened #473 "ReadAttributes refactoring (phase1)"
Purpose is :
(1) store Attribute values directly under the Ep/Cluster tree
(2) Use readAttributes only for status and timestamp purposes

[2019-09-03 09:44] #466 closed, assigned to pipiche38

[2019-09-18 09:38] pipiche38 opened #474 "Device sanity check at startup"
At startup it would be great to performa a device sanity check

- If device in Plugin DB and not Domoticz, this should be flag for erase
- If device in Domoticz DB and not int Plugin Db, this should be flag as an error to be corrected on DZ site

With https://github.com/fairecasoimeme/ZiGate/issues/238, we would be able to also check consistency between Zigate and Plugin

[2019-09-18 09:40] pipiche38 opened #475 "status 'inDB' refelect 'in Domoticz DB'"
Accordingly to the meanings of this stabus, it would be appropriate to change inDB into inDZ

[2019-10-07 13:12] pipiche38 opened #476 "Polling is not forced after a Group command"
If you do a Command on a group, there is no force polling (in case polling is enabled) of the belonging devices.

[2019-10-08 12:15] #476 closed, assigned to nobody

[2019-10-08 12:15] #474 closed, assigned to nobody

[2019-10-08 12:16] pipiche38 commented on #425
Implemented in 4.6

[2019-10-08 12:16] #425 closed, assigned to nobody

[2019-10-10 14:55] pipiche38 commented on #349
https://github.com/prj84/com.Elko

[2019-10-13 12:10] pipiche38 commented on #337
drop!

[2019-10-13 12:10] #337 closed, assigned to pipiche38

[2019-10-14 08:59] pipiche38 opened #477 "Managing SQN"
SQN is provided in order to avoide handling duplicate incoming messages.
Plugin should manage the SQN number in order to forgett duplicate messages.

[2019-10-14 09:00] pipiche38 opened #478 "Avoid handling double Device Annouced"
Some devices seems to issue several Device Announce.
The plugin should process only one and avoid processing them several time.

[2019-10-14 16:32] pipiche38 commented on #478
5ea3a2b

[2019-10-14 16:32] #478 closed, assigned to nobody

[2019-10-14 21:21] pipiche38 opened #479 "Manage list of ProfileID/ZDeviceID"
Today the plugin is only keeping One ZdeviceID and ProfileID, while several can be provided ( one per Ep)

[2019-10-15 08:59] pipiche38 commented on #479
Must keep compatibility with alaready apired devices.

- User the Version tag in order to detect changes in the data structure
- During the database load, upgrade existing V3 to new one V4

* Question: do we need ProfileID/ZDeviceID per Ep ?

### alternatives :
1. - ZdeviceID and ProfileID become a List of items
1. - ZDeviceID and ProfileID are based on Ep
      * ListOfDevices[nwkid]['ZDeviceID']

[2019-10-15 09:02] pipiche38 commented on #477
I don't think that SQN is valid for the plugin layer, it is more something internal  to the Zigbee stack.

Looks like SQN behaviour depends on Router or End Device.

Droping this feature. Not bringing values

[2019-10-15 09:02] #477 closed, assigned to nobody

[2019-10-23 07:32] #469 closed, assigned to nobody

[2019-10-23 07:32] #462 closed, assigned to nobody

[2019-11-04 09:55] pipiche38 opened #480 "In case of Xiaomi End Device, do not bind nor configure reporting"
In case of Xiaomi End Device like THB ... Do not bind/Configure

[2019-11-04 16:26] deennoo opened #481 "Tuya Zigbee Temp/Hum Sensor with Screen"
Just get this device from Tuya : https://fr.aliexpress.com/item/4000277514396.html?spm=a2g0s.9042311.0.0.6e6f6c37U7yWC2

all is ok this PiZigate :

`2019-11-04 17:16:12.590 Status: (Pi Zigate) Device Announced ShortAddr: 0039, IEEE: ec1bbdfffe783d07
2019-11-04 17:16:12.845 Status: (Pi Zigate) [-] NEW OBJECT: 0039 Request Simple Descriptor for Ep: 01
2019-11-04 17:16:13.000 (Pi Zigate) Decode8043 -

[2019-11-04 16:40] pipiche38 commented on #481
Thanks, will fix it

[2019-11-06 08:13] pipiche38 opened #482 "Improve Group Scan processing"
When scaning for Group, don't scan devices which are not in the ZigateGroupList

[2019-11-06 10:50] Gemies commented on #482
Maybe you can distinguish two seperate group scans. One who does the full group scan. And the other variant scanning  for new groups and adding only new groups too the devicelist without touching the existing groups. That would be perfect in the webui.

[2019-11-06 18:04] pipiche38 commented on #482
@Gemies Thanks for the suggestion, here is where I am:

1. Group was never scan before ( eg there is no GroupList cache file), we do a full scan
2. Via the Web Interface, or manualy there is a new or updated Group (eg. ZigateGroupConfig has been updated), then we will only scan a limited number of devices.

In the case of 2. the easy/fast step is to only target the devices which are in the Group d

[2019-11-06 19:57] Gemies commented on #482
Next step sounds promising 👍

[2019-11-07 13:21] pipiche38 commented on #482
Step1:  e615cb5

[2019-11-07 17:50] deennoo commented on #481
ok just update and device creation give only 3 devices : temp+hum / temp / hum

perfect i close it

[2019-11-07 17:50] #481 closed, assigned to pipiche38

[2019-12-14 08:41] deennoo opened #483 "Tuya Zigbee Line Only (model : TS0011) reconize as Batterie Device"
Running :
Zigate fw : 031a
Plugin Beta : 4.6.036
Domoticz : Version: 4.11334

I get some Tuya 1 Gang Switch running Zigbee 3.0, they use Line Only they are reconize as Battery Device.

Surely they don't mesh our network, but surely they use Line to be powered.

On the Pics :

7589
8fc3
65a7

Are TS0011 Switch

![illustration-rseau](https://user-images.githubusercontent.com/9532206/70846093-35642e0

[2019-12-18 19:55] pipiche38 opened #484 "Make Specific Device Configuration"
Some devices required specifics, like way to bind (and not bind) cluster, way to set Configure Reporting. (Devices like Hue Remote, Legrand, Schneider ....)

The idea would be to enhance (extend) the use of Conf/DeviceConf.txt in order to give a bit more hints so the plugin could behave accordingly without having to touch and make if then else type of code.

[2019-12-18 20:10] pipiche38 commented on #484
Concept will be to create under Conf/Certified one file per Model of certified device. The file DeviceConf.txt will coexist until all entries will be converted to the new format.

The structure of the Conf/Certified/Model.json will be base on the following

### json format

### Structure

| Tag | Description |
| --- | ------------ |
| "Ep" | List of End Point with list of Cluster for each Ep. Must

[2019-12-18 20:12] pipiche38 commented on #484
In case to Cluster to bind then
"ClusterToBind":[]

In case to Configure Reporting
"ConfigureReporting":[]

In case you want to use the default cluster to bind way, or the Configure reporting, then you don't put the corresponding entry

[2019-12-18 20:14] pipiche38 commented on #484
From a performance point of view there are 2 approaches:

Approach 1:
1. By default are loaded in memory only the Model for which an entry is found in DeviceList-xx at plugin start.
1. Then In case the Zigate is switched in Permit Mode, all other entries are loaded.

Approach 2:
1. All entries are loaded into memory

[2019-12-18 20:24] pipiche38 commented on #480
Will be addressed by #484

[2019-12-18 20:25] pipiche38 commented on #473
#484

[2019-12-18 20:25] pipiche38 commented on #472
#484

[2019-12-18 20:34] pipiche38 commented on #484
Impacted Modules:

1. Modules/database.py
   * Changes have to start here. No changes to the internal data structure : self.DeviceConf
   *  synopsis:
          1. Read Conf/DeviceConf.txt
          1. For each file in Conf/Certified/
             1. if the Model already exist in self.DeviceConf then remove the entry
             1. load the model into self.DeviceConf

    As we keep the Data stru

[2019-12-21 10:34] #484 closed, assigned to nobody

[2019-12-21 18:34] pipiche38 opened #485 "LEDVANCE SMART+ PLug reseting every 2' and 36 seconds"
After pairing the Smart+ Plug is resetting every 2' and 36''

[2019-12-21 18:55] pipiche38 commented on #485
This looks very strange.

(1) Put Zigate in Pairing mode
(2) Stop Plugin
(3) Reset the Smart+ Plug

=> Got auto reset in the next 3'

Looks like something is not done and the Plug is auto-reseting

[2019-12-21 21:03] pipiche38 commented on #485
Seem that moving Zigate from channel 15 to Channel 11, and redo the pairing fix the all issue !

[2019-12-21 21:03] #485 closed, assigned to nobody

[2020-01-02 11:00] ZeGuigui opened #486 "Loosing devices in plugin database"
After domoticz restart, I loose some (or all) of my paired devices and I have to associate them again (deleting domoticz devices before hand).

In the logs here is what I can find:

[code]

Any idea how to backup / check if database is correctly writen? I tryed to adjust unix permissions on files but I have not idea if I changed the right files!

I am using domoticz beta on a synology NAS:
[code]

[2020-01-02 12:23] pipiche38 commented on #486
Better to use the forum. The GitHub issue is for bug reporting

Envoyé de mon iPhone

[2020-01-02 12:42] ZeGuigui commented on #486
Well it looked like a bug to me! I will post in the forum
**edit:** link to french forum: https://easydomoticz.com/forum/viewtopic.php?f=28&t=9370

[2020-01-02 17:18] pipiche38 commented on #486
Thanks for posting it to the forum , which is the best place.

[2020-01-02 17:18] #486 closed, assigned to nobody

[2020-01-07 19:12] GSzabados commented on #483
@deennoo a user on the Smartthings community posted a picture and ST recognized the device as SLEEPY_END_DEVICE. It is probably due to the Power source defined incorrectly in the basic cluster.
By the way, is the standby LED at the button is working on your device?

[2020-01-08 09:14] deennoo commented on #483
Clearly not

Those devices are reconize as battery device

I didn't try tonpair them on a tuya gateway and sniff what happen.

Will try it

[2020-01-08 11:22] GSzabados commented on #483
@deennoo, thanks! It is might be due to the fact, that it is a Live only device. They can have a capacitor to hold the power when the light is off, or has a kind of parasitic power use. This way, they would not operate as a repeater. Maybe that is the whole reason behind it.
The user on the ST community forum was interested about the backlight of the button, as it is not on, when the light is turn

[2020-01-17 18:23] pipiche38 commented on #473
Done with the new Configuration file

[2020-01-17 18:23] #473 closed, assigned to nobody

[2020-01-17 18:23] pipiche38 commented on #472
Done with new Configration file

[2020-01-17 18:23] #472 closed, assigned to nobody

[2020-01-17 18:24] pipiche38 commented on #480
Done with new Configration file

[2020-01-17 18:24] #480 closed, assigned to pipiche38

[2020-01-18 18:48] deennoo commented on #483
night light isn't working pair to a zigate.

I'll try to pair one to the tuya gateway

[2020-01-19 16:46] deennoo commented on #483
I Just test device call x713 (TS0013) : 3 Gangs line only : Night light doesn't work with Tuya Zigbee Gateway

[2020-01-19 16:49] deennoo commented on #483
I have a test on x713 device 3 gang with line only, Reconize on Zigate as TS0013.
I Pair it on Tuya Zigbee Gateway : nightlight doesn't work.

[2020-01-19 16:54] deennoo commented on #483
@pipiche38

there is my Export from Devices List RAW (json)

Here we are talking about device reconize as :
 - TS0011 = 1 Gang Line Only
 - TS0012  = 2 Gang Line Only
 - TS0013  = 3 Gang Line Only

[export (3).zip](https://github.com/pipiche38/Domoticz-Zigate/files/4082955/export.3.zip)

[2020-01-19 16:58] deennoo commented on #483
on pairing i'm facing :

2020-01-19 17:57:29.282 (PiZigate Wifi) ReadCluster - 0000 d985/01 attribute Zemismart - ffe2: 0x13 19
2020-01-19 17:57:29.283 (PiZigate Wifi) readCluster - 0000 - d985/01 unknown attribute: ffe1 48 0000
2020-01-19 17:57:29.334 (PiZigate Wifi) readCluster - 0000 - d985/01 unknown attribute: fffe 30 0001 00
2020-01-19 17:57:29.334 (PiZigate Wifi) readCluster - 0000 - d985/0

[2020-01-19 17:24] pipiche38 commented on #483
6ec0a76

[2020-01-28 14:45] #483 closed, assigned to nobody

[2020-02-16 20:57] blooesky opened #490 "Not all widgets are created"
Hi, I paired with zigate an xiaomi plug but in domoticz it was created only 2 widgets, switch and voltage. Two widgets are missing: live electricity usage and general electricity counter.
After I deleted the device from domoticz and I tried again and is the same result.

I using domoticz beta, zigate firmware 3.1c and plugin beta 4.8.002

[2020-02-17 06:49] pipiche38 commented on #490
Please use the forum

Envoyé de mon iPhone

[2020-02-17 06:52] pipiche38 commented on #490
Please use the domoticz zigbee forum or the french domoticz zigate forum to post your problem. If qualified a GitHub issue might be open

[2020-02-17 06:52] #490 closed, assigned to nobody

[2020-02-17 07:05] blooesky commented on #490
Ok,.

Thx

[2020-03-23 12:51] rbrouwer opened #492 "onStart failed 'ValueError':'invalid literal for int() with base 10"
With the latest version of Domoticz version numbering has changed, causing this plug-in to fail. It will not be able to load, because it fails to parse the version numbering.

The error in the logs:
onStart failed 'ValueError':'invalid literal for int() with base 10

Populating the variable "self.DomoticzMinor" is the issue and I personally temporary hard-coded it to something > 10355, but I can g

[2020-03-23 18:41] pipiche38 commented on #492
fix on b275526

[2020-04-04 14:21] gotchai opened #494 "Loosing the color wheel menu for GLEDopto device GL-C-001MC USB Mini LED controller RGB+CCT after 2020.1 update"
**Describe the bug**
I have made a clean install of domoticz 2020.1 on raspbian, and of the zigate plugin from github.
After pairing a Gledopto RGB+CCT device with the zigate plugin, the device is correctly displayed in the domoticz dashboard.
But I loose the ability to choose color on the device, there are only on/off switch and the level of light available (see capture) while this device is RGB

[2020-04-04 15:18] pipiche38 commented on #494
Should work with beta version of the plugin.

Could you be cross-check in the Forum and especially that one :

https://www.domoticz.com/forum/viewtopic.php?f=68&t=31356

If still it is not solev via this, please report it by following those: https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/en-eng/Dealing-with-none-certified-device.md

[2020-04-04 15:18] #494 closed, assigned to nobody

[2020-04-08 20:19] #492 closed, assigned to nobody

[2020-04-16 09:14] pipiche38 opened #498 "Managing Commands for Battery based devices"
The purpose is to be able to send command ( Bind, Unbind, Setpoint ), to battery based devices.
Those devices do not Receive on Idle, so the trick is to wait that they send a message to use this time to send the command.

It doesn't work with Xiaomi devices , as the only way to receive message is to be somehow "reseted"  we have to use the reset button.

For Schneider, Legrand, Eurotronics

Change

[2020-04-17 05:54] pipiche38 opened #500 "Create a specifcs Polling for non-capable configureReporting Devices"
Devices like Philips Hue , GLEDOPTO and some others do not support configure Reporting and required polling.

Today's plugin setup , do the polling for all Clusters for all main powered devices.

Here the idea is to enable a more frequent but limited polling for specifcs devices.
The polling would be limited to Clusters 0x0006, 0x0008 with a higher frequency ( like 1 minutes ), and will limite its

[2020-04-17 05:54] pipiche38 opened #501 "Make the plugin Zigate EndPoint configurable"
as described in the Title

[2020-04-18 15:24] #501 closed, assigned to nobody

[2020-04-18 15:24] pipiche38 commented on #500
#503

[2020-04-18 15:24] #500 closed, assigned to nobody

[2020-04-18 15:28] pipiche38 commented on #498
Fix with #503

[2020-04-18 15:28] #498 closed, assigned to nobody

[2020-04-21 07:03] tof92130 commented on #327
Hi, I face same problem can we remove a Device and keep the Data attached to that device ?

[2020-04-21 07:29] pipiche38 commented on #327
could you kindly describe what you mean ?
(1) what is the relation with the Issue in subject ?
(2) If you remove a Device, why keeping the data ?

Please use the forum French or English as described at the end of the Wiki
https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/en-eng/Home.md

[2020-04-21 08:09] tof92130 commented on #327
My log shows an error (jointed). If I suppress the two devices that present the problem, the error should disappear but I fear to loose the history of the Device

`
2020-04-21 10:07:03.387 Error: (Zigate) processNotinDBDevices - Devices already exist. Zigate Ciné with {'ReceiveOnIdle': '', 'Capability': ['Reduced-Function Device', 'Standard security', 'NwkAddr should be allocated'], 'HW Version':

[2020-04-21 08:25] pipiche38 commented on #327
@tof92130 , as mentioned, please use one of the forum to get support on that issue. Thanks

[2020-04-22 10:47] pipiche38 opened #517 "Strange behaviour where remote switches are generating a Domoticz onCommand()"
Strange behaviour where remote switches are generating a Domoticz onCommand()

[code]

[2020-04-24 09:24] pipiche38 opened #520 "Move DeviceList-xx.txt to JSon Format"
Purpose is to use a JSon format instead of a plugin specific one

[2020-04-24 09:25] pipiche38 opened #521 "crash and lost of data when using extended ASCII char in Friendly Name"
When using é/è... char in Friendly Name, plugin crash and loose entries!

[2020-04-24 10:36] #520 closed, assigned to nobody

[2020-04-24 12:01] #471 closed, assigned to nobody

[2020-04-24 12:52] #468 closed, assigned to nobody

[2020-04-24 12:52] #521 closed, assigned to nobody

[2020-04-26 17:51] pipiche38 opened #529 "For Legrand Dimmer, LevelControl Bind must be done when feature enabled"
For the Legrand Dimer. By default after a reset the LvlControl is not enabled, and so the Bind will be rejected.

The bind must be done when enabling the Dimmer feature and unbind must be done when disabling the feature

[2020-04-26 18:36] pipiche38 opened #531 "after 1st initialisation save the channel used by Zigate"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-27 08:32] pipiche38 opened #534 "develop the possibility to Firmware Upgrade a selected device"
Firmware update for Battery based devices is quiet challenging. It would be great if via the Web UI, we could select the device and the Firmware we want to push

[2020-04-27 11:38] #531 closed, assigned to nobody

[2020-04-30 17:10] pipiche38 opened #541 "during discovery, differntiate IN clusters and OUT clusters"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-02 11:12] pipiche38 opened #544 "'/' char is stripped now in 0x0000/0x0005 but need to correct the old one"
'/' is removed/strip from teh Model name in order to have the config file on a file system.
However if there are some existing device already provisioned with the Model name containing the '/' we need to correct it.

Best is probably to do that during database import

[2020-05-02 13:25] pipiche38 opened #547 "Use hexdigits instead of is_hex"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-02 14:49] llimz opened #548 "xiaomi simple wired button with neutral not recognized + python error"
I've plenty of xiaomi and ikea devices which are working well. I've got only 1 simple wired button (with neutral) which is not recognized correctly by the plugin.

The stange thing with this button is that I've got blue leds and red leds at the bottom part. This is the only button I can see red leds. I don't know if it can help to check if it i a new version or something.

When trying to associate

[2020-05-02 14:54] #544 closed, assigned to nobody

[2020-05-02 15:17] pipiche38 commented on #548
The error message is fixed on the beta branch.
As for your device not correctly recognized, please use one of the Domoticz forum as documented in the Wiki:
https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/en-eng/Dealing-with-none-certified-device.md

[2020-05-02 15:17] #548 closed, assigned to nobody

[2020-05-02 15:29] #547 closed, assigned to pipiche38

[2020-05-02 15:45] pipiche38 commented on #541
This would required some large re-factoring, as this would impact what is below 'Ep' .
The idea would be to have the following structure

[code]
__Server__: A cluster interface  which is listed in the input cluster list of the simple descriptor on an endpoint. Typically this interface supports all or most of the attributes of the cluster.A server cluster communicates with a corresponding remote cl

[2020-05-02 15:47] pipiche38 commented on #541
In order to make the transition smooth, a steps approach will be taken

1- Introduction of a new pragma 'Epv2' which stands for Ep version 2
2- Start using EpV2

Will see later if decommissioning will have to be done or not

[2020-05-02 17:35] pipiche38 commented on #541
We may need to consider how the Conf file will be handled as we should also have ClusterIn and Out

[2020-05-04 07:40] pipiche38 opened #558 "In the OTA, provide an option to force Upgrade"
Purpose is to allow forcing firmware upgrade

[2020-05-04 08:11] #558 closed, assigned to nobody

[2020-05-04 22:01] egrueda opened #561 "Aqara switch not working with 4.8.18"
Using Domoticz 2020.2 (build 12017) and Aqara Single Wall Switch
Was workinf fine during months
But since last pugin update, it stopped working

Other aqara devices work, only affects to the single wall switch

Failing scenario:
Domoticz 2020.2
Plugin: 4.8.018
Firmware: 031c
Device found and connected
Not receiving any communication

Back to stable:
Domoticz 2020.2
Plugin version: 4.7.010
Firmware

[2020-05-05 08:20] pipiche38 commented on #561
Please use the forum and get to the latest version

[2020-05-05 08:20] #561 closed, assigned to nobody

[2020-05-05 08:22] egrueda commented on #561
I already got it working with the latest version.
Just wanted to advise you there is a BUG with version 4.8.018
Regards

[2020-05-05 09:28] pipiche38 commented on #561
4.8  is beta and is in continuous development.

[2020-05-05 09:30] egrueda commented on #561
I know, I just thought you would like to receive some feedback on the beta version.
Never mind, bet regards

[2020-05-05 10:15] pipiche38 commented on #561
Feedbacks are good. Thanks for that. Just use the forum (and usually I'm active on it), it is easier and you get a broader attention ;-)

[2020-05-05 10:17] egrueda commented on #561
Ok! I will report in the forum. Thanks!

[2020-05-06 07:41] pipiche38 opened #564 "Refactor MajDomoDevice in order to avoid screening the entire liste of widgets"
For each single Domoticz Widget (Device) we will look if the Widget needs update  from that request
IT MIGHT BE FASTER , TO FIRST LOOK FOR CLUSTERTYPE in the nwkid entry and then get the potentials
list of ( EPs, Device.ID, Type) and update accordingly, instead of screening the All Widget list from domotic

[2020-05-06 21:29] pipiche38 opened #566 "Since the new update, some of my Ikea Plug do not work."
After updating to the latest beta branch, I cannot command some - not all - of my IKEA TRADFRI plug (connected outlet)

[2020-05-06 21:31] pipiche38 commented on #566
We have found a miss-configuration in the Plugin Database.
Looks like the Widgets were associated to the device Endpoint 02 , while the Plug must be controlled via EndPoint 01

What is the root-cause of the miss-configuration ?
Why the plugin was able to command the plug with such miss-configuration ?

[2020-05-06 21:33] pipiche38 commented on #566
One of the update we have recently pushed is a re-factoring of the way we retreive information from the database to perform actions on the end device.
The previous code was ugly and they were an issue with an end result of by-passing the Endpoint finding from the Database and using instead a default endpoint of 01, which make it working.

[2020-05-06 21:33] pipiche38 commented on #566
Not identied

[2020-05-06 21:34] pipiche38 commented on #566
Remove the Device widgets from Domoticz, make sure that all have been removed.
Redo the pairing

Alternative could be a small tool to dig into the Database and reshape the widget to the right place

[2020-05-08 11:07] pipiche38 commented on #529
Related to bad configuration/usage of Set Level

[2020-05-08 11:07] #529 closed, assigned to nobody

[2020-05-08 13:21] #566 closed, assigned to nobody

[2020-05-08 13:35] pipiche38 commented on #566
In order to fix the problem, we need to enable Patch Bug566 from the Advanced Settings, then restart the plugin

[2020-05-08 14:00] pipiche38 commented on #564
merge #568

[2020-05-08 14:00] #564 closed, assigned to nobody

[2020-05-08 14:01] pipiche38 commented on #517
THIS IS related to a bug where MajDomoDevice is using SetLevel not expected !

[2020-05-08 14:01] #517 closed, assigned to nobody

[2020-05-08 14:02] pipiche38 commented on #479
Implemented in #541

[2020-05-08 14:02] #479 closed, assigned to nobody

[2020-05-09 13:32] pipiche38 opened #576 "Automatic increment of version number"
We would like to have an automatic increment of build version when doing a Merge on beta branch.

As of now, the VERSION is managed via a file in .hidden/VERSION (json format)

The general idea would be to get the version build (zzz)  X.Y.zzz automatically incremented after every PR merge

[2020-05-13 11:13] pipiche38 opened #596 "Fix 12 Duplication, 1 Complexity, 2 Security, 9 Maintainability issues in multiple files"
[CodeFactor](https://www.codefactor.io/repository/github/pipiche38/domoticz-zigate/overview/refactoring) found multiple issues:

#### Duplicate Code
[Classes\WebServer.py:923-944
](https://www.codefactor.io/repository/github/pipiche38/domoticz-zigate/source/refactoring/Classes/WebServer.py#L923)[Classes\WebServer.py:1002-1025
](https://www.codefactor.io/repository/github/pipiche38/domoticz-zigate/

[2020-05-13 11:13] pipiche38 opened #597 "Fix 2 Complexity, 1 Security, 23 Maintainability, 3 Duplication issues in multiple files"
[CodeFactor](https://www.codefactor.io/repository/github/pipiche38/domoticz-zigate/overview/refactoring) found multiple issues:

#### Very Complex Method
[Classes\GroupMgt.py:1464-1948
](https://www.codefactor.io/repository/github/pipiche38/domoticz-zigate/source/refactoring/Classes/GroupMgt.py#L1464)Commit c8d0fe18b1c6661296b311a2a0bca96167048b40

#### Pickle and modules that wrap it can be unsaf

[2020-05-13 11:15] pipiche38 opened #598 "Fix 15 Maintainability, 1 Complexity issues in plugin.py"
[CodeFactor](https://www.codefactor.io/repository/github/pipiche38/domoticz-zigate/overview/refactoring) found multiple issues:

#### Useless return at end of function or method
[plugin.py:999
](https://www.codefactor.io/repository/github/pipiche38/domoticz-zigate/source/refactoring/plugin.py#L999)Commit c8d0fe18b1c6661296b311a2a0bca96167048b40
[plugin.py:516
](https://www.codefactor.io/repository

[2020-05-14 08:17] #596 closed, assigned to nobody

[2020-05-15 16:50] pipiche38 commented on #597
#605

[2020-05-15 16:50] #597 closed, assigned to nobody

[2020-05-20 21:10] pipiche38 opened #618 "Implement ReadReportingConfigure and ReadReportingConfigureResponse"
API ZIGATE
0122 and 8122

[2020-05-25 19:54] pipiche38 commented on #576
Done via simple script

[2020-05-25 19:54] #576 closed, assigned to nobody

[2020-05-26 10:57] pipiche38 commented on #482
#610

[2020-05-26 15:13] #482 closed, assigned to pipiche38

[2020-05-29 09:03] pipiche38 opened #626 "After a device annoucement, WebBind might need to be rescheduled"
After receiving de Device annoucement the WebBind might need to be rescheduled

[2020-05-30 08:19] pipiche38 opened #628 "Handle the new Switch behavior"
https://www.domoticz.com/forum/viewtopic.php?f=68&t=21080&p=249074#p249074

[2020-05-30 14:38] pipiche38 commented on #626
fixed : d0e78ac
PR #631

[2020-05-30 14:38] #626 closed, assigned to nobody

[2020-06-02 17:39] pipiche38 commented on #628
resetSwitchSelectorPushButton
forceSwitchSelectorPushButton

[2020-06-03 20:05] Cortexlegeni commented on #323
Hello, I'm back with a problem of the same type, today when the power went off due to a storm, the led strim turned on and wont respond to Zigate command again.

[2020-06-29 15:22] geertvercamer opened #683 "Error on Windows Version 4.9.004"
2020-06-29 17:16:55.191 Error: (Zigate) 'onMessage' failed 'PermissionError'.
2020-06-29 17:16:55.192 Error: (Zigate) ----> Line 984 in 'C:\Program Files (x86)\Domoticz\plugins\Domoticz-Zigate\plugin.py'
2020-06-29 17:16:55.192 Error: (Zigate) ----> Line 519 in 'C:\Program Files (x86)\Domoticz\plugins\Domoticz-Zigate\plugin.py'
2020-06-29 17:16:55.192 Error: (Zigate) ----> Line 325 in 'C:\Program

[2020-06-29 16:03] pipiche38 commented on #683
Please do use the forums for that.
Looks like you have Access Right issues

Forum en Français https://easydomoticz.com/forum/viewforum.php?f=28
Forum in French https://www.domoticz.com/forum/viewforum.php?f=68

[2020-06-29 16:30] pipiche38 commented on #683
The error is happening while trying to create/update a file named Conf/PluginConf-xx.json where xx is the hardware Id of the plugin instance in Domoticz

The plugin by default create files under its directory tree. Basically

Domoticz-Zigate is the home directory of the plugin
Domoticz-Zigate/Conf  is where configuration file are store and can be updated via the Web Interface
Domoticz-Zigate/Data

[2020-06-29 17:59] pipiche38 commented on #683
Please do start Domoticz with Administrator mode as shown in this picture

<img width="699" alt="Screenshot 2020-06-29 at 19 57 48" src="https://user-images.githubusercontent.com/8291674/86039585-ec1aab00-ba42-11ea-879e-eafb8c13fb7b.png">

[2020-06-29 20:53] geertvercamer commented on #683
It is running as a service...

However, I've changed the config file to
{
  "channel": "11",
  "filename": "D:\\DomoticzExtra\\Zigate\\Conf\\PluginConf-19.json",
  "homedirectory": "C:\\Program Files
(x86)\\Domoticz\\plugins\\Domoticz-Zigate\\",
  "pluginConfig": "D:\\DomoticzExtra\\Zigate\\Conf\\",
  "pluginData": "D:\\DomoticzExtra\\Zigate\\Data\\",
  "pluginHome": "C:\\Program Files
(x86)\\Domo

[2020-06-30 13:15] pipiche38 commented on #683
Thanks, for sharing this tips.
But I guess you have also move the Domotciz DB outside of the standard path.
So installing plugins on a non-system-admin folder could be a better way.

[2020-06-30 13:15] #683 closed, assigned to nobody

[2020-06-30 13:15] #628 closed, assigned to nobody

[2020-06-30 14:41] geertvercamer commented on #683
no, I haven't moved the Domoticz DB. I wasn't aware of that possibility.
Installing in C:\Domoticz instead of C:\Program Files\Domoticz is probably
a better option.

Thanks for all the help anyway.
Met vriendelijke groet,

Geert

On Tue, 30 Jun 2020 at 15:15, Pipiche <notifications@github.com> wrote:

[2020-06-30 15:17] pipiche38 commented on #683
@geertvercamer  would appreciate your help in documenting what you did for the Windows setup. I do agree that it will help Windows users to handle those access rights issues
https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/en-eng/Plugin-windows.md

[2020-07-01 16:05] geertvercamer commented on #683
@Pipiche38, I guess your page is rather obvious. (there is a 'n' too much in the title though)

I made a new folder, outside of the 'Program Files' structure. I copied all the folders from the original location. Then edited the configuration file in order to change the path. The new settings were saved both in the original location and in the new folder. (won't work if you don't save it in the new

[2020-07-25 07:56] #541 closed, assigned to nobody

[2020-07-25 07:57] #475 closed, assigned to nobody

[2020-09-18 15:23] pipiche38 opened #693 "Support Xiaomi - lumi.remote.b286acn02"
https://easydomoticz.com/forum/viewtopic.php?f=28&t=10494&p=87521#p87521

[2020-09-18 15:23] pipiche38 commented on #693
[export-4.zip](https://github.com/pipiche38/Domoticz-Zigate/files/5246462/export-4.zip)

[2020-09-21 10:29] pipiche38 commented on #693
Request user to test

[2020-09-24 08:23] pipiche38 commented on #693
implemented and confirmed

[2020-09-24 08:23] #693 closed, assigned to nobody

[2020-09-24 08:23] #598 closed

[2020-09-27 09:59] pipiche38 opened #696 "wiser must get Read Attribut Request via Decode0100 and not inRAW"
As Transport is now able to decode 0x8002 messages and transform them into Standard ZiGate firmware, the 0x0100 (Read Atttribute Request) is intercepted and seen as Decode0100.
However schneider_wiser.py rely on 0x8002 to get all incoming message in schneiderReadRawAPS()

on 4.11 there is an expection that Cluster 0x0201 is sent as 8002 and so reach schneiderReadRawAPS.

However that is not optimu

[2020-09-28 08:34] pipiche38 opened #697 "Data Type above 0x30 are not correctly managed in ConfigureReporting"
As described in Title, the Data Type 0x30 and above must not set the Change Field when setting a configure reporting

[2020-09-30 06:54] #697 closed, assigned to pipiche38

[2020-10-01 09:19] twoenter opened #703 "Failed to load plugin.py at Synology NAS"
After upgrade firmware from 30f to 31c and a git pull command for the plugin I have this error

2020-10-01 10:55:45.780 Error: (Zigate) failed to load 'plugin.py', Python Path used was '/usr/local/domoticz/var/plugins/Zigate/:/volume1/@appstore/py3k/usr/local/lib/python35.zip:/volume1/@appstore/py3k/usr/local/lib/python3.5/:/volume1/@appstore/py3k/usr/local/lib/python3.5/plat-linux:/volume1/@appst

[2020-10-01 10:03] twoenter commented on #703
NACK errors are solved by turning on and off one of the ikea bulbs. Cut power off.

[2020-10-05 08:25] pipiche38 commented on #703
Not sure what it is, but please use the Forums first to qualify if the issue is relevant to a bug in the plugin or not.
Thanks

[2020-10-05 08:25] #703 closed, assigned to nobody

[2020-10-10 09:46] pipiche38 commented on #696
@badzz for info, I'll implement it. Branch Wiser#696 created for that purpose.

[2020-10-10 10:14] pipiche38 opened #710 "Casa.ia devices integration"
Integration of Owon devices

[2020-10-10 10:15] pipiche38 commented on #710
https://casaia.fr/la-domotique-2/

[2020-10-10 10:24] #696 closed, assigned to pipiche38

[2020-10-10 14:03] pipiche38 opened #712 "OTA needs to be refactor"
Refactor OTA in order to :
- be able to select only one device to upgrade
- propose firmware to only compatible devices

[2020-10-12 14:39] pipiche38 opened #716 "Web UI is not started if the ZiGate is not running !"
The web UI is not started when the ZiGate has issues.

[2020-10-16 18:00] pipiche38 opened #721 "Get lumi.lock supported"
https://easydomoticz.com/forum/viewtopic.php?f=28&t=10587

https://fr.aliexpress.com/item/32933948 ... 6c37F555nA
https://zigbee.blakadder.com/Xiaomi_Vima_A6121.html

Qu'attendez-vous :
état : Niveau de batterie
état : quand le serrure fait un retour d'erreur ( comme forcer )
état : quand la clef non autorisé est inséré
état : quand la clef autorisé est inséré
Avoir le numéro de clef inséré autori

[2020-10-21 10:49] pipiche38 commented on #721
Available on beta ( d01c4ebdcfd12b9ca237c03a3e1ac7cead60c378 )

[2020-10-21 10:49] #721 closed, assigned to nobody

[2020-10-21 10:51] pipiche38 opened #723 "Get ENKI LEXMAN device support"
As describe, validate the support of ENKI LEXMAN devices into ZiGate and Plugin.

For now I have ordered (based on the donation I received so far ) one Bulb to test the pairing and handling.

[2020-10-21 10:52] pipiche38 commented on #723
waiting for the Bulb - scheduled for end of the week

[2020-10-21 10:58] pipiche38 opened #724 "Support Samotech Zigbee Interrupteurs et variateurs"
Based on the donation received I have ordered 1 simple item
Tuya ZigBee 3.0 Smart Light Switch Module

https://www.moeshouse.com/search?type=product%2Carticle%2Cpage&q=Tuya+ZigBee+3.0+Smart+Light+Switch+Module

[2020-10-21 10:58] pipiche38 commented on #724
Wiating for delivery

[2020-10-21 13:19] jfcjfc commented on #724
pipiche38 : As dry contact, L1 and L-out are the relay,  L and N are the 220v power  ??? Test after the holidays, it's the heating, I want to be there.

[2020-10-22 08:44] pipiche38 commented on #723
Works with standard plugin.
Level Control
On/Off
RGB
WW

Will investigate more for other features

[2020-10-22 09:18] pipiche38 commented on #723
Power On state after ON/Off works as Philips.
In such we can configure what the Bulb will be after an electrical power Off/On

[2020-10-22 10:06] pipiche38 commented on #723
Pairing with an IKEA Remote do no work!

[2020-10-22 10:08] pipiche38 commented on #723
Test with Group  it works and configure reporting works !

[2020-10-22 18:43] #723 closed, assigned to nobody

[2020-10-22 18:43] pipiche38 opened #725 "When there is a communication issue during startup, there is nothing reported in the Log"
as described in the title

[2020-10-24 15:05] Miloune opened #728 "Error: (Zigate) 'onMessage' failed 'error':'argument out of range'."
Hello,

Since lot of time, I have some errors from Zigate plugin in my domoticz.
[code]

Domoticz info:
Version: 2020.2
Build Hash: b63341bc0
Compile Date: 2020-04-26 13:47:55
dzVents Version: 3.0.2
Python Version: 3.7.3 (default, Jul 25 2020, 13:03:44) [GCC 8.3.0]

I think i'm using ## 29 Sept. 2020  - 4.11.2 version if I can refer to the release note. Anyway, i'm on the latest commit of the stab

[2020-10-24 19:53] pipiche38 commented on #728
Do you have Xiaomi Weather Sensor ?
This could be one of them creating this issue .
Check if there battery level are correct ?

You can switch to the pre-stable-4.11.008 by switching to stable-fix
[code]

[2020-10-25 16:33] Miloune commented on #728
Which one Xiaomi Weather Sensor device is? All of my sensor are from Xiaomi but I don't think I got this one.
I got one lumi sensor with less than 10% of battery. Just switched it, but I have a question : Should I pair again the device to the Zigate?

Switched to stable-fix and restarted Domoticz, I will let you know if the error continue to occur.

[2020-10-25 16:54] pipiche38 commented on #728
Basically the issue happened on decoding a Baro Pressure value, this is why I suspect a Weather sensor.

I put a trap to capture new decoding error. Please send it back to me if it happens

[2020-10-25 17:08] Miloune commented on #728
New error message:
[code]

[2020-10-25 17:34] pipiche38 commented on #728
could you try again
update the stable-fix branch and restart plugin

[2020-10-25 17:39] Miloune commented on #728
Did it, I will let you know.
I used a new battery in this sensor but the plugin still say the current value is 1%. Do you think it's normal?

[2020-10-27 19:44] Miloune commented on #728
No more errors in my Domoticz logs 😊 thank you

[2020-10-27 19:44] #728 closed, assigned to pipiche38

[2020-10-31 10:14] pipiche38 commented on #724
Device received.
Tuya Brand
Model Name TS0121 (as a Smart Plug from the same brand)
There are Cluster 0b04 and 0702 but seems not to be used !

Par contre grosse galère pour faire le reset ! Pas moyen

[2020-11-01 09:14] Alex18081 opened #730 "OpenWRT python3.9"
Hey.
On the latest version of Python3.9, the zigate plugin does not start, it stops in the Domoticz log on the first lines.
Help solve the problem
Other Python plugins work
Thanks!

[2020-11-01 09:23] pipiche38 commented on #730
Logs please

Envoyé de mon iPhone

[2020-11-01 09:29] Alex18081 commented on #730
in the log of domotics I see only this

2020-11-01 09:53:26.933 Sunrise: 07:21:00 SunSet: 17:06:00
2020-11-01 09:53:26.934 Day length: 09:45:00 Sun at south: 12:13:00
2020-11-01 09:53:26.936 Civil twilight start: 06:47:00 Civil twilight end: 17:40:00
2020-11-01 09:53:26.938 Nautical twilight start: 06:08:00 Nautical twilight end: 18:18:00
2020-11-01 09:53:26.938 Astronomical twilight start: 05:31:

[2020-11-01 09:45] pipiche38 commented on #730
Is that a standard domoticz distribution or did you compile domoticz yourself ?

you might use the Debug Option when launching the plugin in Domoticz ? You can enable debug there

[2020-11-01 09:59] Alex18081 commented on #730
Yes, this is not an assembly from a distribution, since the domoticz reset in the snapshot version of the opnvrt was broken and the domotics was removed from the snapshot branch.
devby solved the problem of compiling domotics in python3.9 and put together the latest distribution.
https://github.com/openwrt/packages/pull/13762#issuecomment-719752053
There was one problem with the launch of the ziga

[2020-11-01 12:45] pipiche38 commented on #730
I'm not sure the compilation is solved, as I'm not able to do so whatever I applied his patch.

[code]

[2020-11-01 12:47] pipiche38 commented on #730
As suggested, please enabled the Full Debug when starting the plugin .

You can also edit the file Conf/PluginConf-xx.json and add (following the json syntax) :

- "debugPlugin": 1,

[2020-11-03 09:50] pipiche38 commented on #725
a5f8f77cc9a5bec4c9847988e86c3487b39cf1af

[2020-11-03 09:50] #725 closed, assigned to nobody

[2020-11-03 09:50] #724 closed, assigned to nobody

[2020-11-03 09:51] pipiche38 commented on #710
PIR323 OK

[2020-11-03 09:52] pipiche38 commented on #712
1st phase done
4065762c7d5319981587e468f82a10630aa520d6
#731

[2020-11-03 09:52] #712 closed, assigned to nobody

[2020-11-03 09:52] pipiche38 commented on #534
#731

[2020-11-03 09:52] #534 closed, assigned to nobody

[2020-11-03 13:45] pipiche38 commented on #730
Any update ?

Any insight on how I could fix the compilation issues I have ? So I could eventually troubleshoot myself .

[2020-11-04 13:17] Alex18081 commented on #730
unfortunately I could not get a more extensive log.
Have you tried applying the patch from devbis?

[2020-11-04 14:36] pipiche38 commented on #730
This is what I did . And got the Link errors !

[2020-11-04 20:08] Alex18081 commented on #730
have you applied all the previous patches as well?
https://github.com/openwrt/packages/pull/13762/commits/9a56ca92ded3c0a59dd1fafe44bc27c6614360ab#diff-6cc72eec635ebca5e5a339b7c71e81467084a2f5ce980740781852157007a2b6R78

[2020-11-12 17:08] itProfi opened #741 "Is it possible support 1 000 000 baud speed?"
Good day! Is it possible to integrate 1 000 000 baud rate to serial speed to support zigate firmware with 1000000 baud rate?,

[2020-11-12 18:02] pipiche38 commented on #741
Why ? The ZiGate firmware are only on 115200 which is more than enought.

[2020-11-12 18:11] itProfi commented on #741
Not only 115200, and user use 1000000 baud rate also..
![image](https://user-images.githubusercontent.com/6728198/98978837-90e9e080-252b-11eb-9d25-b110a1e3622a.png)

[2020-11-12 18:17] pipiche38 commented on #741
Yes, I know , but why are you building the firmware and not using the standard one ?
The recommendation is to use 115200 and going to  1M is not providing any benefits

@fairecasoimeme

[2020-11-12 18:38] #741 closed, assigned to nobody

[2020-11-14 17:06] pipiche38 commented on #710
e636465

CB432
PR412
DWS312
AC201
AC221
WLS306
KF205
PB206
SLC631
PC321

[2020-11-16 20:00] #710 closed, assigned to pipiche38

[2020-11-30 11:04] pipiche38 commented on #741
If you really want to use 100000 Bauds and you are able to build your own firmware with such speed. I suggest that you change the BAUDS parameter in the source code ( Classes/Transport.py )

[2020-12-01 08:16] #429 closed, assigned to nobody

[2020-12-01 08:16] #349 closed, assigned to pipiche38

[2020-12-02 19:44] waltervl commented on #716
I had this issue too! At least some months ago, now it is working fine. But for the future is it possible to use Monit (https://mmonit.com/monit/) to monitor port 9440. If no reaction then reboot Domoticz server.
But how to monitor webadmin?
Domotic itself is monitored with:
[code]
See alse https://www.domoticz.com/wiki/Monitoring_domoticz

Is there a common way to do this for the ZiGate WebAdmin?

[2020-12-02 20:01] pipiche38 commented on #716
Very good suggestion. Will propose a get version API

[2020-12-13 13:23] pipiche38 commented on #716
@waltervl the /manifest.json is related to AngularJS that we use. I don't know if this will stay for ever.
What you can do is to select one of the plugin REST API which are described here

https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/en-eng/Technical/REST-API.md

[2020-12-13 22:48] waltervl commented on #716
Thank you.
I have setup a monitoring now with the following lines. It will check the plugin url and when it fails 2 times in a row it will restart domoticz.

[code]

[2020-12-14 07:30] pipiche38 commented on #716
Just make sure that when you start Domoticz, the Web UI is not there immediately

[2020-12-17 19:07] pipiche38 opened #760 "Idinio foot dimmer: non-certified device, but works"
https://www.domoticz.com/forum/viewtopic.php?f=68&t=34878&sid=78d20986c4c5f6c11172817a3bc32cf0
[export.json(1).zip](https://github.com/pipiche38/Domoticz-Zigate/files/5711609/export.json.1.zip)

[2020-12-19 14:36] FWES70 commented on #716
I have the same issue here. runnig Domoticz (v2020.2.12731-8 from Jadahl) on Synology (DS214SE). as soon as I make the hardware, Domoticz webUI blocks.  By removing the plugin it runs fine again.
I also don't know how to enable the permit to join, should this be available in Domoticz when creating the hardware?

PS: I also have an RFX transceiver in the other USB port. could that be the problem?

[2020-12-19 14:52] pipiche38 commented on #716
There is a known issue on Syno. Can you try to edit the file Domoticz-Zigate/Conf/PluginConf-xx.json
and add the following line

`"internetAccess": 0,`

the best is to add it in the middle of the file, so you don't break the all file syntax

But please use the forum, as your issue is not related to this change.

[2020-12-19 15:21] FWES70 commented on #716
thanks a lot, that did it. I'll use the forum next time - sorry.

[2020-12-20 09:09] dpocock opened #763 "Philips Hue remote control button issues"
There are still issues with this remote / dimmer, I described it in the Domoticz forum and I saw previous discussion here in #335

https://www.domoticz.com/forum/viewtopic.php?f=11&t=34904

domoticz                        4.11020-2~bpo9+1
domoticz-zigate-plugin          4.4.9~beta1-2~bpo9+1

Copied here from forum:

I went to the Scenes tab and created a Group

I added a bulb to the group

Then I

[2020-12-20 16:38] pipiche38 commented on #763
please do you the forum for that until there is a clearly describe bug in the plugin.The Philips Use remote is supported. So suggest that you report the the Zigbee forum.

[2020-12-22 15:16] samea-innovation-it-team commented on #724
Bonjour / Hello. I have the same module here. Can't réinitialize it too. Following the user manual, on/off sequence 5 times. I tried short (1s or less) and long (5s) sequences. Device doesn't beep as the first power on, and not detected.
Did you managed to reinitialize the network and how ?
Thanks, Pascal

[2020-12-22 22:00] pipiche38 commented on #724
@pdelrot-samea

Please use the forum to get support, not the github which is dedicated to Bug !
Here is the link I get from the vendor: https://we.tl/t-uUgiOAObOo (link is valid for a week only)

[2020-12-23 13:20] pipiche38 commented on #264
@ganaux this should work on branche stable-fix of today.
Sorry didn't see your comment which is more than a 1.5 year old !

[2020-12-25 22:15] #763 closed, assigned to nobody

[2020-12-25 22:16] #760 closed, assigned to nobody

[2020-12-30 21:24] dpocock opened #768 "give more explicit messages about current and supported firmware"
My Zigate stick was running 3.1a with 4.4.9 (the Debian package)

I decided to try the latest beta code, 4.12.087

In the log, it says:

[code]

In the file ReleaseNotes.md it says

[code]

Is the 031a firmware still supported with 4.12.x?

The message ```Firmware update available``` may need to be stronger, e.g. ```You must use at least firmware version 3.1c and at most 3.1d```

If the detected v

[2020-12-30 21:44] dpocock opened #769 "on_message Error Code: TRANS-onMESS-03"
I'm using beta 4.12.087 and I tried both firmware 3.1c and 3.1d

I use the Hardware settings page to try and request an initialization of the Zigate.

This error appears in the logs:

[code]

[2020-12-30 21:48] dpocock opened #770 "fails to write log files"
I'm using beta v4.12.087

Whenever it tries to write to the log, it fails:

[code]

These are the settings revealed in the log

[code]

and the permissions on the directory:

[code]

[2020-12-30 21:54] dpocock opened #771 "using Ikea remote/dimmer buttons in a Domoticz group"
I read the instructions in the wiki pages about setting Zigbee groups involving Ikea bulbs with Ikea remote/dimmer buttons
https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/5c1e0778eebebf20928fb22e9b8ec4b213300f6e/en-eng/IKEA-Tradfri-corner.md
https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/en-eng/Ikea-Remote.md

At the moment, I don't pair remotes directly to bulbs

I configure

[2020-12-30 23:46] deennoo commented on #771
Have You test some other "python plugin" device ?

Aqara and hue are native on domoticz code.

On my side i use ikea switch (small on/off), i have 6 of them, to drive domoticz group, i use lua event

`if (devicechanged['Inter Chevet Nico'] =="On" or  devicechanged['Inter Chevet Mel'] =="On")  then
     commandArray['Group:nomdugroupe']='On'`

Can be reproduce for off, and can be use just a push bu

[2020-12-31 07:03] pipiche38 commented on #768
There is no change for now and stable 4.11.xxx still support 31a firmware

Envoyé de mon iPhone

[2020-12-31 07:38] pipiche38 commented on #770
Without the full log I cannot really do anything, so please provide the logs around the error it self.

[2020-12-31 07:39] pipiche38 commented on #768
Will be addressed when needed

[2020-12-31 07:39] #768 closed, assigned to nobody

[2020-12-31 07:40] pipiche38 commented on #769
This is an expected issue which is due to the Erase PDM it self

[2020-12-31 07:40] #769 closed, assigned to nobody

[2020-12-31 07:43] pipiche38 commented on #771
@ dpocock  Please use the forum instead of github until we confirm it is an issue.

ZiGate and the plugin support native group and will give you much better User Experience than the Domoticz group.

[2020-12-31 07:43] #771 closed, assigned to nobody

[2021-01-09 01:53] schnokbul opened #775 "Problème de démarrage du plugin avec Python 3.9"
**Describe the bug**
Bonjour,
Après mise à jour de mon système (Linux atalante 4.19.0-8-686-pae #1 SMP Debian 4.19.98-1+deb10u1 (2020-04-27) i686 GNU/Linux) sur python 3.9, j'ai du recompiler domoticz. J'ai utilisé le patch fourni sur le forum.
Jusque là pas de soucis, Domoticz tourne sans problèmes.
Par contre, le plugin refuse de se lancer et dans le log Domoticz j'ai ça :
2021-01-09 02:13:22.75

[2021-01-09 12:48] schnokbul commented on #775
Bon après avoir consulté un ami expert en python, le problème venait bien de la fonction json.load.
Il suffit d'enlever l'argument encoding=dict dans tous les endroits où il est utilisé.
C'est à dire dans :
- Domoticz-Zigate/plugin.py :222
- Domoticz-Zigate/Classes/PluginConf.py :380
- Domoticz-Zigate/Classes/LoggingManagement.py :63

Et là plus aucune erreur, tout se lance sans soucis !

Je laiss

[2021-01-09 12:55] pipiche38 commented on #775
Thanks to use English to report bugs/issues.

Please provide a PR fixing those issues and we will be pleased to integrated

[2021-01-09 12:55] #775 closed, assigned to nobody

[2021-01-12 17:59] deennoo opened #777 "Tuya Dimmer TS0601 / Manufacturer Name : "_TZE200_dfxkcots""
Starting Plugin 4.7, there are some tools which allow to share all information collected during the pairing/discovery process.

![Export Device List raw (json)](https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/Images/ExportDevicesRaw.png)

1. Got to the Tools Menu
1. Select Plugin Raw Devices (json)
1. Export

This will create an export.json file that you can save.

Finally you create

[2021-01-12 18:00] deennoo opened #778 "Dimmer ts0601 / Manufacturer Name : "_TZE200_dfxkcots""
Starting Plugin 4.7, there are some tools which allow to share all information collected during the pairing/discovery process.

![Export Device List raw (json)](https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/Images/ExportDevicesRaw.png)

1. Got to the Tools Menu
1. Select Plugin Raw Devices (json)
1. Export

This will create an export.json file that you can save.

Finally you create

[2021-01-12 18:18] pipiche38 opened #779 "Improving eTRV Tuya integration"
https://www.domoticz.com/forum/viewtopic.php?f=68&t=35161

1/ Battery is not reported

2/ Valve state and Valve % should be reported as a Switch Level Control

3/ Windows Detection

[2021-01-12 18:18] pipiche38 commented on #779
2021-01-11 21:55:07.932 Status: (ZiGate) [ZiGateForwarder_8] ZigateTransport: thread_processing_and_sending Thread start.
2021-01-11 21:55:17.854 Status: (ZiGate) [ZiGateForwarder_8] ZiGate Classic
2021-01-11 21:55:17.854 Status: (ZiGate) [ZiGateForwarder_8] Installer Version Number: 031d
2021-01-11 21:55:26.914 (ZiGate) [ZiGateForwarder_8] setZigateIEEE - Set Zigate IEEE: 00158d0001ed4521
2021-01

[2021-01-12 18:50] pipiche38 commented on #779
please do use the SireneTuyaTS0601 branch

`git checkout SireneTuyaTS0601`

I have push cc31c3df which start integrating the Valve widget . To be tested. For now there is no way to control the valve directly. The only possibility to action the valve is via SetPoint

To do the test, remove all widgets, and redo the full pairing

please keep debugTuya on and capture the log when exercising the setpo

[2021-01-12 20:16] waltervl commented on #779
[tuyats0601_20210112.log](https://github.com/pipiche38/Domoticz-Zigate/files/5804489/tuyats0601_20210112.log)
Attached the log (approx 1 hour)
My observations:
Window Lock: At approx 20.51 I activated the Window lock action by tacking it outside (0 degr). I had to set it manually on the eTRV. The switch was created but no action on switching and no logging when activated.
What is the usage of the

[2021-01-12 20:19] waltervl commented on #779
Additional, I left the other eTRV paired and there the Setpoint action in Domoticz is read by the eTRV.

[2021-01-12 22:00] mce35 opened #780 "Request for support Tuya Zigbee Leak sensor"
Hello,

I recently purchased 2 leak sensors from aliexpress. They seems to be correctly paired to the Zigate, but they are not supported.

* Product Name: Leak sensor
* Brand: Tuya?
* URL on a web site: https://fr.aliexpress.com/item/4001129027451.html?spm=a2g0s.9042311.0.0.66b96c378S37v7
* What do you expect: Leak detection status, battery status
* RAW device export: [export.json](https://github.

[2021-01-12 22:07] #780 closed, assigned to nobody

[2021-01-12 22:10] mce35 commented on #780
After updating the plugin, the device was still not appearing in DZ, so I thought it was not supported, but I realized that it was needed to manually remove the device from the list and pair it again for it to work, seems OK now. Sorry for this.

[2021-01-12 23:22] waltervl commented on #779
Just checked the log and see that room temp is now 30 degr which is not true. I saw this also in the first hour that the room temp suddenly rised to 30 degree.

[2021-01-13 14:39] pipiche38 commented on #779
I'm afraid that we won't succeed like that. I'm reading from your comments that some stuff which were working don't anymore which sound bizarre as I didn't touch for instance Temperature nor Setpoint
`
I'll order one eTRV and when receive will work on the integration.

[2021-01-13 15:36] waltervl commented on #779
Thanks, I bought the 2 from aliexpress, send from Tsjech, took 2 weeks (during Christmas time).

€ 16,18  40%OFF | Tuya ZIGBEE3.0 Smart Radiator Actuator Programmeerbare Thermostaatkraan Temperatuur Controller Voice Control Via Alexa
https://a.aliexpress.com/_BPQ00f

[2021-01-13 16:25] pipiche38 commented on #779
Bought that one. I guess they will be similar

https://fr.aliexpress.com/item/1005002004862997.html?spm=a2g0s.9042311.0.0.43c76c37ezErvE

[2021-01-15 10:52] #730 closed, assigned to nobody

[2021-01-17 18:03] pipiche38 commented on #778
[code]

[2021-01-18 07:48] pipiche38 commented on #777
Integrated with 6d6decd

[2021-01-18 07:49] pipiche38 commented on #778
integrated into 6d6decd

[2021-01-18 07:49] pipiche38 commented on #777
Duplicate #778

[2021-01-18 07:49] #777 closed, assigned to nobody

[2021-01-18 07:51] pipiche38 commented on #779
@waltervl

I'm not aware of such Widget in Domoticz . if you are I would really like to see how does it looks

[2021-01-18 09:04] waltervl commented on #779
There are see screenshot and see for example the maxcube plugin "GitHub - mvzut/maxcube-Domoticz-plugin: ELV/EQ-3 MAX! Python plugin for Domoticz" https://github.com/mvzut/maxcube-Domoticz-plugin

![Screenshot_20210118-085713](https://user-images.githubusercontent.com/16327072/104894035-7ccfbe80-5974-11eb-92c3-d6d04f77e239.png)

[2021-01-18 10:26] pipiche38 commented on #779
indeed much better !

[2021-01-18 12:42] pipiche38 commented on #779
Valve reporting PI Heating demand in % is now in place. It has been validated with Eurotronics equipment.
Just waiting for receiving the TRV

[2021-01-18 22:52] deennoo opened #782 "AM43 Blind Drive - TS601-_TZE200_rddyvrci"
* Product Name = AM43 Blind Drive
* Brand = MOES
* URL on a web site = https://www.moeshouse.com/collections/zigbee-chain-roller-blinds-motor/products/zigbee-smart-diy-motorized-roller-blinds-shades-drive-motor-hub-required-tuya-smart-life-app-control?variant=32739216228433
* What do you expect = Open / Close / %opening or closing / ability to reverse motor rotation
* The logs from the pairing pro

[2021-01-19 07:57] pipiche38 commented on #782
d2af3d7f

Please update to the latest version of branch SireneTuyaTS0601

restart the plugin

remove the widget created from last pairing

redo the pairing, a blind percentage widget should be created

Don't do anything with Domoticz

enable tuyaDebug

and play with the motor directly and collect the logs for each command done on the motor
I'm interested on logs like that one:
" [ZiGateForwarder_1

[2021-01-19 07:58] pipiche38 commented on #778
d2af3d7f

[2021-01-19 07:58] #778 closed, assigned to nobody

[2021-01-19 21:50] deennoo commented on #782
[Zigate_03_2021-01-19.log](https://github.com/pipiche38/Domoticz-Zigate/files/5838789/Zigate_03_2021-01-19.log)

1ere manipulation : Store ouvert, j'appui sur le bouton fermer, et le laisse ce fermer seul
2 eme manip : store fermé j'appuie su ouvrir et le laisse s'ouvrir au max
3 eme manip : store ouvert au max, j'appuie sur fermer et le stop a 66%
4 manip store a 66% j'appuie sur ouvrir et le sto

[2021-01-20 21:10] pipiche38 commented on #770
@deufo can you kindly have a look to that one.

I think there is indeed a potential issue is this code:

In case self.PluginHealth is not yet set, than the if `'Txt' not in self.PluginHealth` will crash

[code]

[2021-01-21 14:05] SylvainPer commented on #770
@pipiche38 on the v4.12.087, the line 222 is this one:

`        with open( jsonLogHistory, "w", encoding='utf-8') as json_file:`

It seems that the Open fonction is not launched before the write. I need to modify the option to 'w+'.

[2021-01-21 14:07] SylvainPer commented on #770
But it shouldn't happen, this modification will avoid the error but the log will be cleared if the file was existing.

[2021-01-21 14:55] SylvainPer commented on #770
@dpocock can you give us more details ?
I checked the plugin init and I don't understand why the file is not created.
You should have first an error with the openLogFile function. There, the option request the creation file.

[2021-01-21 17:22] pipiche38 commented on #779
eTRV on my desk .... As soon as I have some time I'll start decoding it.

The good news is with the request from @waltervl I have improved the behaviour of the Danfoss and Eurotronics TRV with the Valve % which is a great feature.

[2021-01-24 12:01] pipiche38 commented on #779
https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/en-eng/Technical/Tuya-0xEF00.md

[2021-01-24 21:17] pipiche38 commented on #779
450e909d

Something starting to work.

- Setpoint Ok
- Local Temperature Ok
- Calibration Ok

Need to work on Program Auto (by default, versus Manual)

For now
No battery
No Valve %
No Window detection

[2021-01-25 19:57] deennoo opened #784 "Room thermostat for Boiler : ts0601_TZE200_aoclfnx"
Room thermostat for Boiler : ts0601_TZE200_aoclfnx BHT-6000-GCLZ

Once again a ts0601 device...

This is a room thermostat main powered with dry contact for boiler.

Plugin on ts6010Sirene create a E-TRV Device with 5 widget :
 - Valve %
 - Door contact
 - Thermomode
 - Thermosetpoint
 - Temp

Following seller information : No Door opening, No valve % : https://fr.aliexpress.com/item/1005001528862

[2021-01-26 21:16] pipiche38 commented on #779
So I have made some good progress and get some better understanding.
It looks like they are as many diffent Tuya eTRV as you can purchase.

The test I 'm doing with one. Do not report instant Valve %, nor battery level.

Would appreciate @waltervl if you could give me an export.json ( Plugin Device List RAW (json) ) from the system where you have already paired your device. This is to see if that

[2021-01-26 22:08] waltervl commented on #779
Sure, no problem. Attached the export.json
[export20210126.json.txt](https://github.com/pipiche38/Domoticz-Zigate/files/5876430/export20210126.json.txt)

[2021-01-27 20:00] pipiche38 commented on #779
@waltervl thanks for that.

if you want to test where am I this would be helpfull as I don't have the same eTRV as you .

to do so:

[code]

restart the plugin
remove the existing widget in order to redo the pairing
make sure that tuyaDebug is enabled

any logs would be helpfull in addition to the export.json

if you need to fall back to beta

`git checkout beta`

[2021-01-28 20:35] waltervl commented on #779
[Domoticztuyalog.txt](https://github.com/pipiche38/Domoticz-Zigate/files/5889803/Domoticztuyalog.txt)
[export(2).json.txt](https://github.com/pipiche38/Domoticz-Zigate/files/5889804/export.2.json.txt)
See logs.
My observations:
1. Valve widget created and working as  expected.
2. Temperature widget created and working as expected.
3. Mode selector switch created but no response from eTRV when swit

[2021-01-28 21:37] pipiche38 commented on #779
@waltervl

Sound good. we are progressing.
Many things for the logs and the export.

1/ The SetPoint issue should be solved in the latest version.
2/ For the Mode I hope to have fix it on the latest version pushed now.

As the Setpoint going slowly to the target by step of .5 I do confirm this is what the Device is sending

Could you also kindly let me know which of those valves you have ? ( https

[2021-01-29 22:46] pipiche38 commented on #779
I have done some changes to make the code more maintainable based so far with 3 differents devices
( c13e0e35 )

please do a git pull to get the latest version of the branch, then. you need to remove the existing widgets and redo the pairing

[2021-01-30 17:35] waltervl commented on #779
Did a git pull, including latest commit of today. Widgets are created but nu feedback on widgets, no temp, valve etc.
See attached log
[domoticzLog30-1.txt](https://github.com/pipiche38/Domoticz-Zigate/files/5898395/domoticzLog30-1.txt)

[2021-01-30 21:42] pipiche38 commented on #779
Please try once more

[2021-01-31 11:28] waltervl commented on #779
Yes, much better now ;-) I will leave it running for a day of so.

[2021-01-31 11:32] waltervl commented on #779
By the way, mine looks like this:
![Selection_024](https://user-images.githubusercontent.com/16327072/106382497-4e180600-63c0-11eb-8b17-155a19d952cd.png)

[2021-01-31 17:12] pipiche38 commented on #779
would appreciate if you could drop me an export.json after it has run a while ;-)

[2021-01-31 17:51] waltervl commented on #779
Here is my export. It is not completely there yet.
Update of temperature and valve seems only to work when setpoint is set.
Device is not listening to Manual/Automatic mode change from Domoticz.
[export31-1.json.txt](https://github.com/pipiche38/Domoticz-Zigate/files/5900331/export31-1.json.txt)

[2021-02-01 18:52] waltervl commented on #779
I have 2 the same eTRV's. One is acting normal (Nwkid f4e3) the other one (a5a2) is sending data but less active then Nwkid f4e3 to Domoticz. For example: could be hours silence and then 4 degres rise in temp. Also switching of mode from Domoticz is not working on this a5a2 device. Switching mode on the device is working and reported back to Domoticz. Setpoint from Domoticz is working on both devi

[2021-02-01 20:10] pipiche38 commented on #779
LQI for the a5a2 seems quiet low. Can I suggest that you swap the 2 , and you check how it works ?

[2021-02-01 21:57] waltervl commented on #779
I have restarted the eTRV (batteries out/in) and now it is connected to a router (Ikea bulb) within 50 cm instead of a router (ikea bulb) 6 meter away.
It is now listening. Let's see how it evolves....

[2021-02-04 18:56] Miloune opened #788 "Volets roulants interrupteur LoraTap SC400ZB-EU (TS130F)"
Bonjour,

J'ai acheté un interrupteur Zigbee pour mes volets roulants Somfy, j'ai fais le branchement, mais il faudrait maintenant calibrer l'interrupteur. Ceci peut être fait via l'application Tuya mais il faut disposer de la Gateway que je n'ai pas.

J'ai donc appareillé l'interrupteur avec la Zigate, lorsque je l'active j'entends bien l'interrupteur faire un petit clic mais il ne bouge pas mes

[2021-02-04 19:00] Miloune opened #789 "Error Code: TRANS-onMESS-01"
**Describe the bug**
I have a lot of errors like this in domoticz logs, what should I do? Where this message come from?
[code]
[errors.zip](https://github.com/pipiche38/Domoticz-Zigate/files/5927888/errors.zip)

**Plugin (please complete the following information):**
 - Plugin version  4.11.016

[2021-02-04 19:27] perhusaas opened #790 "Standalone version of this plugin!"
This wonderful plugin could have even more users if you made it accessible to non-domoticz users?

From the outside it seems to be only a minor change to make this run indepenently, as it has its own GUI?

I understand if you'd like to keep it in the domoticz community, just thought i'd ask. (which should be acceptable in the Open Source World!) :)

[2021-02-04 19:58] Miloune commented on #789
I had power problem on my RaspberryPi, since I switched to another power outlet and restarted the PI, I don't have these errors anymore for now.

[2021-02-04 21:11] waltervl commented on #779
I have had them close together for the last 2 days. Almost the same high LQI.
One is updating regurarly, the other still is slow in updating temperatures.
I will update to beta as I see the integration is merged into beta.

[2021-02-05 08:33] pipiche38 commented on #788
https://github.com/dresden-elektronik/deconz-rest-plugin/issues/3134#issuecomment-687631699

[2021-02-05 08:44] pipiche38 commented on #788
Widgets for this device:

- Window Covering
- Switch to Enable/Disable Calibration
- Switch Selector for Motor Reverse

[2021-02-05 09:19] pipiche38 commented on #779
May be you should ask to get the eTRV changed

[2021-02-05 09:20] pipiche38 commented on #788
@miloune I'll try to work on it during the week-end. But you will need to switch to the beta branch.

I'll provide a switch widget to enable/disable Calibration in addition of the Window covering widget

[2021-02-06 09:22] pipiche38 commented on #789
Please use the Forum for such type of issues in  order to
get support from the community
qualify if that is a plugin bug

Thanks

[2021-02-06 09:22] #789 closed, assigned to nobody

[2021-02-06 09:50] pipiche38 commented on #788
@Miloune can you switch to the plugin beta branch ?

[code]

1/ Then you restart the plugin
2/ you remove the Widgets which have been created during the first pairing
3/ you redo the pairing

4/ enable the following debug parameters ( Web Admin -> Tools -> Debug (Advanced )
enable debugTuya
enable debugInput
enable debugCluster
enable debuginRawAPS
enable debugzigateCmd

Then you can start playing

[2021-02-06 09:53] pipiche38 commented on #790
Thanks for the feedback. The plugin in its recent version is more and more decoupled from Domoticz. However, Domoticz is the User Interface used to report the status of devices and to take commands/actions . That part is not in the plugin.

Any suggestions more than welcome

[2021-02-06 09:53] pipiche38 commented on #779
Closing as the work as been merged in beta.

[2021-02-06 09:53] #779 closed, assigned to pipiche38

[2021-02-06 09:54] pipiche38 commented on #784
merged into beta branch

[2021-02-06 09:54] #784 closed, assigned to nobody

[2021-02-06 11:05] perhusaas commented on #790
I think theres only 4 things that's needed:

- Run the plugin as a service
- web address to json data (like from domo: http://<domo ip:port>/json.htm?type=devices&filter=all&used=true&order=Name) for device creation
- place to input variables IP and Port for sending device changes by UDP (.conf file or preferably in web GUI)
- Some way to send change commands to the plugin. (domo: http://<domo ip:

[2021-02-06 11:28] waltervl commented on #779
Thank you again for your work.

[2021-02-08 08:37] perhusaas opened #791 "Aqara Smart plug shows 10 times the value in watts"
My Aqara Smart plug reports that my car heater is using 16500 watts! When i used a Z-wave plug it was steady at about 1550 watts. The unit may be calibrated differently, but the *10 looks like a variable handling issue?

[2021-02-08 09:58] pipiche38 commented on #791
please provides additional informations.

I need export.json of Plugin Devices RAW (Json)

On which version of the plugin are you ? on which branch of the plugin are you ?

Last:

in the Web Admin Tools -> Debug (Advnaced)

enable debugCluster

please provides Logs when the debugCluster parameter is enabled and the Aqara plug is sending Data and get updated on the widget

[2021-02-08 15:45] perhusaas commented on #791
Will do - but it may be a couple of days, lots of other stuff going on..

[2021-02-13 16:40] Th1h4ck opened #792 "Osram Smart+ E27"
Bonjour, je viens d'acquérir une ampoule Osram Smart+ E27, et le plugin ne la reconnait apparemment pas :

* Product Name : Osram Smart+ Classic E27 Dimmable
* Brand : Osram
* URL Amazon : https://www.amazon.fr/gp/product/B074KJ72MP
* URL Osram : https://www.benelux.osram-lamps.com/fr/professionnels/produits/smart-home/produits-intelligents-avec-la-technologie-zigbee/lampes-smart-home/lampes-class

[2021-02-13 17:08] pipiche38 commented on #792
Please use the French Domoticz forum

The bulb should be running without any issue
the errors you are providing is not showing anything wrong and has nothing to do with the pairing of the bulb.

please use the forum to get the issue fixed, or qualified before submission to the GitHub
https://easydomoticz.com/forum/viewforum.php?f=28

[2021-02-13 17:08] #792 closed, assigned to nobody

[2021-02-14 17:35] pipiche38 opened #793 "Plugin restart disable"
Domoticz has introduced a new feature which consist in enabling or disabling some  Status, Debug, Log

However when using the Json Api to restart a plugin

 http://127.0.0.1:8080/json.htm?type=command&param=updatehardware&htype=94&idx=10&name=DIN-ZiGate&address=0.0.0.0&port=9999&serialport=/dev/serial/by-id/usb-FTDI_ZiGate_AC3JVNBY-if00-port0&Mode1=DIN&Mode2=&Mode3=False&Mode4=9440&Mode5=&Mode6=0&

[2021-02-14 17:37] pipiche38 commented on #793
It looks like in the PR domoticz/domoticz#4581 they have introduced a Log Level, however that information is not available to the plugin Parameters dictionnary

SO it would be needed that Domoticz provide the Loglevel to the plugin via the Parameter structutre

[2021-02-19 17:50] pipiche38 commented on #791
Any news, otherwise I'll close the issue and you will open a new one when ready

[2021-02-19 17:51] pipiche38 commented on #788
@Miloune , any news ?

[2021-02-19 18:02] perhusaas commented on #791
Sorry, i'll have a look at this later, if you don't hear back by tomorrow, feel free to close it.

[2021-02-19 20:00] perhusaas commented on #791
Ok,
i'm on version 1.0.0. stable branch.

[export.json.txt](https://github.com/pipiche38/Domoticz-Zigate/files/6012626/export.json.txt)

log:
[domolog.txt](https://github.com/pipiche38/Domoticz-Zigate/files/6012643/domolog.txt)

[2021-02-19 20:07] perhusaas commented on #791
correction: version 4.11. (didnt find it anywhere in the GUI?)

[2021-02-19 21:51] perhusaas commented on #790
I've been playing a lot with docker and MQTT lately, (and wass thrilled to find a dockerfile in your manual!) and it seems MQTT would be an even better universal interface than HTTP commands w. json?

[2021-02-20 09:01] pipiche38 commented on #791
fix in 9e26afae  beta-4.12.150

[2021-02-20 09:01] pipiche38 commented on #791
please switch to the plugin  beta branch, remove the existing widget from domoticz in order to do a full pairing from scratch

[2021-02-20 10:49] Smanar commented on #790
I can't say for command, but not for protocol, http is native, you can use it even with a 20 years old computer out of the box, not for MQTT.

[2021-02-20 11:03] perhusaas commented on #790
Fair point, but its the instant bi-directional updates that requires more overhead with HTTP, as i have understood it?
Its either done with polling at intervals (lots of unnecessary traffic) or setting both sides up with some communication code. Thats a lot more bridge specific code than MQTT (or web sockets?) subscriptions..

[2021-02-20 11:16] Smanar commented on #790
Yeah realy bad idea

I can't be sure, websocket is realy something basic too, and don't need additionnal server.

Another way some devs are looking on my side is Server Sent Events (SSE) for exemple in php https://kevinchoppin.dev/blog/server-sent-events-in-php (unidirectionnal protocol). Don't ask me how it work ^^, it s just an exemple found on an issue.

TCP/IP is realy good protocol, with lot

[2021-02-20 11:18] perhusaas commented on #791
First time i've tried to update, and when i type git pull, i get:
`fatal: not a git repository (or any of the parent directories): .git`

[2021-02-20 11:53] pipiche38 commented on #791
How did you install the plugin at first ?

From your description either you are not on the right folder or you didn't install the plugin via a git clone command

[2021-02-20 12:04] perhusaas commented on #791
Don't remember, but I established git connection now, and am on 4.12.151. I selected "accept new hardware", and reset one of the plugs. this now only has the
Zigate - lumi.plug.maeu01_Power-04cf8cdf3c79d303-01
Zigate - lumi.plug.maeu01_Meter-04cf8cdf3c79d303-01
Zigate - lumi.plug.maeu01_Ampere-04cf8cdf3c79d303-01

the actuator is missing?

[2021-02-20 12:35] perhusaas commented on #791
Removed it comletely again, and reincluded. Now its in, showing correct wattage. Thanks! :)

[2021-02-20 13:52] #791 closed, assigned to nobody

[2021-02-22 13:36] pipiche38 commented on #793
workaround in place, but the best would be to have the PR implemented

[2021-02-22 13:36] #793 closed, assigned to nobody

[2021-03-02 18:30] Miloune commented on #788
Sorry didn't have to much time actually, I will try the beta branch this week-end

[2021-03-08 17:55] Miloune commented on #788
Hello,

I switched to beta branch. Delete / redo the pairing of the device. Got two devices in Domoticz. One to control my shutter and one for the calibration.

I tried the calibration. It seems to be working because of the tic sound is now much longer, but this product seems to not control my shutter. I contacted the Aliexpress seller and I will send back the product. My shutter seem to use RTS p

[2021-03-08 17:55] #788 closed, assigned to nobody

[2021-03-11 13:11] grrosminet opened #795 "Plus aucun log"
Bonjour,

Il n'y a pas si longtemps que ça, je pouvais surveiller les messages reçus par la ZiGate en surveillant mon fichier de log

Exemple de message :
 Mar 11 08:10:42.718464Decod8000 Received [  ] PacketType:  0530 TypeSqn: 00 sqn_app: 00/0 sqn_aps: 00/0 Status: [a6] npdu: None apdu: None

L'idée était de surveiller les messages Decod8011 d'un objet qui ne sera pleinement pris en charge que p

[2021-03-11 17:17] pipiche38 commented on #795
Please do use the forum which is for this type of question and not the github which is about qualified issues

you have to enable debugzigateCmd in order to get this message

[2021-03-11 17:17] #795 closed, assigned to nobody

[2021-03-11 17:30] grrosminet commented on #795
Please consider this as a real and qualified issue.

When I say that everything is checked it's really everything : [https://cloud.charles.tf/index.php/apps/files_sharing/publicpreview/JLdfnqCQcRo3zSi?x=2592&y=858&a=true&file=zigate_plugin_debug_all_checked.png&scalingup=0](url)

And the log file remains empty (it is created at startup) : 0 byte

Please tell me on which active forum I can contact

[2021-03-11 19:05] pipiche38 commented on #795
![Uploading Screenshot 2021-03-11 at 20.03.58.png…]()

What you need is
debugzigateCmd
Use Domoticz Log ( as if disabled as shown then the logs are sent directly to a file )

First the debug are only for troubleshooting purpose, relying on them is not a good idea.

contact us on keybase.io look for the channel: zigate

[2021-04-26 16:38] deennoo opened #803 "Tuya TS0042_TZ3000_adkvzoov: Battery 2 gang Switch"
DZ 2021.1
plugin : 4.12.274
fw: 31e
Zigate Wifi

Plugin create 2 widgets, with good state (click, 2 clicks, long click) but there is no update

There is the logs :

Bouton de gauche : 1 click
2021-04-26 18:16:13.859 zigate_test: (zigate_test) ZigateRead - MsgType: 8095, MsgLength: 000a, MsgCRC: 6b, Data: 280100060231d0fd00, LQI: 69
2021-04-26 18:16:13.859 zigate_test: (zigate_test) Decode8095 - SQ

[2021-04-26 16:58] deennoo commented on #803
Solve by b9bbdc3

[2021-04-26 16:58] #803 closed, assigned to nobody

[2021-04-29 16:47] pipiche38 opened #805 "Domoticz limitation to 255 Widgets"
The ZiGate plugin is based on the Python Framework embedded into the Domoticz code.
Unfortunately the limitation of 255 widgets is given by Domoticz and the underlying framework.

Each widget created inside the plugin are named "device" and you get a Unit number which is a unique number to identify a domoticz widget which belongs to the plugin.

Until Domoticz Python Framework move the limitation

[2021-04-29 16:48] pipiche38 commented on #805
https://github.com/stas-demydiuk/domoticz-zigbee2mqtt-plugin/issues/325
domoticz/domoticz#4743
https://www.domoticz.com/forum/viewtopic.php?f=65&t=35452

[2021-05-17 13:50] pipiche38 opened #807 "SQN must be managed/stored by ClusterId"
the eSQN should be managed and stored by ClusterID and not global to the device.

[2021-05-22 08:36] pitchoun38 commented on #805
This is becoming weird. any update on domoticz/domoticz#4743 , I have in my case 150 domoticz Devices for 42 real/physical devices. While I expect to grow now the number of devices due to the new ZiGate+ what is left to me ?
Is Domoticz finally going to remove such stupid limit in 2021 !

[2021-05-23 14:35] pipiche38 commented on #618
https://github.com/fairecasoimeme/ZiGatev2/issues/14

[2021-05-27 12:20] MLO881 opened #816 "Include Frient Motion sensor pro"
Hello,

Thanks for your tool it works fine for me

I have a request to include the _Frient Motion sensor Pro_
It works but I have some alarm in the web app manager and in domoticz too.
These alarms happen when the motion sensor is activated but the device is working fine.
I use it to control light  in a corridor with the light level as parameter.

domoticz log:
2021-05-27 13:54:16.008 Error: Zigat

[2021-05-27 12:58] pipiche38 commented on #816
Interesting device. Can you confirm what you expect:
Occupancy sensor -> Motion widget
Light Sensor -> Lux widget
Temperature sensor -> Temp widget
Tamper protection -> Alarm  widget

[2021-05-27 13:11] MLO881 commented on #816
You summary is good...

All is working fine but errors in log (domoticz and plugin)
I expect what you listed and  to avoid error, have the good voltage and the tamper protection

the plugin (and the gateway also) created 8 devices in domoticz:
1	Switch	Off	-	-
2	Zigate - MOSZB-140_Voltage-0015bc001a01a9b9-23	General	Voltage	31 V
3	Frient - Temperature	Temp	LaCrosse TX3	17.8 C
4	Frient - Luxmetre	L

[2021-05-27 13:58] pipiche38 commented on #816
[8] is the tamper , correct ? if I move it to Alarm would it better ?
Which of the [5,6,7] Motion works ?

[2021-05-27 14:21] MLO881 commented on #816
Motion sensor:
[5,6,7] are motion sensors ,  stay ON during 5min on the rising edge ==> all are working but somtime one remain off
[8]  I think it is  [5] OR [6] OR [7] but with a shorter delay (1min) on the rising Edge ==> working too

Tamper sensor:
I just made a test ==> the tamper sensor is not available on Domoticz in this list
(it's a switch at the back of the PCB that I "play with" but with

[2021-05-27 15:36] pipiche38 commented on #816
Just to get a better understanding, there is only 1 Motion sensor on that device, cporrect ? So we should only have one Motion widget , no ?

From the investigation, it looks like the motion detection switch off after 24 secondes. Is that correct ?

[2021-05-27 16:25] pipiche38 commented on #816
@MLO881 I have pushed some update on the beta branch.

I believe you are on a recent version of the plugin ( 4.11 or 5.x ) .
If that is the case please switch to beta
So if you are not on, please could you kindly switch to beta by git checkout beta.

Already by that the error message should be fixed and the Voltage as well. However it would be great if you could remove all of those widgets and red

[2021-05-27 17:10] MLO881 commented on #816
I checked the HW ==> only one PIR sensor
the switch off is around 30-60s: correct but hard to be more accurate : this is not real time

You're true, Only one should be enought : the one with the switch off after 24s

I'm on the latest stable, I will update to the beta soon and keep you updated

[2021-05-28 07:14] pipiche38 commented on #816
When you'll do the test, it would be interesting as well to see if the change of the OffDelay can be updated. For that you need to go in the Device Management of the Web UI and then go to the parameters section of this device ( left column) and then you change the period from 30 to 60

[2021-05-28 09:10] MLO881 commented on #816
@pipiche38 Thanks a lot for your Job
here are my feedback following the beta update yesterday evening

1. Voltage (cluster 23) ==> OK : 3.1V
2. Lux (cluster 26) ==> OK :  data update frequency is now around every 10mn ==> OK
3. Switch (cluster 01) ==> never worked, I don't know what it is for
4. Motion (cluster 22, 28, 29)  ==> Strange behavior :
     - before update these motion sentor swith ON a

[2021-05-30 16:23] cmoicyril opened #817 "Seems that firmware detection and firmware available is not accurate"
Hello
Thanks for your great work on the plug in

I have Zigate+ on USB, working well.

In the interface, corner bottom-right, there's "firmware" : "Firmware: 031e
Plugin: 5.1.002" I see it's in red, i click, it proposes me to go to GitHub.

https://github.com/fairecasoimeme/ZiGate/releases

But there's no more recent version than 3.1e on GitHub.

My configuration :

Domoticz ver: 2021.1 (build 132

[2021-05-30 17:01] pipiche38 commented on #817
As recommended in the bug template it is better to use the forum in order  to qualify there is an issue.

Could you please provide the output of Tools->Zigate Info (json)

[2021-05-30 20:02] cmoicyril commented on #817
here it is :

ZiGate infos
Les informations de la ZiGate

Channel : 11
Extended PANID : d6e08f1e35e7987b
Firmware Version : Branch: 01 Major: 05 Version: 031e
IEEE : 00158d000500734a
PANID : 290c
Short Address : 0000

[2021-05-30 20:46] pipiche38 commented on #817
Are you with a Zigate V1 or V2 ? It looks a V2, and indeed for V2, there is a new firmware

https://github.com/fairecasoimeme/ZiGatev2/releases/tag/v3.1f

[2021-05-31 10:53] #817 closed, assigned to nobody

[2021-05-31 10:59] pipiche38 commented on #816
yep, it would be great if you could provide me the "Plugin Device List (RAW)" export.json file .
Normaly you should have only 1 Motion and NO switch, so could you kindly redo the pairing after having removed all devices

[2021-05-31 11:53] MLO881 commented on #816
@pipiche38
Here is the export.json file
[export.json.txt](https://github.com/pipiche38/Domoticz-Zigate/files/6570028/export.json.txt)

I will do the new pairing this evening and then I will send you the new version of the file

[2021-05-31 12:10] pipiche38 commented on #816
Yes please try to repair, as it looks like there is one part of the pairing which doesn't succeed.

[2021-05-31 16:18] MLO881 commented on #816
process used to unpaire/pair
1. remove devices from the device list of domoticz
2. Zigate noyification ==> Device fully removed Zigate - Motion-0015bc001a01a9b9-22 with IEEE: 0015bc001a01a9b9
3. Check that device is fully removed in device magement in Zigate web interface (device list and Raw export)
4. reset Frient module and check the devices is remove from network (red led blinking)
5. Remove b

[2021-05-31 17:17] pipiche38 commented on #816
This looks that it is not working as I would expect.
Can you redo the pairing, but also enable some debug, so I understand what is going on

you should enable
debugInput debugCluster debugPairing from the Tools->Debug menu and do the pairing like you did after having removed all devices from domotciz.

Which one did you buy ? is that
https://marini24.de/smart-home/sensoren/rauch-feuer-wasser/frien

[2021-06-07 07:27] MLO881 commented on #816
Hi,
 I took time to make tests, sorry.

 1. this is this one :https://marini24.de/smart-home/sensoren/bewegungsmelder/frient-bewegungsmelder-pro
 the Frient motion PRO : ref MOSZB-140

 2. I didn't succeed to record log's when pairing : I had to face domoticz crash or too heavy log that were erased during I check the pairing. I try a lot of time the week before
 but the behaviour is strange:
 - DO

[2021-06-07 10:13] pipiche38 commented on #816
Hi,

Thanks for the tests, but I'm struggling to understand what is happening. I was thinking to purchase the device, but on the German site, the price is doubled with Shipment I believe (and may be some taxes)!

What I would suggest as a final test, is to simply remove the file Conf/Certified/Frient/MOSZB-140.json
Then you restart, you remove all widgets from Domoticz and you redo the pairing.

Y

[2021-06-07 15:17] MLO881 commented on #816
Hi,
I proceeded as you wrote,
Nothing different, I think the issue comme from the V5.2.026 previously I was on the 5.2.0.22
FYI I bought on A...
Here is the link
https://www.amazon.de/frient-20202500-Feuchtigkeit-Manipulationsschutz-Funktioniert/dp/B08WXSZ56Z?ref_=ast_sto_dp

Edit,
following some comments and the use of the product I make ;
lux, temperature, 1 motion (delay tunable), and Tamper (i

[2021-06-09 07:12] pipiche38 commented on #816
Ordered one.

[2021-06-09 22:33] #770 closed, assigned to nobody

[2021-06-09 22:33] #790 closed, assigned to nobody

[2021-06-10 17:57] pipiche38 commented on #816
I have made very good progress today. Still some work to do.

(1) there is something strange of the firmware side, which makes that sometime the Tamper and a 30s  off Motion
(2) You can configure 3 Motions with a different delay to Off ( like 5s , 15s, 30s ) Motion-22,28,29

[2021-06-10 18:31] pipiche38 commented on #816
@MLO881 if you want to try and play this is now available on beta-5.2.032

- Remove all widgets
- Redo the pairing, you should have 3 Motion widgets created -22, -28 and -29. The delay ONtoOff is currently set by default to 15s for -22, 30s for -28 and 45s for -29
- The tamper might work, if the firmware is correctly behaving. I have it few times during all my tests.

If you want to have only 1 Mo

[2021-06-11 07:09] pipiche38 commented on #816
[moszb130.pdf](https://github.com/pipiche38/Domoticz-Zigate/files/6636513/moszb130.pdf)

[2021-06-11 07:40] pipiche38 commented on #816
Strange Lux measurement. This seems not to be matching the "Lux=10^((y-1)/10000)" rule
When comparing Philips Hue, Lumi and OZW , the Frient get a much higher Lux value at high luminence

[2021-06-11 07:51] pipiche38 commented on #816
This coud be related to
The  light  sensor is  a  low-accuracy  sensor  reporting  light  level.  The  end  point  is  configured  as  Home  Automation profile „Light Sensor“.

[2021-06-11 07:52] MLO881 commented on #816
Thanks for the update, I will swap today, and thank you for the doc.
About Lux, I don't have another devices to compare. but  for my use (switch light ON in a corridor) the data is enought.

[2021-06-11 09:43] MLO881 commented on #816
I make a quick test this morning :
 - Motion sensor 22, 28, 29 work fine with a 30s delay,  PIROccupiedToUnoccupiedDelay seems saved but without effects
 - tamper alarm 23 doesn't work but its behaviour is very  uncertain since the beginning
 - All other widgets seem working fine and log's update have a better refersh  frequency.

soon, I will try again a reset/pairing to have the tamper and check

[2021-06-11 09:55] pipiche38 commented on #816
We are making progress. Issue has been found in the ZiGate firmware which prevent the IAS enrollment and consequently having the Tamper working.

From that, I'm getting a new issue it seems that when the Tamper is enable then we don't get the 3 motion any more, but a fourth one.

I'm trying to contact Developco to see if I'm missing one point, as we will get a different behaviour between the 2 fir

[2021-06-11 13:59] MLO881 commented on #816
I made some tests (before and after a full reset/restart/unpair/pair)
Definitely, PIROccupiedToUnoccupiedDelay parameter doesn't work ==> data are saved into the plugin but sensors keep a 30s delay.
exept this point and Tamper, all seem working fine.

[2021-06-11 16:37] pipiche38 commented on #816
Try to get the latest version

Envoyé de mon iPhone

[2021-06-12 11:34] RezaRose26 commented on #782
I have the same issue. When connecting the device i have 3 widgets in Domoticz.
-Zigate USB TLL - TS0601_ThermoMode_2-5c0272fffecbff21-01
-Zigate USB TLL - TS0601_ThermoSetpoint-5c0272fffecbff21-01
-Zigate USB TLL - TS0601_Temp-5c0272fffecbff21-01

[2021-06-12 11:41] RezaRose26 commented on #782
[logexport.txt](https://github.com/pipiche38/Domoticz-Zigate/files/6642101/logexport.txt)

[2021-06-14 14:03] pipiche38 commented on #782
@RezaRose26 could you kindly drop the export.json from the PluginDeviceList (RAW) ?

[2021-06-15 12:30] MLO881 commented on #816
@pipiche38
I made several tests this until today, it's working fine for my usage.
but It seems that PIROccupiedToUnoccupiedDelay_28 & _29 are linked to the PIRUnoccupiedToOccupiedDelay_29 (of the documentation) but hard to monitor

[2021-06-20 13:40] Miloune opened #821 "Basically we are not receiving what we expect from Zigate"
Hello,

Got some errors /  problems with Zigate. I had problem with my raspberry pi and Wifi connection and cut power, didn't know if some data are corrups or not.

Here is logs :

[code]

[code]

[Json History from Zigate Web Interface](https://github.com/pipiche38/Domoticz-Zigate/files/6682448/errors.txt)

Versions:
Plugin: 4.11.017
Domoticz Version: 2021.1
Python Version: 3.7.3 (default, Jan 22

[2021-06-20 13:59] Miloune commented on #821
Didn't noticed there is a new branch stable. Switch to it => Plugin: 5.1.004

Got less errors, but the delay is pretty huge when I send a command to switch on / off the light (13 sec)

[errors (2).txt](https://github.com/pipiche38/Domoticz-Zigate/files/6682469/errors.2.txt)

[2021-06-20 14:08] pipiche38 commented on #821
please kindly use one of the forum ( French, or English ), from what I see is you have communication issues with the ZiGate

[2021-06-20 14:08] #821 closed, assigned to nobody

[2021-06-21 07:39] pipiche38 commented on #816
Investigation in progress on firmware side. The Motion Configure Reporting trigger a wrong Default Response on the ZiGate side while the device response was ok.

[2021-06-24 08:31] pipiche38 commented on #816
Fix on firmware side is ready. the end result is that if the motion is enrolled as a security device, then we don't get the flexibility on the vraious Ep. and we just have the 30s motion detection.

[2021-06-24 09:09] MLO881 commented on #816
Thanks
From my point of view it's OK,
User can adjust it directly into its platform by adding a delay on the rising edge

[2021-07-12 13:57] xbeaudouin opened #826 "Zigate Wifi : Error: Zigate: (Zigate) pingZigate - no Heartbeat with Zigate, try to reConnect"
**Describe the bug**

I have a Domoticz vers 2021.1 (build 13360 and older), using 2 interfaces one specific for usage (eg end user), and IOT (MQTT / Wifi modules etc...).

I currently runs FreeBSD 13.0-RELEASE, with my own port or Domoticz on FreeBSD, and python 3.7.

All plugins seems to works perfectly (some are from me), but, since the begining I have issue with domoticz and zigate wifi.

Sinc

[2021-07-12 18:43] pipiche38 commented on #826
Please do use the forum ( French or English)

[2021-07-12 19:51] pipiche38 commented on #826
I beleive you are refering to "stable" branch of the Zigate plugin? as you are on 4.11

Which Wifi Firmware are you using 1.x or 2.x ?
Are you sure that the Wifi doesn't get disconnected from the AP ?
Could you also check the PingZigate is enabled in the Plugin Web UI -> Settings ?

<img width="521" alt="Screenshot 2021-07-12 at 21 49 58" src="https://user-images.githubusercontent.com/8291674/1253

[2021-07-16 09:35] grrosminet opened #829 "Intégration tuya TS0203"
When I try to pair my door/window sensor, I get this message : "_Unable to collect all informations for enrollment of this devices. See Logs._"

the error.json :
`"8":{"0":{"Time":"15/07/2021 12:30:41","Module":"Input","nwkid":"841b","PluginHealth":"Ready","message":"Something wrong on Device 841b 00124b001477fe0a pairing process. (aborting)","PermitToJoin":{"Duration":255,"Starttime":1626344829},

[2021-07-16 17:21] grrosminet commented on #829
[errors.json.txt](https://github.com/pipiche38/Domoticz-Zigate/files/6832407/errors.json.txt)
Updated to beta 5.2.051
I can pair but sensor remains closed
[export.json.txt](https://github.com/pipiche38/Domoticz-Zigate/files/6832369/export.json.txt)

[2021-07-17 07:00] grrosminet commented on #829
Activated theses options, restarted the plugin, re-appairing with another identical device (in case the first one was broken), tryed to send some messages (open, close, open, close ...)

[domoticz.txt](https://github.com/pipiche38/Domoticz-Zigate/files/6834310/domoticz.txt)
[export.json.txt](https://github.com/pipiche38/Domoticz-Zigate/files/6834311/export.json.txt)

[2021-07-19 12:18] pipiche38 commented on #829
Can you enable debugIAS and redo the full pairing and prodivides the Log ?

Do you have any Zigbee sniffer ?

[2021-07-19 18:40] grrosminet commented on #829
here is the debugIAS
[domoticz-dbg-ias.txt](https://github.com/pipiche38/Domoticz-Zigate/files/6843183/domoticz-dbg-ias.txt)

[2021-07-21 13:00] pipiche38 commented on #829
3bf5f121

IAS Zone status change are based on Data Type 0x21

[2021-07-21 17:45] #829 closed, assigned to nobody

[2021-07-29 04:07] #807 closed, assigned to nobody

[2021-08-05 07:12] pipiche38 commented on #805
Wont' fix

[2021-08-05 07:12] #805 closed, assigned to pipiche38

[2021-08-09 07:56] pipiche38 commented on #816
Final integration is done in beta 5.2.067

e64c8adc2231f91dd39e012650f6598467793651

[2021-08-09 07:56] #816 closed, assigned to pipiche38

[2021-08-12 19:44] xbeaudouin commented on #826
Sorry for the long reply... Holidays... :D
I currently use Wifi Firmware v2.00 (with esp-link v3.2.50-gfe4f565-dirty)
The wifi does sometimes disconnect and roam (have unifi in the house) when the AP get a reboot or upgrades itself...

And the ping is enabled... Seems there is something special under FreeBSD ... Does ping on the pluging spanw the binary ping from OS?

Kind regards

[2021-08-13 14:54] pipiche38 commented on #826
No the "ping" is home made in the plugin (not OS related), the ping is done inside the communication beteen the plugin and the Zigate module

But if your wifi network is not stable and then the Wifi module get disconnected , this will cut the session and the connection need to be restarted.

I also suggest you if you can to switch to the plugin version 5 ( which requires Domoticz 2021.1 at least )

[2021-08-15 14:09] xbeaudouin commented on #826
Thanks. I have upgraded to version 5... Let's see if the issue is still there...

[2021-08-15 20:23] gorstj opened #831 "Osram Ledvance not pairing (previously worked fine) - 'ConsistencyCheck': 'Bad Pairing'"
* Product Name
Osram/Ledvance Smart+ Garden Pole RGBW

* Brand
Osram/Ledvance

* URL on a web site
*https://www.ledvance.com/consumer/products/smart-home/smart-home-luminaires/outdoor-luminaires/outdoor-led-luminaire-with-zigbee-technology--light-color-and-color-temperature-adjustable-c6296

* What do you expect
Device to pair and show up in domoticz.
This previously worked fine when I was trying

[2021-08-16 07:08] pipiche38 commented on #831
please the French or English forum

French: https://easydomoticz.com/forum/viewforum.php?f=28&sid=73507a8593cf4d7f36b169b92790253c

English: https://www.domoticz.com/forum/viewforum.php?f=68

[2021-08-16 07:08] #831 closed, assigned to nobody

[2021-08-16 07:25] gorstj commented on #831
Apologies - reposted in forum.

Is it worth changing the instructions on the Wiki if a device is not recognised _**not**_ to post on GitHub?

https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/en-eng/Problem_Dealing-with-none-certified-device.md

[2021-08-16 08:04] pipiche38 commented on #831
@gorstj as you mentioned it was working before, this is not an issue of a new device not working with the plugin.
In your case I suspect more a firmware issue. but let see how it will move on the forum

[2021-08-17 11:41] pipiche38 commented on #716
31e8fd56b3250b2ec39c39047839dc3a1ad2da0c

[2021-08-17 11:53] #716 closed, assigned to pipiche38

[2021-08-22 16:07] pipiche38 commented on #826
Found a potention issue as regards to Wifi and TCP connection. The problem should occur randomly. Fix in progress

[2021-08-22 18:35] pipiche38 commented on #826
00d91892ad92f9972868f7a4ac134e70cb2b0807

[2021-08-24 06:09] pipiche38 commented on #826
should be fixed with beta 5.2.080

[2021-08-25 09:00] pipiche38 opened #836 "Using a Zigate V1 configured as a ZiGate V2 crashes Domotciz"
If you use a Zigate V1 USB and you configure the plugin using a ZIgate+/V2 then Domoticz crashes

[2021-08-25 09:02] pipiche38 commented on #836
This is happening when setting rtscts in readSerial.py

[2021-08-25 09:46] pipiche38 commented on #836
3efaca85

[2021-08-25 09:46] #836 closed, assigned to nobody

[2021-08-26 13:57] xbeaudouin commented on #826
Thanks. I have upgraded to version 5...
But issue is still there... unfortunatly ... :(

[2021-08-27 06:38] pipiche38 commented on #826
I understood yu have upgraded 12 days ago. But did you update to 5.2.080 ?
If that is the case please provide logs

[2021-08-27 14:25] pipiche38 commented on #618
if time will be implemented, but no need for now

[2021-08-27 14:25] #618 closed, assigned to nobody

[2021-08-27 14:25] #782 closed, assigned to pipiche38

[2021-08-28 08:08] xbeaudouin commented on #826
Well :
[code]

Which log I can provide...? Do I have to set plugin to logging verbose?

[2021-08-28 08:42] pipiche38 commented on #826
what about

`git status`

To start with, I need the plugin logs (default one) at plugin start, then when the problem occurs .

[2021-08-28 11:35] xbeaudouin commented on #826
[code]

Here is the startup log :

[code]

[2021-08-28 15:49] pipiche38 commented on #826
Yes, seems that you are not on the right branch.

so either stable5 or beta would address that issue

git pull
git checkout stable5    (or beta )
git pull

then restart the plugin

[2021-08-28 18:13] xbeaudouin commented on #826
Done. Let's see if this is fixing the issue...

[2021-09-02 12:07] pipiche38 commented on #826
@xbeaudouin Xavier any news ?

[2021-09-09 19:13] pipiche38 opened #842 "Use Domoticz Database to store plugin configuration"
as of Domoticz 2021.1 build 13495, the memory leak has been solved, storage of plugin data into domoticz can be enabled.

Suggested approach is to:
- enable saving in Domoticz, and keep the .txt storage (for backup).
- when loading, load the more recent data ( either from the Domoticz timestamp or from the .txt file date.

In addition remove the .json storage (which is not use)

[2021-09-13 14:00] pipiche38 commented on #842
e6b3b685

[2021-09-13 14:00] #842 closed, assigned to nobody

[2021-09-13 20:17] pipiche38 opened #843 "Network Topology report doesn't work"
Bug introduce with commit: 074a0676db9f78c8837ff8270064ceccda7236ac

[2021-09-13 20:19] #843 closed, assigned to nobody

[2021-09-14 14:49] xbeaudouin commented on #826
Well seems very stable so far :)
So we can say this is successfully fixed !
Thanks to your help and quality of the code !

[2021-09-14 14:49] #826 closed, assigned to nobody

[2021-09-29 19:59] pipiche38 opened #847 "Rebuild missing Domoticz Devices/Widgets"
The purpose is to provide the capabilities to rebuild all Domoticz Devices for a given zigbee object.

This for instance will allow to re-create some widgets which have been removed

[2021-10-06 09:20] pipiche38 opened #848 "Do not use f1,f2,F3 EndPoint for fake endpoint"
F1, f2, F3 End Point seems to be reserved and cannot be used or at least we must avoid to do 0043

[2021-10-06 09:31] SylvainPer commented on #848
Endpoints above 240 (f0) are all reserved.

There are two special endpoints: 0 and 255. Endpoint 0 is used for the configuration and management of the entire Zigbee devide. Through this endpoint, the application can communicate with other layers of the Zigbee stack to initialize and configure them. Attached to endpoint 0 is the Zigbee device object (ZDO). Endpoint 255 is used to broadcast to all e

[2021-10-06 18:47] #848 closed, assigned to nobody

[2021-10-16 14:29] pipiche38 commented on #847
2ae1b2ed

[2021-10-21 17:09] #847 closed, assigned to nobody

[2021-10-25 17:10] thertp opened #862 "muller licht 404010fr remote"
I'm trying to get this remote working. It's the same model as in https://www.amazon.fr/dp/B07FJZKZRB/ref=twister_B0877BBQVK?_encoding=UTF8&psc=1. My device is seen in the logs as:

[code]

I'm running the ``stable5-fix`` branch, zigate 1 and firmware 031a.

I found that there's a ``Conf/Certified/TDURM0D01/ZBT-Remote-ALL-RGBW.json`` file so I was expecting to get it working, even if not everything

[2021-10-25 19:19] pipiche38 commented on #862
Did you read the Wiki ?
https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/en-eng/Corner_Tint.md

[2021-10-26 07:28] thertp commented on #862
yeah, I've read it but as said in my report, before I start hacking the code, nothing was working because they're not exactly the same remote control devices and now, the scene color buttons are still not working. Moreover, this doc doesn't mention if the limitation is only missing code or if it's a device or zigare or whatever limitation.

I'm ready to dig into the code in order to get a full sup

[2021-10-26 08:23] pipiche38 commented on #862
If I understood you are running firmware 31a.

I would be interesting to understand what you mean by hack the code to get power, dim+ and dim- to understand what is the issue.

On the other side, I'm not surprise that the you don't get events, I think that for the tint, a change in the firmware was made to get those type of event going through.
At least 31d must be the minimum, and I think that ev

[2021-10-26 08:47] thertp commented on #862
ok. So, I'll try to update my firmware and reply only once done then.

As regards the code changes, I've done that : https://gist.github.com/thertp/ad35cf8e0bf4d7f49e519bf09c667fc0
Without this the power on/off and dim+/dim- are not working. I've modified other places in ``Modules/inRawAps.py`` to test ``tint-Remote-white`` and ``ZBT-Remote-ALL-RGBW`` but iirc these changes had no effect.

[2021-10-26 09:15] pipiche38 commented on #862
The inRawAPS will work only with the firmware above 31d

Envoyé de mon iPhone

[2021-10-28 20:06] pipiche38 commented on #862
happy to merge your PR when ready

[2021-10-30 18:12] Adi3000 opened #866 "Moes HY368-ZB or ZTRV-368-MS (bundled with Tuya TRV)"
* Product Name MOES Moeshouse HY368-ZB
* Brand MOES
* Buy at Domadoo (ref ZTRV-368-MS, matching HY368-ZB) : https://www.domadoo.fr/fr/tetes-thermostatiques/5782-moes-tete-thermostatique-intelligente-zigbee-30.html
* Expected to be considered as a Tuya TRV
* Good after branch fix (editing pr)
* Raw Device JSON here
[code]

[2021-10-31 17:15] pipiche38 commented on #866
3d4007492f54c5e2ae2ba3afd30e9d3aabe53f66

[2021-10-31 17:15] #866 closed, assigned to nobody

[2021-11-03 09:43] thertp commented on #862
I've upgraded over the week end my zigate. Now, I'm getting the commands 0x7 ("move to color") and 0xa ("move to color temperature"). The "scene" buttons and the group button are still generating nothing.
For the "scene" buttons, looks like it's a command called "write" according to https://github.com/Koenkk/zigbee-herdsman-converters/issues/281 but I didn't look at that.

As regards the plugin an

[2021-11-03 18:43] pipiche38 commented on #862
For "scene" and "group" buttons
- did you enable debugInput ? As if it is "For the "scene" buttons, looks like it's a command " we should get a Data Indication under message type 0x8002

if you really get nothing, it would be good to sniff the Zigbee traffic in order to understand what is going on

[2021-11-05 17:19] thertp commented on #862
iirc, there are wireshark captures in the bug report I mentionned. At least, the logs I found on one of the few bug report on some github projects, for the scene buttons, the interesting decoded part is:
[code]
I've yet to understand the code flow in the plugin and in the zigate firmware to understand where the packet is dropped. What's possible is that the zigate is dropping the write to attribut

[2021-11-05 17:27] pipiche38 commented on #862
I'm missing some information. Is the write attribute from the Device to the Controller or vice-versa ?

Is the remote which want to write attribute 0x4005  (on which Cluster ????) to the Controller (Zigate)

[2021-11-05 19:39] thertp commented on #862
Yes, it's the remote which want to write to the 0x4005 attribute to cluster 0. The whole decoded frame is:
[code]
(from what I understand, the data is the scene button number)

[2021-11-05 21:39] pipiche38 commented on #862
And the Group 0x4004 exists in the plugin ? If you go to Group Management in the Plugin Web Ui , the group exists and ZiGate belongs to it ?

If not, it might explain, and you need to enable the zigatePartOfGroupTint in Plugin settings and restart the plugin to get it created.

1. Make sure to enable

    - debugInput
    - debugrawAPS

1. If it is created, it could be that the firmware is filteri

[2021-11-08 19:45] thertp commented on #862
With the wget commands and some logs added, I get in the logs:
[code]
So, I guess this means that the firmware is responible for the issue. I've started looking at the code and looks like the firmware is sending a error with the default command (command 0x0b) since it doesn't have 0x4005 as valid attribute (see ModuleRadio/Firmware/src/sdk/JN-SW-4170/Components/ZCL/Clusters/General/Source/Basic.c)

[2021-11-08 20:02] pipiche38 commented on #862
Sound good. Give me a night. and I'll make that available

[2021-11-08 20:47] pipiche38 commented on #862
Please try to update to beta-5.2.263

You should get the handling of the write attribute (if I didn't do any mistake).

Could you confirm that you have got those messages with Mode 2 ?

[2021-11-09 16:50] thertp commented on #862
Ok. Will try (but not today)

yes. I don't get them otherwise. I did:
- ``wget http://127.0.0.1:9440/rest-zigate/1/zigate-mode/2``
- Press buttons
- ``wget http://127.0.0.1:9440/rest-zigate/1/zigate-mode/0``
- Look at the logs

[2021-11-10 20:48] pipiche38 opened #876 "Refactor: Modules/readCluster too complex"
Refactor readCluster

[2021-11-10 20:48] pipiche38 opened #877 "Refactor Modules/input.py too complex"

[2021-11-13 20:04] pipiche38 opened #878 "Use ZiGate Hybrid mode as a normal mode for the Plugin"
1/ Switch ZiGate into Hybrid Mode

2/ Use NXP stack to send command

3/ use only Data Indication on receiving message and do not process any other messages

`self.pluginconf.pluginConf["ZiGateInHybridMode"]`

[2021-11-13 20:08] pipiche38 commented on #878
**Implemented**
    Command == "00":  # Read Attribute
    Command == "01":  # Read Attribute response
    Command == "02":  # Write Attributes
    Command == "04":  # Write Attribute response
    Command == "07":  # Configure Reporting Response
    Command == "0a":  # Report attributes
    Command == "0d":  # Discover Attributes Response

**Not implemented**
    Command == "06":  # Configure Repo

[2021-11-14 20:06] rcrocus opened #879 "Aqara Door Sesnor MCCGQ14LM status not updated"
Hello,
I have an Aqara door sensor (MCCGQ11LM) what function very well.

I bought 2 news Aqara door sensor and I've received a new model : MCCQ14LM.
The pairing is OK in Domioticz, but after that, the status of the door sensor (open or close) is never updated in Domoticz even if i put the button on the sensor (in this case, the time of the last contact is well update but note the status.

Please f

[2021-11-14 20:46] pipiche38 commented on #879
As requested on the Issue template, it is important to provide more information like the export.json of 'Plugin Device List RAW'
What is the plugin version and branch you are using ?

In between make sure to be on the latest beta version and check that it doesn't work.

[2021-11-14 20:52] rcrocus commented on #879
I use the plugin version 5.1.015 and the stable5 branch.
Please find below the export.json and the screen after the pairing from the plugin :
[export.json.txt](https://github.com/pipiche38/Domoticz-Zigate/files/7534634/export.json.txt)

![Capture](https://user-images.githubusercontent.com/94319263/141698136-5e0a9c59-9155-47db-b5be-ea58c87ab72f.JPG)

[2021-11-15 07:00] pipiche38 commented on #879
As requested please test with beta latest

Envoyé de mon iPhone

[2021-11-15 19:26] rcrocus commented on #879
I'll test with beta ASAP.
After that can I easly return to stable5 branch ?

[2021-11-18 10:19] #878 closed, assigned to nobody

[2021-11-20 10:26] mce35 opened #882 "Multi click not working anymore on Mija buttons"
Hello,

After updating to the latest version of the beta branch, multi click is not working anymore on Mija buttons, only single click is working.
Branch stable5 is working.

Log for stable5 branch when double click on a button:
[code]

Log on beta branch with 4-clicks:
[code]

Thank you.

[2021-11-20 16:33] pipiche38 commented on #882
Thank. Can you kindly provide me also an export.json ( Plugin Device list (RAW)  )

I’ll fix it by Monday

Envoyé de mon iPhone

[2021-11-20 16:50] mce35 commented on #882
Here it is.

Thank you.

[export.json](https://github.com/pipiche38/Domoticz-Zigate/files/7574854/export.json.txt)

[2021-11-21 17:36] pipiche38 commented on #882
beta-5.2.291 should be ok. Thanks for reporting

[2021-11-22 17:16] #882 closed, assigned to nobody

[2021-11-22 17:16] #877 closed, assigned to pipiche38

[2021-11-23 23:31] mce35 commented on #882
Just updated to the latest beta branch (5.2.294 by now), the fix is working, thank you!

[2021-11-26 14:04] rcrocus commented on #879
Hello,
I test with beta latest (5.2.303) and I have the same problem.
[export.json.txt](https://github.com/pipiche38/Domoticz-Zigate/files/7609192/export.json.txt)

[2021-11-26 15:02] pipiche38 commented on #879
can you please retreive beta-5.2.305 and redo the test:
1/ git pull (to get the latest beta)
2/ remove the Voltage and Door widget created in Domoticz
3/ restart the plugin
4/ redo the pairing

[2021-11-26 15:22] rcrocus commented on #879
I have always the same problem.
[export.json.txt](https://github.com/pipiche38/Domoticz-Zigate/files/7609570/export.json.txt)

[2021-11-26 15:59] pipiche38 commented on #879
Could you please, enable some debug parameters via the WebUI > Tools > Debug

debugInput
debugCluster

The log will be visible on the Domoticz Logs

then try to interact with the door sensor.

then drop the logs here

[2021-11-26 16:20] rcrocus commented on #879
Here the logs when I putsh the button :

 _2021-11-26 17:17:51.118 Zigate: ZigateRead - MsgType: 8102, MsgLength: 001f, MsgCRC: d4, Data: 48920b0100000005004200126c756d692e6d61676e65742e61636e303031, LQI: 153
2021-11-26 17:17:51.118 Zigate: Decode8102 - Attribute Reports: [920b:01] MsgSQN: 48 ClusterID: 0000 AttributeID: 0005 Status: 00 Type: 42 Size: 0012 ClusterData: >6c756d692e6d61676e65742e616

[2021-11-26 16:27] pipiche38 commented on #879
when you push the button that is ok, but what about when you use the magnet and you simulate opening/closing a door

[2021-11-26 16:30] rcrocus commented on #879
When I push the button, I have these logs but nothing the status is not updated in Domoticz (only the time of the last contact was updated). When I simulate opening/closing a door, I have nothing in logs and no update in Domoticz.

[2021-11-26 16:46] pipiche38 commented on #879
But I'm not talking about pushing any button. I'm taking about using the magnet

[2021-11-26 16:47] rcrocus commented on #879
Yes, when I using the magnet (opening or closing) nothing happens in log.

[2021-11-26 17:03] pipiche38 commented on #879
Ok. so I'll purchase one in order to test and integrate

[2021-11-26 17:07] pipiche38 commented on #879
can you give the link where you purchase it, so i'm sure to order the same ?

[2021-11-26 17:09] rcrocus commented on #879
I bought this one : https://fr.aliexpress.com/item/4001027772242.html?spm=a2g0o.productlist.0.0.76f7683f1aEGRg&algo_pvid=9a63c556-2f13-47c7-91f8-361eb7a0cf06&algo_exp_id=9a63c556-2f13-47c7-91f8-361eb7a0cf06-0&pdp_ext_f=%7B%22sku_id%22%3A%2210000013571930493%22%7D

[2021-11-26 21:52] pipiche38 commented on #879
thanks to @koenkk https://github.com/dresden-elektronik/deconz-rest-plugin/issues/5403#issuecomment-980436576

[2021-11-26 22:01] pipiche38 commented on #879
@rcrocus the good news is that we know what has to be done, the issue is that I don't own the firmware of the ZiGate and that is where the changes has to be performed.
So when receiving the device I'll prepare a use case and submit the request for change

[2021-11-27 08:25] rcrocus commented on #879
Thanks a lot for your time and your work !

[2021-12-03 22:15] pipiche38 commented on #879
If you have a Zigate V2 you can upgrade it to firmware 321 and it should eork

[2021-12-04 09:53] rcrocus commented on #879
Hello,
Unfortunately, I only have a Zigate V1. Is the firmware 321 is only for V2 ?

[2021-12-04 12:46] pipiche38 commented on #879
Yes it is only for V2. Up to the zigate manufacturer to do it in V1.

You might want to ask for it here

https://github.com/fairecasoimeme/ZiGate/issues/381

Which I think make sense as you won’t be the only one in that situation

Envoyé de mon iPhone

[2021-12-05 20:11] rcrocus commented on #879
I ask it yesterday...

[2021-12-07 22:23] pipiche38 opened #887 "Tracking integration of zigpy-znp"
Purpose is to open the Domoticz-Zigate plugin to Ti CCxxxx module.
The plugin is now working in Zigbee RAW mode
So we do consider that integrating zigpy-znp in place of the zigate Transport should be possible.

Might get still some code cleanup in order to get the coexistance.

[2021-12-08 09:19] pipiche38 commented on #887
need to isolate zigate code

[2021-12-09 12:57] #887 closed, assigned to nobody

[2021-12-10 16:24] SylvainPer commented on #879
@rcrocus available:
https://github.com/fairecasoimeme/ZiGate/releases/tag/v3.21-opdm
or
https://github.com/fairecasoimeme/ZiGate/releases/tag/v3.21-legacy

[2021-12-10 20:37] rcrocus commented on #879
Hello,
After the upgrade of my Zigate v1 to v3.21-legacy, it works perfect.
Thanks a lot to everyone.

[2021-12-12 10:39] pipiche38 opened #888 "Zigpy integration"
Purpose is to track Zigpy integration issues and needs. All is under the branch [zigpy](https://github.com/pipiche38/Domoticz-Zigate/tree/zigpy)

[2021-12-12 10:43] pipiche38 commented on #888
Focus will be on integration of
[zigpy-zigate](https://github.com/zigpy/zigpy-zigate)
[zigpy-znp](https://github.com/zigpy/zigpy-znp)

Integration will be done at low level in order to have all events Zigbee events received and handle by the plugin. Purpose is to rely on the abstract layer given by zigpy-<radio module> but not more.

Unfortunately from the current investigation zigpy-<radio module

[2021-12-12 13:35] pipiche38 commented on #888
In order to get a smooth integration, it might be important that we normalize the format of the incoming raw messages

[2021-12-13 20:46] pipiche38 commented on #888
@badzz , in mrequest() sequence is an expected parameter which is not used in the raw_aps_data_request(), for ZNP it seems that the sequence called TSN is expected, does that mean that we have to have a dedicated counter/sqn ?

[2021-12-14 09:30] pipiche38 commented on #888
Confirmed with @badzz the integration will go up to the <radio module>/zigbee/application.py module which provide a much tight integration of the radio module in the stack.

the integration will rely on the handle_message() and the request() and mrequest() methods.

We have a number of missing informations like is the device in permit mode or not ? How to send specific device command with that int

[2021-12-14 10:03] omerk commented on #888
@pipiche38 good luck with the project, if you (or any other developers) need any hardware, @electrolama would be happy to ship some zzh sticks free of charge to help out. Get in touch via support@electrolama.com.

[2021-12-14 10:09] pipiche38 commented on #888
@omerk thanks very much , I know that one has already ordered a zzh stick. Don't know if you can do something for him ( @badzz)

[2021-12-14 10:17] Hedda commented on #888
Wish you guys the best of luck! FYI, I posted a heads up in zigpy discussions for reference to their developers -> https://github.com/zigpy/zigpy/discussions/865

A tip for later if future [bellows](https://github.com/zigpy/bellows) integration is of interest then contact Elelabs for adapter sample hardware -> https://elelabs.com

By the way, Elelabs currently has Zigbee USB and Shield adapters ba

[2021-12-14 10:23] pipiche38 commented on #888
For now, will focus on electrolama and zigate

[2021-12-14 11:22] pipiche38 opened #889 "[zigpy integration] - get device specifics command at application or plugin level"
The plugin in order to behave correctly and report information to users via the WebUI needs informations that usually are reached via a Zigate command

- Firmware version
- Permit to join status
- Erase PDM
- Soft Reset
- enable:disable LED

[2021-12-14 11:25] pipiche38 opened #890 "[zigpy integration] - handle_message() / request() / mrequest()"
handle_message() should return the source nwkid. as of today get_device() is returning none.
Do we have to implement a device structure (or map it to the existing plugin ListOfDevices) ? If so which would make sense, we need to see how to interface .

similar issue with request and mrequest

[2021-12-14 11:27] pipiche38 opened #891 "[zigpy-integration] - call_handler do not report LQI"
call_handler is filtering the LQI coming from the message receive. In fact it seems to be store in the zigpy database that we won't use.
Can we store the LQI into the plugin (ListOfDevices) database ?

cd: device.radio_details(lqi, rssi)

[2021-12-14 11:31] pipiche38 opened #892 "[zigpy-integration] - what is the purpose of the sequence parameter"
In request()/mrequest() sequence is an expected parameter which is not used in the raw_aps_data_request(), for ZNP it seems that the sequence called TSN is expected, does that mean that we have to have a dedicated counter/sqn ?

Is that a simple counter, do we get it back in the call_handler ?

[2021-12-14 11:32] pipiche38 commented on #888
[#889](https://github.com/pipiche38/Domoticz-Zigate/issues/889)
[#890](https://github.com/pipiche38/Domoticz-Zigate/issues/890)
[#891](https://github.com/pipiche38/Domoticz-Zigate/issues/891)
[#892](https://github.com/pipiche38/Domoticz-Zigate/issues/892)

[2021-12-14 11:43] pipiche38 commented on #889
https://github.com/zigpy/zigpy/discussions/865#discussioncomment-1804147

[2021-12-14 12:16] Hedda commented on #888
FYI, zigpy has been refactored to provide ZDO events so could one possible workaround be to translate/convert incoming ZDO commands into zigate commands for those not handled natively as suggested by Adminiuga in this PR -> https://github.com/zigpy/zigpy/pull/855

[2021-12-14 15:49] pipiche38 opened #893 "[zigpy-integration] - call_handler format the data in a zigpy form"
call_handler and zigate_call_handler are formating the data message in a zigpy format. can we avoid that ?

Is App_zigate the right place to do ?

[2021-12-14 16:56] pipiche38 commented on #889
@badzz
https://github.com/zigpy/zigpy/discussions/865#discussioncomment-1806920

[2021-12-14 21:56] badzz commented on #890
https://github.com/pipiche38/Domoticz-Zigate/pull/894

[2021-12-14 21:58] badzz commented on #893
if we do differently , the rest of zigpy wont work

[2021-12-14 22:01] badzz commented on #891
handle_message should be called with a device that include the lqi now
device.lqi should work ?
#894

[2021-12-14 22:10] badzz commented on #892
interesting subject. The NXP function does not allow the manipulation of the ZPS sequence number.
It is the NXP stack that assigns them and keep the counter.  check ZPS_eAplAfApsdeDataReq for reference in NXP doc
Hence when using zigate, no sequence number needed to be send.
However to keep track of ACK, the NXP stack and zigate firmware sends back the SQN assigned

[2021-12-15 10:55] pipiche38 commented on #891
thanks

[2021-12-15 10:55] #891 closed, assigned to nobody

[2021-12-15 10:55] pipiche38 commented on #892
get_sequence() is provided by zigpy.application so everything good.

[2021-12-15 10:56] #892 closed, assigned to nobody

[2021-12-15 12:46] pipiche38 commented on #893
understood

[2021-12-15 12:46] #893 closed, assigned to nobody

[2021-12-15 12:46] pipiche38 commented on #890
thanks

[2021-12-15 12:46] #890 closed, assigned to nobody

[2021-12-15 16:14] pipiche38 opened #896 "[zigpy-integration] - issue with AddrModeAddress"
It looks like t.AddrModeAddress is defined in zigpy-znp but nothing else !

[code]

[2021-12-15 16:14] pipiche38 commented on #888
@badzz :
[#896](https://github.com/pipiche38/Domoticz-Zigate/issues/896)
[#898](https://github.com/pipiche38/Domoticz-Zigate/issues/898)
#899

[2021-12-15 16:17] pipiche38 opened #897 "[zigpy-integration] - APS SQN management (at plugin level)"
With zigpy we don't have to managed APS sqn , but via the raw 0x0530 (the sqn is embeeded into the RAW_APS payload). These is the ZCL/ZDP sqn we will get back when receiving the answer from the device.

[2021-12-15 16:32] pipiche38 opened #898 "[zigpy-integration] - zigpy-zigate implementation restrict source Ep to 0x01"
can we remove this restriction as we know :

Zigate can accept other source Ep
we need 0x0B for binding Schneider Wiser thermostat

[2021-12-15 19:30] pipiche38 opened #899 "[zigpy-integration] zigate low level command"
zigpy-zigate is preventing message like 0x8010, 0x8015 ... to be forwarded to the application call_back handler. The end result is we cannot get those messages to be processed by the plugin

It will be the same if we setup Zigate in Log mode

[2021-12-15 20:12] badzz commented on #896
use this instead destination = zigpy.device.Device(self.app, None, NwkID)

[2021-12-15 21:09] pipiche38 opened #900 "[zigpy-integration] - APS Ack and APS nack should be reported"
currently the APS Ack and APS nack should be reported via call_back in the App_zigate

[2021-12-15 21:13] pipiche38 opened #901 "[zigpy-integration] - Pairing : message 0x004d makes an error"
Dec 15 22:10:43 rasp domoticz[23307]: 2021-12-15:22:10:43,972 DEBUG    [uart.py:89] Frame received: 004d000d6a4f4600158d0002722c67800000
Dec 15 22:10:43 rasp domoticz[23307]: 2021-12-15:22:10:43,973 DEBUG    [api.py:172] data received 0x4d b'4f4600158d0002722c678000' LQI:0
Dec 15 22:10:43 rasp domoticz[23307]: 2021-12-15:22:10:43,975 DEBUG    [application.py:101] zigate_callback_handler [0x4f46, 0

[2021-12-15 21:17] pipiche38 commented on #901
Problem solve. Implementation of handle_join in porgress

[2021-12-15 21:22] pipiche38 opened #902 "[zigpy-integration] - handle_join() doens't provide the REJOIN Flag"
When receiving a device annoucement (at least with zigate) but I also beleive this is part of the Zigbee norm a REJOIN FLAG should be provided based on what the device is doing

    # (1) Device Annoucement with a JoinFlags and LQI set to 00. This one could be issued from:
    #     - device association (but transaction key not yet exchanged)
    #     - Rejoin request (for an already paired devic

[2021-12-15 21:22] pipiche38 commented on #902
https://github.com/zigpy/zigpy/discussions/865#discussioncomment-1817232

[2021-12-15 21:27] #901 closed, assigned to pipiche38

[2021-12-16 08:25] pipiche38 opened #904 "[zigpy-integration] - zigate trouble: unhandled response 0x8012"
Zigpy-zigate seems not handling properly 0x8012

[code]

[2021-12-16 08:41] pipiche38 opened #905 "[zigpy-integration] - zigate issue: zigpy-zigate doesn't handle 0x9999"
zigpy-zigate doesn't handle 0x9999

Dec 16 09:40:09 rasp domoticz[1295]: 2021-12-16:09:40:09,175 WARNING  [api.py:175] Received unhandled response 0x9999

[2021-12-16 08:42] pipiche38 commented on #888
#905
#904

[2021-12-16 09:03] Hedda commented on #888
Would it not be a good idea to also track issues in/with [zigpy-zigate](https://github.com/zigpy/zigpy-zigate) in upstream? -> https://github.com/zigpy/zigpy-zigate/issues

Alternatively could to fork https://github.com/zigpy/zigpy-zigate to instead track zigpy-zigate issues in issues tracker in that fork?

[2021-12-16 11:53] pipiche38 commented on #888
we have made a fork of the zigpy-zigate and will continue to work on that one.
and as it is related to our integration work, we will continue here

[2021-12-16 19:57] pipiche38 commented on #905
and last the message should be forwared to a call handler

[2021-12-16 19:58] pipiche38 commented on #900
0x8011 should be send to the call_handler in order to be handle if there is a communication  issue wih the particular device

[2021-12-16 19:59] pipiche38 commented on #896
thanks

[2021-12-16 19:59] #896 closed, assigned to nobody

[2021-12-17 13:18] pipiche38 opened #908 "[zigpy-integration] - zigate device annoucement"
During device annoucement, Zigate provide in addition of the device annoucement the mac-capa details.
is there a way to get that information (bundle with the annoucement call back ) or somewhere else.

[2021-12-18 19:40] pipiche38 opened #910 "[zigpy-integration– znp integration ExtendedPANID coding"
Extended PANID is not correctly coded . Must be a string integer

[2021-12-18 19:42] pipiche38 opened #911 "[zigpy-integration– znp integration - Short Address coding"
short address of the controlle 0x0000 must be formated as a string 0000

[2021-12-18 19:43] pipiche38 opened #912 "[zigpy-integration– znp integration - PANId format"
PanId must be formated as a string hex "885d" for exemple

[2021-12-18 21:55] #912 closed, assigned to nobody

[2021-12-18 21:55] #911 closed, assigned to nobody

[2021-12-18 21:55] #910 closed, assigned to nobody

[2021-12-19 10:28] pipiche38 commented on #908
https://github.com/zigpy/zigpy/discussions/865#discussioncomment-1842788

[2021-12-19 10:29] pipiche38 commented on #902
Will handle it at the plugin level by making a dedicated device annoucement call for zigpy

[2021-12-19 10:49] pipiche38 opened #913 "[zigpy-integration] - znp integration - pairing"
During the pairing process, just after receiving the Device Annoucement the zigpy-znp layer is requesting a Node Descriptor. Why ?

This could be a blocking/failing factor for devices like Aqara whom doesn't support it.

[2021-12-19 10:50] pipiche38 commented on #913
https://github.com/zigpy/zigpy/discussions/865#discussioncomment-1842901

[2021-12-19 11:25] pipiche38 opened #914 "[zigpy-integration] - error when pairing Opple device - Cluster 51 has not been implemented !"
[code]

[2021-12-19 11:25] pipiche38 commented on #914
https://github.com/zigpy/zigpy-znp/issues/112

[2021-12-19 14:22] pipiche38 opened #915 "[zigpy-integration] znp profile in handle_message seems to be always set to 0x0104"
When receiving ZDP messages like Device Annoucement (cluster 0013) teh profile is set to 0x0104 which is not correct as it is an 0x0000 profile for ZDP commands

[2021-12-19 14:22] pipiche38 commented on #915
https://github.com/zigpy/zigpy-znp/pull/113

[2021-12-19 17:28] pipiche38 commented on #908
#917 solve the issue as we get maccap in the 0x0013 cluster message

[2021-12-19 17:29] pipiche38 commented on #914
This is mainly link to the fact that the Domoticz plugin at the completion of the discovery/interview request the binding table of the device

[2021-12-19 17:30] pipiche38 commented on #904
will be handle with SQN
https://github.com/badzz/zigpy-zigate/commit/6f22a49ad17635b1c1fec36826bf62a6afd5fbca

[2021-12-19 17:30] #904 closed, assigned to nobody

[2021-12-19 17:31] pipiche38 commented on #897
https://github.com/badzz/zigpy-zigate/commit/6f22a49ad17635b1c1fec36826bf62a6afd5fbca

[2021-12-20 08:19] pipiche38 commented on #915
fix: da98fa0f

[2021-12-20 08:19] #915 closed, assigned to nobody

[2021-12-20 08:20] pipiche38 commented on #902
and rely on 0x8002 for Cluster 0x0013

[2021-12-20 08:20] #902 closed, assigned to pipiche38

[2021-12-20 08:21] pipiche38 opened #918 "[zigpy-integration] - zigate limit permit to join to 254"
Please kindly remove the limitation of Permit to join to 0xfe on Zigate as Zigate allow up to 0xff and manage it correctly

[2021-12-20 13:33] pipiche38 commented on #889
d6ebcc36

[2021-12-20 13:33] #889 closed, assigned to pipiche38

[2021-12-20 15:20] pipiche38 opened #919 "[zigpy-integration] - znp"
if you pair a device it works very well, then if you restart the plugin , it looks like ZNP layer lost its memory
and the device seems not recognized and do not handle the message
[code]

[2021-12-20 15:20] pipiche38 commented on #919
@badzz I beleive this is link to get_device()

[2021-12-21 10:27] Hedda commented on #888
Suggest change the repo's "About" so don't specifically say is only for "CC253x" when newer "CC2x52/CC1x52" should be prefered.

https://github.com/pipiche38/Domoticz-znp/

Noted this "**_Domoticz plugin which communicate with TI CC253X ..._**" in the "About" description that new znp repo.

![image](https://user-images.githubusercontent.com/6320001/146912789-4570037f-6288-46f5-b095-d539e4926998.pn

[2021-12-21 14:42] #918 closed, assigned to nobody

[2021-12-21 14:43] pipiche38 commented on #898
https://github.com/badzz/zigpy-zigate/commit/a13c3ca723decc61592bd59dd306b10091810f4c

[2021-12-21 14:43] #898 closed, assigned to nobody

[2021-12-21 21:43] badzz commented on #919
https://github.com/pipiche38/Domoticz-Zigate/pull/920

[2021-12-21 21:44] badzz commented on #897
delivered .. there might some perf issues but let's make a separate bug for it ?

[2021-12-21 22:03] pipiche38 commented on #897
@badz that one is still open, tI need to fix the use of the ZCL SQN instead of the i_sqn . like for configure reporting and bind responses.

[2021-12-21 22:24] badzz commented on #900
ACK issues should be reported by the return of the request function
eg: result, msg = await self._application.request( ...)
I might now work perfectly for zigate yet but should be ok for znp.
Is it ok for you ?

[2021-12-22 08:50] pipiche38 commented on #900
Fine I can manage the Ack/Nack from here.

[2021-12-22 10:40] badzz commented on #905
so , I can catch it but I am not sure how to sent it back with request return  . eg: if we send back the extended code instead of normal code, we might not know which layer is sending it back , eg 0x83 error code exists in ZDP error codes and extended codes.
If you do not need the details, I could just dump it in the logs.

[2021-12-22 11:00] pipiche38 commented on #905
Cannot we have a dedicated call handler for it ?

[2021-12-22 11:47] badzz commented on #905
That would be specific to zigate ? This is low level hardware specific info.
What actions would higher layer take based on this error ?
What other hardware would send back ?

On Wed, 22 Dec 2021, 12:00 Pipiche, ***@***.***> wrote:

[2021-12-22 13:48] pipiche38 commented on #900
Looks like ZNP doesn't report the same way as ZiGate ! Can we get them aligned

[2021-12-22 18:27] pipiche38 opened #921 "[zigpy-integration] disable raw mode if in native move"
the zigate doesn't leave raw mode except if you Erase PDM it, so make sure that when starting the plugin in native mode to set the zigate mode to 0x00 (standard)

[2021-12-22 18:54] pipiche38 commented on #905
You right, I suggest that we simply log a WARNING at the zigpy_zigate level

[2021-12-23 09:24] #921 closed, assigned to pipiche38

[2021-12-23 09:25] #919 closed, assigned to nobody

[2021-12-23 15:26] pipiche38 opened #923 "[zigpy-integration] - zigate & znp get list of active devices"
On zigate command 0x0015 allows to retreive active devices known by Zigate. We get ShortId, IEEE, lqi, power mode

Can we provide this functionality to zigpy-zigate (could be an await call returning the list of devices)

Can we get a similar function for zigpy-znp

[2021-12-23 15:26] pipiche38 commented on #923
@badzz

[2021-12-23 15:31] pipiche38 opened #924 "[zigpy-integration] - zigate Erase PDM"
we need to be able to do an Erase PDM of ZIgate

Command 0x0012

[2021-12-23 18:59] pipiche38 opened #925 "[zigpy-integration] - zigate version_str()"
zigpy_zigate self._api.version_str() returns a string with a floating representation, which seems to be hard to convert.
Can we have a self._api_version_raw() which simply return in hexa the firmware version

[2021-12-24 07:59] pipiche38 opened #926 "[zigpy-integration] - get_device() and controller infos"
Let's check if we can get some extra controller information like version ... via the get_device() or simply

- ZiGateDevice for Zigate
- ZNPCoordinator for ZNP

For both classes, we have model and version

[2021-12-24 08:00] pipiche38 commented on #926
@badz what do you think ?

[2021-12-24 16:04] pipiche38 opened #929 "[zigpy-integration] - Permit to Join is limited to 254 s"
in consistent with https://github.com/zigbeefordomoticz/Domoticz-Zigbee-UI/commit/592d1fee4c908a461eab6670cd6528157419a80c the plugin must manage permit to join to be limited to 240s

[2021-12-24 16:04] pipiche38 commented on #929
especially for Contoller where it is not possible to get permit to join status

[2021-12-25 14:47] pipiche38 opened #930 "[zigpy-integration] - stack trace during pairing of aqara switch"
[code]

[2021-12-25 14:50] pipiche38 commented on #930
https://github.com/zigpy/zigpy/discussions/865#discussioncomment-1869839

[2021-12-25 16:20] pipiche38 opened #931 "[zigpy-integration] - No ZDO converter for Cluster 0x0000"
https://github.com/zigpy/zigpy-znp/issues/121

[2021-12-25 18:24] pipiche38 opened #932 "[zigpy-integration] - ZDP command over ZNP seems to overwrite the Sequence number"
When doing a bind, it looks like the ZNP stack doesn't take the sequence number given when calling request() and instead take a self generated one. The result is when bind_reponse is coming back, the Sqn is unknown from out side !

[2021-12-25 18:24] pipiche38 commented on #932
@badzz

[2021-12-26 08:41] pipiche38 opened #933 "[zigpy-integration] - unable to retreive Active Ep and Simple descriptor of the Controler"
Unable to retrieve the Active Ep and simple descriptor of the Controller!

[2021-12-26 08:46] pipiche38 commented on #933
When receiving 0x8009 ( Network Status) and we know that the controller is well initialized we start retreiving information in order to get the list of Endpoint and supported cluster

This doesn't work with zigpy layers either with Zigate where we get a message like:
[code]

Or with ZNP here I think we do not retreive the Controller messages !

Question is how to get those information at the plugi

[2021-12-26 08:46] pipiche38 commented on #933
@badzz

[2021-12-26 10:07] pipiche38 opened #934 "[zigpy-integration] - znp / zigate do not have the same endian format"
It looks like  self.app.ieee.serialize() and self.app.extended_pan_id.serialize() do not use the same endian format
[code]

For now when on Zigate I have to convert it and not with znp
`ieee = "%016x" % struct.unpack("Q", struct.pack(">Q", int(ieee, 16)))[0]`

[2021-12-26 10:07] pipiche38 commented on #934
@badzz

[2021-12-26 10:15] pipiche38 commented on #897
Issue remains on Zigpy-ZNP as the SQN seems to be overwritten .
https://github.com/pipiche38/Domoticz-Zigate/issues/932

[2021-12-26 15:00] badzz commented on #926
it should work if you get AppZnp.get_device(nwk=0x000).mode() or AppZigate(nwk=0x0000).mode().
However for zigate , I might need to check a lot of logic in zigate.

[2021-12-26 15:12] badzz commented on #897
rewording the issue to APS SQN would be better ?

[2021-12-26 15:17] badzz commented on #932
you have a log of this ? it seems that zdo function do not use the SQN/TSN . hence it just sends back the same sqn that you put in request.

[2021-12-26 16:41] pipiche38 commented on #932
[SQN-log.log](https://github.com/pipiche38/Domoticz-Zigate/files/7777261/SQN-log.log)

[2021-12-26 21:33] pipiche38 opened #937 "[zigpy-integration] - znp and Mgmt_NWK_Update_req (usage of broadcast)"
How to broadcast with zigpy-znp ?

https://github.com/zigpy/zigpy/discussions/865

![Screenshot 2021-12-26 at 22 31 02](https://user-images.githubusercontent.com/8291674/147420547-151cb795-d94e-43d2-a9f9-b3b70095850f.png)

[2021-12-26 21:52] pipiche38 opened #938 "[zigpy-integration] - znp Nwk_link_quality_request"
we have an issue that we are not able to send a LQI request to 0x0000. As this is part of the Topology report, how can we get access and send command to controller ?

[2021-12-26 21:53] #925 closed, assigned to nobody

[2021-12-26 21:54] pipiche38 commented on #897
I close that one, as the pending issue is under #932

[2021-12-26 21:54] #897 closed, assigned to pipiche38

[2021-12-28 12:04] pipiche38 opened #939 "[zigpy-integration] - get_device() for device, but what for group ?"
get_device() allows to transform a NwkId or IEEE into a zigpy device. But what about group ? How can we transform a plugin groupId into a zigpy group ?

[2021-12-28 12:06] pipiche38 commented on #939
destination = t.AddrModeAddress(mode=t.AddrMode.Group, address=NwkId)
==> 'module 'zigpy.types' has no attribute 'AddrModeAddress''

[2021-12-28 12:18] pipiche38 commented on #939
AddrModeAddress seems to be defined at ZNP but not zigpy level!

[2021-12-28 16:45] pipiche38 opened #940 "[zigpy-integration– ZNP Endpoints"
in order to align ZNP controller on the Zigate, we must make sure that ZNP is listening on the same Endpoint as Zigate

EndPoint 0x00 (0) --> ZDP
EndPoint 0x01  (1) --> ZCL
EndPoint 0x0b (11) --> Wiser Schneider
EndPoint 0x0a  (10) --> ORVIBO
EndPoint 0x6E (110)   --> TERNCY
EndPoint 0x15 (21)   ---> KONKE
EndPoint 0x08 (8) --> LIVOLO
EndPoint 0x03 (3) --> New Wiser Schneider

https://github.com/z

[2021-12-30 20:55] pipiche38 commented on #940
For Wiser Thermostat, we will have register the endPoint ( https://github.com/zigpy/zigpy/discussions/865#discussioncomment-1879846 )

Same issue as on ZiGate EndPoint receiving command needs to be registered in order to capture the event!

Need to see how to do that in the integration side

[2021-12-30 21:07] pipiche38 commented on #940
@badzz to be check if we can use _register_endpoints() from AppZNP during startup and hving the possibility to add additional Endpoint on top of the 0x00, 0x01 and 0x02

[2021-12-30 23:33] badzz commented on #940
Yep seen that..  I will dig into it . Thx

On Thu, 30 Dec 2021, 22:07 Pipiche, ***@***.***> wrote:

[2021-12-31 07:56] zigbeefordomoticz commented on #931
thanks
https://github.com/zigpy/zigpy-znp/pull/122

[2021-12-31 07:56] #931 closed, assigned to nobody

[2021-12-31 08:01] pipiche38 commented on #937
Crash

[code]

[2021-12-31 08:34] pipiche38 opened #945 "[zigpy-integration] - ZNP errors"
[code]

[2021-12-31 11:02] pipiche38 opened #946 "[zigpy-integration] - Zigate Broadcast and Multicast"
broadcast and multicast call shouldl be implemented in the zigpy-zigate/api.py

[2021-12-31 14:16] zigbeefordomoticz commented on #938
this is link to the handle_message() filtering out what is coming from 0x0000

https://github.com/zigbeefordomoticz/Domoticz-Zigbee/pull/947/commits/e0e03e73d93c93c0eae5d065adef2190fc855169

[2021-12-31 14:17] #938 closed, assigned to nobody

[2022-01-01 14:02] badzz commented on #946
mrequest() and broadcast() exist and should work . any logs ?

[2022-01-01 14:06] badzz commented on #939
why would you need to call get_device directly ?
you can call mrequest with a groupid for instance ?

[2022-01-01 14:15] badzz commented on #933
The endpoints are already in the 0000 device that are populated in znp
for ep_id, endpoint in (self.app.get_device(nwk = t.NWK(0x0000)).endpoints.items)
    endpoint.out_clusters
we can do the same thing for zigate

[2022-01-01 14:56] pipiche38 commented on #933
Ok. It works, I'll do an encoding to send it in the proper format to plugin

[2022-01-01 14:58] pipiche38 commented on #946
I sugggest to close as it is implemented. Will re-open if any issue

[2022-01-01 14:58] #946 closed, assigned to nobody

[2022-01-01 16:07] pipiche38 commented on #933
Done! I feel that the list of clusters provided are not as they should be.

![Screenshot 2022-01-01 at 17 07 19](https://user-images.githubusercontent.com/8291674/147854773-36969e61-a383-44d8-b734-e8bf90eaefed.png)

I would expect all supported clusters like 0006, 0008, 0102, 0201, 0004 ....

[2022-01-01 16:59] pipiche38 commented on #937
@badzz I would appreciate your point of view on the comment https://github.com/zigpy/zigpy/discussions/865#discussioncomment-1892115

[2022-01-01 17:59] badzz commented on #933
this is the list of cluster for the controller itself, not the clusters it supports on devices.

[2022-01-01 18:02] pipiche38 commented on #933
You are right, but comparing to Zigate it is very light!

Envoyé de mon iPhone

[2022-01-01 22:59] badzz commented on #940
https://github.com/zigbeefordomoticz/Domoticz-Zigbee/pull/959

[2022-01-01 23:00] #933 closed, assigned to nobody

[2022-01-01 23:03] zigbeefordomoticz commented on #914
https://github.com/zigpy/zigpy-znp/pull/110

[2022-01-01 23:03] #914 closed, assigned to nobody

[2022-01-01 23:04] zigbeefordomoticz commented on #930
close it for now.

[2022-01-01 23:04] #930 closed, assigned to nobody

[2022-01-01 23:05] zigbeefordomoticz commented on #945
close it for now

[2022-01-01 23:05] #945 closed, assigned to nobody

[2022-01-02 08:44] zigbeefordomoticz opened #962 "[zigpy-integration] - stack trace"
Jan 02 09:42:32 rasp domoticz[15985]: 2022-01-02 09:42:31.988  Status: Zigpy: Device Annoucement: NwkId: 2075 Ieee: 60a423fffe529d60 MacCap: 8e
Jan 02 09:42:32 rasp domoticz[15985]: During handling of the above exception, another exception occurred:
Jan 02 09:42:32 rasp domoticz[15985]: Traceback (most recent call last):
Jan 02 09:42:32 rasp domoticz[15985]:   File "/var/lib/domoticz/plugins/Domot

[2022-01-02 08:49] zigbeefordomoticz opened #963 "[zigpy-integration] - buildframe_nwk_address_response NOT IMPLEMENTED YET"
[code]

[2022-01-02 08:51] zigbeefordomoticz commented on #939
here is the logs when issuing a mrequest, which I beleive is linked to https://github.com/zigbeefordomoticz/Domoticz-Zigbee/issues/939#issuecomment-1002061225

[code]

[2022-01-02 09:00] zigbeefordomoticz opened #964 "[zigpy-integration] - stack trace"
[code]

[2022-01-02 09:56] zigbeefordomoticz opened #965 "Enhacement of debuging facility"
It would be nice to be able to specify the Thread we want to get logs. In such we could check all logs for a particular thread.

[2022-01-02 09:57] zigbeefordomoticz commented on #965
@SylvainPer

[2022-01-02 10:23] SylvainPer commented on #965
Just one thread or multiple choice?

[2022-01-02 14:11] pipiche38 commented on #965
I think the idea might be to have
debugThreadForwarder
debugThreadDomoticz
debugThreadZigpy
debugThreadWriter (native Zigate)
debugThreadSerial (native Zigate)

and in that case, this will overwrite the other debug flags

[2022-01-02 21:20] badzz commented on #964
https://github.com/zigbeefordomoticz/Domoticz-Zigbee/pull/968

[2022-01-03 11:22] #963 closed, assigned to pipiche38

[2022-01-03 11:23] #940 closed, assigned to nobody

[2022-01-03 11:23] #905 closed, assigned to nobody

[2022-01-03 11:24] #900 closed, assigned to nobody

[2022-01-03 15:54] badzz commented on #939
https://github.com/zigbeefordomoticz/Domoticz-Zigbee/pull/974

[2022-01-03 15:56] #939 closed, assigned to nobody

[2022-01-03 20:41] badzz commented on #926
https://github.com/zigbeefordomoticz/Domoticz-Zigbee/pull/976

[2022-01-03 20:58] pipiche38 opened #978 "stack trace: application.py:783> exception=TypeError('%x format: an integer is required, not NoneType')"
2022-01-03 21:56:11,021 INFO    : [      ZigpyCom_18] zigpy_get_device( None, 6b9e returns 6b9e 00158d0001fe57bb
2022-01-03 21:56:11,028 ERROR   :Task exception was never retrieved
future: <Task finished name='Task-7' coro=<ControllerApplication.on_af_message() done, defined at /var/lib/domoticz/plugins/Domoticz-zigpy/zigpy_znp/zigbee/application.py:783> exception=TypeError('%x format: an integer

[2022-01-03 20:59] pipiche38 commented on #978
The crash happens at the plugin startup, not much in the log (debug was not enabled)

[2022-01-03 21:03] pipiche38 commented on #978
[code]

[2022-01-03 21:30] pipiche38 commented on #926
Thanks what would I do without you !