[2022-01-03 21:30] #926 closed, assigned to nobody

[2022-01-04 22:00] SylvainPer commented on #965
#980

[2022-01-05 08:39] pipiche38 opened #981 "Configure Reporting do not work anymore for Schneider"
Due to the new implementation, the Schneider/Wiser configure reporting do not work on zigpy branche.
Must be fixed before going for beta

[2022-01-05 16:37] pipiche38 commented on #937
From @puddly this would be fixed in the up comming revisited zigpy-znp

[2022-01-05 16:37] #937 closed, assigned to pipiche38

[2022-01-05 16:37] pipiche38 opened #986 "[zigpy-integration] - form network with a defined Extended PANId"
We need to be able to creat/form a network on a defined Extended PanId ( must for legacy Wiser Schneider)

[2022-01-05 18:06] #965 closed, assigned to nobody

[2022-01-07 09:37] #986 closed, assigned to nobody

[2022-01-07 09:37] #924 closed, assigned to nobody

[2022-01-07 09:37] #908 closed, assigned to nobody

[2022-01-07 10:01] Hedda commented on #888
Just to be clear;  I am not against what you are doing at all. I am not against it in any way. I am very much a fan of what you are trying to achieve and think all that you guys are doing is a good thing. I think that it is great more projects are trying to use zigpy.

I was just trying to inform others what it means by a fork as do not think that was made clear when the pull requests were closed.

[2022-01-07 11:16] #981 closed, assigned to pipiche38

[2022-01-07 11:32] pipiche38 opened #992 "[zigpy-integration] - zigate"
[code]

[2022-01-07 11:32] pipiche38 opened #993 "[zigpy-integration] - zigate stack trace"
[code]

[2022-01-07 11:33] pipiche38 commented on #993
2022-01-07 12:33:01,254 DEBUG   :Send: 0x0530 b'0200000000000200000000030c0000'
2022-01-07 12:33:01,257 DEBUG   :Frame to send: b'\x050\x00\x0f5\x02\x00\x00\x00\x00\x00\x02\x00\x00\x00\x00\x03\x0c\x00\x00'
2022-01-07 12:33:01,259 DEBUG   :Frame escaped: b'\x02\x150\x02\x10\x02\x1f5\x02\x12\x02\x10\x02\x10\x02\x10\x02\x10\x02\x10\x02\x12\x02\x10\x02\x10\x02\x10\x02\x10\x02\x13\x02\x1c\x02\x10\x02\x

[2022-01-07 11:36] pipiche38 opened #994 "[zigpy-integration] - zigate and erasePDM / form new network"
When implementing the erasePDM function or the Form New Network with zigpy-zigate, it is obvious that after the Erase PDM, teh Zigate will be in standard mode, and so a set mode RAW is needed to continue to work on zigpy mode

[2022-01-07 12:55] pipiche38 opened #995 "[zigpy - integration ] - stack trace znp"
[code]

[2022-01-07 12:56] pipiche38 commented on #995
[code]

[2022-01-07 13:12] pipiche38 commented on #993
[code]

[2022-01-07 13:21] pipiche38 commented on #993
The message receive doesn't look as a Simple Descriptor  Response where we should have also the list of Cluster

[2022-01-07 13:22] pipiche38 commented on #993
make sure that debugTransportPluginEncoder is enabled

[2022-01-07 13:25] pipiche38 commented on #995
5ca3609b to address https://github.com/zigbeefordomoticz/Domoticz-Zigbee/issues/995#issuecomment-1007386186, but still the initial issue is valid

[2022-01-07 13:25] #964 closed, assigned to nobody

[2022-01-07 13:26] #962 closed, assigned to nobody

[2022-01-07 13:32] pipiche38 commented on #992
266d843c fix issue the 1st issue. However we were receiving an incomplete buildframe_simple_descriptor_response

[2022-01-07 13:34] pipiche38 commented on #992
close until we duplicate

[2022-01-07 13:34] #992 closed, assigned to pipiche38

[2022-01-07 13:47] pipiche38 commented on #993
close until it is duplicated

[2022-01-07 13:47] #993 closed, assigned to pipiche38

[2022-01-10 18:11] #934 closed, assigned to nobody

[2022-01-10 18:49] #978 closed, assigned to nobody

[2022-01-10 18:49] #995 closed, assigned to nobody

[2022-01-10 18:52] pipiche38 commented on #888
closing. track each issue

[2022-01-10 18:55] pipiche38 commented on #913
not an issue. Aqara/Mija button paired without issue

[2022-01-10 18:55] #913 closed, assigned to nobody

[2022-01-10 20:04] pipiche38 commented on #888
@hedda thanks for your message, you are right , not native language doesn't help.

For your information, I have pointed a previous Domoticz Zigate user whom have switch to HA and who is not happy of the level of integration of the Zigate. He will try to play and test the current fork that we have . Hope he will get some help and support to set it up on his environment

[2022-01-11 14:17] pipiche38 opened #1000 "[zigpy-integration] - stack trace happening when removing Domoticz devices (at startup time)"
[code]

[2022-01-11 17:32] pipiche38 opened #1002 "[zigpy-integration] - stack trace during pairing on ZNP"
[code]

[2022-01-11 18:50] pipiche38 opened #1003 "[zigpy-integration] - When you change life the channel, we are back to original channel at start"
If you change the channel from 15 to 20 during the plugin life time (using the webUI), when the plugin is restarted we are back to channel 15 !

This is mainly due to the fact that at plugin restart we using the auto_form with the channel from the Conf file (which has not been updated).

It is then key when changing life the channel, to update the channel in the conf. file.

[2022-01-11 19:11] pipiche38 opened #1004 "[zigpy-integration] - needs to get network info"
during the plugin execution, we need to get the current network info.

There is an api in zigpy-znp/application.py self.load_network_info() for that

Would be usefull to get it for zigpy-zigate

[2022-01-11 19:11] pipiche38 commented on #1003
#1004

[2022-01-12 09:18] pipiche38 opened #1005 "[zigpy-integration] - broadcast seems not working on zigate"
[code]

Nothing seen in the sniffer

[2022-01-12 09:45] pipiche38 opened #1006 "[zigpy-integration] - Network Management request for Channel update doesn't work"
It looks like when doing a Network Management request to move from 1 channel to an other one doesn't work.
The message for change is correctly broadcasted, however on the controller side no changes.

Does that mean that we need to use a native function from each controller to do so ?

[2022-01-12 10:04] pipiche38 commented on #1006
Most likely we need to use the Controller native command like for ZNP

[code]

Is there a way to get ZDOCmd.Mgmt_NWK_Update_req() from the ZigpyThread ?

[2022-01-12 10:17] pipiche38 commented on #1006
Try that in ZigpyThread, but doesn't work

[code]

[2022-01-12 11:05] Hedda opened #1007 "[zigpy-integration] - dependecy requirements"
https://github.com/zigbeefordomoticz/Domoticz-Zigbee/blob/zigpy/requirements.txt

Not sure if it matters but should it not be hyphen instead of underscore in these PyPI module package names for pip install?

* "charset-normalizer" and not "charset_normalizer" as per https://pypi.org/project/pyserial-asyncio/ or?

* "async-timeout" and not "async_timeout" as per https://pypi.org/project/pyserial-as

[2022-01-12 12:25] Hedda opened #1008 "[zigpy-integration] - zigpy will require Python version 3.7 and soon maybe even require at least 3.8"
FYI, see zigpy developers discussion about dropping support for python-version 3.6 and 3.7 (3.7.7):

https://github.com/zigpy/zigpy/pull/861

https://github.com/zigpy/zigpy/pull/861/commits/37671f8c857c987d42ad50387fbe9a5ca44d61d0

As I understand their strategy is drop python-version 3.6 support now and also plan to drop 3.7 soon.

https://github.com/zigpy/zigpy/blob/dev/.github/workflows/ci.yml

[2022-01-12 13:03] pipiche38 opened #1009 "[zigpy-integration] - Problem with ZNP 5 times retry"
Due to the ZNP implementation of 5 times retry, when it failed, we don't have the information if it failed due to APS NACK or something else !

[code]

[2022-01-12 13:04] pipiche38 opened #1010 "[zigpy-integration] - receiving Data Indication with IEEE instead of NWKid"
[code]

[2022-01-12 16:07] pipiche38 commented on #1009
Implemented. Capturing the DeliveryError Exception

[2022-01-12 16:07] #1009 closed, assigned to nobody

[2022-01-12 20:11] pipiche38 opened #1011 "[zigpy-integration] - ZNP stack trace at plugin start"
[code]

[2022-01-12 21:50] badzz commented on #1004
done
https://github.com/zigbeefordomoticz/zigpy-zigate/commit/0a425c0b33855ec9e0dc1e833e7bd8cabfb28097

[2022-01-12 22:04] pipiche38 commented on #1011
Quand on fait des bétises, on ne reporte des bugs

[2022-01-12 22:04] #1011 closed, assigned to nobody

[2022-01-12 22:05] pipiche38 commented on #1010
quand on fait des betises , on est responsable de ses actes

[2022-01-12 22:05] #1010 closed, assigned to pipiche38

[2022-01-12 22:07] pipiche38 commented on #1008
thanks for the information.
From a domoticz standpoint and the plugin we don't have any requirements on that matters. We just try to be conservative and keep on friends running on old platform happy.

[2022-01-12 22:07] #1002 closed, assigned to nobody

[2022-01-13 10:32] #1004 closed, assigned to nobody

[2022-01-13 11:11] pipiche38 commented on #1006
solved with the recent fix on https://github.com/zigpy/zigpy-znp/pull/109

[2022-01-13 11:11] #1006 closed, assigned to nobody

[2022-01-13 11:12] pipiche38 commented on #1003
solved

[2022-01-13 11:12] #1003 closed, assigned to pipiche38

[2022-01-14 09:13] pipiche38 commented on #932
Fixed with the new ZDO implementation from znp

[2022-01-14 09:13] #932 closed, assigned to nobody

[2022-01-14 09:33] pipiche38 commented on #923
load_network_info (load_children = True )

self.app.network_info

[2022-01-14 10:20] #923 closed, assigned to nobody

[2022-01-14 10:21] #1000 closed, assigned to nobody

[2022-01-14 22:11] #929 closed, assigned to pipiche38

[2022-01-15 09:19] pipiche38 commented on #1008
Noted and documented in the Readme section.

[2022-01-15 09:19] #1008 closed, assigned to nobody

[2022-01-15 10:07] SylvainPer opened #1016 "[zigpy-integration] ValueError at plugin startup"
At plugin startup:
`
2022-01-15 09:56:56,109 DEBUG   : [       ZigpyCom_2] build_plugin_8043_frame_list_node_descriptor 1 <Endpoint id=1 in=[basic:0x0000, ota:0x0019] out=[ias_zone:0x0500, ias_wd:0x0502] status=<Status.ZDO_INIT: 1>>
2022-01-15 09:56:56,109 DEBUG   : [       ZigpyCom_2] AppZnp - get_device ieee:None nwk:0x0000
2022-01-15 09:56:56,110 DEBUG   : [       ZigpyCom_2] AppZnp - get_devic

[2022-01-15 12:20] pipiche38 commented on #1016
https://github.com/zigpy/zigpy/discussions/865#discussioncomment-1974380

[2022-01-15 12:32] pipiche38 opened #1017 "[zigpy-integration] - _znp.callback_for_response doesn't prevent to get the message in handle_message()"
doing the following in startup(), doesn't prevent to receive the message 0x8036 in handle_message()

[code]

https://github.com/zigpy/zigpy/discussions/865#discussioncomment-1974411

[2022-01-15 15:42] pipiche38 opened #1018 "[zigpy-integration] - Topology network missing some end devices"
There is an issue in the bitfield deccoding in buildframe_management_lqi_response() and sometime End devices are seen as Routers.

The issue is that the original frame received bitfield1 and bitfield2, but the plugin expect only 1 bitfield (due to NXP stack)

[2022-01-15 15:47] jp-keros commented on #1018
The DomoticZ Logs while trying to make a topology report :

[code]

The log file error :

`{"0":{"0":{"Time":"15/01/2022 16:32:28","Module":"NetworkMap","nwkid":"None","PluginHealth":"Ready","message":"Found 5f41 in a Neighbour table tag as a router, but is not","PermitToJoin":{"Duration":0,"Starttime":1642260600},"Thread":"ZigpyForwarder_2"},"1":{"Time":"15/01/2022 16:32:30","Module":"NetworkMap"

[2022-01-15 16:29] pipiche38 opened #1019 "[zigpy-integration] - znp / LIvolo Switch"
Livolo switch get paired without any issue on channel 26. However the commands are not going through, while we are getting the correct status.

[2022-01-15 16:44] #1019 closed, assigned to nobody

[2022-01-15 17:04] pipiche38 commented on #1016
git pull --recurse-submodules
to get the fix: https://github.com/zigpy/zigpy-znp/commit/dd61b11d43c3f997afb92cc7e439353372946421

[2022-01-15 17:08] #1016 closed, assigned to nobody

[2022-01-16 12:57] jp-keros commented on #1018
I still have the issue :

2022-01-16 13:54:42.586 Error: ZigBee: (ZigBee) Found f63b in a Neighbour table tag as a router, but is not

The DomoticZ Logs :

2022-01-16 13:54:49.105 Status: ZigBee: (ZigBee) Network Topology report
2022-01-16 13:54:49.111 Status: ZigBee: (ZigBee) ------------------------------------------------------------------------------------------
2022-01-16 13:54:49.116 Status:

[2022-01-16 14:55] pipiche38 opened #1021 "[zigpy-integration] - Device Annoucement not checking if device is known in plugin"
The here after logs shown that get_device is not using zigpy-get_device() from the plugin to check if the device exist or not. Due to that the pairing is not going through.
The device seems to be known by zigpy, but not by the plugin!!

Last the Device Annoucement cluster 0x0013 is filtered and not received!!

So the device is known by zigpy but not by the plugin

A restart of the plugin has allow

[2022-01-16 15:00] pipiche38 commented on #1021
[code]

[2022-01-16 15:44] jp-keros commented on #1018
The Logs with DebugNetworkMap activated :

2022-01-16 16:37:00,869 DEBUG   :Sending request: SYS.Ping.Req()
2022-01-16 16:37:00,881 DEBUG   :Received command: SYS.Ping.Rsp(Capabilities=<MTCapabilities.APP_CNF|GP|UTIL|ZDO|AF|SYS: 1625>)
2022-01-16 16:37:20,840 DEBUG   :Received command: ZDO.SrcRtgInd.Callback(DstAddr=0x611B, Relays=[])
2022-01-16 16:37:20,845 DEBUG   : [       ZigpyCom_2] AppZnp -

[2022-01-16 16:30] pipiche38 commented on #1018
Fixed.
Problem is related to the fact that the device is considered as a router in a neighbourg table.

[2022-01-16 16:30] #1018 closed, assigned to pipiche38

[2022-01-18 10:31] pipiche38 commented on #1017
closing , we are not using_znp anymore

[2022-01-18 10:31] #1017 closed, assigned to nobody

[2022-01-19 08:06] Hedda commented on #965
FYI, ZHA also features options to separately specify debug logging for each radio library for zigpy as well as other dependencies:

https://    www.home assistant.io/integrations/zha    #debug-logging

### Debug logging

To enable debug logging for Z H A component and radio libraries, add the following [logger](https://www.home-assistant.io/integrations/logger/) configuration to `configuration.yam

[2022-01-19 10:21] pipiche38 commented on #965
@hedda thanks for the information, please do not that Domoticz is not ZHA, but we are pretty aware on how to set the debug.

[2022-01-19 11:51] usky73 opened #1024 "Get Zigbee data out of domoticz"
Hi all
First of all just conect my zigate to domoticz, and I want to thanks all the people that works on this plugin and doc. It was easy to install and the interface is really professionnal.

I have only one thing I would like to adress and I did not find how to do.
I want to maage my energy data outside of domoticz. I have made my own system based on a Mysql database.
Is there a way to record my

[2022-01-19 12:21] pipiche38 commented on #1024
This is more a Domoticz question than a Zigbee for Domoticz plugin one. I suggest that you use the https://www.domoticz.com/forum/ for that

[2022-01-19 19:40] pipiche38 commented on #1021
Close, as this is probably not an issue. When a device is just returning ZB3.0 tells that router don't have to do Device Annoucement

[2022-01-21 08:24] #1021 closed, assigned to badzz

[2022-01-22 09:24] pipiche38 opened #1026 "[zigpy-integration] - how to use the zigpy OTA services instead of the plugin OTA"
The idea is to investigate if there is a way to make the plugin using directly the zigpy OTA service instead of going through the plugin one

[2022-01-22 10:26] pipiche38 commented on #1007
fixed

[2022-01-22 10:26] #1007 closed, assigned to nobody

[2022-01-22 10:30] pipiche38 commented on #1024
Here is an example of pushing data to outside
https://github.com/tvwerkhoven/domoticz2influxdb/blob/master/smartmeterpusher.lua
Mainly the idea is to use a script (lua, dzVents would be better) to push the incoming data to whatever you want and in your case to the mysql DB.
I'm sure that you can find support on Domoticz forum as well.

Closing the Issue

[2022-01-22 10:30] #1024 closed, assigned to nobody

[2022-01-22 10:31] #879 closed, assigned to nobody

[2022-01-22 10:31] #876 closed, assigned to pipiche38

[2022-01-23 11:07] pipiche38 opened #1027 "[zigpy-integration] - CasaIA PIR323 leave during pairing process"
When pairing CasaIA PIR323, it sends a leave message just after receiving a Device Node Descriptor Response.
While with zigage nothing like happen, the only difference is that the Firmware is responding with a 0x0000 Manufacturer Name while Zigate respond with 0x1147

[2022-01-23 16:22] pipiche38 opened #1028 "[zigpy-integration] - Zigate is responding to IAS Zone Request"
Very suspicious , during a Zone Enrollement, it looks like the Zigate is responding to the device with an Zone Enroll Response ( Unknown response code) and a not corresponding SQN.

Basically the issue is he following

paquet: 435 Enroll Request with sqn 1
paquet: 454 Enroll Response with sqn 100
paquet: 480 Enroll Response with sqn 1 (provided by the plugin)

In the lof file, we can see 0x8012 an

[2022-01-23 16:22] pipiche38 commented on #1028
@fairecasoimeme FYI ..

[2022-01-23 16:30] pipiche38 commented on #1028
I did a full paring on a Native Zigate and the behaviour looks the same when the device do the Enroll Zone request
Zigate respond with:
Zone Enroll Response - Unknown
Zone Enroll Response - Success

Why is Zigate doing that ? And of course why is the 2nd response on a different Sequence Number

![Screenshot 2022-01-23 at 17 28 48](https://user-images.githubusercontent.com/8291674/150688153-3a38c3d

[2022-01-24 16:41] badzz commented on #1028
@pipiche38 encryption key ?

[2022-01-24 16:49] pipiche38 commented on #1028
@badz should be  inside , as there is the full association

[2022-01-24 17:07] badzz commented on #1028
I suspect this FALSE should be a TRUE
https://github.com/fairecasoimeme/ZiGate/blob/e54cabc22a49f33121e6e9c7cbecf779203b8ec7/ModuleRadio/Firmware/src/sdk/JN-SW-4170/Components/ZCL/Clusters/SecurityAndSafety/Source/IASZoneCommands.c#L340
not sure why we go there in raw mode however .. checking

[2022-01-24 17:33] pipiche38 commented on #1028
And this is on NXP stack, we should bring that to their attention lol

[2022-01-25 13:11] Hedda commented on #1026
FYI, for back-story and reference, you might be interested in reading through these previous related development discussions:

https://github.com/zigpy/zigpy/pull/849

https://github.com/zigpy/zigpy/issues/535

https://github.com/zigpy/zigpy/issues/154

https://github.com/zigpy/zigpy/discussions/654

https://github.com/zigpy/zigpy/discussions/721

https://github.com/zigpy/zigpy/discussions/951

ht

[2022-01-26 18:12] pipiche38 opened #1030 "[Zigpy-integration] - Leave during ZNP pairing process"
This is happening every time with the PIR323 Multi-sensor.
The Pairing process start and then during the process the device send a Leave.

From the sniffer, I have observed that there is a Request Key happening after the process has started and the leave is happening just after the Verify Key

Attached is 2 Sniffs, and the plugin log of the latest sniff
[Archive.zip](https://github.com/zigbeefordo

[2022-01-26 19:06] pipiche38 commented on #1030
https://github.com/zigpy/zigpy/discussions/865#discussioncomment-2053334

[2022-01-27 16:27] puddly commented on #1030
Let's continue this discussion here (and in the future, `@` me in an issue on this repo). The GitHub discussions page for https://github.com/zigpy/zigpy/discussions/865 is already so full of comments that most are getting hidden...

[2022-01-27 19:17] usky73 commented on #1024
thx for your help, I will have a look on this.

[2022-02-01 14:34] zigbeefordomoticz commented on #888
We have release on beta6 branch and open the plugin to non Zigate coordinators. This leave TI CCxxx coordinators to be handle via the plugin.

[2022-02-01 14:34] #888 closed, assigned to pipiche38

[2022-02-03 18:30] pipiche38 commented on #1030
@puddly for now I gave up on that issue, because I didn't see any pattern. Basically only few time I have been to go through a stable pairing, meanings that the discovery was done, the IAS enrollment completed and the sensor behaving correctly. But in most of the time, it was just failing with a leave message.

So right now, I don't really now how to tackle it. If you have any idea, this would be

[2022-02-03 18:31] pipiche38 commented on #1027
duplicate #1030

[2022-02-03 18:31] #1027 closed, assigned to nobody

[2022-02-03 21:42] pipiche38 commented on #1028
not a priority

[2022-02-03 21:42] #1028 closed, assigned to nobody

[2022-02-03 21:42] pipiche38 commented on #1005
not a priority

[2022-02-03 21:42] #1005 closed, assigned to nobody

[2022-02-03 21:42] pipiche38 commented on #994
not a priority

[2022-02-03 21:42] #994 closed, assigned to nobody

[2022-02-04 13:35] pipiche38 opened #1045 "[Zigpy-Integration] - Set TX Power"
On Zigate V1, we have the possibility to lower the TX power. On the CC2652R and CC2652P data sheet I see that there are several Power level.

Do we have on zigpy-znp API to control such power ? If so we should them implementing using the existing plugin setup.

Question could be extended to the Compliance to FCC , CE ... regultation

CC: @puddly

[2022-02-05 18:07] pipiche38 commented on #1030
Here are 2 captures on a zzh key.

One with a full successfull pairing/discovery
One with a leave during the pairing/discovery

[Wireshark capture.zip](https://github.com/zigbeefordomoticz/Domoticz-Zigbee/files/8008557/Wireshark.capture.zip)

[2022-02-05 18:09] puddly commented on #1030
Do you mean that it doesn't leave 100% of the time when using the ZZH?

[2022-02-05 20:37] pipiche38 commented on #1030
Yes, exactly.

So Zigate native 100% of cases correctly paired and discovered fully functional
Zigate with zigpy 100% of cases correctly paired and discovered fully functional
ZNP (zzh or SonOff) most of the time leave during the pairing process, I would Once over 10 times success

[edited] The leave is happening in randow way during the pairing process. Some time there is no Leave, but the device

[2022-02-07 20:08] puddly commented on #1045
https://github.com/zigpy/zigpy-znp/blob/f069b4580e9b39eb0c2bda09a04ae9c236447a31/zigpy_znp/zigbee/application.py#L320-L323

Can also be passed in the config object to `zigpy_znp.zigbee.application.ControllerApplication`: https://github.com/zigpy/zigpy-znp#configuration

Can it be changed at runtime on the ZiGate? Or only on startup?

[2022-02-09 09:35] Hedda opened #1047 "Backup and restore Zigbee network to/from file using the "Open ZigBee Coordinator Backup Format""
**Is your feature request related to a problem? Please describe.**

Suggest add option to backup and restore users Zigbee network to/from file using the "Open ZigBee Coordinator Backup Format":

https://github.com/zigpy/open-coordinator-backup

The main benefit of this new "Open ZigBee Coordinator Backup Format" is that it is designed to be an open standard that allows backup and restoration of us

[2022-02-09 10:45] pipiche38 commented on #1047
This will be available is there is a cli command (from shell)
I do not plan to get integrated inside the plugin , to be launched via the Domoticz Web Interface

[2022-02-09 10:51] Hedda commented on #1047
OK, but might want to consider adding scheduled automatic daily/nightly backups of Zigbee network to file enabled by default.

Many arguments for automatic daily/nightly backup of Zigbee network by default -> https://community.home-assistant.io/t/zha-integration-to-do-nightly-backup-of-both-zigbee-coordinator-adapter-dongle-stick-and-zigbee-database/357558/

So it does not need to be a GUI option,

[2022-02-09 13:11] pipiche38 commented on #1047
I do consider that a proper backup required a device stopped, otherwise you'll get the risk to backup with inconsistency.
If the user wants to make a scheduled task, fine, but I think this is the user decision

[2022-02-10 08:39] Hedda commented on #1047
FYI, running Home Assistant ZHA integration it is possible to run backups online using "zha-toolkit" service without stopping ZHA:

https://github.com/mdeweerd/zha-toolkit/

https://github.com/mdeweerd/zha-toolkit/#znp_backup-backup-znp-network-data

https://github.com/mdeweerd/zha-toolkit/#znp_nvram_backup-backup-znp-nvram-data

https://github.com/mdeweerd/zha-toolkit/#ezsp_backup-backup-ezspbell

[2022-02-10 09:43] pipiche38 commented on #1047
please let us doing what we want . I have understood then possibility and the functionallities, now we do implement what we want and what we can.

Thanks

[2022-02-10 18:32] pipiche38 commented on #1045
@puddly, how should I interpreted that ?

I want to reduce by 9db . The fact that I get a StatusOrPower = 0 means successfull ?

[code]

[2022-02-10 18:34] puddly commented on #1045
It's different between different firmware versions. The response is checked by ZNP so if it doesn't throw an error, it worked.

[2022-02-10 18:38] pipiche38 commented on #1045
e67389f7

[2022-02-10 18:38] pipiche38 commented on #1045
Zigate was only able to reduce the Tx Power, not increase.
Let's work on the Web UI to allow also the possibility to increase the power

[2022-02-10 19:05] pipiche38 commented on #1045
@puddly, this still looks ok ? +50dbm on a SonOff key .. hum ..

[code]

And here if I use a negative value below -22 then  I got an error , but I was expecting something differennt

[code]

[2022-02-10 19:31] puddly commented on #1045
Anything greater than +22 will be limited by firmware to +22, but the same doesn't seem to apply when you go below the lower limit.  The incorrect parsing of the error code is a bug, the fix will be merged shortly.

[2022-02-10 20:51] pipiche38 commented on #1045
thanks !

[2022-02-10 21:12] pipiche38 commented on #1045
fixed with PR #1048 (integrate also fix on zigpy-znp https://github.com/zigpy/zigpy-znp/pull/136)

[2022-02-11 10:29] Hedda commented on #1045
So firmware developers config a default in Texas Instruments Z-Stack and then TX power can either be increased or lowered via ZNP and long as the maximum or minimum is exceeded as then the firmware will override and set maximum or minimum respectively?

I did not find a minimum with a negative value for any of Texas Instruments Zigbee chips, or rather I did not find a minimum value at all in any o

[2022-02-11 21:29] pipiche38 commented on #1045
@Hedda thanks for such detailed description.
@jp-keros might be good if there is not such comprehensive table like the informations shared by @Hedda to put it in our wiki in English and French ( so eventually HA could also refer to that page)

[2022-02-12 07:21] jp-keros commented on #1045
It's added to the [ToDo List](https://github.com/zigbeefordomoticz/wiki/issues/183). (sorry for the French, I use the Wiki's issues just for a quick notes as a reminder of all the things we have to do)

[2022-02-12 09:03] #1045 closed, assigned to nobody

[2022-02-14 12:21] Hedda commented on #1045
On a side note, I understand that in most countries illegal to use higher than +10dBM on some Zigbee channels like Zigbee channel 25 and Zigbee channel 26 because they are on the edge of the allowed frequency range of the worldwide 2.4 GHz ISM radio band, while you are legally allowed to use higher power in the middle of the 2.4 GHz ISM radio band in most countries. Some countries have however mad

[2022-02-14 12:52] pipiche38 commented on #1045
@hedda that is good point, however from my side, I do not see any benefit to increase the power Tx, as at the end you will be able to reach the devices, but they won't be able reach you. So Power Tx as an interest from a decrease standpoint

[2022-02-14 15:45] Hedda commented on #1045
To loosly quote puddly; increasing TX-power only makes the Zigbee coordinator is only "shouting louder", not "listening better".

While that is true you also have to remember that CC2652P/CC1352P with an external antenna can also be a very good listener ;-)

So let us agree to disagree on this point, as while I agree that it might not always be a good idea to set +20dBm in TX-power if got CC2652P

[2022-02-16 10:50] pipiche38 opened #1051 "[zigpy-integration] - zigate version_int() missing MajorVersion"
When using version_int() or even version_str() we do not get the FirmwareMajorVersion which here after is the 0x0004
[code]

[2022-02-16 11:04] pipiche38 commented on #1051
6d60b1ea

[2022-02-18 12:54] SylvainPer commented on #1045
It's exactly that but a well designed external antenna also increase TX (and also noise/interference but it's another subject).

[2022-02-19 09:53] zigbeefordomoticz commented on #1051
fixed

[2022-02-19 09:53] #1051 closed, assigned to nobody

[2022-03-08 13:24] pipiche38 opened #1074 "[zigpy-intergration] - crach when changing channel"
[code]

[2022-03-09 09:27] zigbeefordomoticz commented on #1047
not in the priority list for now.

[2022-03-09 09:27] #1047 closed, assigned to nobody

[2022-03-09 11:18] pipiche38 opened #1078 "[zigpy-integration] - crash during plugin stop"
[code]

[2022-03-10 08:25] pipiche38 opened #1079 "[zigpy-integration] - bellows/cli/ncp fails"
[code]
CC: @puddly

[2022-03-10 08:27] pipiche38 commented on #1079
this looks to be valid for all cli/program like networks.py ....

[2022-03-10 08:54] pipiche38 commented on #1074
We are receiving a Status 0x04

[2022-03-10 08:56] pipiche38 commented on #1074
6eccaa87 fix

[2022-03-10 08:56] #1074 closed, assigned to nobody

[2022-03-10 18:15] puddly commented on #1079
This was fixed in *2010*: https://github.com/rcloran/pure-pcapy-3/commit/04d434f2234c36bdfb11778055292240df5d3446

Are you manually installing dependencies? There's no need to do this. Any of the following work correctly and properly resolve all dependencies:

 - `pip install bellows`
 - `pip install git+https://github.com/puddly/bellows.git@puddly/zigpy-radio-api`
 - `git clone your-repo && pip i

[2022-03-10 18:32] pipiche38 commented on #1079
We are not installing bellows with pip.

[code]

[2022-03-10 18:35] puddly commented on #1079
Why not? Bellows has [specific dependencies](https://github.com/zigpy/bellows/blob/b5ed295b350de394e5c65c1e6d638d3348e4cb86/setup.py#L18-L25), you can't just `pip install` the dependency name and expect it to work.

[2022-03-10 20:26] Hedda opened #1081 "[zigpy-integration] ConBee and RaspBee (deCONZ based Zigbee Coordinators) support via zigpy-deconz"
Suggest you next consider implementing ConBee and RaspBee (deCONZ based Zigbee Coordinators) support via zigpy-deconz:

https://github.com/zigpy/zigpy-deconz

This radio library for zigpy uses the deCONZ serial protocol for communicating with [ConBee](https://www.dresden-elektronik.de/conbee/), [ConBee II (ConBee 2)](https://shop.dresden-elektronik.de/conbee-2.html), [RaspBee](https://www.dresden-

[2022-03-11 08:50] pipiche38 commented on #1081
@puddly do you plan to have the new radio api implemented as well for deConz ?

[2022-03-11 14:10] zigbeefordomoticz opened #1083 "[zigpy-integration] - zigpy-deconz missing network_info()"
Lacking load_network_info() for zigpy-deconz

CC: @puddly

[2022-03-11 14:12] zigbeefordomoticz opened #1084 "[zigpy-integration] - Stack trace with zigpy-deconz"
[code]

[2022-03-11 14:42] zigbeefordomoticz opened #1085 "[zigpy-integration] - deConz firmware version"
I'm getting 643303168 or 0x26580700 as the Firmware version. Do we have to use it like that ?

[2022-03-11 15:00] zigbeefordomoticz commented on #1085
Seems that they use the 0x format

[2022-03-11 15:00] #1085 closed, assigned to nobody

[2022-03-11 15:09] pipiche38 commented on #1081
For information, I had already a Conbee II which was kindly shipped 2 years back when doing the first zigpy investigation.

I would say, thanks to zigpy library as I did the first integration is almost 2 hours of work and was able to get ConBee II connected.

Unfortunately for now, the Permit to Join mode doesn't happen. need to investigate

@manup (Manuel Pietschmann) We will investigate in our s

[2022-03-11 15:30] zigbeefordomoticz opened #1087 "[zigpy-integration] set extended-panid on deCONZ"
deCONZ seems to not exposing any api , nor CONF for setting Extended PANID

[2022-03-11 15:35] zigbeefordomoticz opened #1088 "[zigpy-integration] - there is no permit() API defined in zigpy-deconz/zigbee/application.py"
as described in the title, there is no permit() api for zigpy-deconz, only permit_ncp(self, time_s=60) is available !!

[2022-03-11 15:54] zigbeefordomoticz opened #1089 "[zigpy-integration] - how to force a new network with deCONZ"
how to force a new newtork with deCONZ

zigpy-znp, zigpy-bellows have a way to force a new network, looks like there is no way for deconz

[2022-03-11 16:14] zigbeefordomoticz opened #1090 "[zigpy-integration] - wiser thermostat with deCONZ do not behave correctly"
Wiser thermostat required EndPoint Coordinator at Ep 0x0b

How to register additional Cooridnator Ep with deconz ?

When Wiser Thermostat is paired we get some messages like that
[code]

[2022-03-11 16:14] zigbeefordomoticz commented on #1087
Use the zigpy.conf

[2022-03-11 16:14] #1087 closed, assigned to nobody

[2022-03-11 16:52] zigbeefordomoticz commented on #1084
Updating zigpy_deconz/config.py

from zigpy.config import (  # noqa: F401 pylint: disable=unused-import
    CONF_NWK,
    CONF_DEVICE,
    CONF_NWK_KEY,
    CONFIG_SCHEMA,
    SCHEMA_DEVICE,
    CONF_NWK_PAN_ID,
    CONF_DEVICE_PATH,
    CONF_NWK_CHANNEL,
    CONF_NWK_CHANNELS,
    CONF_NWK_UPDATE_ID,
    CONF_NWK_TC_ADDRESS,
    CONF_NWK_TC_LINK_KEY,
    CONF_NWK_EXTENDED_PAN_ID,
    cv_boolean,

[2022-03-11 17:11] pbda opened #1091 "SASWELL Watering"
SASWELL watering device is not correctly recognized by Zigate*. It is seen as a radiator thermostat. 3 devices are created: temperature, set point and a selector (off, auto, manual). It can't be used in Domoticz because there is no on/off device

* Water timer Model: SAS980SWT-7-Z01
* SASWELL
* https://www.saswell.com/saswell-smart-irrigation-best-smart-sprinkler-water-timer-2021-eu_n97

Here is t

[2022-03-11 17:12] puddly commented on #1081
It's already done: https://github.com/zigpy/zigpy-deconz/pull/172

https://github.com/dresden-elektronik/deconz-rest-plugin/wiki/Update-deCONZ-manually
https://github.com/dresden-elektronik/gcfflasher

[2022-03-11 17:46] zigbeefordomoticz opened #1092 "[zigpy-integration] - strange message :Considering <class 'bellows.zigbee.application.EZSPCoordinator'> with deCONZ"
[code]

[2022-03-11 17:46] zigbeefordomoticz opened #1093 "[zigpy-integration] - deCONZ communication works once in while"
When restarting the plugin, the deCONZ communication is not correctly established

[code]

[2022-03-11 18:17] zigbeefordomoticz commented on #1089
https://github.com/zigpy/zigpy-deconz/issues/186

[2022-03-11 18:20] #1092 closed, assigned to nobody

[2022-03-11 18:21] zigbeefordomoticz commented on #1084
https://github.com/zigpy/zigpy-deconz/commit/ff94f15d0daa91962991412ff039f65d0eb5fa3e

[2022-03-11 18:44] pipiche38 commented on #1091
That is the main issue with Tuya manufacturer, manly each device is different.

In case you are not on beta6 branch, please follow this step by step
https://github.com/zigbeefordomoticz/wiki/blob/zigpy/en-eng/Plugin_Version-6.md

* then switch to branch pipiche38/device/_TZE200_akjefhj5

[code]

* then you need to remove the 3 Thermostat widgets created

* restart the plugin

* then  redo the pair

[2022-03-12 08:24] pbda commented on #1091
Thank you for your help and your quick answer.
I followed all the procedures (I was in stable 5 branch) and the device works fine now. In Domoticz there is now only one switch device which control the water valve :-)

I join export.json in case you need it.
Thank you again.
[export.json.txt](https://github.com/zigbeefordomoticz/Domoticz-Zigbee/files/8237280/export.json.txt)

[2022-03-12 08:35] pipiche38 commented on #1091
Super.
If I'm not mistaken when you switch on the Valve, I guess it stay open for 300s ( 5 minutes), correct ?

[2022-03-12 10:55] pbda commented on #1091
I didn't notice but you are right. More annoying, the state of valve is not reported to Domoticz.

[2022-03-12 18:07] pipiche38 commented on #1091
What do you mean the state of the valve is not reported ?

if you can add debugTuya and debugInput via the WebUI Tools and then reproduce the issue and send me the logs which are in Log/PluginZigbee-xx.log ( xx is the hardwareId of the plugin)

[2022-03-12 19:44] pbda commented on #1091
When I open valve in Domoticz widget, the valve is shown as "Open". 5 minutes later, the internal timer close the valve but the Domoticz widget always show the valve as "Open". Also, if I change manually the state of the valve, Domoticz widget didn't change.
Here is the log. I opened the valve with Domoticz at 20:23.47 and the valve closed itself at 20:28.09
[PluginZigbee_11.log](https://github.co

[2022-03-12 19:50] pbda commented on #1091
Another log. I manually opened the valve at 20:47.01 and I closed it at  20:47.21

[PluginZigbee_11.log](https://github.com/zigbeefordomoticz/Domoticz-Zigbee/files/8238310/PluginZigbee_11.log)

[2022-03-12 20:27] jp-keros opened #1094 "[Update] Readme"
https://github.com/zigbeefordomoticz/Domoticz-Zigbee/blob/stable5/readme.md

- [x] Remove ZiGate words
- [x] Add info about coordinators
- [x] Update Wiki links
- [ ] Change (or remove ?) Codefactor link

[2022-03-12 20:27] jp-keros commented on #1094
You can assigned it to me ;-)

[2022-03-13 09:25] pipiche38 commented on #1091
Thanks for the quality of your comments and logs.
please simply do a

git pull

then  restart the plugin, the valve state should be reported now.

Let me know how it goes, if not working please drop me the logs once more

[2022-03-13 09:27] pipiche38 commented on #1094
But you should update ONLY the Readme file of the beta6 branch

[2022-03-13 09:34] pipiche38 opened #1096 "[zigpy-integration] - lacking command 0x01 on cluster 0x0003"
` [ ZigpyForwarder_2] zcl_decoders Unknown Command: 01 NwkId: d57a Ep: 01 Cluster: 0003 Payload:  - GlobalCommand: False, Sqn: 00, ManufacturerCode: None`

[2022-03-13 09:43] #1084 closed, assigned to nobody

[2022-03-13 09:46] pipiche38 commented on #1081
Looks that we need to wait for https://github.com/zigpy/zigpy-deconz/pull/172
And I'm also looking to get respons from @manup as there is an existing Domoticz plugin for deCONZ ( https://github.com/Smanar/Domoticz-deCONZ  )

[2022-03-13 09:47] pipiche38 commented on #1090
@puddy Is there a possibility to register Additional Ep with zigpy-deconz ?

[2022-03-13 09:55] pbda commented on #1091
It works. The valve state is reported now.
Thank you for your quick and efficient help.

[2022-03-13 10:40] jp-keros commented on #1094
I think about that during the night because I certainly loot at the default branch (stable5).
I appologize.

[2022-03-13 10:59] pipiche38 commented on #1091
Oki .. thanks for your support, will merge it to beta6 branch
Plugin beta6 version 6.0.122'
5ec2c7ec

[2022-03-13 10:59] #1091 closed, assigned to pipiche38

[2022-03-14 10:48] Hedda commented on #1081
GCFFlasher update on Linux -> http://ronhks.hu/2021/04/22/conbee-2-firmware-upgrade-on-ubuntu/

GCFFlasher update in Docker container -> https://github.com/marthoc/docker-deconz#updating-conbeeraspbee-firmware

GCFFlasher update on Windows -> https://flemmingss.com/how-to-update-conbee-conbee-ii-firmware-in-windows-10/

Also see changelog -> https://github.com/dresden-elektronik/deconz-rest-plugin

[2022-03-14 12:07] manup commented on #1081
As far as I understand @Smanar 's  Domoticz plugin is communicating with deCONZ REST-API. In comparison to HA this is like the HA deCONZ integration https://www.home-assistant.io/integrations/deconz in contrast to ZHA which can can talk to ConBee firmware via serial protocol.

[2022-03-14 12:53] pipiche38 opened #1099 "[zigpy-integration] - Manufacturer Id for deCONZ"
Zigate and CCxxxx have implemented inside the firmware the way to force the manufacturer ID for Aqara/Lumi end devices, when those are doing a Node Descriptor request.

How does it works for ConBee/RaspBee ? I understood that deconz has implemented a different way.

https://github.com/zigpy/zigpy-deconz/issues/187

[2022-03-14 12:53] #1093 closed, assigned to nobody

[2022-03-14 16:49] pipiche38 commented on #1079
Ok. so dependencies has been installed , but indeed the application doesn't work.
Shame as on ZNP it does work

[2022-03-14 17:03] puddly commented on #1079
"Doesn't work" isn't very helpful. What doesn't work?

[2022-03-14 17:52] pipiche38 commented on #1079
You're right, just confirming your comment that pip install the dependency is not enought!

[code]

[2022-03-14 21:02] pipiche38 commented on #1089
this seems to work with the new radio api, but there is a break somewhere , which prevent the pliugin to fully start

[2022-03-14 21:16] pipiche38 commented on #1089
looks like we never come back from and hang in it, as shown by the logs

`await super().form_network()`

[code]

[2022-03-14 21:25] pipiche38 commented on #1089
Stack trace when doing an new network form (using new-radio-api) with zigpy_deconz

[code]

cc: @puddly

[2022-03-14 21:32] pipiche38 commented on #1089
In addition it looks like the force_form doesn't really work, as after the devices which were already paired with it still continue to reach the network and the coordfinator

[2022-03-14 21:41] pipiche38 opened #1102 "[zigpy-integration] - stack trace when starting deconz"
[code]

cc: @puddly

[2022-03-14 21:44] puddly commented on #1102
If you just plugged in the Conbee, try again. It sometimes takes more than one attempt to connect.

[2022-03-14 21:51] pipiche38 commented on #1102
Ok, this is what I'm doing, so we should consider as a "normal" issue

[2022-03-15 08:08] #1096 closed, assigned to nobody

[2022-03-15 08:09] pipiche38 commented on #1089
Looks like the form new network doesn't work. Ether due to the stack trace before, or something else!

[2022-03-15 08:43] Hedda commented on #1081
Yes correct, just the same as the [deCONZ integration Home Assistant](https://www.home-assistant.io/integrations/deconz) the [Smanar Domoticz-deCONZ](https://github.com/Smanar/Domoticz-deCONZ) communicate via [deCONZ REST-API](https://github.com/dresden-elektronik/deconz-rest-doc), (and not via [deCONZ Serial Protocol](https://github.com/dresden-elektronik/deconz-serial-protocol) like [zigpy-decon

[2022-03-15 10:09] pipiche38 opened #1104 "[zigpy-integration] - deconz serial line not stable"
Like #1102 where you have crash at plugin start one start over two, the serial line got stopped during the plugin run !!

Tests are done with the new-radio-API

[code]

CC: @puddly, @hedda

[2022-03-15 10:43] pipiche38 opened #1105 "[zigpy-integration] - Traceback crash"
[code]

cc: @puddly

[2022-03-15 11:05] pipiche38 opened #1106 "[zigpy-integration] - await self.load_network_info( load_devices=True ) load nothing"
based on new-radio-API

On a ConBee running with 15 devices ( 7 routers and the rest are End devices), laod_network_info ( load_devices = True )
do not load anything in self.state.network_info

`2022-03-15 10:57:33,741 DEBUG   :startup Network Info: NetworkInfo(extended_pan_id=ab:cd:48:45:04:01:5e:10, pan_id=0x1545, nwk_update_id=0, nwk_manager_id=0x0000, channel=15, channel_mask=<Channels.CHANNEL

[2022-03-15 11:14] pipiche38 opened #1107 "[zigpy-integration] - deconz Frame received messages"
What are those frame ? why are they not decoded ?

[code]

[2022-03-15 13:14] pipiche38 commented on #1104
Happening at the same time on the console
[code]

[2022-03-15 13:57] pipiche38 commented on #1104
trying to use the short port name /dev/ttyACM1 instead of the serial/by-id path

[2022-03-15 15:48] puddly commented on #1089
`force_form` is internal to zigpy-znp and will probably be removed in a future version, I wouldn't rely on it existing.

As for the traceback, zigpy is passing `node_info.ieee = None` and causing formation to fail halfway through the process. I will have to think about how to fix it. The idea was to have network formation re-use the device's hardware IEEE address but I don't think the Conbee store

[2022-03-15 15:49] puddly commented on #1105
Radio is not connected if `self._api` is `None`.

[2022-03-15 15:52] puddly commented on #1106
Conbee doesn't expose this information. That's why you have to reload the child table from the application database on startup: https://github.com/zigpy/zigpy-deconz/pull/126

[2022-03-15 15:54] puddly commented on #1104
Is it running the latest firmware? Do you have it on a USB 2.0 extension cable, away from USB 3.0 ports and other sources of interference?

Normally the Conbee shouldn't disconnect.

[2022-03-15 16:41] pipiche38 commented on #1104
Yes, latest firmware. It was on USB 3.0, I just have switch it to USB2.0 and monitor

[2022-03-15 16:42] pipiche38 commented on #1106
Ok. that is a shame as this make the things more challenging when a device change its ShortId when the plugin is disconnected.

[2022-03-15 16:49] pipiche38 commented on #1105
Ok, but if I simply restart it works. so it failed with this error, then a restart again works !
And all is based on the new radio API, so I don't think that I'm doing anything with self._api

It looks like there is this error just before which could explain why self._api is not set !

2022-03-15 16:47:23,030 WARNING :No response to 'Command.read_parameter' command with seq id '0x02'
2022-03-15 16

[2022-03-15 16:51] pipiche38 commented on #1089
Ok, that is fine. But how can I force a new network form ?

[2022-03-15 16:51] puddly commented on #1089
You just call `form_network`. This is a bug with zigpy and/or zigpy-deconz.

[2022-03-15 16:53] pipiche38 commented on #1089
here is what we have implemented

force_form ius a plugin parameter (not znp, nor deconz), but here after is the code we are using the force forming a new network.
For bellows, just before we leave the network.

[code]

[2022-03-15 16:54] pipiche38 commented on #1089
so we are good, thank @puddly

[2022-03-15 17:05] puddly commented on #1089
Not necessary, new radio API does this in `write_network_settings`.

In the code that you've posted I think it will fail if you pass `force_form=True` but a device has no formed network, since `startup(auto_form=False)` will fail with `NetworkNotFormed`.

While it will take a few seconds longer in some cases, I think it would be safer to just do something like this:

[code]

[2022-03-15 19:47] pipiche38 commented on #1104
Same problem on USB 2.0 after a while

[code]

[2022-03-16 08:16] pipiche38 commented on #1107
Documented here : https://deconz.dresden-elektronik.de/raspbian/deCONZ-Serial-Protocol-en_1.21.pdf
Looks like a MAC_POLL_INDICATION

[2022-03-16 08:16] #1107 closed, assigned to nobody

[2022-03-16 08:19] pipiche38 commented on #1088
https://github.com/zigpy/zigpy-deconz/pull/172#issuecomment-1068853326

[2022-03-16 09:59] pipiche38 commented on #1104
[code]

[2022-03-16 12:08] Hedda commented on #1106
@manup If that or other functions/features are missing from deCONZ Serial Protocol then should devs post feature request to https://github.com/dresden-elektronik/deconz-serial-protocol so it could be considered for future ConBee/RaspBee firmware?

[2022-03-16 12:12] Hedda commented on #1104
Glitchy or faulty USB extension cable? Maybe try another USB extension cable to at least rule out that first USB extension cable?

A tip is to aim to buy thick-looking USB extension cables classified for USB 3.0 and 5Gbps or 10Gbps, and also another tip when buying is to look for keywords like "double shielded" as they are normally both better shielded from EMF/EMI.

See example these which are ad

[2022-03-16 13:47] pipiche38 commented on #1104
I'll continue to monitor it, there is no cable for now.

[2022-03-18 13:48] pipiche38 commented on #1106
So as per design this is not loading any devices.

[2022-03-18 13:48] #1106 closed, assigned to nobody

[2022-03-18 13:50] pipiche38 commented on #1104
happening several time a day, even when changing the USB cable.
so with or without cable , serial line is un-stable.

let see when @deufo, @jp-keros , @badz will get their device , to see if the same will happen

[2022-03-18 13:51] pipiche38 commented on #1102
this looks to #1104

[2022-03-18 13:51] pipiche38 commented on #1099
API has to be developped on zigpy-deconz side

[2022-03-18 13:52] #1088 closed, assigned to nobody

[2022-03-18 13:52] #1083 closed, assigned to nobody

[2022-03-18 13:53] pipiche38 commented on #1089
let see with the other testers how it works

[2022-03-18 15:55] pipiche38 opened #1111 "[zigpy-integration] - time to time Ezsp do not start"
Based on newradioAPI branch
[code]

[2022-03-20 23:13] manup commented on #1106
If I understand the issue right this is about the network topology?

The coordinator only knows it's own neighbor table, the application is expected to query the routers in the network (including the coordinator) to get the neighbor tables via standard *ZDP Mgmt_Lqi_req*. This has the advantage that the network size can be fairly large without having an impact on the coordinator RAM usage.

[2022-03-22 20:15] pipiche38 commented on #1089
@puddly puddly for your information, I'm not able to create a new network, It creates issue

[code]

As you suggested the code is now:
[code]

It is based on the new-radio-API

[2022-03-22 20:37] puddly commented on #1089
Your serial connection is not functional if the Conbee does not respond to the `version` request sent immediately after connecting.

[Following the zigpy-cli installation instructions](https://github.com/zigpy/zigpy-cli/pull/2) and connecting to the radio works for me:

[code]

[2022-03-22 20:40] pipiche38 commented on #1089
it is happening every other start

[2022-03-22 21:17] puddly commented on #1089
Are you plugging in the Conbee and then immediately connecting? Or is it still plugged in when you fail to start up?

I'm able to reproduce the problem if I connect to the Conbee within a few seconds of first plugging it in.  After that, it never fails again.

[2022-03-22 21:47] pipiche38 commented on #1089
Basically the way to reproduce is:

- plugin start - it fails
- I restart - it works
- I restart - it fails
- I restart - it works

I do not touch the ConBee II at all and it stays connected. Should I have to wait in between the stop and start ?

What looks very strange from my end is every time I shutdown the plugin I get that in dmesg

[code]

[2022-03-22 21:48] pipiche38 commented on #1089
[code]

[2022-03-23 08:23] pipiche38 commented on #1089
@puddly
Ok I sorted out the issue at plugin startup by adding an extra sleep(2) before calling startup().

However still when trying to create a NEW network, I'm getting this error, which happen only when forming a new network!

[code]

[2022-03-23 08:36] zigbeefordomoticz commented on #1111
Fixed

[2022-03-23 08:36] #1111 closed, assigned to nobody

[2022-03-23 08:36] zigbeefordomoticz commented on #1102
fixed

[2022-03-23 08:36] #1102 closed, assigned to nobody

[2022-03-23 08:46] #1105 closed, assigned to nobody

[2022-03-23 08:48] zigbeefordomoticz commented on #1081
as of now and based on the integration work done with the nea-radio-API , I see the following major show stopper to push the deConz integration to production

* #1104 Serial line seems not stable. they are several reset of the serial line along a day. The zigpy-deconz layer is doing the reconnect, but this look suspicious.
`2022-03-23 00:49:36,904 ERROR   :Lost serial connection: device reports re

[2022-03-23 12:16] Hedda commented on #1090
For reference, which exact model of Schneider Electric Wiser thermostat is it?

@manup Have you tested any Schneider Electric Wiser ( legacy) devices like Wiser thermostats with ConBee 2 / RaspBee 2?

https://phoscon.de/en/conbee2/compatible

https://phoscon.de/en/support#compatibility-of-devices

https://github.com/dresden-elektronik/deconz-rest-plugin/wiki/Supported-Devices

https://zigbee.blaka

[2022-03-23 12:47] pipiche38 commented on #1090
@hedda, the all Wiser Legacy and new works with our plugin with Zigate, ZZH/SonOff and all CCxxxx as well as the Silicon Labs eelabs coordinator.
For that we need to be able to add Endpoint to the Coordinator. For now there is no such feature available on zigpy-deconz. The limitation is not deconz itself it is the zigpy layer except if deconz is not able to add EndPoint (which is not my understand

[2022-03-23 14:52] puddly commented on #1090
I'm seeing no references to adding endpoints in the [deCONZ Serial Protocol spec](https://deconz.dresden-elektronik.de/raspbian/deCONZ-Serial-Protocol-en_1.21.pdf).  Are you sure you need to be able to add endpoints?  The Silicon Labs coordinator, for example, did not need to have this done, since it is capable of sending/receiving on any endpoint.

[2022-03-23 16:31] pipiche38 commented on #1090
@manup was responding to the question, https://github.com/dresden-elektronik/deconz-serial-protocol/issues/17#issuecomment-1066715693

[2022-03-23 21:32] jp-keros opened #1114 "[Stable6] To Do List"
Liste des choses à faire pour la sortie de la stable6 :

- [x] Mettre à jour les liens du webUI vers le wikiUI
     - [x] Modifier les traductions > @jp-keros
     - [x] Pousser la modif des traductions > @jp-keros
     - [x] Mettre à jour le plugin > @pipiche38

- [x] Mettre le WikiUI en ligne
     - [x] Merge de la branche Github-page dans Zigpy > @jp-keros
     - [x] Merge de la branche ZigPy d

[2022-03-24 22:10] jp-keros commented on #1114
Les points à communiquer :

- Prise en charge des Coordinateurs TI
- Procédure particulière pour le passage en V6
- Modification des liens vers le wiki avec un affichage sous forme de site web
- Possibilité d'intégrer le WebUI directement dans DomoticZ via le custom menu (voir étape 4 de la procédure d'installation)
- Mise en place de statistiques sur l'utilisation du plugin.
- Future ouverture au

[2022-03-25 08:59] #1078 closed, assigned to nobody

[2022-03-25 20:24] pipiche38 commented on #1114
la création de stable6 se ferra au dernier moment, car sinon, on risque d'avoir du monde qui bascule dessus

[2022-03-25 20:45] jp-keros commented on #1094
[Modifications pushed ](https://github.com/zigbeefordomoticz/Domoticz-Zigbee/pull/1115)

[2022-03-27 13:40] pipiche38 opened #1117 "[zigpy-integration] - not able to run 2 instances of zigpy-radio module in Domoticz"
if trying to run 2 instances of zigpy-radio module, then the 2nd instance doesn't work !

cc: @puddly, @deufo, @badzz

[2022-03-27 14:41] pipiche38 commented on #1117
looks like the issue is located around the asyncio loop().
In the case of Domoticz, we have only one python interpreter running and all threads run underneath.

Question is how to manage the create_task() in that context.

The 1st instance runs and create the event loop, but when the 2nd instance come (the loop already exist), can we get a new loop for the asyncio ?

here is the code

[code]

[2022-03-27 14:54] pipiche38 commented on #1117
seems to be the right way
[code]

[2022-03-27 15:03] pipiche38 commented on #1117
edd8b6b7

[2022-03-27 16:12] pipiche38 commented on #1117
Time to time it crashs here     `loop.run_until_complete(task)`

[code]

[2022-03-27 16:25] puddly commented on #1117
Mixing asyncio and threads is tricky.

What was not working with the first way you were doing it? Also, you don't need the `loop.create_task()` call at all.

[2022-03-27 16:47] pipiche38 commented on #1117
I think that I'm in several issues

1/ embedded python with C++.
2/ every plugin instance is launched in one non-blocking thread
3/ the non-blocking thread is spawning threads for it own purpose and one of them is dedicated zigpy

In regards to you comment, if I do not do `loop.create_task()` how am I going to start asyncio

[2022-03-27 16:51] puddly commented on #1117
The same way you run `asyncio.sleep` in a blocking manner:

[code]

[2022-03-27 17:17] pipiche38 commented on #1117
so it make the tric. however when starting then 2nd instance with the following code

[code]

And with the following code

[code]

we are getting this error while starting the 2nd instance

[2022-03-27 17:51] pipiche38 commented on #1117
Latest code

[code]

Does work perfectly for one occurence of a Ziggy instance, but do not work when starting a 2nd instance.

[2022-03-27 18:12] pipiche38 commented on #1117
reporting to domoticz
https://www.domoticz.com/forum/viewtopic.php?p=288399#p288399

[2022-03-27 18:21] puddly commented on #1117
How does Domoticz start a plugin multiple times if `onStart` and `onStop` are global functions that take no parameters?  `_plugin = BasePlugin()` is also a global.

[2022-03-27 18:28] pipiche38 commented on #1117
@dnpwwo if you see this once, your help would be more than welcome. I have created a small plugin.py file to duplicate the issue, which is that I cannot start 2 instances of a plugin running an asyncio.loop(). I'm convinced that it is not about the act that is 2 instances, but more 2 plugins which requires asyncio.loop()

[2022-03-27 20:53] pipiche38 commented on #1117
I don't think they are global to the all Domoticz environment. My understanding is that Domoticz spawn a thread with plugin.py with a given context. When spawning a new thread/plugin it is a total different context.
However both are under the same python interpreter (GIL)

@puddly, @dnpwwo my understanding is when Domoticz start a plugin in a thread , that one is running with its own context, so w

[2022-03-28 11:23] SylvainPer commented on #1090
Just manage to pair wiser devices on the conbee ii.
~~The end points are well managed without particular need like bellows.~~

<img width="1391" alt="Capture d’écran 2022-03-28 à 13 19 17" src="https://user-images.githubusercontent.com/48243214/160387755-e4a7ea36-c92a-4efe-b07b-318b6732ad07.png">

One thing weird, I didn't succeed to pair through a router, only directly to the key.

[2022-03-28 15:22] pipiche38 commented on #1089
Here after a full log, which is happening in a systematic way when trying to form a new network
cc: @puddly

[code]

[2022-03-28 17:47] puddly commented on #1089
Please use the latest versions of both zigpy and zigpy-deconz when testing, I believe this issue was fixed almost a week ago.

[2022-03-28 18:08] pipiche38 commented on #1089
OK . Indeed works better but now new error

`2022-03-28 19:06:09,967 INFO    : [       MainThread] ZigpyTransport __init__
2022-03-28 19:06:09,968 DEBUG   :Using selector: EpollSelector
2022-03-28 19:06:09,969 INFO    : [ ZigpyForwarder_6] ZigpyTransport: thread_processing_and_sending Thread start.
2022-03-28 19:06:09,970 INFO    : [       MainThread] Start Web Server connection
2022-03-28 19:06:0

[2022-03-28 22:17] puddly commented on #1089
I've never seen `Command.change_network_state` result in an `ERROR` status. Are you using a USB extension cable?

I just re-tested zigpy-deconz and `form_network` works fine for me but see if the most recent commit changes things.

[2022-03-29 08:47] pipiche38 opened #1120 "[zigpy-integration] - changing channel seems not working with deconz"
I'm trying to change zigbee channel from 15 to 26, but it looks like the ConBee remains on channel 15 .
CC: @puddly

[code]

[2022-03-29 08:55] pipiche38 commented on #1089
@puddly Looks good with the latest. so closing for now

[2022-03-29 08:55] #1089 closed, assigned to nobody

[2022-03-29 09:04] pipiche38 commented on #1081
short update

- [ ] - #1104 @deufo who is also testing the ConBee II now, is not having serial line stability issues. May be mine is related to the old  Conbee (from 2 years back).
- [x] - #1089 Forming a new network is now closed

open issues are

- [ ] - #1090 Not able to add Coordinator EndPoints (lack zigpy-deconz api)
- [ ] - #1120 Not able to change Network Channel via the Network Update Req

[2022-03-29 09:05] pipiche38 commented on #1094
will follow on #1114

[2022-03-29 09:05] #1094 closed, assigned to jp-keros

[2022-03-29 10:36] dnpwwo commented on #1117
@pipiche38,

You are correct, each plugin has both its own thread and own Python interpreter so running copies of a plugin is not a problem in most circumstances.  That said the Python documentation describes an interpreter as:

The 'almost' is not fully described but alludes to things external to Python (such as file systems).

Modules are a grey area. The doco states:

But a lot of lower level m

[2022-03-29 12:31] pipiche38 commented on #1117
@dnpwwo really appreciate your valuable feedbacks.
I have posted here the issue I'm facing which I think will be the case if you try to run 2 plugins using asyncio/loop

[2022-03-29 13:19] Hedda commented on #1120
Maybe try changing to Zigbee channels 20, 21, 22 or 23 as it could be that only Zigbee channel 26 is not supported in firmware?

I am sure you are already aware of this but for reference:

I understand that especially Zigbee channels 11, 16, 24, 25 and 26 are not supported by many older Zigbee devices. And Zigbee channel 26 may also be restricted in TX power in some countries so been set to use lo

[2022-03-29 13:46] pipiche38 commented on #1120
@hedda , 26 is used by Livolo switches for pairing, this is why I did the test on 26
But the issue is the same with other channel, I believe that is the same as it was for ZNP, the coordinator do not get the network change request and only broadcast it to the routers.

[2022-03-31 10:31] pipiche38 commented on #1114
@hedda, @puddly for your information we are in the final lap to make the first release of the plugin including zigpy layers and mainly the zigpy-znp and bellows radio libraries.

Up to now it was on beta, and now we consider ready for stable version. this will be pushed during the week-end and announced on the different Domoticz forum.

For that release we will rely on the legacy radio api

thanks

[2022-04-01 08:29] Hedda commented on #1114
Nice! Like to suggest writing on GitHub and wikis in English first as primary published language and then translate to French after.

By writing in French first as primary and only later translating to English you risk alienating/excluding new non-French users/devs.

Most other projects are only documented in English and use only in English in forums even if devs are not native English speakers.

[2022-04-01 15:30] jp-keros commented on #1114
That is all my fault.

Considering this issue, it is written in French because I needed somewhere to write quick notes.

Considering the wiki, at the end of 2020, Pipiche asked for a translation of the wiki in French. I did it and I also improved it. I was able to think about formatting because I was thinking in French. I could not have done the same work in English directly.

But if you look at t

[2022-04-01 21:08] pipiche38 commented on #1114
I did update the PP-Manager to use stable6 branch instead of stable5

[2022-04-02 08:27] pipiche38 commented on #1114
j'ai updaté egalement le Wiki Domoticz avec les nouveaux liens.

[2022-04-02 09:46] jp-keros commented on #1114
Every thing is checked, this issue may now be closed  ;-)

Thanks for the work done

[2022-04-02 09:46] #1114 closed, assigned to nobody

[2022-04-02 17:40] pipiche38 commented on #1120
https://github.com/zigpy/zigpy-deconz/issues/192

[2022-04-02 20:23] badzz commented on #1117
Hi,
There seems to be a problem with this indeed. Asyncio lib is using c code that seems to have shared variables between the different instance of interpreters.
When running the plugin python file with my own main.c that init one interpreter , it is ok. the asyncio lib is instantiate once for both instance of the plugin as it expects to be running like this.
thx

CC: @dnpwwo

[2022-04-02 20:26] SylvainPer commented on #1090
After some clarification with @pipiche38, my test wasn't relevant. The Bind Request is an outgoing request and it's well managed by the coordinator. The problem is when the device asked from and to an endpoint different from 01, in my case ep 0x11 to 0x11.
I've made some test on the different libraries with a wiser thermostat, the Report Attributes and Read Attributes requests are not transferred

[2022-04-04 07:15] pipiche38 opened #1128 "[zigpy-integration] - use requirements.txt for pip install"
instead of providing a list of modules to be installed, it seems much better to provide such list with version requirement in a requirements.txt file

Advice from @puddly https://github.com/zigpy/zigpy/discussions/949

[2022-04-04 12:50] badzz commented on #1117
@dnpwwo
ok issue seems to be that we get the same loop id across interpreter instance
https://github.com/python/cpython/blob/ff2cf1d7d5fb25224f3ff2e0c678d36f78e1f3cb/Modules/_asynciomodule.c#L238
The running loop id is stored in a static variable and the threadstate id is the same as it is just an iterator that will have the same value for first thread in each interpretor. Hence both thread get th

[2022-04-04 15:41] pipiche38 commented on #1030
for now PIR323 is not supported on zigpy-znp

[2022-04-04 15:41] #1030 closed, assigned to nobody

[2022-04-04 15:42] pipiche38 commented on #899
zigpy-zigate will not be supported on the plugin

[2022-04-04 15:42] #899 closed, assigned to nobody

[2022-04-04 15:42] #1128 closed, assigned to nobody

[2022-04-15 14:18] pipiche38 opened #1139 "Error message"
3] zcl_decoders Unknown Command: 01 NwkId: 43bb Ep: 01 Cluster: ef00 Payload: 00ad0f04000102 - GlobalCommand: False, Sqn: 5b, ManufacturerCode: None

[2022-04-15 14:42] pipiche38 commented on #1139
This doesn't looks like an error, but more a Command message against Cluster 0xef00 from a TS0601-switch (Tuya TS0601) .

[2022-04-15 14:42] #1139 closed, assigned to nobody

[2022-04-15 21:22] pipiche38 opened #1140 "[Zigpy-Integration] - ZNP error"
Seen that error message in one of the user plugin log

[code]

cc: @puddly

[2022-04-15 21:23] pipiche38 opened #1141 "[Zigpy-Integration] - ZNP error message"
seen this error message in a user plugin log

[code]

cc: @puddly

[2022-04-16 10:23] pipiche38 commented on #1141
These is based on the zigpy dev branch
[code]

[2022-04-16 10:24] pipiche38 opened #1142 "[zigpy-Errors] - ZNP happening on user"
[code]

CC: @puddly

[2022-04-18 20:18] pipiche38 commented on #1142
@puddly it looks like we have this error time to time especially during the startup phase. Is that something we should consider as a normal error ?

[2022-04-18 20:20] puddly commented on #1142
Without a debug log it's hard to tell what the error is, only that it happens when parsing a ZDO command from some device.

[2022-04-18 20:29] pipiche38 commented on #1142
Hard to get more, as these are logs file that I'm collecting from users, next time If I get it on my test system I'll give you more

[2022-04-19 12:58] pipiche38 opened #1145 "[zigpy-integration] Allowing Endpoint allocation on ConBee/RaspBee for Livolo, Schnider and fancy devices"
When doing a zdp_active_endpoint_request to the deConz key , we get 3 Eps

0x00 - Ok ZDO
0x01 - ok ZCL
0x50 - what is that ?

cc: @puddly, @deufo

[2022-04-19 13:43] Hedda commented on #1145
@manup related to the previous discussion in https://github.com/dresden-elektronik/deconz-serial-protocol/issues/17

[2022-04-19 13:54] pipiche38 commented on #1145
I probably missed something I understood that deConz set 0x01 and 242 ( 0xf2 ), but he was not mentioning 0x50 ( 80 )

[2022-04-19 17:51] puddly commented on #1145
What does the `0x50` endpoint's simple descriptor look like?

[2022-04-19 18:39] pipiche38 commented on #1145
After the startup, here is how I retreive the list of Ep

[code]

Here is what I got in the logs

[code]

[2022-04-19 18:44] puddly commented on #1145
You can read the simple descriptor for each endpoint by sending a loopback request to `0x0000`. Zigpy does this during initialization, even for the coordinator.

The reason I ask is because the Conbee has three endpoint "slots" and seems to return three types of responses when you read them:

1. `Status.UNSUPPORTED`, when the endpoint is not defined.
2. The endpoint's simple descriptor.
3. A simpl

[2022-04-19 20:12] pipiche38 commented on #1142
@puddly, do hope that is helping

[code]

[2022-04-19 20:26] puddly commented on #1142
It's a bad ZDO `NWK_addr_rsp` response:

[code]

The IEEE address looks wrong too.

I'll add logging to ZNP to generate a more helpful error message.

[2022-04-20 09:56] pipiche38 opened #1146 "[Zigpy - Integration] - ZNP pairing failing"
This happening during the pairing of an IAS device
While everything seems working well , at a point time zigpy layer started to do some retry !
This looks strange as in parallel there are some Status OK

CC: @puddly

[code]

[2022-04-20 10:04] manup commented on #1145
Hi, the 0x50 is a very old endpoint which was used for proprietary OTA, it isn't used anymore. You can safely reconfigure it.

[2022-04-20 10:10] pipiche38 commented on #1145
I'm keen to reconfigure it, but Why is not the Zigpy layer doing by default ?

[2022-04-20 10:16] manup commented on #1145
Personally I'd do it in the application, different applications using zigpy might have different needs.
The downside is more work for the application.

[2022-04-20 10:39] pipiche38 commented on #1145
Ok, sound fine with, but right now from zigpy standpoint I can only add_endpoints and not remove any

[2022-04-20 11:48] pipiche38 commented on #1142
I'll try to work on the recent version, but this looks to be done by the zigpy lib itself. from plugin perspective we are not doing a Network Address Request.

@puddly Let me know when the logging will be added, it was obvious for me, but the is based on the recent dev branch version ( not the new radio-api)

[2022-04-21 13:54] Hedda commented on #1145
_Originally posted by @puddly in https://github.com/zigpy/zigpy-deconz/issues/172#issuecomment-1104164556_

@puddly so if you use `register_endpoints` to register three different endpoints those should override the existing on deconz?

[2022-04-21 14:26] pipiche38 commented on #1145
This is what I understood, basically zigpy_deconz handle EndPoint slots, and so by default there is one slot left (slot 2)

[2022-04-25 14:21] pipiche38 opened #1153 "Device Custom Reporting parameters"
It would be great to allow the possibility to change the reporting period/frequency and change for Main Powered device, and eventually for battery based devices (more complex implementation).

We can envision device parameters like

* `xxxxx`ReportingFrequencyMin
* `xxxxx`ReportingFrequencyMax
* `xxxxx`ReportingMinValueChange

Where `xxxx`could be

* Power ( instant power cluster 0x0702/0x0400 )
*

[2022-04-26 01:03] khongpt opened #1154 "add Zigate menu to Custom UI"
**Is your feature request related to a problem? Please describe.**
Based on this feture https://zigbeefordomoticz.github.io/wiki/en-eng/Plugin_Integration.html
After using zigbee2mqtt plugin for a while, i came up with a way to copy zigate.html into custom UI on domoticz automatically when enable plugin.

**Describe the solution you'd like**
I created a file zigate.html and put in to the plugin fo

[2022-04-26 08:43] pipiche38 commented on #1154
Integrated into PR #1155

[2022-04-26 08:43] #1154 closed, assigned to nobody

[2022-04-27 09:47] pipiche38 commented on #1145
@manup could you clarify, that ConBee can support only 2 EndPoints ? This is a very heavy limitation, as in fact no endpoint can be added ?

@puddly, how can be the limitation to 2 , while I was able to show 3 EndPoints ? Is the limitation not somewhere else ?

[2022-04-27 19:20] manup commented on #1145
Hi, I've checked the current firmware code, there is indeed a fixed setting of 2 endpoints.
While it's just a define for the size of an array, raising the number might be a bit trickier taking nvram store/restore into account.

Do you have an overview of how many/which endpoints and their clusters you're using?

[2022-04-28 06:14] Hedda commented on #1145
Does that mean you can not simply make and release a new firmware image for ConBee/RaspBee that support more endpoints?

[2022-04-28 06:49] pipiche38 commented on #1145
@manup, I would say the max , but I think if we can extend to one at least and probably 2 Eps would be the best. I don't expect an end user having all strange devices on the same setup.

As the clusters are concerned, on the TI / CCxxx / ZNP stack we are just having the Basic Cluster for those Endpoint, as the principle is anyhow all commands send are forwarded back to UART.

[2022-04-28 09:49] Hedda commented on #1145
FYI, most users actually do put all their devices on the same setup, at least in my experience many users (but not every user) aim to keep all their Zigbee devices on a single Zigbee network if they know that consolidating them takes the best advantage of Zigbee's mesh networking technology. And another reason is that most Zigbee implementations only support a single Zigbee Coordinator, see exampl

[2022-04-28 10:18] pipiche38 commented on #1145
I do agree, but from a statistical point of view I do not expect a user having ALL this crasy devices which required as many EndPoints. I'm just taking in consideration the deConz memory limitation and indeed we just need to balance between a reasonable need comparing to an unlimited one. Of course unlimited or something like 8 to 10 additional Eps would be great, but I don't think this would make

[2022-04-28 19:02] manup commented on #1145
In regards of mixed networks with all kinds of devices, I can also confirm everything thinkable is put together by users :)
3–4 endpoints should be suitable to support all known devices I recon.

I'll try to extend two additionals possible endpoints, likely in a second segment in nvram to be up and backward compatible. I'd recommend to configure a few more clusters than Basic for at least one endp

[2022-04-29 10:20] pipiche38 commented on #1145
@manup happy to test any new firmware

[2022-04-29 12:51] pipiche38 opened #1158 "[Zigpy-Integration] - Unable to pair some end devices due to Verify -> Confirm Key not on time"
This problem is duplicated with 2 Owow/Casaia end devices PIR323/CMS323 and CTHS317.
From Owon, the end device give 5 seconds to the CIE to send its Confirm Key otherwise the device will leave the network

Here after are 2 Sniffs, 1 failing and 1 successful where we see the Confirm Key is coming in the 3 seconds.
[CTHS317ET-pairing-failed-zzh.pcapng.zip](https://github.com/zigbeefordomoticz/Domoti

[2022-04-29 13:23] pipiche38 commented on #1117
https://github.com/python/cpython/issues/91375

https://bugs.python.org/issue47219

[2022-04-29 15:27] pipiche38 commented on #1090
Link to #1145 which is handling this issue. Closing that one

[2022-04-29 15:27] #1090 closed, assigned to nobody

[2022-05-02 14:09] pipiche38 opened #1160 "[zigpy-integration] - strange systematic error while pairing Legrand Dimmer on ZNP"
Systematic error while pairing a Legrand dimmer on ZNP

[code]

CC: @puddly

[2022-05-02 14:39] pipiche38 commented on #1160
@puddly, Problem seems happening when doing an Endpoint descriptor request on EndPoint 0xf2. Problem which doesn't exist if we use Zigate instead of the ZNP with Sonoff or zzh

Did some further test, looks like after the 3rd retry we get finaly the Simple Descriptor 0xf2 , while on zigate it is as fast as for the ep 0x01 !!

[2022-05-02 15:38] pipiche38 commented on #1142
@puddly, Here is a zigpy traces, with a more recent version I believe.
I didn't see any request from the plugin. Can it be that zigpy layer is performing a NWK_addr_req when receiving a Mngt_LQI_response ?

[code]

[2022-05-02 15:45] puddly commented on #1142
Hmm, looking more closely it seems like this is a loopback message, coming from the radio itself (`0x0000`).

Can you post the last minute of logs?

[2022-05-03 12:41] pipiche38 opened #1163 "[zigpy-integration] - strange behaviour of retry process in ZNP"
@puddly,

The here after logs looks a bit bizarre. The command is sent to a battery based device which is listening every 7seconds.

So I wonder if all of this retries which various commands in between are really necessary. For me you should just wait the 7 seconds timeout, and eventually retry once more.

Here I'm afraid that is making more confusion and at the end we never send the message to th

[2022-05-03 13:28] #1146 closed, assigned to nobody

[2022-05-03 13:31] pipiche38 commented on #1142
@puddly hope it is enought.

[code]

[2022-05-03 18:49] pipiche38 commented on #1158
adding 6 seconds of sleeping after having sent the first commands ( End Point Descriptor), make it works.

Even if it is not a best practice from the manufacturer, this problem doesn't exist on Zigate !

[2022-05-03 18:50] #1158 closed, assigned to nobody

[2022-05-09 15:17] pipiche38 opened #1170 "[zigpy] - 'onHeartbeat' failed 'RuntimeError':'dictionary changed size during iteration'."
[code]

[2022-05-09 15:27] #1170 closed, assigned to nobody

[2022-05-09 19:45] pipiche38 commented on #1081
zigpy-deconz maintenance and development seems quiet limited as zigp-zigate.

For now, not sure that deconz will go live on stable

[2022-05-09 19:45] #1099 closed, assigned to nobody

[2022-05-10 07:33] pipiche38 opened #1171 "Develop a rest API, do trigger a selective Configure Reporting"
The idea is to be able to trigger a Configure Reporting on a selective device.

[2022-05-10 08:13] pipiche38 opened #1172 "Set IRCode to 28 for Casa.IA AC221"
As in the subject

[2022-05-10 09:12] pipiche38 commented on #1142
This message is quiet annoying, and don't really know what to do, as this is coming from from the @zigpy layer!

[code]

[2022-05-10 09:22] pipiche38 opened #1173 "[zigpy-integration] - respond to Read Attribute request on Basic Cluster Attribut 0000"
some devices are quering the CIE for Basic Cluster Attribute 0000 and the plugin should respond to it.

2022-05-10 11:19:53,746 INFO    : [ ZigpyForwarder_3] Decode0100 - Read Attribute Request 2a1a/01 Cluster 0000 Attribute 0000

[2022-05-10 12:41] pipiche38 commented on #1160
I black listed the 0xf2 Endpoint

[2022-05-10 12:41] #1160 closed, assigned to nobody

[2022-05-10 12:42] pipiche38 commented on #1142
@puddly . is the recent logs helping you https://github.com/zigbeefordomoticz/Domoticz-Zigbee/issues/1142#issuecomment-1116101612

[2022-05-10 12:42] #1141 closed, assigned to nobody

[2022-05-10 12:43] #1140 closed, assigned to nobody

[2022-05-10 12:43] #1079 closed, assigned to nobody

[2022-05-11 06:37] #1173 closed, assigned to nobody

[2022-05-11 10:48] pipiche38 opened #1174 "[zigpy-integration] - When Report Attribute request a Default response, zigpy layer do not send it !"
as described in the subject, when a device is sending a Report Attribute with a Disable Default Response to False, it is expected that a default response is send back to the device.

In the current this is not happening!

This looks like something has been implemented at the ZCL level https://github.com/zigpy/zigpy/pull/408/commits/33e13ecd37845e62434161876aa6967c353b2f65 but if you don't use ZCL,

[2022-05-11 12:26] pipiche38 commented on #1174
For ZCL messages, FCF is embedded into the message

[2022-05-11 14:37] pipiche38 commented on #1174
#1175

[2022-05-11 15:29] pipiche38 opened #1176 "self.configureReporting.prepare_and_send_configure_reporting( AttributeError: 'NoneType' object has no attribute 'prepare_and_send_configure_reporting'"
Multiple errors received in the last 5 minutes:

[code]

[2022-05-11 17:04] pipiche38 commented on #1176
d17b1e5a

[2022-05-11 17:04] #1176 closed, assigned to nobody

[2022-05-11 17:04] #1174 closed, assigned to nobody

[2022-05-11 19:05] pipiche38 opened #1177 "[zigpy-integration] - at startup Permit to join with Duration 0 is sent"
@puddly when starting the zigpy layer, it looks like several permit to join messages are sent. Are they from the firmware or from the zigpy layers ?

![Screenshot 2022-05-11 at 21 02 33](https://user-images.githubusercontent.com/8291674/167926347-e05dcfa0-1a84-4d61-a044-79b771a3af33.png)

What is the purpose ?

This is very annoying as I have 7 shutters which when receiving a Permit to Join order

[2022-05-11 19:19] pipiche38 commented on #1177
This looks ZNP, as I don't see this behaviour on Elelabs with bellows

[2022-05-11 19:44] pipiche38 opened #1178 "[zigpy-integration] - zigpy is not filtering duplicate"
@puddly if a message is sent several time by a device, a handle_message() is call each time . Why is the zigpy low layer not filtering ? This is on a ZNP / SonOff

![Screenshot 2022-05-11 at 21 43 52](https://user-images.githubusercontent.com/8291674/167932738-5efd4193-24b0-4378-a9cf-a061fe300c96.png)

[code]

[2022-05-11 20:26] puddly commented on #1177
I've not encountered a device like that before. It activates when joins are permitted?

ZNP disables joins because some devices (CC2531) permanently permits joins on startup unless you disable them.

[2022-05-11 20:33] puddly commented on #1178
I believe this was reported before https://github.com/zigpy/zigpy/issues/671

You likely need to send a default response.

[2022-05-11 20:36] pipiche38 commented on #1178
I wonder if this couldn't be done at the firmware level, this will prevent overhead on the library or the plugin side

[2022-05-11 20:38] pipiche38 commented on #1177
Basically these are the Profalux Shutter. And when you do a Permit to Join for more than 0 you get a little move Up and Down. Then when the Permit to Join expire or you set it for 0 (basically closing the network) you got a 2 times Up - Down

Shouldn't be the plugin responsibility rather than the zigpy library ? Or would it be possible to make it optional ?

[2022-05-12 06:22] pipiche38 commented on #1178
implement a ZCL filtering mecanism

[2022-05-12 06:22] #1178 closed, assigned to nobody

[2022-05-12 18:32] pipiche38 commented on #1171
https://github.com/zigbeefordomoticz/Domoticz-Zigbee/commit/1cd1155eeb898c646d8edd4b464db7f164da3521

[2022-05-13 13:08] pipiche38 commented on #1177
@puddly, can we have a znp config parameter, enable by default, but which can be then be disable by the plugin ?

[2022-05-13 15:49] puddly commented on #1177
This is going to be moved out of individual radio libraries and into zigpy's `startup` method in the new radio API: https://github.com/puddly/zigpy/blob/8cadae87d8989ccd5ce6edec2184ff8ba2aa15d3/zigpy/application.py#L78

[2022-05-13 17:43] pipiche38 commented on #1171
#1181

[2022-05-13 17:43] #1171 closed, assigned to nobody

[2022-05-13 17:53] pipiche38 commented on #1177
Not sure I understand. DO you mean that this will be the same for ALL radios ?

[2022-05-13 18:24] puddly commented on #1177
This is currently the case with the new API and has been for a while, ZNP was just doing it a second time. If you find this default behavior conflicting with your use case, override `startup`. It's only 16 lines of code and is a very high-level function, you may not even be using it directly.

[2022-05-16 17:12] pipiche38 commented on #1177
@puddly I had a look and did some test, I don't think this is 16 lines of code, or I missed something.
If I understood overriding the ZNP startup() this consist into taking the all _startup() from znp/application.py which is totally crazy in terms of manageability.
The main reason is because the permit_to-joing(0) is done in _startup . If you would have done it in startup() instead that would inde

[2022-05-16 17:20] puddly commented on #1177
I was referring to zigpy's `startup` in the new radio API.

[2022-05-17 05:23] pipiche38 opened #1184 "[zigpy] - device messages not visible in zigpy not above layer"
I have a very strange behaviour. This is happening with Schneider Wiser device which talk on EndPoint 0x0b.
After a while no more message are received by the plugin despite the fact that the messages can be seen via sniffer.

- Reports -> CIE
- Read attribute request from device -> CIE
- Device Annoucement

none of them are visible in zigpy !! This is happening on my prod system with about 46 devi

[2022-05-17 05:42] pipiche38 commented on #1184
to further investigate, I did a backup and restore on a classic zzh dongle, and I'm getting the same behaviour. The device is on the network. visible on the sniffer, but nothing comes at zigpy level (in debug mode)

cc: @Koenkk, @puddly

[2022-05-17 05:53] pipiche38 commented on #1184
Found that the device was communicating via a router ( Ikea Outlet). I unplug it and the then the communication is back !

[2022-05-17 05:53] #1184 closed, assigned to nobody

[2022-05-19 07:31] pipiche38 commented on #1177
fix implemented 4528ab4cf08bc6860de9ae848a3cb43c769feadc

[2022-05-19 07:31] #1177 closed, assigned to nobody

[2022-05-20 12:19] pipiche38 opened #1186 "Study the possibilty to re-create ALL Domoticz devices (widgets) from the plugin Db."
would it be possible to re-create missing or ALL missing domoticz widgets when screening the plugin db.

[2022-05-23 09:25] pipiche38 opened #1190 "Improve WebUI experience"
We need to improve the Web UI experience and for that we need to enhanced the CSS setup.

Any people whom want to help us , would be really appreciate

Source code is here: https://github.com/zigbeefordomoticz/Domoticz-Zigbee-UI

[2022-05-24 08:29] pipiche38 commented on #1117
pipiche38/multiinstances/no_asyncio ( [ba6d729](https://github.com/zigbeefordomoticz/Domoticz-Zigbee/commit/ba6d729f337ce4fd38a4afb62d9eb8d639d1f84d) )

[2022-05-25 07:14] pipiche38 commented on #1117
workaround in place

[2022-05-25 07:14] #1117 closed, assigned to nobody

[2022-05-25 15:47] pipiche38 commented on #1190
Technologies used:

* Angular 13 avec typescript
* Bootstrap sass
* Html5

[2022-05-27 09:08] pipiche38 opened #1195 "Refactor DomoticzDB with json API"
Refactor the All DomoticzDB and use json/API

DomoticzZB Preferences should use /json.htm?type=settings

DomoticzDB Hardware should use /json.htm?type=hardware

DomoticzDB_DeviceStatus should use /json.htm?type=devices&rid=297

[2022-05-27 09:37] pipiche38 opened #1196 "[zigpy-integration] - how to get the Transaction key"
Where is the Transaction key ?
it looks like at zigpy startup phase the lib is retrieving the Transaction key

[2022-05-27 15:38] pipiche38 commented on #1195
On going work: pipiche38/refactor/DomoticzDB

[2022-05-27 16:39] #1195 closed, assigned to nobody

[2022-05-27 16:47] pipiche38 commented on #1196
@puddly is there a way to get the Transaction Key ?

[2022-05-27 16:51] puddly commented on #1196
All network info is loaded into `app.state.network_info` and `app.state.node_info`.

[2022-05-27 17:05] mitkodotcom opened #1199 "Tuya TS0601 coil fan thermostat (not TRV) support"
This coil fan thermostat is recognized ad TS0601, but is not working: https://www.aliexpress.com/item/1005003984027358.html?spm=a2g0o.order_list.0.0.719318025QFLdO

The plugin adds three widgets:

Zigate - TS0601_Temp-8cf681fffef8ceb0-01
Zigate - TS0601_ThermoSetpoint-8cf681fffef8ceb0-01
Zigate - TS0601_ThermoMode_2-8cf681fffef8ceb0-01

but there's no further communication in any direction.

2022-

[2022-05-27 19:21] pipiche38 commented on #1199
Thanks for the issue. I have already responded to the question on the forum.

let us know which version of the plugin you are using

[2022-05-27 19:25] pipiche38 commented on #1199
You can also have a look here to the needed information
https://zigbeefordomoticz.github.io/wiki/en-eng/Problem_Dealing-with-none-certified-device.html

Otherwise:
from stable6 ( https://zigbeefordomoticz.github.io/wiki/en-eng/Plugin_Version-6.html )
switch to beta6

git pull
git checkout beta6
git pull

remove all widgets already created for this device

restart the plugin

redo the pairing

[2022-05-27 20:48] mitkodotcom commented on #1199
Meanwhile I have found a workaround. If I add

"_TZE200_dzuqwsyg",

to

TUYA_THERMOSTAT_MANUFACTURER = (

in Modules/tuya.py

the device is now recognized as a thermostat and it is working somehow: the temperature, the setpoint and the on/off switch are OK. The mode selector switch is working, however Auto turns Heating mode, Manual turns Cooling mode. There is no control of the fan speed. I can t

[2022-05-28 06:10] pipiche38 commented on #1199
Please do switch to beta6

and then provides me

export.json as documented here ( https://zigbeefordomoticz.github.io/wiki/en-eng/Problem_Dealing-with-none-certified-device.html )

enable debugTuya
and provide me the log produced when using the Fan command (from the Thermostat).

[2022-05-28 06:33] mitkodotcom commented on #1199
Here is the log of the fan control, switching to level 3, 2, 1 and Auto, in this order.

2022-05-28 09:26:51,908 DEBUG   : [ZiGateForwarder_3] tuya_response - Model: TS0601-thermostat Nwkid: 8f11/01 dp: 1c dt: 04 data: 02
2022-05-28 09:26:51,909 DEBUG   : [ZiGateForwarder_3] tuya_eTRV_response - Nwkid: 8f11 dp: 1c datatype: 4 data: 02
2022-05-28 09:26:51,909 DEBUG   : [ZiGateForwarder_3] tuya_eTRV

[2022-05-29 06:37] #1196 closed, assigned to nobody

[2022-05-29 09:46] pipiche38 opened #1200 "[zigpy] - error during runtime"
On a large system ( more than 60 devices), suddenly the Elelabs seem to be stuck and plenty of error occured.

@puddly do you have any advice on how such Timeout should be handled ?

[code]

[2022-05-29 09:53] pipiche38 commented on #1200
@puddly other question,  why do we get a bellows specific exception and not a zigpy one ?

[2022-05-29 16:23] mitkodotcom opened #1201 "beta6 does not start with non-standard API port"
If domoticz is running on non-standard port (not 8080), the current beta6 branch is unable to start. The plugin is trying to open the hardware database via API call but the API call fails with an exception here:

Domoticz-Zigate/Classes/DomoticzDB.py:        url = "http://127.0.0.1:%s/%s" %(self.pluginconf.pluginConf["port"], DOMOTICZ_HARDWARE_API)

As a workaround, start domoticz on port 8080 fir

[2022-05-29 16:41] pipiche38 commented on #1201
Good catch @mitkodotcom , and I'm afraid that we are in the chicken and egg issue.

I think that  workaround would be to :

1/ start the plugin which will fail
2/ edit the file Conf/PluginConf-xx.json

add a line

`"port": "the not by default domoticz port",`

Otherwise , This would have to be an additional parameter on the Hardware menu when starting the plugin

[2022-05-29 17:05] mitkodotcom commented on #1201
Moving this parameter from plugin settings to Hardware settings seems the right solution. You can't change it from the plugin's web gui anyway as the web gui won't start.

[2022-05-29 17:07] pipiche38 commented on #1199
Thanks for the info provided.

Can you kindly switch to pipiche38/device/TS0601-Coil-Fan

`git pull; git checkout pipiche38/device/TS0601-Coil-Fan`

then you need to remove all widgets which have created in Domoticz

restart the plugin to take the new version

redo the pairing

if the pairing works you should have now a Fan Control widget created (there is a Off mode, but as the Tuya do not provid

[2022-05-29 17:11] mitkodotcom commented on #1201
Besides, you will also need two more parameters for API user and password unless 127.0.0.1 is added to Local Networks, which is not always the case.

[2022-05-29 17:42] mitkodotcom commented on #1199
There's no difference. Only one selector switch is created - ThermoMode (Off, Auto, Manual)

2022-05-29 20:39:31.035  Status: Zigate: [None] NEW OBJECT: b954 None
2022-05-29 20:39:31.157  Status: Zigate: [-] NEW OBJECT: b954 Active Endpoint Response Ep: 01 LQI: 116
2022-05-29 20:39:31.160  Status: Zigate: [-] NEW OBJECT: b954 Request Simple Descriptor for Ep: 01
2022-05-29 20:39:31.373  Status: Zi

[2022-05-29 17:56] mitkodotcom opened #1203 "plus sign in device name gets translated to space"
Device name:

lrwxrwxrwx 1 root root 13 May 27 12:43 usb-FTDI_ZiGate_ZIGATE+-if00-port0 -> ../../ttyUSB0

Error message:

"Cannot open Zigate port /dev/serial/by-id/usb-FTDI_ZiGate_ZIGATE -if00-port0 error: [Errno 2] could not open port /dev/serial/by-id/usb-FTDI_ZiGate_ZIGATE -if00-port0: [Errno 2] No such file or directory: '/dev/serial/by-id/usb-FTDI_ZiGate_ZIGATE -if00-port0'"

may be the port

[2022-05-29 18:32] pipiche38 commented on #1201
Unfortunately there is not enough Parameters

[2022-05-29 18:36] mitkodotcom commented on #1199
I don't believe Conf/Certified/Tuya/TS0601-_TZE200_dzuqwsyg.json is loaded. I have changed ThermoMode_2 to ACMode in this file but it is still detected as ThermoMode_2 (it shoud actually have it's own ACMode as there is no Dry mode, only Cooling, Heating and Fan).

[2022-05-29 18:44] pipiche38 commented on #1199
that is my fear. I'll investigate what is happening

[2022-05-29 18:44] mitkodotcom commented on #1201
Zigbee for domoticz has 8 parameters, but I have plugins with more than that (for example Modbus has 11 parameters). You can use just one parameter for API base url: http[s]://user:pass@ip:port/

[2022-05-29 18:46] pipiche38 commented on #1201
good point API base is definitively the right way to do

[2022-05-29 19:53] mitkodotcom commented on #1199
For some reason it is recognized as "-thermostat" even if I move the manufacturer name to TUYA_eTRV3_MANUFACTURER, for example. However, Conf/Certified/Tuya/TS0601-thermostat.json is not loaded either, as I have edited the file and changed ThermoMode_2 to ThermoMode_5, but the device is still recognized as TS0601-thermostat, ThermoMode_2

I have tried to reorder elifs in Modules/readClusters.py pu

[2022-05-29 20:03] pipiche38 commented on #1199
The only possibility that I can see is that we get the Manufacturer Name somehow late, so we might have to hardcode

[2022-05-29 20:05] pipiche38 commented on #1199
if yoou can redo a pairing with

debugPairing
debugCluster

that would be great, I'll fixed it tomorrow

[2022-05-29 20:06] pipiche38 commented on #1203
feel free to submit a PR against beta6 branch

[2022-05-29 20:44] mitkodotcom commented on #1199
Sorry, it was my mistake. I was on the wrong branch (right branch, wrong folder).

Now the plugin detects the device as it should and a Fan selector widget is added, however no commands are sent or received. Tomorrow I will continue with the debugging as it is too late here.

022-05-29 23:36:25,478 INFO    : [ZiGateForwarder_3] --> Adding device c4d6 in self.DevicesInPairingMode
2022-05-29 23:36:2

[2022-05-30 06:07] mitkodotcom commented on #1199
This is the log when trying to send commands to the device:

2022-05-30 09:03:57,021 DEBUG   : [       MainThread] tuya_trv_onoff - c4d6 Switch: 0
2022-05-30 09:03:57,021 DEBUG   : [       MainThread] tuya_trv_switch_onoff - c4d6 Switch: 0
2022-05-30 09:03:57,021 DEBUG   : [       MainThread] get_datapoint_command - c4d6 Switch not found in eTRV_MATRIX[ TS0601-eTRV1 ]['ToDevice']
2022-05-30 09:03:

[2022-05-30 06:29] mitkodotcom commented on #1199
adding     "TS0601-_TZE200_dzuqwsyg": "TS0601-thermostat",  to eTRV_MODELS made the switches work from domoticz to device, although the setpoint does not work - nothing is logged when changing it in domoticz. From device to domoticz is still UNMANAGED

May be eTRV_MODELS should be populated from Conf/Certified/*

[2022-05-30 06:48] mitkodotcom commented on #1199
adding the model to     elif _ModelName in ("TS0601-thermostat","TS0601-_TZE200_dzuqwsyg"): in tuya_response made the incoming direction working somehow (no fan control).

Before continuing to hardcode the model here and there, may I suggest to replace all those elifs with something like elif _ReceiveType == 1, elif _ReceiveType == 2, etc. and populate _ReceiveType the same way as eTRV_MODEL - by

[2022-05-30 07:08] pipiche38 commented on #1199
Can you add debugCommand so we can track from the time you do the Domoticz Widget command ?

[2022-05-30 07:15] mitkodotcom commented on #1199
2022-05-30 10:13:15,054 DEBUG   : [       MainThread] mgtCommand (c4d6) Devices[4].Name: Zigate - TS0601-_TZE200_dzuqwsyg_ThermoSetpoint-8cf681fffef8ceb0-01 Command: Set Level Level: 21.0 Color:
2022-05-30 10:13:15,055 DEBUG   : [       MainThread] --------->1   ClusterType founds: [('01', '39', 'ThermoSetpoint')] for Unit: 4
2022-05-30 10:13:15,056 DEBUG   : [       MainThread] --------->2   EPOu

[2022-05-30 07:18] pipiche38 commented on #1199
This looks interesting. I know that the current way is a very quick and dirty. Mainly because we were not expecting Tuya to work like that when started integrating the first Tuya equipement

What I have in mind , is to rely more on an information which is in the Config file itself, so there is no code update in that case. (except if there is new features ....)

[2022-05-30 07:18] pipiche38 commented on #1199
Do you mean that when doing a Fan control, we get to a Setpoint command ?

[2022-05-30 07:45] mitkodotcom commented on #1203
I don't know if it deserves a pull request -  it's just one line in Modules/restartPlugin.py

    url += "&port=%s" % self.pluginParameters["Port"]

    to

    url += "&port=%s" % urllib.urlencode(self.pluginParameters["Port"])

In fact, all parameters, that may contain special characters should be urlencoded - for example the new API base url.

[2022-05-30 08:00] mitkodotcom commented on #1199
No. The Setpoint command does not work, even after adding "TS0601-_TZE200_dzuqwsyg": "TS0601-thermostat", to eTRV_MODELS.

The fan control does not work in the opposite direction (from device to domoticz). It works from domoticz to device. The other selector switch ThermoMode_2 (receive_manual_mode) also does not work from device to domoticz (there should be another ThermoMode_6 ot ACmode_2 for th

[2022-05-30 08:58] mitkodotcom commented on #1203
The whole parameter list in Modules/restartPlugin.py has to be urlencoded, especially the new parameter for API base url.
A quick patch for those of us with ZiGate+ is to replace the line

    url += "&serialport=%s" % self.pluginParameters["SerialPort"]

to

    url += "&serialport=%s" % self.pluginParameters["SerialPort"].replace("+", "%2B")

This quick patch does not deserve pull request IMHO.

[2022-05-30 10:18] pipiche38 commented on #1201
Could you please check against f6464046 (on branch https://github.com/zigbeefordomoticz/Domoticz-Zigbee/tree/pipiche38/urlbaseapi )

[2022-05-30 10:24] mitkodotcom commented on #1199
Some more debug for set setpoint command:

2022-05-30 13:22:21,689 DEBUG   : [       MainThread] mgtCommand (c4d6) Devices[4].Name: Zigate - TS0601-_TZE200_dzuqwsyg_ThermoSetpoint-8cf681fffef8ceb0-01 Command: Set Level Level: 22.0 Color:
2022-05-30 13:22:21,690 DEBUG   : [       MainThread] --------->1   ClusterType founds: [('01', '39', 'ThermoSetpoint')] for Unit: 4
2022-05-30 13:22:21,691 DEBUG

[2022-05-30 12:06] pipiche38 commented on #1199
I beleive Fan Control should be ok on the 2 ways with the latest version.

for the rest, I will work on that later this week

[2022-05-30 15:05] mitkodotcom commented on #1199
Some more debug for set setpoint command:

2022-05-30 13:22:21,689 DEBUG   : [       MainThread] mgtCommand (c4d6) Devices[4].Name: Zigate - TS0601-_TZE200_dzuqwsyg_ThermoSetpoint-8cf681fffef8ceb0-01 Command: Set Level Level: 22.0 Color:
2022-05-30 13:22:21,690 DEBUG   : [       MainThread] --------->1   ClusterType founds: [('01', '39', 'ThermoSetpoint')] for Unit: 4
2022-05-30 13:22:21,691 DEBUG

[2022-05-30 15:28] mitkodotcom commented on #1199
Yes, it works on both directions now. However, I still have to manually add

"TS0601-_TZE200_dzuqwsyg": "TS0601-thermostat",

eTRV_MODELS array in Modules/tuyaTRV.py, otherwise the default type is TS0601-eTRV1 and it says:

2022-05-30 18:11:28,073 DEBUG   : [       MainThread] get_datapoint_command - c4d6 FanSpeed not found in eTRV_MATRIX[ TS0601-eTRV1 ]['ToDevice']
2022-05-30 18:11:35,028 DEBUG

[2022-05-30 18:26] mitkodotcom commented on #1199
BTW, this device supports (and needs) temperature calibration. Fortunately, it can be calibrated with tuya's original gateway as it remembers the calibration settings when moved to a new coordinator. However, is it possible to calubrate it via this plugin? I saw there is Param->Calibration in config file, but it does not seem to be used.

[2022-06-01 11:43] pipiche38 commented on #1203
can you try branch pipiche38/urlbaseapi ( git checkout pipiche38/urlbaseapi ) and let me know how this work ?

[2022-06-01 11:44] pipiche38 commented on #1203
Duplicate #1201

[2022-06-01 11:44] #1203 closed, assigned to nobody

[2022-06-01 11:44] pipiche38 commented on #1201
Did you have a chance to test that one

[2022-06-01 15:19] pipiche38 commented on #1199
Ok. i have updated the eTRV_MODELS sorry for missing this one, did further update.
Can I ask you to redo the full pairing .

Then do what ever test you can. Would be really great if I could have the corresponding tuya log when something doesn't behave as you expect.

And finally if you could drop me the export.json that would be great

[2022-06-02 19:03] pipiche38 commented on #1201
@mitkodotcom did you have a chance to test that one ?

[2022-06-02 19:03] pipiche38 commented on #1199
@mitkodotcom did you have a chance to test ?

[2022-06-03 05:59] mitkodotcom commented on #1199
Nope. I will be able to spend some time on the topic during the weekend.

[2022-06-03 08:38] tomm1ed opened #1205 "Unable to remove broken devices"
I had an Aqara temperature sensor die on me and I seem unable to remove it from the Zigate. Deleting the device from Domoticz left it in provREQ Status (unclear what that means exactly)
[https://tweakers.net/fotoalbum/image/lwwByUnMh2Sds6gewTA9Sev2.png](url)
Can anyone tell me how to fix this?

[2022-06-03 08:45] tomm1ed commented on #1205
I also tried removing three Aqara Motion Sensors (which I am no longer using) and even though I receive this in the log:
2022-06-03 10:40:00,155 INFO    : [       MainThread] onDeviceRemoved - removing End Device
2022-06-03 10:40:00,170 INFO    : [       MainThread] onDeviceRemoved - removing End Device
2022-06-03 10:40:00,177 INFO    : [       MainThread] onDeviceRemoved - removing End Device
The

[2022-06-03 08:47] pipiche38 commented on #1205
The best is now, to restart the plugin , all entries will be removed, and then while making sure the Zigate is not in pairing mode, you simply reset the Aqara temperature device. In that case it will send a leave message and get removed from the Zigate.

In all cases, you cannot do more as , only the device itself can me removed from the coordinator

[2022-06-03 08:49] pipiche38 commented on #1205
https://github.com/zigbeefordomoticz/wiki/blob/master/en-eng/HowTo_Remove-device.md

[2022-06-03 08:49] #1205 closed, assigned to nobody

[2022-06-03 13:30] pipiche38 commented on #1172
[424721b](https://github.com/zigbeefordomoticz/Domoticz-Zigbee/commit/424721b7e8bad8f74ef4e5d0f68399ea360cf27f)

[2022-06-03 13:30] pipiche38 commented on #1172
pipiche38/device/casaia/1172

[2022-06-03 13:30] pipiche38 commented on #1172
#1208

[2022-06-03 13:30] #1172 closed, assigned to pipiche38

[2022-06-03 15:10] pipiche38 opened #1209 "[zigpy-integration] - error at plungin start"
[code]

[2022-06-03 15:14] pipiche38 commented on #1209
@puddly we have quiet often some errors when the plugin is starting. Unfortunately this happening most likely on prod, where debug are not enabled.

From those logs is there any indication, what could be the issue ? I suspecting that at plugin start we receive already reports and other messages from Devices while the zigpy libs is not yet ready to handle them. Is that something possible .

The mai

[2022-06-05 14:44] mitkodotcom commented on #1199
It works now in both directions, but this device must have different mode selector switch. Currently the mode widget has two options: Auto (level 10) and Manual (level 20).  From domoticz to device, Auto (level 10) turns on heating, Manual (level 20) turns on cooling. From device to domoticz turning to cooling sets Level 20 (Manual), but turning to heating does not set Level 10 (Auto).

It should

[2022-06-05 14:54] mitkodotcom commented on #1201
It looks that urlencoding works now. Both serial port with a plus sign and the API base url were OK after restarting the plugin. I haven't tested the API url with a password, though.

[2022-06-06 08:11] mitkodotcom commented on #1199
Temperature calibration from config file and from Management / Device management / Parameters also works, but tuya_set_calibration_if_needed()  is only executed when changing the setpoint. It is not too big of a problem as long as you know that you have to update setpoint after editing the parameters.

Suggestion: you may compare the data returned by receive_calibration to the parameter Calibratio

[2022-06-06 15:24] pipiche38 commented on #1201
fix with beta6 6.2.070

[2022-06-06 15:24] #1201 closed, assigned to pipiche38

[2022-06-06 15:27] pipiche38 commented on #1199
Please check the recent push. Please do not that the branch has been updated with upstream and the change in the program startup with the new API base url

[2022-06-06 15:57] pipiche38 commented on #1199
@mitkodotcom  pushed an update which should also make the Thermo working.
Unfortunately you'll have to redo the pairing from scratch in order to get the right widgets created

so update on the same branch
remove all widgets
restart
do the pairing
 and let me know

[2022-06-06 17:20] mitkodotcom commented on #1199
I had to manually change ThermoMode_2 to ThermoMode_6 in config file and the widget is OK, but it does not behave properly. Actually it is the same as described above with the previous widget: turning the device to Cooling turns the widget to Heat, turning it to Heating and to Fan does nothhing (widget stays to Heat). As a side effect, pressing Cool button turns the device in cooling mode, but the

[2022-06-06 17:38] pipiche38 commented on #1199
can you try once more with the latest. There is no need to re-create the wiodget if you are now with the Thermo_6 (my appologize for not having pushed the update)

[2022-06-06 17:46] mitkodotcom commented on #1199
Mode selector switch not working from device to domoticz at all. debugWidget says nothing - no logging at all after receive_manual_mode. I'll take a closer look.

[2022-06-06 18:11] mitkodotcom commented on #1199
In receive_manual_mode(),  both get_model_name(self, NwkId) and model_target return TS0601-thermostat, not TS0601-_TZE200_dzuqwsyg, so if-model-in-array does not trigger.

Added model to the log: receive_manual_mode - Nwkid: 4bc8/01 Dp: 2 DataType: 4 ManualMode: 01 Model: TS0601-thermostat

[2022-06-06 18:33] mitkodotcom commented on #1199
May be you can use self.ListOfDevices[NwkId]["Ep"][srcEp]["Type"] and check for ThermoMode_6 instead of model name in receive_manual_mode(). Than it will work for any other devices with this mode.

[2022-06-06 18:51] pipiche38 commented on #1199
you can try with the latest

[2022-06-06 19:21] mitkodotcom commented on #1199
I checked the code and it seems OK, but you can't do it work this way. In tuya_eTRV_response() you have model_target = eTRV_MODELS[_ModelName]. This replaces "TS0601-_TZE200_dzuqwsyg" with "TS0601-thermostat" and you are loosing the original model name so if model_target in ("TS0601-_TZE200_dzuqwsyg",): will never match.

There are several ways to solve this problem. One is to pass _ModelName as a

[2022-06-07 05:49] pipiche38 commented on #1199
So please provides a PR.

[2022-06-07 06:30] mitkodotcom commented on #1199
If you accept my suggestion to use Type instead of model name, you just add

import re

and replace

    if model_target in ["TS0601-_TZE200_dzuqwsyg", ]:

to

    if re.search('/ThermoMode_6/',self.ListOfDevices[NwkId]["Ep"][srcEp]["Type"]):

in receive_manual_mode, receive_onoff and receive_preset

You also have to change the order of IFs in receive_onoff and put if..ThermoMode_6 before elif mod

[2022-06-07 08:28] pipiche38 commented on #1199
It will be more efficient, if you propose the PR. I do not see the difference between the 2 approches, but if your's work, I'm interesting to see it.
So please propose a PR, it will be fully tested by you and will reduce the number of back and forth comments
Thanks

[2022-06-09 06:39] pipiche38 commented on #1199
Just pushed an update

[2022-06-09 19:51] mitkodotcom commented on #1199
Two small details about this device:

1. Do you know what that means:

        2022-06-09 22:44:16,913 DEBUG   : [       MainThread] get_datapoint_command - 4bc8 BRTMode not found in eTRV_MATRIX[ TS0601-thermostat-Coil ]['ToDevice']

Here is the context:

2022-06-09 20:43:08,297 DEBUG   : [       MainThread] thermostat_Calibration - 2 complement form of Calibration offset on 4bc8 off 4294967294
20

[2022-06-10 08:24] pipiche38 commented on #1199
* 1st issue fixed on the latest update.

* For the Valve status, which is a Heating Status on the Heating Thermostat, this is Data Point 0x24. But when lloking after your device , indeed this is not in the Datapoint reported by the device.
However we have few unknown datapoint reported

Dp 0x04 with type 0x01 ( Boolean)  -> That one could be a good candidate ( might be 'idle', 'heat', 'cool' )
Dp

[2022-06-10 08:48] mitkodotcom commented on #1199
Please add "TS0601-thermostat-Coil" to "if model_target" in receive_setpoint() as by default the setpoint is now divided by 10. I'll check the rest later.

[2022-06-13 09:06] pipiche38 commented on #1153
- [x] #1210 for the backend end.
- [x]  WebUI update to use the new REST API

[2022-06-13 11:29] pipiche38 commented on #1199
Did you have any chance to test over the week-end ?

[2022-06-16 15:18] pipiche38 commented on #1199
@mitkodotcom did you have a chance to test the latest update ?

[2022-06-16 15:19] pipiche38 commented on #1081
awaiting for the upcoming new-radio-API.

[2022-06-16 15:25] pipiche38 commented on #862
no activity, please re-open if needed

[2022-06-16 15:25] #862 closed, assigned to nobody

[2022-06-17 07:18] pipiche38 opened #1217 "Permit to join on router doesn't work on zigpy ZNP ( CCxxxx)"
disable such feature from teh WebUI https://github.com/zigpy/zigpy-znp/pull/97#issuecomment-1157976172

[2022-06-17 07:20] pipiche38 commented on #1217
Wile it does work on other radio module, it doesn't behave correcty with zigpy-znp.

It put the router in pairing mode however the queuing system is stop until a timeout from zigpy is raise.

[2022-06-17 07:49] #1217 closed, assigned to nobody

[2022-06-17 12:18] pipiche38 commented on #1145
@manup any update on the firmware capable of addressing more than 2 Eps ?

[2022-06-17 12:42] manup commented on #1145
Hi @pipiche38 sorry got a bit occupied with bug fixing in various places.
I have a look this weekend. I've also noticed that the endpoints in the deCONZ endpoint list in my setup don't look as they should (bould could be a deCONZ issue).

[2022-06-20 20:49] manup commented on #1145
Can you please try the following test version 0x26790700. It provides four configurable endpoints with **index 0..3**, prior versions have only two endpoints  0..1. Initially the new last two endpoints aren't configured.

The new endpoints are placed in a different NVRAM section to be backward compatible for up- and downgrades.

[deCONZ_ConBeeII_0x26790700.bin.zip](https://github.com/zigbeefordomo

[2022-06-21 07:51] pipiche38 commented on #1145
@manup Thanks very much , and I do confirm that adding Ep 0x08 allows now to pair Livolo Switchs without any issue (which was not possible before)!

@puddly  we need to to increase MAX_NUM_ENDPOINTS in zigpy-deconz/zigbee/application.py from 2 to 4 accordingly to the firmware

[2022-06-21 08:16] manup commented on #1145
Cool glad it works, I'll put this in the official firmware release.

Side note to be handle old and this version: There is no command to query how many endpoints are supported, but if the configuration is done for an endpoint ouside the valid index range UNSUPPORTED status is returned.

[2022-06-21 08:43] pipiche38 commented on #1145
Thanks very much for your support.

PR for moving from 2 to 4 Max Eps submitted

- [ ] https://github.com/zigpy/zigpy-deconz/pull/196

[2022-06-21 16:53] puddly commented on #1145
@manup I have a few questions about the endpoints implementation.

 - What are the default values for these extra endpoints?
 - Is it possible to disable unused endpoints?
 - Finally, are all supported endpoints contiguous and will they always be readable?

     I'm trying to avoid hard-coding the total number of endpoints and would like to try something like this:

[code]

    I seem to recall th

[2022-06-22 07:54] pipiche38 commented on #1104
https://github.com/zigpy/zigpy-deconz/issues/197

[2022-06-24 09:12] pipiche38 commented on #1209
@puddly more information captured, hope it helps

[code]

[code]

[2022-06-24 16:00] puddly commented on #1209
It just means that a few packets were received before the radio was fully initialized. I can try to address this in a future release.

[2022-06-25 06:35] pipiche38 commented on #1209
Hi,

If you can handle it in future that would be good as this is a frequent issue when restarting the plugin on a large network with especially metering devices

Thanks in advance

Envoyé de mon iPhone

[2022-06-26 07:20] mitkodotcom commented on #1199
I just tested it.

In receive_setpoint() the model_target should be "TS0601-thermostat-Coil" instead of "TS0601-_TZE200_dzuqwsyg" otherwise it does not match (the device name can not be used in any receive_* function)

[2022-06-26 14:14] pipiche38 commented on #1199
I don't see why, as the stack call is

receive_setpoint(self, Devices, model_target, NwkId, srcEp, ClusterID, dstNWKID, dstEP, dp, datatype, data)
tuya_eTRV_response(self, Devices, _ModelName, NwkId, srcEp, ClusterID, dstNWKID, dstEP, dp, datatype, data)
tuya_response(self, Devices, _ModelName, NwkId, srcEp, ClusterID, dstNWKID, dstEP, dp, datatype, data)
_ModelName = self.ListOfDevices[NwkId]["Mo

[2022-06-26 14:43] mitkodotcom commented on #1199
We have already discussed this here: https://github.com/zigbeefordomoticz/Domoticz-Zigbee/pull/1211#issuecomment-1149144355

It is because of the way the array eTRV_MODELS is used in tuya_eTRV_response():

        model_target = eTRV_MODELS[_ModelName]

eTRV_MODELS = {
    # Thermostat
    "TS0601-thermostat": "TS0601-thermostat",
    "TS0601-_TZE200_dzuqwsyg": "TS0601-thermostat-Coil",

So when m

[2022-06-26 17:55] pipiche38 commented on #1199
update pushed

[2022-06-26 20:36] mitkodotcom commented on #1199
It's OK now. All widgets are working properly in both directions.

[2022-06-27 08:24] pipiche38 commented on #1199
so if all good, I'll merge de PR soon. Thanks for your support

[2022-06-27 08:28] pipiche38 commented on #1153
#1219

[2022-06-27 08:28] #1153 closed, assigned to nobody

[2022-06-29 10:37] #1199 closed, assigned to pipiche38

[2022-06-29 10:38] #1104 closed, assigned to nobody

[2022-06-29 10:39] pipiche38 commented on #1081
release on the beta6 branch for now, for futur launch to stable. But deConz considered ready with minor limitation

- no channel change possible
- no support of Wiser/Livolo ... until new firmware release

[2022-06-29 10:39] #1081 closed, assigned to nobody

[2022-06-29 10:46] pipiche38 opened #1221 "IEEE Address Request"
Cross-check that IEEE Address Request works on Zigate, ZNP, Bellows, Deconz

[2022-06-30 10:23] manup commented on #1145
By default the two extra endpoints with index 2 and 3 are not set, which is determined by an invalid application endpoint number as 0x00 or 0xFF, they are also not returned in an ZDP_Active_ep request.

Yes, like the default configuration above, configuring an endpoint number 0x00 or 0xFF disables it.

Basically yes, in the firmware the endpoint configuration is just stored in an array, currently

[2022-06-30 11:31] pipiche38 commented on #1145
@manup do you have any estimated plan when the firmware will be released ?
Just because with the new-radio API completed we have move our plugin with deConz compatibility to beta fir now

[2022-07-01 07:53] pipiche38 commented on #1221
IEEE Address request must use only unicast

[2022-07-01 07:53] #1221 closed, assigned to nobody

[2022-07-01 07:53] #1200 closed, assigned to nobody

[2022-07-01 07:54] #1163 closed, assigned to nobody

[2022-07-04 10:36] pipiche38 opened #1223 "zigpy error"
[code]

[2022-07-05 19:05] #1223 closed, assigned to pipiche38

[2022-07-08 07:49] pipiche38 opened #1226 "[zigate] - un expected behaviour of Zigate firmware on read Configuration Report"
When doing a read configuration report with 2 unsupported attributes,

Zigate -firmware send some unexpected data after the first attribute !!! This is not expected, either the firmware send the next attribute or do not send such extra data ( 4 bytes )

Paylaod received by plugin
Read Configure Reporting response - de1aec0107028600000400000000
Sqn: de
Nwkid: 1aec
Ep 0&
Cluster 0702
status 86
direc

[2022-07-08 08:00] pipiche38 opened #1227 "[zigate] do not handle correctly data type 0x25 on read configuratiuon attributes"
Command sent
`0120 021aec010107020000000002002500000005012C0FFF000000000000000a002a04000005012C0FFF0000000a`

Command seen on the sniffer
<img width="597" alt="Screenshot 2022-07-08 at 10 00 35" src="https://user-images.githubusercontent.com/8291674/177946160-ac797426-5dfe-42df-a5b8-8807e121b616.png">

[2022-07-08 10:00] pipiche38 opened #1228 "[zigate] - read configuration report doesn't report all needed information"
The Change information is not reported to the plugin from the firmware

[code]

<img width="448" alt="Screenshot 2022-07-08 at 12 00 45" src="https://user-images.githubusercontent.com/8291674/177968273-a7476b08-d4e1-43b4-9e49-23d376d25f57.png">

[2022-07-08 11:32] pipiche38 commented on #1228
@fairecasoimeme FYI

[2022-07-08 11:32] pipiche38 commented on #1227
@fairecasoimeme FYI

[2022-07-08 11:32] pipiche38 commented on #1226
@fairecasoimeme FYI

[2022-07-08 12:48] fairecasoimeme commented on #1228
Hi,
This is not from ZiGate... the Read configure response came from a device which not give the change attribute.
It's seems to me that when change report is configured with 0, devices don't report change report anymore, only min and max interval.

[2022-07-08 13:15] fairecasoimeme commented on #1227
For specific data type like 24bits, 40bits or 48bits, default encoding from source is cast to:

24bits --> 32bits
40/48bits --> 64bits

From source code :
[code]

0120 021aec010107020000000002002500000005012C0FFF **000000000000000a** 002a04000005012C0FFF **0000000a**
**000000000000000a** ->  64bits  for datatype 0x25 (48 bits)
**0000000a** -> 32bits for datatype 0x2a (24 bits)

[2022-07-08 13:23] fairecasoimeme commented on #1226
If the read configure Reporting response is command : 0x8122 the structure is  :

Sqn: de
Nwkid: 1aec
Ep 0&
Cluster 0702
status 86 --> E_ZCL_CMDS_UNSUPPORTED_ATTRIBUTE
**datatype** 00
attribute 0004
**max interval** 0000
**min interval** 0000

Logically if the second attribute is unsupported too, you may be received an another packet.

[2022-07-08 19:12] pipiche38 commented on #1227
Ok. Will not support this feature on Zigate.

[2022-07-08 19:12] #1227 closed, assigned to nobody

[2022-07-08 19:15] pipiche38 commented on #1228
The change information is in the zigbee sniff

Any way I'll not support this feature and the consequences in zigate.
Works perfectly with zigpy

[2022-07-08 19:15] #1228 closed, assigned to nobody

[2022-07-09 08:43] pipiche38 commented on #1226
Shame that it doesn't match to the Zigbee specification

[2022-07-09 09:13] fairecasoimeme commented on #1226
I'll verify the source code to match to the specification

[2022-07-11 10:03] pipiche38 opened #1230 "[zigpy] - NWK conflict is reported for 0x6452"
@puddly could you kindly clarify what is the purpose of the "NWK conflict is reported for 0x6452" message ?

NWK conflict should be handled by the Controller itself, is that something done at the zigpy layer ?

[code]

@deufo, @badzz

[2022-07-11 17:11] #1226 closed, assigned to nobody

[2022-07-13 10:02] pipiche38 commented on #1230
https://github.com/zigpy/bellows/issues/465

[2022-07-13 10:04] #1142 closed, assigned to nobody

[2022-07-13 10:05] #1209 closed, assigned to nobody

[2022-07-13 10:08] pipiche38 opened #1232 "[zigpy-integration] - create a database handler"
instead of the current implementation which is just to override get_device(), the suggestion is to develop a database handler as suggested by @puddly in https://github.com/zigpy/zigpy/pull/1006#issuecomment-1179597718

This should give a better integration with zigpy layer.

@puddly any suggestion/hint on the way to create our own database handler ?

[2022-07-13 10:10] pipiche38 opened #1233 "[zigpy-integration] - enable automatique coordinator backup"
As introduced in a recent PR, zigpy will provide an automatic/periodic backup capabilities https://github.com/zigpy/zigpy/pull/1006#issuecomment-1179597718
would be good to get integrated into the plugin

[2022-07-19 09:12] pipiche38 opened #1235 "Tracking Zigpy issues"
We are tracking here all of the open issues against zigpy and zigpy related radio modules, which are impacting the plugin

zigpy

- [x] https://github.com/zigpy/zigpy/discussions/1016
- [x] https://github.com/zigpy/zigpy/discussions/1011
- [x] https://github.com/zigpy/zigpy/discussions/1000
- [x] https://github.com/zigpy/zigpy/discussions/999
- [x] https://github.com/zigpy/zigpy/discussions/985
-

[2022-07-19 09:18] pipiche38 opened #1236 "[zigpy-integration] - get the list of all radio libs configuration parameters and understand what they are"
Purpose is to get to a list of radio parameters and what is there definition

[2022-07-19 09:22] pipiche38 commented on #1236
zigpy

- [ ] CONF_DATABASE = "database_path"
- [ ] CONF_DEVICE = "device"
- [ ] CONF_DEVICE_PATH = "path"
- [ ] CONF_NWK = "network"
- [ ] CONF_NWK_CHANNEL = "channel"
- [ ] CONF_NWK_CHANNELS = "channels"
- [ ] CONF_NWK_EXTENDED_PAN_ID = "extended_pan_id"
- [ ] CONF_NWK_PAN_ID = "pan_id"
- [ ] CONF_NWK_KEY = "key"
- [ ] CONF_NWK_KEY_SEQ = "key_sequence_number"
- [ ] CONF_NWK_TC_ADDRESS = "tc_addre

[2022-07-26 17:32] strethill opened #1243 "Error during firmware and plugin check"
I have a Zigate-USB v1 plugged in to an RPi 3b running Domoticz.
I have just updated the plugin to version 4.11.017 and the firmware to 3.21(ZiGate_v3.21-legacy.bin) and now get the error:

Should I set the firmware to a previous version? If so which version?

[2022-07-26 17:59] pipiche38 commented on #1243
You are running an unsupported version of the plugin. You need to upgrade to 6 . Here is the wiki to move from 5 to 6 https://zigbeefordomoticz.github.io/wiki/en-eng/Plugin_Version-6.html
As moving from 4 to 6 this might work.

Better to do backup of DomoticZ and plugin folder before starting

Envoyé de mon iPhone

[2022-07-27 06:26] #1243 closed, assigned to nobody

[2022-07-27 08:14] pipiche38 opened #1244 "[zigpy-integration] - ZDP IEEE addr request , the response seems not to comme to the plugin"
when doing an ZDP IEEE addr request, it seems that the plugin never see the response !
this is blocking as we use it to eventually recover a device which has move to a new Nwkid

[2022-07-27 16:23] strethill commented on #1243
Many thanks for your help – this has fixed the issue.

I knew that I had got behind with my plugin and firmware updates but not quite as far two major versions.

Thanks again.

From: Pipiche ***@***.***>
Sent: 26 July 2022 19:00
To: zigbeefordomoticz/Domoticz-Zigbee ***@***.***>
Cc: strethill ***@***.***>; Author ***@***.***>
Subject: Re: [zigbeefordomoticz/Domoticz-Zigbee] Error during firmware a

[2022-07-27 18:38] pipiche38 commented on #1243
Great news.
You'll see quiet a number of enhancements.

[2022-07-29 10:19] pipiche38 opened #1245 "IAS Zone Enroll Request seems not to be done when in pairing after Reset mode"
As describe when an existing device is put in Reset Mode for re provisioning, it looks like the IAS Zone Enroll Request is not correctly performed

[2022-08-04 15:29] pipiche38 commented on #1233
https://github.com/zigpy/zigpy/pull/1023 might be an issue

[2022-08-04 18:38] pipiche38 commented on #1232
Doesn't make sense, we must rely on our current plugin database, and keep what we are currently doing in order to be more agnostic.

[2022-08-04 18:38] #1232 closed, assigned to nobody

[2022-08-04 18:39] pipiche38 commented on #1233
We need to implement in our startup in each of the App<Radio>

[2022-08-07 09:18] pipiche38 commented on #1233
WIP under [pipiche38/autozigpybackup](https://github.com/zigbeefordomoticz/Domoticz-Zigbee/tree/pipiche38/autozigpybackup)

[2022-08-09 15:07] pipiche38 commented on #1236
EZSP policies:
https://www.silabs.com/documents/public/user-guides/ug100-ezsp-reference-guide.pdf#%5B%7B%22num%22%3A44%2C%22gen%22%3A0%7D%2C%7B%22name%22%3A%22XYZ%22%7D%2C72%2C219%2Cnull%5D

[2022-08-10 08:13] #1230 closed, assigned to nobody

[2022-08-14 19:07] pipiche38 opened #1247 "improve error handling when access to Domoticz json/api failed"
all in the title

[2022-08-17 13:55] pipiche38 commented on #1233
PR #1250

[2022-08-22 07:37] pipiche38 opened #1255 "[ZigpyForwarder_2 2116] zcl_decoders Unknown Command: 00 NwkId: 6d60 Ep: 23 Cluster: 0020 Payload: - GlobalCommand: False, Sqn: d7, ManufacturerCode: None"
[ZigpyForwarder_2 2116] zcl_decoders Unknown Command: 00 NwkId: 6d60 Ep: 23 Cluster: 0020 Payload:  - GlobalCommand: False, Sqn: d7, ManufacturerCode: None

[2022-08-22 13:46] pipiche38 commented on #1255
6b56d7d88b731cfbeca4d72edf143c01f4dc4598

[2022-08-22 15:47] pipiche38 commented on #1026
Might start from here
https://github.com/zigpy/zigpy-cli/tree/dev/zigpy_cli

[2022-08-22 15:47] pipiche38 commented on #1233
#1250

[2022-08-22 15:47] #1233 closed, assigned to pipiche38

[2022-08-22 17:52] #1255 closed, assigned to nobody

[2022-08-22 17:53] pipiche38 commented on #1247
PR #1258

[2022-08-22 17:53] #1247 closed, assigned to nobody

[2022-08-22 17:58] pipiche38 commented on #1026
I think this is not really possible, as for now the zigpy integration is at the low level and if we want to have OTA, we will need to integrate ZCL level in order to manage the OTA cluster, which is not the current strategy.

Closing for now

[2022-08-22 17:58] #1026 closed, assigned to badzz

[2022-08-27 20:07] puddly commented on #1145
@manup I just tried flashing your beta build of the Conbee II firmware and the extra endpoints indeed are present.  However, I'm unable to get any other firmware to run!  The Conbee is unresponsive until I flash this beta firmware again: I can't downgrade to either `0x26780700` or `0x26580700`.

Is there any way to clear NVRAM or otherwise reset the Conbee so that I can use it with older firmwares

[2022-09-15 07:33] Hydci opened #1279 "Mode appareillage après reboot"
Bonjour,

A chaque reboot de domoticz la clé zzh CC2652R ce remet en mode appareillage j'ai regarder dans l'interface du plugin si quelque chose ma échapper mais ça ma pas l'air je signale donc ce problème et si besoin je peu transmettre les infos que tu as besoin

[2022-09-15 18:33] pipiche38 commented on #1279
merci d'utiliser le forum pour ce type de question, ou le channel adequat keybase.io

[2022-09-15 18:33] #1279 closed, assigned to nobody

[2022-09-21 13:58] pipiche38 opened #1283 "Create a Parameter to define the number of Attribute to be poll at once in a read polling"
polling device attributes can be done by chunk of attributes to reduce the number of transaction and reduce the network load.
While this depends from the device themselves, it my be good to have :

- a default system wide value
- a per device parameter

[2022-09-21 14:00] pipiche38 opened #1284 "Create a Parameter to define the number of Attribute to Configure Report at once"
As #1283
attributes reporting configuration can be done by chunk of attributes to reduce the number of transaction and reduce the network load.

While this depends from the device themselves, it my be good to have :

* a default system wide value
* a per device parameter

PS/ this would be valid for read ConfigurationReporting as well

[2022-09-21 16:22] pipiche38 commented on #1284
wip

[2022-09-21 16:22] pipiche38 commented on #1283
wip

[2022-09-26 19:08] #1284 closed, assigned to nobody

[2022-09-26 19:08] #1283 closed, assigned to nobody

[2022-09-28 15:07] pipiche38 opened #1293 "Improve OTA mecanism"
When a device is doing an OTA query we have information on Image Type, Manufacturer code, Image Version
it would be nice if we could check against the online  https://github.com/Koenkk/zigbee-OTA/blob/master/index.json

and in case we find a newest firmware , we could notify the user for him to download it and put it in the right place.

I do consider that a manual step (downloading) is required s

[2022-09-28 15:10] Koenkk commented on #1293
Ofc not! These are not my files and the whole purpose of putting this in a repo is so that other projects can also use it.

[2022-09-28 17:36] pipiche38 commented on #1293
![Screenshot 2022-09-28 at 19 36 24](https://user-images.githubusercontent.com/8291674/192850850-fd8a205a-e957-48d1-99d2-178498cdf224.png)

[2022-09-28 17:44] pipiche38 commented on #1293
- Loading the zigbee OTA repository once at plugin startup. Then every time there is an OTA query next image and we don't find an existing OTA file , we check against the loaded repository.

[2022-09-29 07:17] Hedda commented on #1293
@pipiche38 Please also see this related zigpy discussion about OTA provider in zigpy for @Koenkk's repo -> https://github.com/zigpy/zigpy/issues/535

That is a discussion/suggestion/request for adding a GitHub OTA Firmware Provider to zigpy so that it can download files from GitHub repository if there is a formatted index such as Koenkk 's "index.json" to -> https://github.com/zigpy/zigpy/blob/dev

[2022-09-30 10:11] Achterhoeker opened #1295 "Tuya TS0601 smoke detector support"
I've tried to pair a tuya smoke detector. It seems not supported correctly, it is recognized as:

* zigbee - TS0601_Temp-a4c138740d8646ce-01
* zigbee - TS0601_ThermoSetpoint-a4c138740d8646ce-01
* zigbee - TS0601_ThermoMode_2-a4c138740d8646ce-01

I would expect a smoke detector.

Log if i try to re-pair it again:
2022-09-30 11:39:21.532  Status: zigbee: [None] NEW OBJECT: fc33 None
2022-09-30 11:39

[2022-09-30 20:16] pipiche38 commented on #1295
could you kindly:

1- remove the object from Domoticz and plugin Db by removing all Domoticz widget associated to this Smoke sensor
2- switch to beta6 branch of the plugin. In case you are on Stable6 version, please follow this https://github.com/zigbeefordomoticz/Domoticz-Zigbee/blob/beta6/VERSION-6.3.md#pre-requisities as there is a configuration update that you have to do in Domoticz for the pl

[2022-09-30 20:30] #1293 closed, assigned to nobody

[2022-10-03 12:09] pipiche38 commented on #1295
@Achterhoeker have you been able to test ?

[2022-10-03 12:45] Achterhoeker commented on #1295
@pipiche38  Sorry, I was not able yet to test the beta plugin. I hope that I have some time this evening.

[2022-10-03 19:14] Achterhoeker commented on #1295
@pipiche38 Great work, i think i have a working smoke detector now :-)

The log from the pairing:

Raw devices .json list:

[export (1).zip](https://github.com/zigbeefordomoticz/Domoticz-Zigbee/files/9700319/export.1.zip)

[2022-10-04 17:27] pipiche38 commented on #1295
Happy man.

Could you kindly let me know which one is it ?
https://zigbee.blakadder.com/Tuya_SA12IZL.html
https://zigbee.blakadder.com/Tuya_YG400A.html
https://zigbee.blakadder.com/Tuya_Qaynn.html
https://zigbee.blakadder.com/Woox_R7049.html
https://zigbee.blakadder.com/Smart9_S9ZB-SA02.html

So I can add the plugin to that list .

Thanks in advance

[2022-10-04 18:40] Achterhoeker commented on #1295
@pipiche38 It is this one: https://zigbee.blakadder.com/Tuya_YG400A.html

But i dont see a battery level.  Is this correct ?

[2022-10-04 19:18] pipiche38 commented on #1295
Which version of Domoticz are you running ? Are you on 2022.1 or above , or on 2021 ?
In any case, update to the beta6 of today, I just push fix which should make the battery working for all Domoticz version, but you'll need to wait for an update from the device (like a status telling no smoke detected )

[2022-10-04 20:37] Achterhoeker commented on #1295
I've updated to the latest version, i see now correctly a battery status 90%

Thanks for all you work.

[2022-10-05 20:30] pipiche38 commented on #1295
I guess we can close the Issue then.
Thanks for your time and sharing the data

[2022-10-05 20:30] #1295 closed, assigned to nobody

[2022-10-09 08:41] mcmikev opened #1300 "Error on startup and plugin stops"
Error on startup as with updated beta6 plugin on october 9 2022
Version :

[code]

[2022-10-09 08:47] mcmikev commented on #1300
Update: After the plugin stopped itself , I left domoticz running for a few minutes to get stable in running.
The hardware of the plugin was Off in domoticz, I enabled it again and pressed update and now the plugin is running again.
Weird. Almost like the plugin was doing something in the background before it was allowed to start

[2022-10-09 10:53] pipiche38 opened #1301 "OTA Page Request"
Today only Block Request is implemented in the current plugin . It would be good to add the OTA Page Request part

[2022-10-09 10:55] pipiche38 commented on #1301
The support for the command is optional. The client device MAY choose to request OTA upgrade data in one page size at a time from upgrade server. Using Image Page Request reduces the numbers of requests sent from the client to the upgrade server, compared to using Image Block Request command. In order to conserve battery life a device MAY use the Image Page Request command. Using the Image Page Re

[2022-10-09 16:56] pipiche38 opened #1302 "Implement buildframe_unbind_response_command()"
Implement buildframe_unbind_response_command() even if nothing is done with

[2022-10-17 19:40] SylvainPer opened #1308 "lumi.sensor_motion.aq2 update Off status even if no change detected"
2022-10-17 21:36:02.463  Zzh: zigpy_get_device( None, 1b3d)
2022-10-17 21:36:02.464  Zzh: zigpy_get_device( None, 1b3d returns 1b3d 00158d000314cac4
2022-10-17 21:36:02.512  Zzh: handle_message Sender: 1b3d frame for plugin: 018002006eff00010400000101021b3d0200001c5f11db0a01ff42210121a90b03281a0421a81305214800062401000000000a213ff26410000b2100006203
2022-10-17 21:36:02.517  Zzh: ZigateRead - MsgTy

[2022-10-18 09:35] pitchoun38 opened #1309 "Unable to pair CMS323 with latest stable6 and beta6"
I'm unable to pair a CMS323 motion sensor on the latest beta6/stable6

[2022-10-18 09:39] pitchoun38 commented on #1308
in the log above, we just have a Lux cluster and a OnOff Cluster. As the OnOff is that something coming from the LUMI layer ?

[2022-10-18 10:44] SylvainPer commented on #1308
Yes. Seems that 'On' is sent on cluster 0406, Off should be managed by a delay on plugin side.
When the device send is periodic frame, Off is received through cluster 0006, decoded by Lumi layer.

[2022-10-18 15:27] pitchoun38 opened #1310 "Check new Domoticz Blind behaviour"
Check that plugin blinds usage follow the new Domoticz Blinds behaviours
https://domoticz.com/wiki/Blinds

[2022-10-18 18:25] pipiche38 commented on #1308
270f5503

[2022-10-18 21:41] pipiche38 commented on #1309
52500331

[2022-10-18 21:41] #1309 closed, assigned to nobody

[2022-10-19 16:53] #1308 closed, assigned to nobody

[2022-10-23 17:28] pipiche38 commented on #1301
https://github.com/zigbeefordomoticz/Domoticz-Zigbee/pull/1314

[2022-10-23 19:05] pipiche38 opened #1319 "2 SonOff devices with same ModelId: 66666 - Temp/Humi and Motion"
https://easydomoticz.com/forum/viewtopic.php?f=28&t=12670

[2022-10-24 15:48] pipiche38 commented on #1310
https://easydomoticz.com/forum/viewtopic.php?f=28&t=12673

[2022-10-25 06:57] #1301 closed, assigned to nobody

[2022-10-30 08:42] #1236 closed, assigned to nobody

[2022-11-01 08:10] pipiche38 commented on #1310
https://github.com/zigbeefordomoticz/Domoticz-Zigbee/commit/cbfbf8032b424a032dc6331a5826e08ef195438f

[2022-11-01 09:06] pipiche38 opened #1334 "improve zigpy persistent and enable zigpy database"
zigpy libraries rely on the zigpy database for a number of functions.
Do we have a way to enable the usage and population of the zigpy database, so the zigpy radio modules benefit of that extra information.

For exemple source_routing which now is available for each zigpy radio libs, would be a good benefit to the plugin.

CC: @deufo, @badzz, @puddly

[2022-11-01 09:35] pipiche38 commented on #1334
will be using [zigpy/enable-db](https://github.com/zigbeefordomoticz/Domoticz-Zigbee/tree/zigpy/enable-db)

- [x] need to define self.config[conf.CONF_DATABASE]
- [x] use zigpy.appdb.PersistingListener to load the db and get it updated

[2022-11-04 22:12] pipiche38 commented on #1310
For now, it looks like the widget created by the plugin are created as a simple switch !!!

[2022-11-05 13:04] pipiche38 opened #1337 "zigpy_znp forcing to use src_ep == dst_ep when sending a unicast message"
See discussion here

- https://github.com/zigpy/zigpy-znp/discussions/194
- https://github.com/zigpy/zigpy-znp/pull/181

The side effect, is when working with Wiser (old generation) or new generation, we need to send commands from ep 0x01 time to time, and some other time from ep 0x0b (for Wiser legacy), and from ep 0x03 (for the new Wiser).

Don't know if that is a restriction from Zigpy-znp,  Z-

[2022-11-08 15:30] pipiche38 opened #1341 "ZNP / CCxxxx - unable to send command/message to a Battery based end device operating with polling"
When sending message/command to a end device which is doing polling time to time, commands are most of the time failing to be sent.

The typical example is with a Wiser VACT which is doing polling during 5 seconds after sending a report. When sending the command at that time most of the time it is failing. ZNP is doing several retries but all fails.

I understood that @Koenkk firmware are based on

[2022-11-08 15:33] pipiche38 commented on #1341
@badzz @deufo if you want to investigate, but for me something is weird
@puddly if you have any ideas to investigate let me know

[2022-11-08 15:35] pipiche38 commented on #1341
In the here attached Sniff you'll get

- up to packet 9967 a communication between zzh and wiser vact
- from backet 9967 a communication between elelabs and wiser vact
-
In short the boths coordinators behaviours are visible on the same sniff

[Problem ZNP VACT.pcapng.zip](https://github.com/zigbeefordomoticz/Domoticz-Zigbee/files/9962700/Problem.ZNP.VACT.pcapng.zip)

[2022-11-09 20:50] pipiche38 opened #1342 "RFC - Refactor readCluster module"
Purpose is the refactor readCluster module and even more to make each Clusterxxxx customizable.

The approach would be to rely on a custom file, taking in consideration that the configuration could be provided by a generic config file, and eventually in the device Configuration file

[code]

The principle is to have
- a global config file for each cluster where Zigbee standard attributes will be d

[2022-11-10 14:21] #1302 closed, assigned to nobody

[2022-11-11 17:12] pipiche38 opened #1344 "Groupe commands do not work with Zigate coordinator"
the current implementation of Group Command on cluster 0x0008 are wrongly implemented

GrpmoveToLevel
datas = "%02d" % ADDRESS_MODE["group"] + GrpId + ZIGATE_EP + EPout + OnOff + value + "0010"

[2022-11-11 19:41] #1344 closed, assigned to nobody

[2022-11-12 12:40] pipiche38 opened #1345 "RFC - Refactor domoCreate"
Refactor domoCreate in order to allow re-creation of widget from scratch

- use a kwargs approach to simplify the widget creation

[code]

[2022-11-18 13:09] deennoo opened #1348 "[Model Certification] - WWWC LED STRIP DRIVER"
1. Please do provide device information such as Brand and Model name.
WWWC LED STRIP DRIVER

2. Provide the URL where you have purchase the device
https://fr.aliexpress.com/item/1005003938851288.html?spm=a2g0o.order_list.0.0.58545e5b1lcKu2&gatewayAdapt=glo2fra

3. Finaly copy-paste all information provided in the log

{"Version": "3", "ZDeviceName": "Sous Evier", "Status": "inDB", "SQN": "7e", "Ep

[2022-11-18 13:12] deennoo opened #1349 "[Model Certification] - L&S Emotion Home Base"
1. Please do provide device information such as Brand and Model name.
Gateway to drive 2.4ghz light from L&S for Emotion Franchfurt Light Series with zigbee coordinator

L&S Emotion Home Base

2. Provide the URL where you have purchase the device

https://www.opo.ch/fr/home-base-ls-emotion-gateway-12-24-v/p/bp5059230.html

3. Finaly copy-paste all information provided in the log

{"Version": "3",

[2022-11-18 13:15] deennoo opened #1350 "[Model Certification] - Muller Licht Tint Extended Color from ALDI Smart Home Solution"
1. Please do provide device information such as Brand and Model name.

Muller Licht Tint Extended Color from ALDI Smart Home Solution

2. Provide the URL where you have purchase the device

https://www.mueller-licht.de/tint-smartes-licht/produktvielfalt/

3. Finaly copy-paste all information provided in the log

{"Version": "3", "ZDeviceName": "Barre Bureau", "Status": "inDB", "SQN": "4c", "Ep": {

[2022-11-18 13:23] deennoo opened #1351 "[Model Certification] - KONKE Temp + Hum Senso"
1. Please do provide device information such as Brand and Model name.

KONKE Temp + Hum Sensor

2. Provide the URL where you have purchase the device

https://fr.aliexpress.com/item/4000281551718.html?spm=a2g0o.order_list.0.0.43c75e5b2N3XJ9&gatewayAdapt=glo2fra

3. Finaly copy-paste all information provided in the log

{"Version": "3", "ZDeviceName": " Sous Abris", "Status": "inDB", "SQN": "53", "

[2022-11-18 16:55] #1351 closed, assigned to nobody

[2022-11-18 16:57] pipiche38 commented on #1349
invalid Json. Can you kindly upload the export.json ?

[2022-11-18 16:57] pipiche38 commented on #1348
invalid json, can you kindly drop the export.json file

[2022-11-18 16:57] pipiche38 commented on #1350
invalid json, can you kindly drop the export.json

[2022-11-18 18:06] pipiche38 commented on #1349
Would be interested to redo the pairing with the config file now. And test the impact of the parameter PowerOnAfterOffOn
255 -> nack to previous state after electrical Off On
0 -> turn to Off
1 -> turn to On

[2022-11-18 18:16] pipiche38 commented on #1348
to be tested

[2022-11-18 21:51] #1348 closed, assigned to nobody

[2022-11-22 09:04] Achterhoeker opened #1353 "write_DeviceList_txt fails with strange characters (exceptions)"
Running domoticz 2022.2 and 6.3.006

After running for several hours i get error notifications in the domoticz log. Restarting domoticz will cause missing some devices in the Devicelist.txt. Replacing a backup solves this. But after several hours the same issue occurs again (with a different character causing the issue)

error log:
2022-11-21 13:31:13.558 Error: zigbee: Call to function 'onHeartbe

[2022-11-22 10:47] pipiche38 commented on #1353
Are you using special caractères in the device name? If so that could explain Envoyé de mon iPhoneLe 22 nov. 2022 à 10:04, Achterhoeker ***@***.***> a écrit :﻿
Running domoticz 2022.2 and 6.3.006
After running for several hours i get error notifications in the domoticz log. Restarting domoticz will cause missing some devices in the Devicelist.txt. Replacing a backup solves this. But after several

[2022-11-22 11:06] Achterhoeker commented on #1353
No, i've just checked it extra. Only characters I use in the device
names are a-z A-Z and _.

Ronald.

Pipiche schreef op 22-11-2022 11:47:

[2022-11-22 12:59] pipiche38 commented on #1353
C as. You attach a copy of an original DeviceList file ?Envoyé de mon iPhoneLe 22 nov. 2022 à 12:07, Achterhoeker ***@***.***> a écrit :﻿
No, i've just checked it extra. Only characters I use in the device
names are a-z A-Z and _.

Ronald.

Pipiche schreef op 22-11-2022 11:47:

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you commented.Message ID:

[2022-11-22 13:33] Achterhoeker commented on #1353
[download.zip](https://github.com/zigbeefordomoticz/Domoticz-Zigbee/files/10067813/download.zip)
2 files in the attached zip file. The current one (which is missing devices) and the one i place back after a restart to get all devices again.

[2022-11-22 14:05] pitchoun38 commented on #1353
Most -likely the error is due to the fact that the string cannot be encoded

A possible path is that one. However needs to take care of backwards compatibility. In other words, can we make the encoding to utf-8 when writing the file to disk, and leave it like it is today .
https://github.com/zigbeefordomoticz/Domoticz-Zigbee/blob/c324a87c142320d4c6815c7e8049c62e202b1c7c/Modules/database.py#L337

[

[2022-11-22 18:04] pipiche38 commented on #1353
can you try the following (I assume that you have a good backup ). I also assume that you are on a 6.3 or 6.4 version of the plugin, otherwise you need to move to one of those branch before

then

(1) enable debugDatabase in the Debuging section of the WebUI
(2) `git checkout issue/1353`
(3) restart the plugin

let see what is happening.

I havent' been able to duplicate the issue on my system.
Ca

[2022-11-23 09:43] Achterhoeker commented on #1353
@pipiche38 Thx for your issue branch. I'm running it now. All seems working so far.
I was already running a local changed version with the  encoding='utf-8' option. That one was still running without any issues.

Only thing i didn't find is the enabling the debugDatabase option.

![image](https://user-images.githubusercontent.com/6851612/203514228-58b1e7ef-8c99-4c55-9a1a-0cb0c5985ef2.png)
This is

[2022-11-23 10:15] pipiche38 commented on #1353
You have to enable Advanced ;-)

[2022-11-23 10:19] Achterhoeker commented on #1353
ok, stupid from me that i didn't find that myself.

[2022-11-23 17:43] pipiche38 commented on #1353
closed with #1355 merged on dev branch for now

[2022-11-28 17:53] #1353 closed, assigned to pipiche38

[2022-11-30 08:36] deennoo commented on #1350
on plugin 6.4.028 :

Device is know on certified product

fadingOff': 0 / 1 / 2 doesn't work (not sure device can do this)
moveToHueSatu' : is working
moveToColourTemp':  : is working
moveToColourRGB' : is working
moveToLevel' : is working

[2022-11-30 09:27] pipiche38 commented on #1350
Strange that fadingOff do not work, while the other does.

[2022-11-30 13:44] #1350 closed, assigned to nobody

[2022-11-30 14:40] pipiche38 commented on #1334
One of the question I would ask and despite the fact we are saving to a db or not, is the appdb strutcutre is used currently in the plugin. In otherwords, is the zigpy layer can already use some of its feature even if it is not save at plugin stop.

I have the feeling it is not the case.